@using Wow

@{
    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();

    AppState["BodyClass"] = "entertain";
}

@section scripts{
    <script src="@wowTvScript/NewsCenter/Common.js"></script>
    <script src="@wowTvScript/NewsCenter/EntSpo/Main.js"></script>
    <script src="@wowTvScript/NewsCenter/NewsEntSpoSearchApi.js?date=20171229105000"></script>
}

<div class="left-area">
    @if (Model.TopList != null && Model.TopList.Count > 0)
    {
        <div class="box-main-bann newsList" id="@Model.TopList[0].ARTICLEID">
            <h3 class="blind">배너영역</h3>
            <div class="img-area">
                <img src="@WowExtensionMethod.NewsThumbnailPath("16B", Model.TopList[0].THUMBNAIL_FILENM, Model.TopList[0].VOD_NUM, Model.TopList[0].IMAGE_DIR, Model.TopList[0].IMAGE_FILE, Model.TopList[0].ARTDATE)" onerror="this.src='@WowExtensionMethod.NewsThumbnailOnError("16B")'" alt="">
                @Html.Raw(WowExtensionMethod.EntSpoMobileHashTag(Model.TopList[0].TAG))
            </div>
            <div>
                @if (Model.TopList[0].GUBUN_NAME != "")
                {
                    <span class="text-icon">@Model.TopList[0].GUBUN_NAME</span>
                }
                @if (Model.TopList[0].VOD_NUM > 0)
                {
                    <span class="icon-play"></span>
                }
                <p class="txt">@Html.Raw(WowExtensionMethod.ToStrong(Model.TopList[0].TITLE, Model.TopList[0].BOLD_YN))</p>
            </div>
        </div>
    }
    <!-- slider start -->
    <div class="box-type-enter">
        <h3 class="blind">탑뉴스 영역 슬라이드</h3>
        <div class="swiper-container box-img-slider box-slider">
            <div class="swiper-wrapper">
                @foreach (var item in Model.TopList)
                {
                    if (Model.TopList.IndexOf(item) > 0)
                    {
                        <div class="swiper-slide newsList @(Model.TopList.IndexOf(item) == 1 ? "on" : "")" id="@item.ARTICLEID">
                            <!-- box img start -->
                            <div class="img-cont">
                                <div class="img-area">
                                    <img src="@WowExtensionMethod.NewsThumbnailPath("16M", item.THUMBNAIL_FILENM, item.VOD_NUM, item.IMAGE_DIR, item.IMAGE_FILE, item.ARTDATE)" onerror="this.src='@WowExtensionMethod.NewsThumbnailOnError("16M")'" alt="">
                                    @if (item.GUBUN_NAME != "")
                                    {
                                        <span class="text-icon">@item.GUBUN_NAME</span>
                                    }
                                    @if (item.VOD_NUM > 0)
                                    {
                                        <span class="icon-play"></span>
                                    }
                                    @Html.Raw(WowExtensionMethod.EntSpoMobileHashTag(item.TAG))
                                </div>
                                <p class="txt">@Html.Raw(WowExtensionMethod.ToStrong(item.TITLE, item.BOLD_YN))</p>
                            </div>
                            <!--// box img end -->
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <!--// slider end -->
    <!-- start -->
    <div class="section-area pd0">
        <h3 class="blind">최신순 자동 업데이트 영역</h3>
        @if (Model.EntList != null && Model.EntList.Count > 0)
        {
            <div class="list-type-enter">
                <div class="box-img-02 type01">
                    <a href="javascript:NewsCommon.GoNewsDetailView('entspo','','','@Model.EntList[0].ARTICLEID')">
                        @if (Model.EntList[0].GUBUN_NAME != "")
                        {
                            <span class="text-icon">@Model.EntList[0].GUBUN_NAME</span>
                        }
                        @if (Model.EntList[0].VOD_NUM > 0)
                        {
                            <span class="icon-play"></span>
                        }
                        <p class="txt">@Html.Raw(WowExtensionMethod.ToStrong(Model.EntList[0].TITLE, Model.EntList[0].BOLD_YN))</p>
                        <div class="img-area">
                            <img src="@WowExtensionMethod.NewsThumbnailPath("16M", Model.EntList[0].THUMBNAIL_FILENM, Model.EntList[0].VOD_NUM, Model.EntList[0].IMAGE_DIR, Model.EntList[0].IMAGE_FILE, Model.EntList[0].ARTDATE)" onerror="this.src='@WowExtensionMethod.NewsThumbnailOnError("16M")'" alt="">
                        </div>
                    </a>
                </div>
            </div>
        }
        
        <ul class="list-type01 type01 bdt-col01 pd0 bdb-none" id="divEntList">
            @foreach (var item in Model.EntList)
            {
                if (Model.EntList.IndexOf(item) > 0 && Model.EntList.IndexOf(item) < 11)
                {
                    <li class="txt-b entListArt" @(Model.EntList.IndexOf(item) >= 6 ? "style=display:none;" : "")>
                        <a href="javascript:NewsCommon.GoNewsDetailView('entspo','','','@item.ARTICLEID')">
                            @if (item.GUBUN_NAME != "")
                            {
                                <span class="text-icon">@item.GUBUN_NAME</span>
                            }
                            @Html.Raw(WowExtensionMethod.ToStrong(item.TITLE, item.BOLD_YN))
                        </a>
                    </li>
                }
            }
        </ul>
        <div class="btn-area">
            <a href="javascript:void(0)" class="btn type06" id="btnEntList"><span class="ico-arrow">더보기</span></a>
        </div>
    </div>
    <!--// end -->
    <!-- start -->
    <h3 class="blind">스포츠 기사</h3>
    <div class="box-news-img mt15">
        @foreach (var item in Model.SpoList)
        {
            if (Model.SpoList.IndexOf(item) < 2)
            {
                <a href="javascript:NewsCommon.GoNewsDetailView('entspo','','','@item.ARTICLEID')" class="news-img-cont">
                    <div class="img-area">
                        <img src="@WowExtensionMethod.NewsThumbnailPath("16M", item.THUMBNAIL_FILENM, item.VOD_NUM, item.IMAGE_DIR, item.IMAGE_FILE, item.ARTDATE)" onerror="this.src='@WowExtensionMethod.NewsThumbnailOnError("16M")'" alt="">
                        @if (item.GUBUN_NAME != "")
                        {
                            <span class="text-icon">@item.GUBUN_NAME</span>
                        }
                        @if (item.VOD_NUM > 0)
                        {
                            <span class="icon-play"></span>
                        }
                    </div>
                    <div class="txt-area"><p class="txt">@Html.Raw(WowExtensionMethod.ToStrong(item.TITLE, item.BOLD_YN))</p></div>
                </a>
            }
        }
    </div>
    <!--// end -->
    <!-- 이슈 모아보기 start -->
    <div class="section-area pd0 mb10">
        <h3 class="plr15">이슈 모아보기</h3>
        <div class="box-type-tag">
            <div class="swiper-container box-img-slider box-slider">
                <div class="swiper-wrapper" id="divIssueKeyWord">
                </div>
            </div>
        </div>

        <div class="box-img-02" id="divIssueNewsArticle">
        </div>

        <div class="btn-area">
            <!-- 클릭하여 펼쳐지면 a태그에  class="btn type06 on" / 클릭하여 닫치면 a태그에 class="btn type06"  -->
            <a href="javascript:void(0)" class="btn type06"><span class="ico-arrow">더보기</span></a>
        </div>
    </div>
    <!-- 이슈 모아보기 end -->
    <!-- 최신순 기사 노출 start -->
    <div class="box-type-enter-news mb10">
        <!-- slider txt start -->
        <div class="swiper-container enter-txt-slider sub-gnb01 etc mb0">
            <div class="swiper-wrapper">
                @foreach (var item in Model.EntList)
                {
                    if (Model.EntList.IndexOf(item) >= 6)
                    {
                        <div class="swiper-slide @(Model.EntList.IndexOf(item) == 6 ? "on" : "")">
                            <span>
                                @if (item.GUBUN_NAME != "")
                                {
                                    <span class="text-icon">@item.GUBUN_NAME</span>
                                }
                                @Html.Raw(WowExtensionMethod.ToStrong(item.TITLE, item.BOLD_YN))
                            </span>
                        </div>
                    }
                }

            </div>
        </div>
        <!--// slider txt end -->
        <div class="tab-body">
            @foreach (var item in Model.EntList)
            {
                if (Model.EntList.IndexOf(item) >= 6)
                {
                    <div class="tab-cont newsList @(Model.EntList.IndexOf(item) == 6 ? "on" : "")" id="@item.ARTICLEID">
                        <!-- img start -->
                        <div class="img-cont">
                            <div class="img-area">
                                <img src="@WowExtensionMethod.NewsThumbnailPath("16B", item.THUMBNAIL_FILENM, item.VOD_NUM, item.IMAGE_DIR, item.IMAGE_FILE, item.ARTDATE)" onerror="this.src='@WowExtensionMethod.NewsThumbnailOnError("16B")'" alt="">
                            </div>
                            <div class="txt-area">
                                @if (item.GUBUN_NAME != "")
                                {
                                    <span class="text-icon">@item.GUBUN_NAME</span>
                                }
                                <p class="txt">@Html.Raw(WowExtensionMethod.ToStrong(item.TITLE, item.BOLD_YN))</p>
                            </div>
                        </div>
                        <!--// img end -->
                    </div>
                }
            }
        </div>
    </div>
    <!--// 최신순 기사 노출 end -->
</div>


<div class="right-area">
    <!-- ranking news start -->
    <div class="section-area pd0 bdb-none mb10">
        <h3 class="plr15">랭킹 뉴스</h3>
        <div class="box-type-ranking" id="ulRankingNews">
        </div>
    </div>
    <!--// ranking news end -->
    <!-- 많이 본 뉴스 start -->
    <div class="section-area pd0 mb10">
        <h3 class="tit-line plr15">많이 본 뉴스</h3>
        <div class="box-img-02" id="divManySeeNews"></div>
        <div class="btn-area">
            <a href="javascript:void(0)" class="btn type06" id="btnTotalManySee"><span class="ico-arrow">더보기</span></a>
        </div>
    </div>
    <!--// 많이 본 뉴스 end -->
    <!-- 카드뉴스 start -->
    <div class="section-area pd0 mb10">
        <h3 class="tit-icon">
            카드뉴스
            <a href="javascript:NewsCommon.GoCardNewsHome()" class="btn-more">더보기</a>
        </h3>
        <div class="box-img-03" id="divCardNews"></div>
    </div>
    <!--// 카드뉴스 end -->
    <!-- 이슈 갤러리 start -->
    <div class="section-area pd0 mb10">
        <h3 class="tit-icon">
            인기 갤러리
            @*<a href="javascript:NewsCommon.GoPhotoList()" class="btn-more">더보기</a>*@
        </h3>
        <div class="box-img-gallery">
            <!-- slider start -->
            <div class="swiper-container box-slider">
                <div class="swiper-wrapper" id="divPhotoNews"></div>
            </div>
            <!--// slider end -->
        </div>
    </div>
    <!-- 이슈 갤러리 end -->
    <!-- ad start -->
    <div class="bann-img txt-c">
        <iframe src="http://adex.ednplus.com/xc/h/Fz56JCGe" width="320" height="270" frameborder="0" scrolling="no" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0"></iframe>
    </div>
    <!-- ad end -->
</div>