@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.Middle.Model.Db90.DNRS
@using Wow.Tv.FrontWeb.Areas.Component.Models

@model  List<T_RUNDOWN>

@{
    DateTime nowDate = DateTime.Now;

    string nowClass = "now";
    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();

    string uploadWebPath = System.Configuration.ConfigurationManager.AppSettings["UploadWebPath"];

    ListModel<tv_program> broadWatchList = ViewBag.BroadWatchList;
    string nowTimePx = ViewBag.NowTimePx;
    string selectTimePx = ViewBag.SelectTimePx;


    string chinaVideoContent = ViewBag.ChinaVideoContent;

    bool isHoliDay = ViewBag.IsHoliDay;
    string programStatusString = ViewBag.ProgramStatusString;
    string programImageUrl = ViewBag.ProgramImageUrl;

    if (isHoliDay == true || nowDate.DayOfWeek == DayOfWeek.Saturday || nowDate.DayOfWeek == DayOfWeek.Sunday)
    {
        nowClass = "";
    }
    //else
    //{
    //    if (DateTime.Now.Hour < 9 || DateTime.Now.Hour > 15)
    //    {
    //        nowClass = "";
    //    }
    //    else if (DateTime.Now.Hour == 15)
    //    {
    //        if (DateTime.Now.Minute > 0)
    //        {
    //            nowClass = "";
    //        }
    //    }
    //}

    //TvPlayerModel tvPlayerParameter = new TvPlayerModel();
    //tvPlayerParameter.PlayType = TvPlayTypeModel.LiveTv;

    TvPlayerModel tvPlayerParameter = ViewBag.TvPlayerParameter;
    tvPlayerParameter.Width = 771;
    tvPlayerParameter.Height = 430;
}


@section styles{
    
    @*<link href="/Content/jquery.bxslider.css" rel="stylesheet" />
    <link rel="stylesheet" href="@wowTvStyle/css/common.css">*@
    <link rel="stylesheet" href="@wowTvStyle/css/tv.css">
}

@section scripts{
    @*<script src="@wowTvScript/Broad/TvMain/Index.js?date=20171218173003"></script>
    <script src="@wowTvScript/NewsCenter/Common.js"></script>*@
    
    <script src="/Content/jquery.bxslider.js?date=20171213100000"></script>
}


<input type="hidden" id="hidIsSnsScroll" value="@Request["isSnsScroll"]" />
<input type="hidden" id="hidLoginUrl" value="@System.Configuration.ConfigurationManager.AppSettings["UserLoginUrl"]" />


@section WrapOutTop{

<!-- time bar start -->
<div class="time-bar">
    <div class="@nowClass"><!-- 장중無 class없음/장중有class="now" -->

        <div>
            <!-- 30분 단위로 구간 나누었는데 필요시 주석제거하시고 사용하세요. 필요없을시 주석처리부분 삭제해주세요. -->
            <ul>
                <li></li>
                <li></li><li></li><li></li>
                <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
                <li></li><li></li><li></li><li></li><li></li><li></li><li></li>
                <li></li><li></li><li></li><li></li><li></li><li></li><li></li>
                <li></li><li></li><li></li><li></li><li></li><li></li><li></li>
                <li></li><li></li><li></li><li></li><li></li><li></li><li></li>
                <li></li><li></li><li></li><li></li><li></li><li></li><li></li>
            </ul>
            
            <div class="back-black" style="width:100px;left:@(nowTimePx)px;"></div><!-- 배경색 검정색일때 class="back-black" -->
            <span class="line" style="left:@(selectTimePx)px;">yellow line</span><!-- 노란색 선 class="line" -->
            <span class="broadcast" style="left:@(nowTimePx)px;">방송중</span><!-- 방송중 -->

            @*<div class="back-black" style="width:100px;left:@(nowTimePx)px;"><!-- 배경색 검정색일때 class="back-black" -->
                <span class="broadcast">방송중</span><!-- 방송중 -->
                <span class="line">yellow line</span><!-- 노란색 선 class="line" -->
            </div>*@
            @foreach (var item in Model.Where(a => a.IsFirst == true))
            {
            <span class="circle" style="left:@(item.TimePx)px;">첫방송<em></em></span>
            }
            <div class="back-white" style="width:24px;"><!-- 배경색 흰색일때 class="back-white" -->
                <span class="line">yellow line</span>
            </div>
            
            @foreach (var item in Model.Where(a => a.IsRenewal == true))
            {
            <span class="circle" style="left:@(item.TimePx)px;">개편<em></em></span>
            }
        </div>
    </div>
</div>
<!--// time bar end -->


}

<!-- timeBar Area start -->
<div class="broadcast-tv " style="position:relative;width:1200px;overflow:hidden;z-index:1;">
    <!-- h2 class="blind">방송동영상</h2 -->
    <div class="now-tv">
        @*
        <img src="@wowTvStyle/images/temp/temp_tv_01.png" alt="현재방송동영상" width="771" height="430">
        <span class="icon-play"></span>
        <div>
            <span class="box-broadcast bg-yellow">방송중</span>
            <span class="day-broadcast">월·화·수<em>13:00</em></span>
            <strong>이숙영의 알기 쉬운 설물투자</strong>
            <p>선물투자 어렵지 않아요! 이숙영의 선물투자 강의 30분이면 누구나<br>선물투자 전문가가 될수있습니다!</p>
        </div>
        *@

        @if (tvPlayerParameter.PlayType == TvPlayTypeModel.None)
        {
            <img src="@programImageUrl" alt="방송" width="771" height="430">
        }
        else
        {
            @Html.Partial("~/Areas/Component/Views/TvPlayer/TvPlayer.cshtml", tvPlayerParameter)
        }
        <div>
            <span class="box-broadcast bg-yellow">@programStatusString</span>
            @*<span class="day-broadcast">월·화·수<em>13:00</em></span>
            <strong>이숙영의 알기 쉬운 설물투자</strong>
            <p>선물투자 어렵지 않아요! 이숙영의 선물투자 강의 30분이면 누구나<br>선물투자 전문가가 될수있습니다!</p>*@
        </div>
    </div>
    <div class="broad-tv-slider" style="display:none;">

        @*<input type="hidden" id="hidCurrentIndex" value="18" />
        <ul class="bxslider">
            <li>
                <a href="#" onclick="return TvMainIndex.MoveBroad('P2446');">
                    <img src="http://img.wowtv.co.kr/Admin/TV/Auth/131573679950724467.jpg" alt="전방송동영상" width="419" height="143">
                    <span class="box-broadcast bg-red">준비중</span>
                    <span class="day-broadcast">월&#183;화&#183;수&#183;목<em>00:00</em></span>
                </a>
            </li>
            <li>
                <a href="#" onclick="return TvMainIndex.MoveBroad('P2447');">
                    <img alt="전방송동영상" width="419" height="143">
                    <span class="box-broadcast bg-red">준비중</span>
                    <span class="day-broadcast">수&#183;목<em>01:00</em></span>
                </a>
            </li>
            <li>
                <a href="#" onclick="return TvMainIndex.MoveBroad('P2139');">
                    <img src="http://img.wowtv.co.kr/Admin/TV/Auth/131573661582717919.jpg" alt="전방송동영상" width="419" height="143">
                    <span class="box-broadcast bg-red">준비중</span>
                    <span class="day-broadcast">월&#183;화&#183;수&#183;목&#183;금<em>02:00</em></span>
                </a>
            </li>
            <li>
                <a href="#" onclick="return TvMainIndex.MoveBroad('P2466');">
                    <img src="http://img.wowtv.co.kr/Admin/TV/Auth/131573686179235181.jpg" alt="전방송동영상" width="419" height="143">
                    <span class="box-broadcast bg-red">준비중</span>
                    <span class="day-broadcast">월<em>03:00</em></span>
                </a>
            </li>
            <li>
                <a href="#" onclick="return TvMainIndex.MoveBroad('P2457');">
                    <img src="http://img.wowtv.co.kr/Admin/TV/Auth/131574394416186148.jpg" alt="전방송동영상" width="419" height="143">
                    <span class="box-broadcast bg-red">준비중</span>
                    <span class="day-broadcast">월<em>03:30</em></span>
                </a>
            </li>
            <li>
                <a href="#" onclick="return TvMainIndex.MoveBroad('P2460');">
                    <img src="http://img.wowtv.co.kr/Admin/TV/Auth/131573685688315458.jpg" alt="전방송동영상" width="419" height="143">
                    <span class="box-broadcast bg-red">준비중</span>
                    <span class="day-broadcast">월&#183;화&#183;수&#183;목<em>04:00</em></span>
                </a>
            </li>
            <li>
                <a href="#" onclick="return TvMainIndex.MoveBroad('P2206');">
                    <img src="http://img.wowtv.co.kr/Admin/TV/Auth/131573699787347452.jpg" alt="전방송동영상" width="419" height="143">
                    <span class="box-broadcast bg-red">준비중</span>
                    <span class="day-broadcast">월&#183;화&#183;수&#183;목<em>05:00</em></span>
                </a>
            </li>
            <li>
                <a href="#" onclick="return TvMainIndex.MoveBroad('P2519');">
                    <img src="http://img.wowtv.co.kr/Admin/TV/Auth/131574570927949581.jpg" alt="전방송동영상" width="419" height="143">
                    <span class="box-broadcast bg-red">준비중</span>
                    <span class="day-broadcast"><em>06:00</em></span>
                </a>
            </li>
            <li>
                <a href="#" onclick="return TvMainIndex.MoveBroad('P2531');">
                    <img src="http://img.wowtv.co.kr/Admin/TV/Auth/131574571156554503.jpg" alt="전방송동영상" width="419" height="143">
                    <span class="box-broadcast bg-red">준비중</span>
                    <span class="day-broadcast"><em>07:00</em></span>
                </a>
            </li>
            <li>
                <a href="#" onclick="return TvMainIndex.MoveBroad('P2520');">
                    <img src="http://img.wowtv.co.kr/Admin/TV/Auth/131573665641906753.jpg" alt="전방송동영상" width="419" height="143">
                    <span class="box-broadcast bg-red">준비중</span>
                    <span class="day-broadcast"><em>08:00</em></span>
                </a>
            </li>
            <li>
                <a href="#" onclick="return TvMainIndex.MoveBroad('P2532');">
                    <img src="http://img.wowtv.co.kr/Admin/TV/Auth/131573665989681319.jpg" alt="전방송동영상" width="419" height="143">
                    <span class="box-broadcast bg-red">준비중</span>
                    <span class="day-broadcast"><em>08:45</em></span>
                </a>
            </li>
            <li>
                <a href="#" onclick="return TvMainIndex.MoveBroad('P2521');">
                    <img src="http://img.wowtv.co.kr/Admin/TV/Auth/131573667109772232.jpg" alt="전방송동영상" width="419" height="143">
                    <span class="box-broadcast bg-red">준비중</span>
                    <span class="day-broadcast"><em>10:00</em></span>
                </a>
            </li>
            <li>
                <a href="#" onclick="return TvMainIndex.MoveBroad('P2533');">
                    <img src="http://img.wowtv.co.kr/Admin/TV/Auth/131573667459154699.jpg" alt="전방송동영상" width="419" height="143">
                    <span class="box-broadcast bg-red">준비중</span>
                    <span class="day-broadcast"><em>11:00</em></span>
                </a>
            </li>
            <li>
                <a href="#" onclick="return TvMainIndex.MoveBroad('P2530');">
                    <img src="http://img.wowtv.co.kr/Admin/TV/Auth/131573676648405961.jpg" alt="전방송동영상" width="419" height="143">
                    <span class="box-broadcast bg-red">준비중</span>
                    <span class="day-broadcast"><em>12:00</em></span>
                </a>
            </li>
            <li>
                <a href="#" onclick="return TvMainIndex.MoveBroad('P2534');">
                    <img src="http://img.wowtv.co.kr/Admin/TV/Auth/131573676911984591.jpg" alt="전방송동영상" width="419" height="143">
                    <span class="box-broadcast bg-red">준비중</span>
                    <span class="day-broadcast"><em>13:00</em></span>
                </a>
            </li>
            <li>
                <a href="#" onclick="return TvMainIndex.MoveBroad('P2523');">
                    <img src="http://img.wowtv.co.kr/Admin/TV/Auth/131573673273614500.jpg" alt="전방송동영상" width="419" height="143">
                    <span class="box-broadcast bg-red">준비중</span>
                    <span class="day-broadcast"><em>14:00</em></span>
                </a>
            </li>
            <li>
                <a href="#" onclick="return TvMainIndex.MoveBroad('P2535');">
                    <img src="http://img.wowtv.co.kr/Admin/TV/Auth/131573673629762313.jpg" alt="전방송동영상" width="419" height="143">
                    <span class="box-broadcast bg-red">준비중</span>
                    <span class="day-broadcast"><em>15:00</em></span>
                </a>
            </li>
            <li>
                <a href="#" onclick="return TvMainIndex.MoveBroad('P2428');">
                    <img src="http://img.wowtv.co.kr/Admin/TV/Auth/131573685206036240.jpg" alt="전방송동영상" width="419" height="143">
                    <span class="box-broadcast bg-red">준비중</span>
                    <span class="day-broadcast">월&#183;화&#183;수&#183;목&#183;금<em>16:00</em></span>
                </a>
            </li>
            <li>
                <a href="#" onclick="return TvMainIndex.MoveBroad('P2052');">
                    <img src="http://img.wowtv.co.kr/Admin/TV/Auth/131573694033679938.jpg" alt="전방송동영상" width="419" height="143">
                    <span class="box-broadcast bg-red">준비중</span>
                    <span class="day-broadcast">월&#183;화&#183;수&#183;목&#183;금<em>16:30</em></span>
                </a>
            </li>
            <li>
                <a href="#" onclick="return TvMainIndex.MoveBroad('P2205');">
                    <img src="http://img.wowtv.co.kr/Admin/TV/Auth/131573699308344288.jpg" alt="전방송동영상" width="419" height="143">
                    <span class="box-broadcast bg-yellow">방송중</span>
                    <span class="day-broadcast">월&#183;화&#183;수&#183;목<em>17:00</em></span>
                </a>
            </li>
            <li>
                <a href="#" onclick="return TvMainIndex.MoveBroad('P2206');">
                    <img src="http://img.wowtv.co.kr/Admin/TV/Auth/131573699787347452.jpg" alt="전방송동영상" width="419" height="143">
                    <span class="box-broadcast bg-red">방송예정</span>
                    <span class="day-broadcast">월&#183;화&#183;수&#183;목<em>18:00</em></span>
                </a>
            </li>
            <li>
                <a href="#" onclick="return TvMainIndex.MoveBroad('P2139');">
                    <img src="http://img.wowtv.co.kr/Admin/TV/Auth/131573661582717919.jpg" alt="전방송동영상" width="419" height="143">
                    <span class="box-broadcast bg-red">방송예정</span>
                    <span class="day-broadcast">월&#183;화&#183;수&#183;목&#183;금<em>19:00</em></span>
                </a>
            </li>
            <li>
                <a href="#" onclick="return TvMainIndex.MoveBroad('P2066');">
                    <img src="http://img.wowtv.co.kr/Admin/TV/Auth/131573711239519383.jpg" alt="전방송동영상" width="419" height="143">
                    <span class="box-broadcast bg-red">방송예정</span>
                    <span class="day-broadcast">수<em>20:00</em></span>
                </a>
            </li>
            <li>
                <a href="#" onclick="return TvMainIndex.MoveBroad('P2457');">
                    <img src="http://img.wowtv.co.kr/Admin/TV/Auth/131574394416186148.jpg" alt="전방송동영상" width="419" height="143">
                    <span class="box-broadcast bg-red">방송예정</span>
                    <span class="day-broadcast">월<em>20:30</em></span>
                </a>
            </li>
            <li>
                <a href="#" onclick="return TvMainIndex.MoveBroad('P2446');">
                    <img src="http://img.wowtv.co.kr/Admin/TV/Auth/131573679950724467.jpg" alt="전방송동영상" width="419" height="143">
                    <span class="box-broadcast bg-red">방송예정</span>
                    <span class="day-broadcast">월&#183;화&#183;수&#183;목<em>21:00</em></span>
                </a>
            </li>
            <li>
                <a href="#" onclick="return TvMainIndex.MoveBroad('P2447');">
                    <img alt="전방송동영상" width="419" height="143">
                    <span class="box-broadcast bg-red">방송예정</span>
                    <span class="day-broadcast">수&#183;목<em>22:00</em></span>
                </a>
            </li>
            <li>
                <a href="#" onclick="return TvMainIndex.MoveBroad('P2460');">
                    <img src="http://img.wowtv.co.kr/Admin/TV/Auth/131573685688315458.jpg" alt="전방송동영상" width="419" height="143">
                    <span class="box-broadcast bg-red">방송예정</span>
                    <span class="day-broadcast">월&#183;화&#183;수&#183;목<em>23:00</em></span>
                </a>
            </li>
        </ul>*@



        <input type="hidden" id="hidCurrentIndex" value="@ViewBag.CurrentIndex" />
        <ul class="bxslider">
            @foreach (var item in Model)
            {
            <li>
                <a href="#" onclick="return TvMainIndex.MoveBroad('@item.PRG_CD');">
                    <img src="@item.SUB_IMG" alt="@item.PRG_NM" width="419" height="143">
                    @if (item.Status == "Ing")
                    {
                    <span class="box-broadcast bg-yellow">방송중</span>
                    }
                    else if (item.Status == "Ready")
                    {
                    <span class="box-broadcast bg-red">준비중</span>
                    }
                    else if (item.Status == "After")
                    {
                        <span class="box-broadcast bg-red">방송예정</span>
                    }
                    <span class="day-broadcast">@String.Join(".", item.DayOfWeekString)<em>@item.RUN_START</em></span>
                </a>
            </li>
            }
        </ul>
    </div>
</div>
<!--// timeBar Area end -->
<!-- 인기영상뉴스 start -->
<div class="above-news">
    <h2 class="title01">인기영상뉴스</h2>
    <div id="divPopularityNews">
    </div>
</div>
<!--// 인기영상뉴스 end -->
<!-- TV다시보기 start -->
<div class="tv-view " style="float:right;width:570px;overflow:hidden;padding-top:40px">
    <h2 class="title01">TV다시보기</h2>
    <div class="tv-view-slider bxslider" style="display:none;">
        <ul id="ulBroadWatch">


            @*<li>
                <a href="#" onclick="return TvMainIndex.GoBroadWatch('P2523', '106587');">
                    <img src="http://img.wowtv.co.kr/Admin/TV/Auth/131573673273770763.jpg" alt="TV다시보기" width="570" height="321">
                    <span class="icon-play"></span>
                    <span class="box-broadcast bg-red">최신</span>
                    <strong>[성공투자 오후증시 1부] 성공투자 오후증시 1부</strong>
                </a>
            </li>
            <li>
                <a href="#" onclick="return TvMainIndex.GoBroadWatch('P2533', '106584');">
                    <img src="http://img.wowtv.co.kr/Admin/TV/Auth/131573667459312307.jpg" alt="TV다시보기" width="570" height="321">
                    <span class="icon-play"></span>
                    <span class="box-broadcast bg-red">최신</span>
                    <strong>[증시라인 2부] 증시라인 2부</strong>
                </a>
            </li>
            <li>
                <a href="#" onclick="return TvMainIndex.GoBroadWatch('P2521', '106583');">
                    <img src="http://img.wowtv.co.kr/Admin/TV/Auth/131573667109928522.jpg" alt="TV다시보기" width="570" height="321">
                    <span class="icon-play"></span>
                    <span class="box-broadcast bg-red">최신</span>
                    <strong>[증시라인 1부] 증시라인 1부</strong>
                </a>
            </li>*@



            @foreach (var item in broadWatchList.ListData)
            {
                <li>
                    <a href="#" onclick="return TvMainIndex.GoBroadWatch('@item.Dep', '@item.Num');">
                    <img src="@item.RectangleImageUrl" alt="" width="570" height="321">
                    <span class="icon-play"></span>
                    <span class="box-broadcast bg-red">최신</span>
                    <strong>@item.Program_Name</strong>
                </a>
            </li>
            }

        </ul>
    </div>
</div>
<!--// TV다시보기 end -->

<div class="clearFix"></div>

<!-- tab start -->
<h2 class="blind">탭</h2>
<div class="tab-type1 mt80 mb20">
    <ul class="col2">
        <li class="on" id="liStock"><a href="#" onclick="return TvMainIndex.ViewStock();">종목영상</a></li>
        <li id="liMarket"><a href="#" onclick="return TvMainIndex.ViewMarket();">마켓뉴스</a></li>
    </ul>
</div>
<!--// tab end -->
<!-- 종목영상 start -->
<h2 class="blind">종목영상 내용</h2>
<div class="event-picture" id="divStock">
</div>
<div class="event-picture" id="divMarket" style="display:none;">
</div>
<!--// 종목영상 end -->
<!-- btn start -->
<div class="btn-area">
    <div class="inner">
        <a href="#" onclick="return TvMainIndex.OpenStockConsulting();" class="btn-big"><span class="is_ico01">종목상담 신청하기</span></a>
    </div>
</div>

<!--// btn end -->
<!-- 3단 start -->
<div class="box-3dabth">

    <!-- 구매/안내 start -->
    <h2 class="blind">구매/안내 링크</h2>
    <div class="box-type">
        <a href="#" onclick="return TvMainIndex.OpenTvProgramBuy();">
            <span class="is-ico01">TV프로그램 구매</span>
        </a>
        <a href="#" onclick="return TvMainIndex.OpenContentsBuy();">
            <span class="is-ico02">유료 컨텐츠 구매</span>
        </a>
        <a href="#" onclick="return TvMainIndex.OpenUseMethod();">
            <span class="is-ico03">이용방법 안내</span>
        </a>
    </div>
    <!--// 구매/안내 end -->
    <!-- 공지사항/강연회/시청자의견 start -->
    <h2 class="blind">공지사항/강연회/시청자의견</h2>
    <div class="box-notice">
        <div class="tab-listType1" id="divNotice">
        </div>
    </div>
    <!--// 공지사항/강연회/시청자의견 end -->
    <!-- 중국경제 채널 start -->
    <div class="econ-chann">
        <div class="box on">
            <h2 class="title">중국경제 채널</h2>
            <a href="#" onclick="return TvMainIndex.OpenChinaMore();" class="btn-plus">more</a>
        </div>
        <div class="obj">
            @*<img src="@wowTvStyle/images/temp/temp_tv_11.png" alt="경제 채널" width="341" height="187">*@
            <iframe width="341" height="187" src="https://www.youtube.com/embed/@chinaVideoContent" frameborder="0" allowfullscreen=""></iframe>
            <span class="icon-play medium"></span>
            @*<strong>중국주식 핵심 분석! <br>한경차이나가이드에서 확인하세요.</strong>*@
        </div>
    </div>
    <!--// 중국경제 채널 end -->
</div>
<!--// 3단 end -->
<!-- 웹드라마 start -->
<div class="box-type01 bxslider" id="divWebDrama">
</div>
<!--// 웹드라마 end -->
<!-- SNS현장 라이브 start -->
<div class="box-type01" id="divBroadLive">
</div>
<!--// SNS현장 라이브 end -->

@Html.Partial("~/Views/Home/WowNetFaStar.cshtml") 

<!-- 한국경제TV 방송 목록 보기 start -->
<div class="box-type02">
    <h2 class="title02">한국경제TV 방송 목록 보기</h2>
    <a href="javascript:void(0)" class="btn-arrow">arrow</a>
</div>
<div class="box-line-type01" id="divProgramList">
</div>
<!--// 한국경제TV 방송 목록 보기 end -->




@section LastScriptArea{
    <script src="@wowTvScript/Broad/TvMain/Index.js?date=20171218173003"></script>
    <script src="@wowTvScript/NewsCenter/Common.js"></script>
}

