@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.Middle.Model.Db49.wowtv
@using Wow.Tv.Middle.Model.Db49.wownet



@{
    Layout = null;

    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();



    List<NTB_BOARD_CONTENT> list1 = ViewBag.List1;
    List<TAB_LECTURES_SCHEDULE> list2 = ViewBag.List2;
    List<NTB_BOARD_CONTENT> list3 = ViewBag.List3;

}



<script src="@wowTvScript/Broad/TvMain/Notice.js?date=20171018170000"></script>


<div class="box on">
    <ul>
        <li class="on"><a href="#" id="btnNoticaTab1"><em></em>공지사항</a></li>
        <li><a href="#" id="btnNoticaTab2"><em></em>강연회</a></li>
        <li><a href="#" id="btnNoticaTab3"><em></em>시청자의견</a></li>
    </ul>
</div>
<ul class="list-type4" id="ulNoticeTab1">
    @foreach (var item in list1)
    {
    <li><a href="javascript:void();" onclick="return TvMainNotice.GoNotice('@item.ProgramCode','@item.BOARD_CONTENT_SEQ','@item.MenuSeq');">[@item.ProgramName] @item.TITLE</a></li>
    }
</ul>
<ul class="list-type4" id="ulNoticeTab2" style="display:none;">
    @foreach (var item in list2)
    {
    <li><a href="javascript:void();" onclick="return TvMainNotice.OpenLecture('@item.MSEQ', '@item.SEQ');">@item.Title</a></li>
    }
</ul>
<ul class="list-type4" id="ulNoticeTab3" style="display:none;">
    @foreach (var item in list3)
    {
        <li><a href="javascript:void();" onclick="return TvMainNotice.GoFeedBack('@item.ProgramCode','@item.BOARD_CONTENT_SEQ','@item.MenuSeq');">[@item.ProgramName] @item.TITLE</a></li>
        @*if (LoginHandler.IsLogin == true)
        {
            <li><a href="#" onclick="return TvMainNotice.GoFeedBack('@item.ProgramCode','@item.BOARD_CONTENT_SEQ','@item.MenuSeq');">@item.TITLE</a></li>
        }
        else
        {
            <li><a href="#" onclick="return TvMainNotice.GoLoginFeedBack('@item.ProgramCode','@item.BOARD_CONTENT_SEQ','@item.MenuSeq');">@item.TITLE</a></li>
        }*@
    }
</ul>


