@using Wow
@using Wow.Tv.Middle.Model.Db49.Article
@using Wow.Tv.FrontWebMobile.Areas.NewsCenter.Models

@model NewsMainModel

@{
    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();

    AppState["BodyClass"] = "news";
}

@section scripts{
    <script src="@wowTvScript/jquery.timeago/jquery.timeago.js"></script>
    <script src="@wowTvScript/jquery.timeago/jquery.timeago.ko.js"></script>

    <script src="@wowTvScript/NewsCenter/Common.js"></script>
    <script src="@wowTvScript/NewsCenter/Main/Index.js"></script>
    <script src="@wowTvScript/NewsCenter/NewsSearchApi.js"></script>
}

<div class="left-area">
    @if (Model.NewsStandTopInfo != null)
    {
        var topInfo = Model.NewsStandTopInfo;
        <div class="box-main-bann newsList" id="@topInfo.ARTICLEID">
            <img src="@WowExtensionMethod.NewsStandThumbnailPath(topInfo.IMAGE_RRELATION, "16B", topInfo.THUMBNAIL_FILENM, topInfo.VOD_NUM, topInfo.IMAGE_DIR, topInfo.IMAGE_FILE, topInfo.ARTDATE.Value)" onerror="this.src='@WowExtensionMethod.NewsThumbnailOnError("16B")'" alt="">
            <div>
                @if (!String.IsNullOrEmpty(topInfo.GUBUN_NAME))
                {
                    @MvcHtmlString.Create(WowExtensionMethod.NewsMobileGubunIcon(topInfo.GUBUN_NAME))
                }
                <p class="txt">
                    @if (string.IsNullOrEmpty(topInfo.TMPTITLE))
                    {
                        @topInfo.TITLE
                    }
                    else
                    {
                        @topInfo.TMPTITLE
                    }
                </p>
            </div>
        </div>
    }
    <ul class="list-type01 pt0 pb0 mb10">
        @if (Model.NewsMainYList != null && Model.NewsMainYList.Count > 0)
        {
            foreach (var item in Model.NewsMainYList)
            {
                if (Model.NewsMainYList.IndexOf(item) < 7)
                {
                    <li>
                        <a href="javascript:NewsCommon.GoNewsRead('@item.ARTICLEID')">
                            @if (!String.IsNullOrEmpty(item.GUBUN_NAME))
                            {
                                @MvcHtmlString.Create(WowExtensionMethod.NewsMobileGubunIcon(item.GUBUN_NAME))
                            }
                            @MvcHtmlString.Create(WowExtensionMethod.ToStrong(item.TITLE, item.BOLD_YN))
                        </a>
                    </li>
                }
            }
        }
    </ul>
    <div class="section-area pb0 mb10">
        <div class="box-news-img pd0">
            @if (Model.NewsStandTopList != null && Model.NewsStandTopList.Count > 0)
            {
                foreach (var item in Model.NewsStandTopList)
                {
                    if (Model.NewsStandTopList.IndexOf(item) < 2)
                    {
                        <a href="javascript:NewsCommon.GoNewsRead('@item.ARTICLEID')" class="news-img-cont">
                            <div class="img-area">
                                <img src="@WowExtensionMethod.NewsStandThumbnailPath(item.IMAGE_RRELATION, "16M", item.THUMBNAIL_FILENM, item.VOD_NUM, item.IMAGE_DIR, item.IMAGE_FILE, item.ARTDATE.Value)" onerror="this.src='@WowExtensionMethod.NewsThumbnailOnError("16M")'" alt="">
                                @if (!String.IsNullOrEmpty(item.GUBUN_NAME))
                                {
                                    @MvcHtmlString.Create(WowExtensionMethod.NewsMobileGubunIcon(item.GUBUN_NAME))
                                }
                                @if (item.VOD_NUM > 0)
                                {
                                    <span class="icon-play"></span>
                                }
                            </div>
                            <div class="txt-area"><p class="txt">@item.TITLE</p></div>
                        </a>
                    }

                }
            }
        </div>
        <ul class="list-type01 pd0 bd-none">
            @if (Model.NewsStandTopList != null && Model.NewsStandTopList.Count > 0)
            {
                foreach (var item in Model.NewsStandTopList)
                {
                    if (Model.NewsStandTopList.IndexOf(item) >= 2)
                    {
                        <li>
                            <a href="javascript:NewsCommon.GoNewsRead('@item.ARTICLEID')">
                                @if (!String.IsNullOrEmpty(item.GUBUN_NAME))
                                {
                                    @MvcHtmlString.Create(WowExtensionMethod.NewsMobileGubunIcon(item.GUBUN_NAME))
                                }
                                @item.TITLE
                            </a>
                        </li>
                    }
                }
            }
        </ul>
    </div>
    <!-- 추천 키워드 뉴스 start -->
    <div class="section-area pd0 mb10">
        <h3 class="tit-t plr15">추천 키워드 뉴스</h3>
        <div class="box-news-img" id="ulRecommendationKeyWordNews">
        </div>
        @foreach (var item in Model.keywordNews)
        {
            <input type="hidden" class="devHiddenKeyWordList" value="@item.KEYWORD" />
        }
    </div>
    <!--// 추천 키워드 뉴스 start -->

    <div class="section-area mb10">
        <div class="list-type-new01">
            @if (Model.NewsStandSomeList != null && Model.NewsStandSomeList.Count > 0)
            {
                foreach (var item in Model.NewsStandSomeList.OrderByDescending(o => o.ARTDATE))
                {
                    var index = Model.NewsStandSomeList.IndexOf(item);
                    <div class="obj-cont newsList" id="@item.ARTICLEID">
                        <div class="ico-area">
                            @if (item.DIFF_TIME_HOUR < 24)
                            {
                                <span class="icon-time type01"></span>
                                <p>
                                    @if (item.LASTT_TIME_HOUR > 0)
                                    {
                                        @Html.Raw(string.Format("{0}시간<br>", item.LASTT_TIME_HOUR))
                                    }
                                    @Html.Raw(string.Format("{0}분전", item.LAST_TIME_MIN))
                                </p>
                            }
                            else
                            {
                                <span class="icon-dot"></span>
                            }
                        </div>
                        <div class="txt-area">
                            @if (!String.IsNullOrEmpty(item.IMAGE_FILE) && !index.Equals(2) && !index.Equals(6))
                            {
                                <img src="@WowExtensionMethod.NewsStandThumbnailPath(item.IMAGE_RRELATION, "16M", item.THUMBNAIL_FILENM, item.VOD_NUM, item.IMAGE_DIR, item.IMAGE_FILE, item.ARTDATE.Value)" onerror="this.src='@WowExtensionMethod.NewsThumbnailOnError("16M")'" alt="">
                            }
                            <p class="txt">@MvcHtmlString.Create(WowExtensionMethod.ToStrong(item.TITLE, item.BOLD_YN))</p>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    <!-- tab start -->
    <div class="tab-area tab-btn">
        <!-- 171206 html수정 -->
        <ul>
            <li class="on"><a href="javascript:void(0)">종합영상</a></li>
            <li><a href="javascript:void(0)">종목</a></li>
            <li><a href="javascript:void(0)">해외증시</a></li>
        </ul>
        <!-- //171206 html수정 -->
    </div>
    <div class="tab-body mb10">
        <div class="tab-cont on">
            <!-- 종합영상 start -->
            <div class="section-area pb15 bdt-none">
                <!-- slider start -->
                <div class="swiper-container box-img-slider box-slider">
                    <div class="swiper-wrapper">
                        @if (Model.NewsMainVodTotalList != null && Model.NewsMainVodTotalList.Count > 0)
                        {
                            foreach (var item in Model.NewsMainVodTotalList)
                            {
                                <div class="swiper-slide @(Model.NewsMainVodTotalList.IndexOf(item) == 0 ? "on" : "")">
                                    <!-- box img start -->
                                    <a href="javascript:NewsCommon.GoNewsRead('@item.ARTICLEID')" class="box-img-01">
                                        <div class="img-area">
                                            <img src="@WowExtensionMethod.NewsThumbnailPath("16M", item.THUMBNAIL_FILENM, item.VOD_NUM, item.IMAGE_DIR, item.IMAGE_FILE, item.ARTDATE)" onerror="this.src='@WowExtensionMethod.NewsThumbnailOnError("16M")'" alt="">
                                            @if (!String.IsNullOrEmpty(item.GUBUN_NAME))
                                            {
                                                @MvcHtmlString.Create(WowExtensionMethod.NewsMobileGubunIcon(item.GUBUN_NAME))
                                            }
                                            @if (item.VOD_NUM > 0)
                                            {
                                                <span class="icon-play"></span>
                                            }
                                        </div>
                                        <p class="txt">@item.TITLE</p>
                                    </a>
                                    <!--// box img end -->
                                </div>
                            }
                        }
                        else
                        {
                            <div class="swiper-slide">
                                등록된 내용이 없습니다.
                            </div>
                        }
                    </div>
                </div>
                <!--// slider end -->
            </div>
            <!--// 종합영상 end -->
        </div>
        <div class="tab-cont">
            <!-- 종목 start -->
            <div class="section-area pb15 bdt-none">
                <!-- slider start -->
                <div class="swiper-container box-img-slider box-slider">
                    <div class="swiper-wrapper">
                        @if (Model.NewsMainVodMarketList != null && Model.NewsMainVodMarketList.Count > 0)
                        {
                            foreach (var item in Model.NewsMainVodMarketList)
                            {
                                <div class="swiper-slide @(Model.NewsMainVodMarketList.IndexOf(item) == 0 ? "on" : "")">
                                    <!-- box img start -->
                                    <a href="javascript:NewsCommon.GoNewsRead('@item.ARTICLEID')" class="box-img-01">
                                        <div class="img-area">
                                            <img src="@WowExtensionMethod.NewsThumbnailPath("16M", item.THUMBNAIL_FILENM, item.VOD_NUM, item.IMAGE_DIR, item.IMAGE_FILE, item.ARTDATE)" onerror="this.src='@WowExtensionMethod.NewsThumbnailOnError("16M")'" alt="">
                                            @if (!String.IsNullOrEmpty(item.GUBUN_NAME))
                                            {
                                                @MvcHtmlString.Create(WowExtensionMethod.NewsMobileGubunIcon(item.GUBUN_NAME))
                                            }
                                            @if (item.VOD_NUM > 0)
                                            {
                                                <span class="icon-play"></span>
                                            }
                                        </div>
                                        <p class="txt">@item.TITLE</p>
                                    </a>
                                    <!--// box img end -->
                                </div>
                            }
                        }
                        else
                        {
                            <div class="swiper-slide">
                                등록된 내용이 없습니다.
                            </div>
                        }
                    </div>
                </div>
                <!--// slider end -->
            </div>
            <!--// 종목 end -->
        </div>
        <div class="tab-cont">
            <!-- 해외 start -->
            <div class="section-area pb15 bdt-none">
                <!-- slider start -->
                <div class="swiper-container box-img-slider box-slider">
                    <div class="swiper-wrapper">
                        @if (Model.NewsMainVodOverseasList != null && Model.NewsMainVodOverseasList.Count > 0)
                        {
                            foreach (var item in Model.NewsMainVodOverseasList)
                            {
                                <div class="swiper-slide @(Model.NewsMainVodOverseasList.IndexOf(item) == 0 ? "on" : "")">
                                    <!-- box img start -->
                                    <a href="javascript:NewsCommon.GoNewsRead('@item.ARTICLEID')" class="box-img-01">
                                        <div class="img-area">
                                            <img src="@WowExtensionMethod.NewsThumbnailPath("16M", item.THUMBNAIL_FILENM, item.VOD_NUM, item.IMAGE_DIR, item.IMAGE_FILE, item.ARTDATE)" onerror="this.src='@WowExtensionMethod.NewsThumbnailOnError("16M")'" alt="">
                                            @if (!String.IsNullOrEmpty(item.GUBUN_NAME))
                                            {
                                                @MvcHtmlString.Create(WowExtensionMethod.NewsMobileGubunIcon(item.GUBUN_NAME))
                                            }
                                            @if (item.VOD_NUM > 0)
                                            {
                                                <span class="icon-play"></span>
                                            }
                                        </div>
                                        <p class="txt">@item.TITLE</p>
                                    </a>
                                    <!--// box img end -->
                                </div>
                            }
                        }
                        else
                        {
                            <div class="swiper-slide">
                                등록된 내용이 없습니다.
                            </div>
                        }
                    </div>
                </div>
                <!--// slider end -->
            </div>
            <!--// 해외 end -->
        </div>
    </div>
    <!-- tab end -->    
</div>


<div class="right-area">
    <!-- 많이 본 뉴스 start -->
    <div class="section-area pd0 mb10">
        <h3 class="plr15">많이 본 뉴스</h3>

        <!-- tab start -->
        <div class="tab-area tab-btn">
            <ul>
                <li class="on"><a href="javascript:void(0)">종합</a></li>
                <li><a href="javascript:void(0)">연예•스포츠</a></li>
                <li><a href="javascript:void(0)">SNS</a></li>
            </ul>
        </div>
        <div class="tab-body" id="divManySeeNews"></div>
        <!--// tab end -->
    </div>
    <!--// 많이 본 뉴스 end -->
    <!-- 카드뉴스 start -->
    <div class="section-area pd0 mb10">
        <h3 class="tit-icon">
            카드뉴스
            <a href="javascript:NewsCommon.GoCardNewsHome()" class="btn-more">더보기</a>
        </h3>
        <div class="box-img-03" id="divCardNews"></div>
    </div>
    <!--// 카드뉴스 end -->
    <!-- tab start -->
    <div class="tab-area tab-btn">
        <ul>
            <li class="on"><a href="javascript:NewsMain.Opinion()" id="btnOpinion">오피니언</a></li>
            <li><a href="javascript:NewsMain.WeekReporter()" id="btnThisReporter">금주의 기자</a></li>
        </ul>
    </div>
    <div class="tab-body mb10" id="divOpinReporter"></div>
    <!--// tab end -->
    <!-- 이슈 갤러리 start -->
    <div class="section-area pd0 mb10">
        <h3 class="tit-icon">
            인기 갤러리
            @*<a href="javascript:NewsCommon.GoPhotoList()" class="btn-more">더보기</a>*@
        </h3>
        <div class="box-img-gallery">
            <!-- slider start -->
            <div class="swiper-container box-slider">
                <div class="swiper-wrapper" id="divPhotoNews"></div>
            </div>
            <!--// slider end -->
        </div>
    </div>
    <!-- 이슈 갤러리 end -->
    <!-- ad start -->
    <div class="bann-img txt-c">
        <iframe src="http://adex.ednplus.com/xc/h/Fz56JCGe" width="320" height="270" frameborder="0" scrolling="no" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0"></iframe>
    </div>
    <!-- ad end -->
</div>