
@{
    Layout = null;
    string uploadWebPathRoot = AppState["UploadWebPathRoot"].ToString();
    string uploadPlanArticlePath = AppState["UploadPlanArticlePath"].ToString();
    string opinionUploadPath = uploadWebPathRoot + uploadPlanArticlePath;
}

<div class="tab-cont on">
    <div class="list-type-new02 type01">
        @*<h4 class="tit-text">오피니언</h4>*@
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <a href="javascript:NewsCommon.GoNewsDetailView('opinion', '', '@item.CLASS', '@item.ARTICLEID')" class="obj-cont">
                    <div class="img-area">
                        <img src="@(opinionUploadPath + item.COLUMNLIST_PHOTO)" onerror="this.src='@Wow.WowExtensionMethod.NoImageProfile("82")'" alt="">
                    </div>
                    <p class="txt">
                        @item.TITLE
                    </p>
                    <p class="aside-area">
                        <span>@item.COLUMN_GUBUN/ @item.COLUMNLIST_NAME</span>
                    </p>
                </a>
            }
        }
        else
        {
            <a href="javascript:void(0)">
                등록된 내용이 없습니다.
            </a>
        }
    </div>
</div>
