
@{
    Layout = null;
    string uploadWebPathRoot = AppState["UploadWebPathRoot"].ToString();
}

<div class="tab-cont on">
    <div class="list-type-new02 type01">
        @*<h4 class="tit-text">금주의 기자</h4>*@
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                string imageUrl = Wow.WowExtensionMethod.NoImageProfile("82");
                if (!string.IsNullOrEmpty(item.IMAGE_URL))
                {
                    imageUrl = item.IMAGE_URL;
                }

                <a href="javascript:NewsCommon.GoNewsRead('@item.ARTICLE_ID')" class="obj-cont">
                    <div class="img-area"><img src="@uploadWebPathRoot@imageUrl" onerror="this.src='@Wow.WowExtensionMethod.NoImageProfile("82")'" alt="기자 이미지" /></div>
                    <p class="txt">
                        @*@if (!String.IsNullOrEmpty(item.GUBUN_NAME))
                        {
                            @MvcHtmlString.Create(Wow.WowExtensionMethod.NewsMobileGubunIcon(item.GUBUN_NAME))
                        }*@
                        @item.ARTICLE_TITLE
                    </p>
                    <p class="aside-area">
                        <span>@item.DEPT_NM / @item.USER_NM @item.POSITION</span>
                    </p>
                </a>
            }
        }
        else
        {
            <a href="javascript:void(0)">
                등록된 내용이 없습니다.
            </a>
        }

    </div>
</div>
