@using Wow.Tv.FrontWeb.Areas.Finance.Helpers
@using Wow.Tv.Middle.Model.Db22.stock
@using Wow.Tv.Middle.Model.Common
@model ListModel<usp_getDailyStockPricePop_Result>
@{
    string wowTvScript = AppState["WowTvScript"].ToString();
    Layout = null;
}

<script>
    var totalDatacount_dayStockPrice = "@Model.TotalDataCount";
</script>
<script src="@wowTvScript/Finance/DomesticStock/GetStockNowPriceDayList.js"></script>
<div class="contain-block">
    <h2 class="title">일자별 주가</h2>

    <!-- 게시물 목록 -->
    <div class="table-type1">
        <table>
            <caption></caption>
            <colgroup>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
            </colgroup>
            <tr>
                <th>일자</th>
                <th>종가</th>
                <th>시가</th>
                <th>고가</th>
                <th>저가</th>
                <th>전일비</th>
                <th>등락률(%)</th>
                <th>거래량(주)</th>
            </tr>
            @if (Model.ListData.Count != 0)
            {
                foreach (var item in Model.ListData)
                {
                    <tr>
                        <td><span class="data-normal">@item.TRADEDATE</span></td>
                        <td><span class="data-normal">@Html.CommaFormat(item.PRICE)</span></td>                   
                        <td><span class="data-normal">@Html.CommaFormat(item.STARTPRICE)</span></td>
                        <td><span class="data-normal">@Html.CommaFormat(item.HIGHPRICE)</span></td>
                        <td><span calss="data-normal">@Html.CommaFormat(item.LOWPRICE)</span></td>
                        <td>@Html.RecentlyStockChgPriceFormat(item.CHGTYPE, item.CHGPRICE)</td>
                        <td>@Html.RecentlyStockChgRateFormat(item.CHGTYPE, item.CHGRATE)</td>
                        <td><span class="data-normal">@Html.CommaFormat(item.DEALING)</span></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="8">데이터가 없습니다.</td>
                </tr>
            }
        </table>
    </div>
    
</div>

<!-- Paginate -->
<div id="divPaging_dayStockPrice" class="box-paginate"></div>
<!-- //Paginate -->

