@using Wow.Tv.FrontWeb.Areas.Finance.Models
@using Wow.Tv.FrontWeb.Areas.Finance.Helpers
@using Wow.Fx
@model DomesticMainModel
@{
    ViewBag.Title = "국내증시";
    string wowTvScript = AppState["WowTvScript"].ToString();
    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string UserLoginUrl = AppState["UserLoginUrl"].ToString();
    string DomainUrlFront = AppState["DomainUrlFront"].ToString();
    string DomainUrlMember = AppState["DomainUrlMember"].ToString();
    string DomainUrlMyPage = AppState["DomainUrlMyPage"].ToString();
    int idx = 1;
}
@section scripts{
    @Scripts.Render("~/bundles/raphael")
    @Scripts.Render("~/bundles/webponentcommon")
    @Scripts.Render("~/bundles/webponentvisual")
    @Scripts.Render("~/bundles/chart")
    @Scripts.Render("~/bundles/chartstyle")
    <script src="@wowTvScript/Finance/Charts/stockChart.js"></script>
    <script src="@wowTvScript/Finance/DomesticStock/index.js"></script>
    <script>
        $(document).ready(function () {
            $(".contain-aside").hide();
            $(".contain-content").addClass("main");
            DomesticStockIndex.KospiChart();

            //실시간연동
            //typeVal(단일/마켓), codeVal(마켓구분), sec, classElements, checkHoliday
            MiddleData.CurrentMarket("INDEX", "1D0001", 10, $("#realKospi .middleStockData"), @Model.ChkStockHoliday.ToString().ToLower());
            MiddleData.CurrentMarket("INDEX", "2E4001", 10, $("#realKosdaq .middleStockData"), @Model.ChkStockHoliday.ToString().ToLower());
            MiddleData.CurrentMarket("INDEX", "1D2029", 10, $("#realKospi200 .middleStockData"), @Model.ChkStockHoliday.ToString().ToLower());

            @*MiddleData.CurrentMarket("INDEX", "1D0001", 5, $("#realKospi .middleStockData"), @Model.ChkStockHoliday.ToString().ToLower());
            MiddleData.CurrentMarket("INDEX", "2E4001", 5, $("#realKosdaq .middleStockData"), @Model.ChkStockHoliday.ToString().ToLower());
            MiddleData.CurrentMarket("INDEX", "1D2029", 5, $("#realKospi200 .middleStockData"), @Model.ChkStockHoliday.ToString().ToLower());*@

            DomesticStockIndex.GetRankList('', '0', $('#rank100'));
        });

    </script>
}
<!-- Content Area -->
@*<div style="color: white; height: 200px; background: red; font-size: 20px; text-align: center; padding-top: 50px;" id="jobNeed">
    작업 진행중<br/>
    1. 오늘의 공개방송<br /> 
    - 사진정보가 불확실하고 링크정보가 부족하다. (녹화방송, 카페, 가입)<br/>
    - 방송시간을 가져올 수 없다.
</div>*@
<!-- left area start -->
<div class="fina-main-left-area">

    <!-- 국내 /미국/아시아/환율 탭 start -->
    @*아시아 차트 삭제 20180111*@
    <div class="tabs-area tab-type1">
        <ul class="col4 tabs">
            <li class="on"><a href="javascript:void(0);">국내</a></li>
            <li><a href="javascript:void(0);" onclick="DomesticStockIndex.DowJonesChart();">미국</a></li>
            <li><a href="javascript:void(0);" @*onclick="DomesticStockIndex.SHCChart();"*@>아시아</a></li>
            <li><a href="javascript:void(0);" onclick="DomesticStockIndex.USDExchangeChart();">환율</a></li>
        </ul>
        <div class="tab-body type01 ">
            <p class="text-realtime-reload"><span class="title">실시간</span> @Html.MarketTimeStatus() </p>
            <!-- 국내 start -->
            <div class="tab-cont on">
                <div>
                    <div class="box on" id="realKospi">
                        <strong>코스피</strong>
                        @Html.PublishPriceMiddleFormat(Model.KospiInfo.ChgType, Model.KospiInfo.Price)
                        @Html.PublishChgPriceMiddleFormat(Model.KospiInfo.ChgType, Model.KospiInfo.ChgPrice)<!-- 등락 -->
                        @Html.DIndexChgRateMiddleFormat(Model.KospiInfo.ChgType, Model.KospiInfo.ChgRate)<!-- 등락폭 -->
                        <a href="javascript:void(0)" class="btn_openClose on" onclick="return DomesticStockIndex.KospiChart();">open</a>
                    </div>
                    <div class="obj-view on" style="height:228px;" id="kospiTimeChart"></div>
                </div>
                <div>
                    <div class="box" id="realKosdaq">
                        <strong>코스닥</strong>
                        @Html.PublishPriceMiddleFormat(Model.KosdaqInfo.ChgType, Model.KosdaqInfo.Price) <!--주가-->
                        @Html.PublishChgPriceMiddleFormat(Model.KosdaqInfo.ChgType, Model.KosdaqInfo.ChgPrice)<!-- 등락 -->
                        @Html.DIndexChgRateMiddleFormat(Model.KosdaqInfo.ChgType, Model.KosdaqInfo.ChgRate)<!-- 등락폭 -->
                        <a href="javascript:void(0)" class="btn_openClose on" onclick="return DomesticStockIndex.KosdaqChart();">open</a>
                    </div>
                    <div class="obj-view" style="height:228px;" id="kosdaqTimeChart"></div>
                </div>
                <div>
                    <div class="box" id="realKospi200">
                        <strong>코스피200</strong>
                        @Html.PublishPriceMiddleFormat(Model.Kospi200Info.ChgType, Model.Kospi200Info.Price) <!--주가-->
                        @Html.PublishChgPriceMiddleFormat(Model.Kospi200Info.ChgType, Model.Kospi200Info.ChgPrice)<!-- 등락 -->
                        @Html.DIndexChgRateMiddleFormat(Model.Kospi200Info.ChgType, Model.Kospi200Info.PChange)<!-- 등락폭 -->
                        <a href="javascript:void(0)" class="btn_openClose on" onclick="return DomesticStockIndex.Kospi200Chart();">open</a>
                    </div>
                    <div class="obj-view" style="height:228px;" id="kospi200TimeChart"></div>
                </div>
            </div>
            <!--// 국내 end -->
            <!-- 미국 start -->
            <div class="tab-cont">
                <div>
                    <div class="box on">
                        <strong>다우존스</strong>
                        @Html.PublishPriceFormat(Model.DowJonesInfo.chgtype, Model.DowJonesInfo.Price)<!-- 주가 -->
                        @Html.PublishChgPriceFormat(Model.DowJonesInfo.chgtype, Model.DowJonesInfo.ChgPrice)<!-- 등락 -->
                        @Html.DIndexChgRateFormat(Model.DowJonesInfo.chgtype, Model.DowJonesInfo.chgRate)<!-- 등락폭 -->
                        <a href="javascript:void(0)" class="btn_openClose on" onclick="return DomesticStockIndex.DowJonesChart();">open</a>
                    </div>
                    <div class="obj-view on" style="height:228px;" id="dowJoneTimeChart"></div>
                </div>
                <div>
                    <div class="box">
                        <strong>나스닥</strong>
                        @Html.PublishPriceFormat(Model.NasdaqInfo.chgtype, Model.NasdaqInfo.Price)<!-- 주가 -->
                        @Html.PublishChgPriceFormat(Model.NasdaqInfo.chgtype, Model.NasdaqInfo.ChgPrice)<!-- 등락 -->
                        @Html.DIndexChgRateFormat(Model.NasdaqInfo.chgtype, Model.NasdaqInfo.chgRate)<!-- 등락폭 -->
                        <a href="javascript:void(0)" class="btn_openClose on" onclick="return DomesticStockIndex.NasDaqChart();">open</a>
                    </div>
                    <div class="obj-view" style="height:228px;" id="nasdaqTimeChart"></div>
                </div>
                <div>
                    <div class="box">
                        <strong>S&amp;P500</strong>
                        @Html.PublishPriceFormat(Model.SANDP500Info.chgtype, Model.SANDP500Info.Price)<!-- 주가 -->
                        @Html.PublishChgPriceFormat(Model.SANDP500Info.chgtype, Model.SANDP500Info.ChgPrice)<!-- 등락 -->
                        @Html.DIndexChgRateFormat(Model.SANDP500Info.chgtype, Model.SANDP500Info.chgRate)<!-- 등락폭 -->
                        <a href="javascript:void(0)" class="btn_openClose on" onclick="return DomesticStockIndex.SAndP500Chart();">open</a>
                    </div>
                    <div class="obj-view" style="height:228px;" id="sandp500TimeChart"></div>
                </div>
            </div>
            <!--// 미국 end -->
            <!-- 아시아 start -->
            <div class="tab-cont">
                <div>
                    <div class="box on">
                        <strong>상해종합</strong>
                        @Html.PublishPriceFormat(Model.SHCInfo.chgtype, Model.SHCInfo.Price)<!-- 주가 -->
                        @Html.PublishChgPriceFormat(Model.SHCInfo.chgtype, Model.SHCInfo.ChgPrice)<!-- 등락 -->
                        @Html.DIndexChgRateFormat(Model.SHCInfo.chgtype, Model.SHCInfo.chgRate)<!-- 등락폭 -->
                        @*<a href="javascript:void(0)" class="btn_openClose on" onclick="return DomesticStockIndex.SHCChart();">open</a>*@
                    </div>
                    @*<div class="obj-view on" style="height:228px;" id="shcTimeChart"></div>*@
                    @* <!--퍼블에서 삭제 요청 2017.12.01-->
                        <div class="end on">
                        <strong>코스피</strong>
                        <p class="">상한가 <span class="font-color03">3</span></p>
                        <p class="">상승가 <span class="font-color03">442</span></p>
                        <p class="">하락 <span class="font-color05">333</span></p>
                        <p class="">하한가 <span class="font-color05">2</span></p>
                    </div>*@
                </div>
                <div>
                    <div class="box">
                        <strong>홍콩항생</strong>
                        @Html.PublishPriceFormat(Model.HSInfo.chgtype, Model.HSInfo.Price)<!-- 주가 -->
                        @Html.PublishChgPriceFormat(Model.HSInfo.chgtype, Model.HSInfo.ChgPrice)<!-- 등락 -->
                        @Html.DIndexChgRateFormat(Model.HSInfo.chgtype, Model.HSInfo.chgRate)<!-- 등락폭 -->
                        @*<a href="javascript:void(0)" class="btn_openClose on" onclick="return DomesticStockIndex.HSChart();">open</a>*@
                    </div>
                    @*<div class="obj-view" style="height:228px;" id="hsTimeChart"></div>*@
                    
                </div>
                <div>
                    <div class="box">
                        <strong>니케이</strong>
                        @Html.PublishPriceFormat(Model.NikkeiInfo.chgtype, Model.NikkeiInfo.Price)<!-- 주가 -->
                        @Html.PublishChgPriceFormat(Model.NikkeiInfo.chgtype, Model.NikkeiInfo.ChgPrice)<!-- 등락 -->
                        @Html.DIndexChgRateFormat(Model.NikkeiInfo.chgtype, Model.NikkeiInfo.chgRate)<!-- 등락폭 -->
                        @*<a href="javascript:void(0)" class="btn_openClose on" onclick="return DomesticStockIndex.NikkeiChart();">open</a>*@
                    </div>
                    @*<div class="obj-view" style="height:228px;" id="nikkeiTimeChart"></div>*@
                </div>
            </div>
            <!--// 아시아 end -->
            <!-- 환율 start -->
            <div class="tab-cont">
                <div>
                    <div class="box on">
                        <strong>미국 USD</strong>
                        @Html.DIndexExchangePriceFormat((Model.ExchangeUSDInfo.chgCode??0).ToString(), Model.ExchangeUSDInfo.Price) <!--현재가-->
                        @Html.DIndexExchangeChgPriceFormat((Model.ExchangeUSDInfo.chgCode ?? 0).ToString(), Model.ExchangeUSDInfo.chgPrice) <!--등락-->
                        @Html.DIndexExchangeChgRateFormat((Model.ExchangeUSDInfo.chgCode ?? 0).ToString(), Model.ExchangeUSDInfo.Price, Model.ExchangeUSDInfo.chgPrice)<!-- 등락폭 -->
                        <a href="javascript:void(0)" class="btn_openClose on" onclick="return DomesticStockIndex.USDExchangeChart();">open</a>
                    </div>
                    <div class="obj-view on" style="height:228px;" id="usdExchangeChart"></div>
                </div>
                <div>
                    <div class="box">
                        <strong>일본 JPY(100엔)</strong>
                        @Html.DIndexExchangePriceFormat((Model.ExchangeJPYInfo.chgCode??0).ToString(), Model.ExchangeJPYInfo.Price)
                        @Html.DIndexExchangeChgPriceFormat((Model.ExchangeJPYInfo.chgCode??0).ToString(), Model.ExchangeJPYInfo.chgPrice)<!-- 등락 -->
                        @Html.DIndexExchangeChgRateFormat((Model.ExchangeJPYInfo.chgCode ?? 0).ToString(), Model.ExchangeJPYInfo.Price, Model.ExchangeJPYInfo.chgPrice)<!-- 등락폭 -->
                        <a href="javascript:void(0)" class="btn_openClose on" onclick="return DomesticStockIndex.JPYExchangeChart();">open</a>
                    </div>
                    <div class="obj-view" style="height:228px;" id="jpyExchangeChart"></div>
                </div>
                <div>
                    <div class="box">
                        <strong>유럽연합EUR</strong>
                        @Html.DIndexExchangePriceFormat((Model.ExchangeEURInfo.chgCode??0).ToString(), Model.ExchangeEURInfo.Price)
                        @Html.DIndexExchangeChgPriceFormat((Model.ExchangeEURInfo.chgCode??0).ToString(), Model.ExchangeEURInfo.chgPrice)<!-- 등락 -->
                        @Html.DIndexExchangeChgRateFormat((Model.ExchangeEURInfo.chgCode ?? 0).ToString(), Model.ExchangeEURInfo.Price, Model.ExchangeEURInfo.chgPrice)<!-- 등락폭 -->
                        <a href="javascript:void(0)" class="btn_openClose on" onclick="return DomesticStockIndex.EURExchangeChart();">open</a>
                    </div>
                    <div class="obj-view" style="height:228px;" id="eurExchangeChart"></div>
                </div>
                <div>
                    <div class="box">
                        <strong>중국 CNY</strong>
                        @Html.DIndexExchangePriceFormat((Model.ExchangeCNYInfo.chgCode??0).ToString(), Model.ExchangeCNYInfo.Price)
                        @Html.DIndexExchangeChgPriceFormat((Model.ExchangeCNYInfo.chgCode??0).ToString(), Model.ExchangeCNYInfo.chgPrice)<!-- 등락 -->
                        @Html.DIndexExchangeChgRateFormat((Model.ExchangeCNYInfo.chgCode ?? 0).ToString(), Model.ExchangeCNYInfo.Price, Model.ExchangeCNYInfo.chgPrice)<!-- 등락폭 -->
                        <a href="javascript:void(0)" class="btn_openClose on" onclick="return DomesticStockIndex.CNYExchcangeChart();">open</a>
                    </div>
                    <div class="obj-view" style="height:228px;" id="cnyExchangeChart"></div>
                </div>
                
            </div>
            <!--// 환율 end -->
        </div>
    </div>
    <!--// 국내 /미국/아시아/환율 탭 end -->
    <!-- 주체별 동향 start -->
    <h3 class="title05">
        주체별 동향
        <span class="aside-right">@Html.DIndexMarketStatus()</span>
    </h3>
    <table class="tbl-type5">
        <caption>주체별 동향 상세</caption>
        <colgroup>
            <col style="width:30%;">
            <col style="width:25%;">
            <col style="width:25%;">
            <col style="width:;">
        </colgroup>
        <thead>
            <tr>
                <th scope="col">&nbsp;</th>
                <th scope="col">외국인</th>
                <th scope="col">기관</th>
                <th scope="col">개인</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.InvestPartInfo.ListData.Count > 0)
            {
                foreach (var item in Model.InvestPartInfo.ListData)
                {
                    <tr>
                        <td>@item.Market</td>
                        <td>@Html.DIndexPublishUpDownIconFormat(item.Foreigner)</td>
                        <td>@Html.DIndexPublishUpDownIconFormat(item.Security)</td>
                        <td>@Html.DIndexPublishUpDownIconFormat(item.Personal)</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4">데이터가 없습니다.</td>
                </tr>
            }

        </tbody>
    </table>
   
    <!--// 주체별 동향 end -->
    <!-- 오늘의 투자전략 start -->
    <h3 class="title05">
        오늘의 투자전략
        @*<a href="javascript:void(0)" class="btn-moreView" onclick="DomesticStockIndex.TodayInvestGo();" target="_blank">더 보기</a>*@
        <a href="http://invest.wownet.co.kr/invest/superior/list.asp?bcode=N01020100&mseq=152" class="btn-moreView" target="_blank">더 보기</a>
    </h3>
    <ul class="list-type4">
        @if (Model.GetTodayInvests.Count > 0)
        {
            foreach (var item in Model.GetTodayInvests)
            {
                @*<li><a href="#none" onclick="DomesticStockIndex.TodayInvestDetailGo('@item.SEQ', '@item.BCODE', '@item.REF', '@item.REF_STEP')">@Html.Raw(item.TITLE)</a></li>*@
                <li><a href="http://invest.wownet.co.kr/invest/superior/view.asp?seq=@item.SEQ&bcode=@item.BCODE&ref_step=@item.REF_STEP&ref=@item.REF" target="_blank">@Html.Raw(item.TITLE)</a></li>
            }
        }
        else
        {
            <li>데이터가 없습니다.</li>
        }
    </ul>
    <!--// 오늘의 투자전략 end -->
    <!-- 경제/주식 칼럼 start -->
    <h3 class="title05 mt50">
        경제/주식 칼럼
        <a href="javascript:void(0)" class="btn-moreView" onclick="return DomesticStockIndex.EconomyStockColumnGo('@DomainUrlFront');">더 보기</a>
    </h3>
    <ul class="list-type4">
        @if (Model.EconomyStockColumn.Count > 0)
        {
            foreach (var item in Model.EconomyStockColumn)
            {
                <li><a href="#none" onclick="return DomesticStockIndex.GoNewsRead('@item.ARTICLEID');">@item.TITLE</a></li>
            }

        }
        else
        {
            <li>데이터가 없습니다.</li>
        }
        
        
    </ul>
    <!--// 경제/주식 칼럼 end -->
    <!-- 광고배너 start -->
   @*<div class="m-imgBanner">
        <a href="http://www.wownet.co.kr/eventhome/wholelecture/20180113/sub_main.asp"><img src="@wowTvStyle/images/temp/180110_480x282_lecture.jpg" alt="advImg"></a>
    </div>*@
    <!-- 광고배너 start -->
    <div class="m-imgBanner">
        <!-- 20180130 광고 삽입 -->
        <iframe src='http://ad.wowtv.co.kr/NetInsight/html/wowtv/wowtv_newscenter/wowstock@stock_1' width='480' height='282' frameborder='0' scrolling='no' topmargin='0' leftmargin='0' marginwidth='0' marginheight='0'></iframe>
    </div>
    <!--// 광고배너 end -->

    <!-- 베스트 파트너 start -->
    <div class="best-partner bxslider">
        <h3 class="title05 mt50">베스트 파트너</h3>
        
        <div class="part-silder">            
        @if (Model.BestProHintStockingList.ListData.Count > 0)
            {
                foreach (var item in Model.BestProHintStockingList.ListData)
                {
                <div>
                    <img src="http://image.wownet.co.kr/@item.NEWphoto_small" alt="partnerPhoto">
                    <p>@item.NickName<br>최고수익률 @item.Rate%</p>
                    <span>기준일 @item.BaseDate</span>
                    <div class="btn-area"><a href="http://wowpro.wownet.co.kr/pro/pro_main_new/sub_main.asp?proID=@item.Pro_id" class="btn type1">홈</a></div>
                </div>
            }
        }
        else
        {
            <div>
                데이터가 없습니다.
            </div>
        }
            
            
        </div>
    </div>
    <!--// 베스트 파트너 end -->
    <!-- 주식 강연회 start -->
    <h3 class="title05 mt50">
        주식 강연회
        <a href="javascript:GoLecturesList();" class="btn-moreView">더 보기</a>
    </h3>
    <ul class="list-type4 w_334">
        @{
            int dataCnt = 0;
            if (Model.LecturesList.ListData.Count > 0)
            {
                foreach (var item in Model.LecturesList.ListData.Take(3))
                {
                    if (item.MAIN_CTGR == "S")
                    {
                        <li>
                            @*<span class="location">@item.PLACE</span>*@
                            <a href="javascript:GoLecturesDetail(@item.SEQ, @item.MSEQ)">@item.TITLE </a>
                            <span class="day">@item.LECTURES_DATE</span>
                        </li>
                        dataCnt++;
                    }
                }
            }            
            else
            {
                <ll>데이터가 없습니다.</ll>
            }
        }
    </ul>
    <!--// 주식 강연회 end -->
    <!-- 광고배너 start -->
    @*
    <div class="m-imgBanner">
        <a href="http://www.wownet.co.kr/eventhome/risingstock/sub_main.asp"><img src="@wowTvStyle/images/temp/180110_480x282_rising.jpg" alt="advImg"></a>
    </div>
    *@
    
    <div class="m-imgBanner">
        <!-- 20180130 광고 삽입 -->
        <iframe src='http://ad.wowtv.co.kr/NetInsight/html/wowtv/wowtv_newscenter/wowstock@stock_2' width='480' height='282' frameborder='0' scrolling='no' topmargin='0' leftmargin='0' marginwidth='0' marginheight='0'></iframe>
    </div>
    <!--// 광고배너 end -->
    <!-- 종목상담 프로그램 start -->
    <h3 class="title05 mt50">종목상담 프로그램</h3>
    <div class="box-adv-program">
        <a href="@DomainUrlFront/Broad/ProgramMain/Index?menuSeq=644&programCode=P2250"><img src="@wowTvStyle/images/temp/temp_finance04.png" alt="advProImg"></a>
        <a href="@DomainUrlFront/Broad/ProgramMain/Index?menuSeq=644&programCode=P2236"><img src="@wowTvStyle/images/temp/temp_finance05.png" alt="advProImg"></a>
    </div>
    <!--// 종목상담 프로그램 end -->
</div>
<!--// left area end -->
<!-- right area start -->
<div class="fina-main-right-area">

    <!-- 오늘의 공개방송 start -->
    <h3 class="title05">
        오늘의 공개방송
        <a href="http://wowpro.wownet.co.kr/pro/intro.asp?bcode=N04000000&mseq=177" class="btn-moreView" target="_blank">더 보기</a>
    </h3>
    <div class="box-public-broadcasting">
        @if (Model.TodayBroadCastInfo.ToList().Count > 0)
        {
            foreach (var item in Model.TodayBroadCastInfo.ToList())
            {
                string imgSrc = "http://image.wownet.co.kr" + item.NEWPHOTO_SMALL2.Replace("\\", "/");
                if (item.STATE == null || item.STATE.Value.Equals(0))
                {
                    <ul>
                        @*<li><a href="http://wowpro.wownet.co.kr/pro/pro_main_new/pro_record_broadcast.asp?currPage=1&bcode=N04070000&proId=@item.PRO_ID&mseq=226&pro_search=@item.PRO_ID&skey=nickname"><img src="@imgSrc" alt="photo"></a></li>
                            <li>
                                <a href="http://wowpro.wownet.co.kr/pro/pro_main_new/pro_record_broadcast.asp?currPage=1&bcode=N04070000&proId=@item.PRO_ID&mseq=226&pro_search=@item.PRO_ID&skey=nickname" class="tit-area">
                                    <strong>@item.NICKNAME @BroadcastFunction.GetInvestClass(item.INVESTKIND)</strong>
                                    <span>@item.BroadCastTime</span>
                                    <p>@item.BTITLE</p>
                                </a>
                            </li>*@
                        <li class="icon-position">
                            
                            <a href="http://wowpro.wownet.co.kr/pro/pro_main_new/sub_main.asp?proID=@item.PRO_ID" target="_blank">         
                                <span class="img-txt icon04"></span>
                                <img src="@imgSrc" alt="photo">
                            </a>
                        </li>
                        <li>
                            <a href="http://wowpro.wownet.co.kr/pro/pro_main_new/sub_main.asp?proID=@item.PRO_ID" target="_blank" class="tit-area">
                                <strong>@item.NICKNAME <strong class="gray">@BroadcastFunction.GetInvestClass(item.INVESTKIND)</strong></strong>
                                <span>@item.BroadCastTime</span>
                                <p>@item.BTITLE</p>
                            </a>
                        </li>
                        <li>
                            <a href="http://wowpro.wownet.co.kr/pro/pro_main_new/pro_record_broadcast.asp?currPage=1&bcode=N04070000&proId=@item.PRO_ID&mseq=226&pro_search=@item.PRO_ID&skey=nickname" target="_blank" class="link-blue">녹화방송</a>
                            <a href="http://wowpro.wownet.co.kr/common/profileLink.asp?nickname=@(HttpUtility.UrlEncode(item.NICKNAME, System.Text.Encoding.GetEncoding("euc-kr")))&link=cafe" target="_blank" class="link-blue">카페가기</a>
                            <a href="http://wowpro.wownet.co.kr/pro/pro_main_new/profile.asp?proID=@item.PRO_ID&ptype=11" target="_blank" class="link-blue">가입</a>
                        </li>
                    </ul>
                }
                else
                {
                    if (LoginHandler.IsLogin == true)
                    {
                        <ul>
                            @*<li><a href="http://wowpro.wownet.co.kr/pro/pro_main_new/pro_record_broadcast.asp?currPage=1&bcode=N04070000&proId=@item.PRO_ID&mseq=226&pro_search=@item.PRO_ID&skey=nickname"><img src="@imgSrc" alt="photo"></a></li>
                                <li>
                                    <a href="http://wowpro.wownet.co.kr/pro/pro_main_new/pro_record_broadcast.asp?currPage=1&bcode=N04070000&proId=@item.PRO_ID&mseq=226&pro_search=@item.PRO_ID&skey=nickname" class="tit-area">
                                        <strong>@item.NICKNAME @BroadcastFunction.GetInvestClass(item.INVESTKIND)</strong>
                                        <span>@item.BroadCastTime</span>
                                        <p>@item.BTITLE</p>
                                    </a>
                                </li>*@
                            <li class="icon-position">
                                <span class="img-txt icon03" onclick="Pro_Open('@item.BROOM', '@item.PRODUCT_ID_1', '@item.BMEMTYPE', 'L');" style="cursor: pointer;"></span>
                                <a href="http://wowpro.wownet.co.kr/pro/pro_main_new/sub_main.asp?proID=@item.PRO_ID" target="_blank">

                                    @*<img src="@wowTvStyle/images/common/ico_state_small_broadcast_nomembership_new.gif" />*@
                                    <img src="@imgSrc" alt="photo">
                                </a>
                            </li>
                            <li>
                                <a href="http://wowpro.wownet.co.kr/pro/pro_main_new/sub_main.asp?proID=@item.PRO_ID" target="_blank" class="tit-area">
                                    <strong>@item.NICKNAME <strong class="gray">@BroadcastFunction.GetInvestClass(item.INVESTKIND)</strong></strong>
                                    <span>@item.BroadCastTime</span>
                                    <p>@item.BTITLE</p>
                                </a>
                            </li>
                            <li>
                                <a href="http://wowpro.wownet.co.kr/pro/pro_main_new/pro_record_broadcast.asp?currPage=1&bcode=N04070000&proId=@item.PRO_ID&mseq=226&pro_search=@item.PRO_ID&skey=nickname" target="_blank" class="link-blue">녹화방송</a>
                                <a href="http://wowpro.wownet.co.kr/common/profileLink.asp?nickname=@(HttpUtility.UrlEncode(item.NICKNAME, System.Text.Encoding.GetEncoding("euc-kr")))&link=cafe" target="_blank" class="link-blue">카페가기</a>
                                <a href="http://wowpro.wownet.co.kr/pro/pro_main_new/profile.asp?proID=@item.PRO_ID&ptype=11" target="_blank" class="link-blue">가입</a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul>
                            @*<li><a href="http://wowpro.wownet.co.kr/pro/pro_main_new/pro_record_broadcast.asp?currPage=1&bcode=N04070000&proId=@item.PRO_ID&mseq=226&pro_search=@item.PRO_ID&skey=nickname"><img src="@imgSrc" alt="photo"></a></li>
                                <li>
                                    <a href="http://wowpro.wownet.co.kr/pro/pro_main_new/pro_record_broadcast.asp?currPage=1&bcode=N04070000&proId=@item.PRO_ID&mseq=226&pro_search=@item.PRO_ID&skey=nickname" class="tit-area">
                                        <strong>@item.NICKNAME @BroadcastFunction.GetInvestClass(item.INVESTKIND)</strong>
                                        <span>@item.BroadCastTime</span>
                                        <p>@item.BTITLE</p>
                                    </a>
                                </li>*@
                            <li class="icon-position">
                                <span class="img-txt icon03" onclick="Pro_Open_Cast('@item.BROOM','@item.PRODUCT_ID_1','@item.BMEMTYPE','L','tv');" style="cursor: pointer;"></span>
                                <a href="http://wowpro.wownet.co.kr/pro/pro_main_new/sub_main.asp?proID=@item.PRO_ID" target="_blank">

                                    @*<img src="@wowTvStyle/images/common/ico_state_small_broadcast_nomembership_new.gif" />*@
                                    <img src="@imgSrc" alt="photo">
                                </a>
                            </li>
                            <li>
                                <a href="http://wowpro.wownet.co.kr/pro/pro_main_new/sub_main.asp?proID=@item.PRO_ID" target="_blank" class="tit-area">
                                    <strong>@item.NICKNAME <strong class="gray">@BroadcastFunction.GetInvestClass(item.INVESTKIND)</strong></strong>
                                    <span>@item.BroadCastTime</span>
                                    <p>@item.BTITLE</p>
                                </a>
                            </li>
                            <li>
                                <a href="http://wowpro.wownet.co.kr/pro/pro_main_new/pro_record_broadcast.asp?currPage=1&bcode=N04070000&proId=@item.PRO_ID&mseq=226&pro_search=@item.PRO_ID&skey=nickname" target="_blank" class="link-blue">녹화방송</a>
                                <a href="http://wowpro.wownet.co.kr/common/profileLink.asp?nickname=@(HttpUtility.UrlEncode(item.NICKNAME, System.Text.Encoding.GetEncoding("euc-kr")))&link=cafe" target="_blank" class="link-blue">카페가기</a>
                                <a href="http://wowpro.wownet.co.kr/pro/pro_main_new/profile.asp?proID=@item.PRO_ID&ptype=11" target="_blank" class="link-blue">가입</a>
                            </li>
                        </ul>
                    }

                }

            }
        }
        else
        {
            <ul>
                <li>방송정보가 없습니다.</li>
            </ul>
        }
    </div>
    <!--// 오늘의 공개방송 end -->
    <!-- 오늘의 주요종목 start -->
    <h3 class="title05 mt50">
        오늘의 주요종목
        @* 기획삭제 요청 2017.12.04 <a href="javascript:void(0)" class="btn-moreView">더 보기</a>*@
    </h3>
    <div class="tabs-area tab-type2">
        <ul class="tabs col3">
            <li class="on"><a href="#none">관심종목</a></li>
            <li><a href="#none">인기검색종목</a></li>
            <li><a href="#none">최근검색종목</a></li>
        </ul>
        <div class="tab-body type02">
            <!-- 관심종목 start -->
            <div class="tab-cont on">
                @if (!LoginHandler.IsLogin)
                {
                    <!-- login하지 않았을 때 아래 내용 사용함 -->
                    <div class="data-no">
                        <p class="txt-data-no">로그인 후 관심종목을 등록하시면<br>등록하신 종목의 시세를 쉽게 보실 수 있습니다</p>
                        <div class="btn-area">
                            <span class="btn-type1"><a href="@UserLoginUrl/?returnurl=@DomainUrlFront/Finance/DomesticStock/Index">로그인</a></span>
                            <span class="btn-type2"><a href="@DomainUrlMember/Join/RegistMain">회원가입</a></span>
                        </div>
                    </div>
                }
                else
                {
                    
                    <table class="table-type1">
                        <caption>관심종목 상세</caption>
                        <colgroup>
                            <col style="width:31%;">
                            <col style="width:23%;">
                            <col style="width:23%;">
                            <col style="width:23%;">
                        </colgroup>
                        <thead>
                        <tr>
                            <th scope="col">종목명</th>
                            <th scope="col">현재가</th>
                            <th scope="col">전일대비</th>
                            <th scope="col">등락률(%)</th>
                        </tr>
                        </thead>
                        <tbody>
                                @if (Model.MyFavoriteList.ListData.Count > 0)
                                {
                                    foreach (var item in Model.MyFavoriteList.ListData)
                                    {
                                        <tr>
                                            <td><a href="#none" onclick="DomesticStockIndex.DomesticStockDetailGo('@DomainUrlFront','@item.stockcode.Replace("A", "")');">@item.stock_wanname</a></td>
                                            <td class="number">@Html.DomesticStockDetailPriceFormat(item.chg_type, item.curr_price)</td>
                                            <td class="number">@Html.DomesticStockDetailChgPriceFormat(item.chg_type, item.net_chg)</td>
                                            <td class="number">@Html.DomesticStockDetailChgRateFormat(item.chg_type, item.curr_price, item.net_chg)</td>
                                        </tr>

                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="4">등록된 관심종목이 없습니다.</td>
                                    </tr>
                                }                            
                        </tbody>
                    </table>
                    <span class="btn-type2"><a href="#none" onclick="return DomesticStockIndex.MyFavoriteGo('@DomainUrlMyPage');">나의  관심종목 더보기</a></span> 
                }                
            </div>
            <!--// 관심종목 end -->
            <!-- 인기검색종목 start -->
            <div class="tab-cont">
                <table class="table-type1">
                    <caption>인기검색종목 상세</caption>
                    <colgroup>
                        <col style="width:10%;">
                        <col style="width:40%;">
                        <col style="width:25%;">
                        <col style="width:25%;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="col">순위</th>
                            <th scope="col">종목명</th>
                            <th scope="col">현재가</th>
                            <th scope="col">전일비</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.HotSearchList.Count > 0)
                        {
                            foreach (var item in Model.HotSearchList.Take(5))
                            {
                                <tr>
                                    <td>@idx</td>
                                    <td><a href="#none" onclick="DomesticStockIndex.DomesticStockDetailGo('@DomainUrlFront','@item.arj_code.Replace("A", "")');">@item.stock_name</a></td>
                                    <td class="number">@Html.DomesticStockDetailPriceFormat(item.chg_type, item.curr_price)</td>
                                    <td class="number">@Html.DomesticStockDetailChgRateFormat(item.chg_type, item.curr_price, item.net_chg)</td>
                                </tr>
                                idx += 1;
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4">데이터가 없습니다.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!--// 인기검색종목 end -->
            <!-- 최근검색종목 start -->
            <div class="tab-cont">
                <table class="table-type1">
                    <caption>최근검색종목 상세</caption>
                    <colgroup>
                        <col style="width:10%;">
                        <col style="width:40%;">
                        <col style="width:25%;">
                        <col style="width:25%;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="col">순위</th>
                            <th scope="col">종목명</th>
                            <th scope="col">현재가</th>
                            <th scope="col">전일비</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.CurrentSearchStockList.ListData.Count > 0)
                        {
                            idx = 1;
                            foreach (var item in Model.CurrentSearchStockList.ListData.Take(5))
                            {
                                <tr>
                                    <td>@idx</td>
                                    <td><a href="#none" onclick="DomesticStockIndex.DomesticStockDetailGo('@DomainUrlFront','@item.ARJ_CODE.Replace("A", "")');">@item.STOCK_NAME</a></td>
                                    <td class="number">@Html.DomesticStockDetailPriceFormat(item.CHG_TYPE, item.CURR_PRICE)</td>
                                    <td class="number">@Html.DomesticStockDetailChgRateFormat(item.CHG_TYPE, item.CURR_PRICE, item.NET_CHG)</td>
                                </tr>
                                idx = idx + 1;
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4">데이터가 없습니다.</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <!--// 최근검색종목 end -->
        </div>
    </div>
    <!--// 오늘의 주요종목 end -->
    <!-- 증시뉴스 start -->
    <h3 class="title05 mt50">증시뉴스</h3>
    <div class="tabs-area tab-type2">
        <ul class="tabs col2">
            <li class="on"><a href="#none">오늘의 주요뉴스</a></li>
            <li><a href="#none" onclick="return DomesticStockIndex.CharacterNewsMouseOver('@Model.GetCharacterStockNewsList.ListData[0].StockData.arj_code.Replace("A", "")', '@Model.GetCharacterStockNewsList.ListData[0].StockData.stock_wanname', '@Model.GetCharacterStockNewsList.ListData[0].StockData.chg_type', '@Model.GetCharacterStockNewsList.ListData[0].StockData.curr_price', '@Model.GetCharacterStockNewsList.ListData[0].StockData.net_chg');")">특징주 뉴스</a></li>
        </ul>
        <div id="stockNews" class="tab-body">
            <!-- 오늘의 주요뉴스 start -->
            <div class="tab-cont on">
                <ul class="list-type5">
                    @if (Model.GetTodayStockNewsList.ListData.Count > 0)
                    {
                        foreach (var item in Model.GetTodayStockNewsList.ListData)
                        {
                            <li>
                                <a href="#none" onclick="return DomesticStockIndex.GoNewsRead('@item.ARTICLEID')">@item.TITLE</a>
                                <span>@String.Format("{0:yyyy-MM-dd}", item.ARTDATE)</span>
                            </li>
                        }
                    }
                    else
                    {
                        <li>
                            데이터가 없습니다.
                        </li>
                    }
                </ul>
            </div>
            <!--// 오늘의 주요뉴스 end -->
            <!-- 특징주 뉴스 start -->
            <div class="tab-cont">
                <div class="box-feature-news">
                    <!-- chart area -->
                    <div class="chart-view" style="width:301px;height:247px">
                        <img src="" id="characterChart" />
                    </div>

                    <!-- chart obj area -->
                    <div class="chart-cont">
                        <div class="obj">
                            @*<p class="obj-name">롯데쇼핑<span>025530</span></p>
                            <span class="data-up price-stock">8,888.888.00</span><!-- 주가 -->
                            <span class="box">
                                <span class="data-up icon">22.3</span><!-- 등락 -->
                                <span class="data-up symbol">0.000%</span><!-- 등락폭 -->
                            </span>*@
                        </div>
                        <ul class="list-type6">
                            @if (Model.GetCharacterStockNewsList.ListData.Count > 0)
                            {
                                foreach (var item in Model.GetCharacterStockNewsList.ListData)
                                {
                                    <li><a href="" onmouseover="DomesticStockIndex.CharacterNewsMouseOver('@item.StockData.arj_code.Replace("A", "")', '@item.StockData.stock_wanname', '@item.StockData.chg_type', '@item.StockData.curr_price', '@item.StockData.net_chg');" onclick="return DomesticStockIndex.CharactorStockDetialGo('@DomainUrlFront','@item.NewsData.ARTICLEID')">@item.NewsData.TITLE.Replace("[특징주]", "")</a></li>
                                }
                            }
                            else
                            {
                                <li>데이터가 없습니다.</li>
                            }

                        </ul>
                    </div>
                </div>
            </div>
            <!--// 특징주 뉴스 end -->
        </div>
    </div>
    <!--// 증시뉴스 end -->
    <!-- 업종별/테마별 상위 start -->
    <!---->
    <h3 class="title05 mt50">업종별/테마별 상위</h3>
    <div class="tabs-area tab-type2">
        <ul class="tabs col2">
            <li class="on"><a href="javascript:void(0)">업종별 상위</a></li>
            <li><a href="javascript:void(0)">테마별 상위</a></li>
        </ul>
        <div class="tab-body type02">
            <!-- 업종별 상위 start -->
            <div class="tab-cont on">
                <table class="table-type1">
                    <caption>업종별 상위</caption>
                    <colgroup>
                        <col style="width:33%;">
                        <col style="width:20%;">
                        <col style="width:;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="col">종목명</th>
                            <th scope="col">전일대비</th>
                            <th scope="col">등락 그래프</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.GetIndustryPartUpperKospiList.Count > 0)
                        {
                            foreach (var item in Model.GetIndustryPartUpperKospiList)
                            {
                                <tr>
                                    <td>
                                        @Html.ActionLink(item.korName, "IndustryPartDetail", "DomesticStock", new
                                        {
                                            Market = "t",
                                            //OrderBy = condition.OrderBy,
                                            //TargetDt = condition.TargetDT,
                                            PartCode = item.partCode,
                                            PartName = item.korName,
                                            MenuSeq = 476
                                        }, null)
                                    </td>
                                    <td>@Html.PublishMainIndustryUpper10(item.ChgType, item.PChange)</td>
                                    @Html.PublishGraphData(item.ChgType, item.UCount, item.MCount, item.DCount)
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="3">데이터가 없습니다.</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <!--// 업종별 상위 end -->
            <!-- 테마별 상위 start -->
            <div class="tab-cont">
                <table class="table-type1">
                    <caption>업종별 상위</caption>
                    <colgroup>
                        <col style="width:33%;">
                        <col style="width:20%;">
                        <col style="width:;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="col">업종명</th>
                            <th scope="col">전일대비</th>
                            <th scope="col">주도주</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.GetThemaPartUpperList.Count > 0)
                        {
                            foreach (var item in Model.GetThemaPartUpperList)
                            {
                                if (item.Names == null)  // select * from FNC_GetThemaJisuTop(1, 11, 19) 에 테마주에 속한 종목이 없을때 
                                {
                                    <tr>
                                        <td><a href="#none" onclick="DomesticStockIndex.ThemaPartgo('@DomainUrlFront', '@item.PartNum');">@item.PartName</a></td>
                                        @if (item.Rate > 0)
                                        {
                                            <td class="data-up icon">@String.Format("{0:F2}", Math.Round(item.Rate ?? 0, 2))%<!--등락율--></td>
                                        }
                                        else
                                        {
                                            <td class="data-down icon">@String.Format("{0:F2}", Math.Round(item.Rate ?? 0, 2))%<!--등락율--></td>
                                        }
                                        <td class="text"></td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td><a href="#none" onclick="DomesticStockIndex.ThemaPartgo('@DomainUrlFront', '@item.PartNum');">@item.PartName</a></td>
                                        @if (item.Rate > 0)
                                        {
                                            <td class="data-up icon">@String.Format("{0:F2}", Math.Round(item.Rate ?? 0, 2))%<!--등락율--></td>
                                        }
                                        else
                                        {
                                            <td class="data-down icon">@String.Format("{0:F2}", Math.Round(item.Rate ?? 0, 2))%<!--등락율--></td>
                                        }
                                        <td class="text"><a href="#none" onclick="DomesticStockIndex.DomesticStockDetailGo('@DomainUrlFront', '@item.Codes.Split(',')[0].Replace("A", "")');" class="type">@item.Names.Split(',')[0]</a></td>
                                    </tr>
                                }

                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="3">데이터가 없습니다.</td>
                            </tr>
                            
                        }
                        
                        
                    </tbody>
                </table>
            </div>
            <!--// 테마별 상위 end -->
        </div>
    </div>
    <!--// 업종별/테마별 상위 end -->
    <!-- 랭킹 100 start -->
    <h3 class="title05 mt50">
        랭킹 100
        <a href="#none" class="btn-moreView" onclick="return DomesticStockIndex.RankingStock100Go('@DomainUrlFront');">더 보기</a>
    </h3>
    <div class="tabs-area tab-type2">
        <ul class="tabs col3">
            <li class="on"><a href="javascript:DomesticStockIndex.GetRankList('','0', $('#rank100'));">전체</a></li>
            <li><a href="javascript:DomesticStockIndex.GetRankList('','1', $('#rank100'));">코스피</a></li>
            <li><a href="javascript:DomesticStockIndex.GetRankList('','2', $('#rank100'));">코스닥</a></li>
        </ul>
        <form id="rankfrm">
            <input type="hidden" name="TrId" value="5001" />
            <input type="hidden" name="RnkTime" />
            <input type="hidden" name="Sect" />
            <input type="hidden" name="Count" value="100" />
        </form>

        <div class="tab-body type03">
            <!-- 전체 start -->
            <div class="tab-cont on" id="rank100">
                
            </div>
            <!--// 전체 end -->
            @*<!-- 코스피 start -->
            <div class="tab-cont" id="rankKospi">
                
            </div>
            <!--// 코스피 end -->
            <!-- 코스닥 start -->
            <div class="tab-cont" id="rankKosdaq">
                
            </div>
            <!--// 코스닥 end -->*@
        </div>
    </div>
    <!--// 랭킹 100 end -->

</div>
<!--// right area end -->
<!-- 와우 금융 서비스 start -->
<div class="box-finan-serv">
    <h3 class="title05 mt50">와우 금융 서비스</h3>
    <div>
        <div>
            <a href="http://www.wowtv.co.kr/Broad/OnAir/Index?menuSeq=643">
                <img src="@wowTvStyle/images/finance/icon_service_01.png" alt="iconImg">
                <span>실시간 방송</span>
            </a>
            <a href="http://wowpro.wownet.co.kr/pro/intro.asp?bcode=N04000000&mseq=177">
                <img src="@wowTvStyle/images/finance/icon_service_02.png" alt="iconImg">
                <span>파트너 방송</span>
            </a>
            <a href="http://www.wowfa.co.kr/">
                <img src="@wowTvStyle/images/finance/icon_service_03.png" alt="iconImg">
                <span>증권교육</span>
            </a>
            <a href="http://www.wowstar.co.kr/p2p/main.asp">
                <img src="@wowTvStyle/images/finance/icon_service_04.png" alt="iconImg">
                <span>P2P 투자</span>
            </a>
        </div>
        <div>
            <a href="http://www.wownet.co.kr/wowband/sub_main.asp?bcode=S04020000&mseq=2936">
                <img src="@wowTvStyle/images/finance/icon_service_05.png" alt="iconImg">
                <span>와우밴드</span>
            </a>
            <a href="http://www.wownet.co.kr/daebakne/stocktalk/stocktalk_menu_info.asp?bcode=N74070200&mseq=2666&mseq=2773">
                <img src="@wowTvStyle/images/finance/icon_service_06.png" alt="iconImg">
                <span>주식창</span>
            </a>
            <a href="http://board.wownet.co.kr/board/movie/list.asp?bcode=N03020000&mseq=160">
                <img src="@wowTvStyle/images/finance/icon_service_07.png" alt="iconImg">
                <span>VOD</span>
            </a>
        </div>
    </div>
</div>
<!--// 와우 금융 서비스 end -->
<!-- //Content Area -->

