@using Wow.Tv.FrontWeb.Areas.Finance.Helpers
@using Wow.Tv.Middle.Model.Db22.stock
@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.Middle.Model.Db22.stock.Finance

@model ListModel<usp_wownet_kpi200_stock_group_new_Result>
@{
    string wowTvScript = AppState["WowTvScript"].ToString();
    string DomainUrlFront = AppState["DomainUrlFront"].ToString();
    //string wowTvScript = System.Configuration.ConfigurationManager.AppSettings["WowTvScript"].ToString();
    Layout = null;
}

<script>
    var totalDataCount_enrollmentTopKPI200 = "@Model.TotalDataCount";
</script>
<script src="@wowTvScript/Finance/DomesticStock/SiseEnrollmentTopKPI200List.js"></script>
<!-- Table -->
<div class="table-type1 row5">
    <table>
        <caption>편입종목상위</caption>
        <colgroup>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
        </colgroup>
        <thead>
            <tr>
                <th>종목명</th>
                <th>체결가</th>
                <th>전일대비</th>
                <th>등락률</th>
                <th>변동량(천주)</th>
                <th>거래량(천주)</th>
                <th>거래대금(백만)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListData)
            {
                <tr>
                    <td><a href="#none" onclick="SiseEnrollmentTopKPI200List.DomesticStockDetailGo('@DomainUrlFront','@item.ShortCode.Replace("A", "")');">@item.korName</a></td>
                    <td class="number">@item.TradePrice</td>
                    <td>@Html.PublishChgPriceFormat(item.ChgType, item.ChgPrice)</td>
                    <td>@Html.PublishUpDownSymbolPChangeFormat(item.ChgType, item.ChgRate) </td>
                    <td>@Html.CommaFormat(item.TotalVol)</td>
                    <td>@Html.CommaFormat(item.TotalMoney)</td>
                    <td>@Html.CommaFormat(item.TotalMarketValue)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<!-- //Table -->
<!-- Paginate -->
<div id="divPaging_enrollmentTopKPI200" class="box-paginate"></div>
<!-- //Paginate -->




