@using Wow.Tv.Middle.Model.Db22.stock
@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.FrontWeb.Areas.Finance.Helpers
@model ListModel<usp_GetThemaJisu_Result>
@{
    ViewBag.Title = "ThemaPart";
    string wowTvScript = AppState["WowTvScript"].ToString();

    string requestPartNum = "";

    if (!String.IsNullOrEmpty(Request["PartNum"]))
    {
        requestPartNum = Request["PartNum"].ToString();
    }

}
@section styles{
    <style>
        .updownGraph {
            width: 100%;
            height: 100px;
            border: 1px solid black;
        }
        .updownGraph span {
            display: none;
        }
    </style>
}
@section scripts{

    @Scripts.Render("~/bundles/raphael")
    @Scripts.Render("~/bundles/webponentcommon")
    @Scripts.Render("~/bundles/webponentvisual")
    @Scripts.Render("~/bundles/chart")
    @Scripts.Render("~/bundles/chartstyle")

    <script src="@wowTvScript/Finance/finance_common.js"></script>
    <script src="@wowTvScript/Finance/Charts/stockChart.js"></script>
    <script src="@wowTvScript/Finance/DomesticStock/ThemaPart.js"></script>
    <script>

        //차트에서 사용할 스크립트
        $(document).ready(function () {
            $(".updownGraph").each(function (index, elem) {
                var riseCnt = $(this).children("#riseCnt").text();
                var totalCnt = $(this).children("#totalCnt").text();
                var fallCnt = $(this).children("#fallCnt").text();
                var chartData = { TotalCnt: totalCnt, RiseCnt: riseCnt, FallCnt: fallCnt };
                //FinanceChartJs.ThemaUpDownChartDisplay($(".updownGraph"), chartData);
                $('.WEBPONENT-TRIAL-UI').css('background', '');
            });

            
            var requestPartNum = @requestPartNum;
            if (requestPartNum != "undefined" || requestPartNum != "")
            {
                //alert("넘어온다");
                //var currentPartNum = $(this).next().val();
                //console.log(currentPartNum);
                //$("#frmList_ThemaPartNameList_" + requestPartNum).val(requestPartNum);
                //console.log($("#frmList_ThemaPartNameList_" + currentPartNum).val());
                //$("#frmList_ThemaPartNameList_" + requestPartNum)

                $("#auto_" + requestPartNum).addClass('on');
                $("#auto_" + requestPartNum).next('.accordion').addClass('on');
                $("#auto_" + requestPartNum + " .view-detail button").text('닫기');
                DomesticStockThema.ThemaPartNameList(requestPartNum);
                //$(".btn-type4.view-detail button").click();
            }
           
            
        });
    </script>
}

<h1 class="title">테마별</h1>

<h2 class="title">업종별 투자 매매동향</h2>

<div class="table-type1">
    <table>
        <colgroup>
            <col>
            <col width="15%">
            <col width="25%">
            <col width="25%">
            <col width="13%">
        </colgroup>
        <thead>
            <tr>
                <th rowspan="2">테마명</th>
                <th rowspan="2">전일대비</th>
                <th colspan="2">등락그래프</th>
                <th rowspan="2">세부보기</th>
            </tr>
            <tr>
                <th style="border-left:1px solid #ebe9ea">상승</th>
                <th>하락</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model.ListData)
            {
                //int tmpNum1 = Convert.ToInt32(( item.MiddleCnt != 0 ? ((float?)item.RiseCnt + item.MiddleCnt) / item.TotalCnt : (float?)item.RiseCnt / item.TotalCnt ) * 100);
                //int tmpNum2 = Convert.ToInt32(( item.MiddleCnt != 0 ? ((float?)item.FallCnt + item.MiddleCnt) / item.TotalCnt : (float?)item.FallCnt / item.TotalCnt ) * 100);
                //int tmpNum1 = Convert.ToInt32(( (float?)item.RiseCnt / ( (item.MiddleCnt == 0 ? : item.TotalCnt-item.MiddleCnt)) ) * 100);
                //int tmpNum2 = Convert.ToInt32(( (float?)item.FallCnt / ( (item.MiddleCnt == 0 ? item.TotalCnt : item.TotalCnt-item.MiddleCnt)) ) * 100);
                //int tmpNum1 = Convert.ToInt32((   (float?)item.RiseCnt / (item.TotalCnt - item.MiddleCnt)    ) * 100);
                //int tmpNum2 = Convert.ToInt32((   (float?)item.FallCnt / (item.TotalCnt - item.MiddleCnt)    ) * 100);
                //int tmpNum1 = Convert.ToInt32(((float?)item.RiseCnt / ((item.TotalCnt > item.MiddleCnt) ? (item.TotalCnt - item.MiddleCnt) : item.TotalCnt) ) * 100);
                //int tmpNum2 = Convert.ToInt32(((float?)item.FallCnt / ((item.TotalCnt > item.MiddleCnt) ? (item.TotalCnt - item.MiddleCnt) : item.TotalCnt) ) * 100);
        int tmpNum1 = Convert.ToInt32(( (float?)item.RiseCnt / item.TotalCnt) * 100);
        int tmpNum2 = Convert.ToInt32(( (float?)item.FallCnt / item.TotalCnt) * 100);
        //int tmpNum1 = Convert.ToInt32(((float?)item.RiseCnt / item.TotalCnt) * 100);
        //int tmpNum2 = Convert.ToInt32(((float?)item.FallCnt / ((item.TotalCnt > item.MiddleCnt) ? (item.TotalCnt - item.MiddleCnt) : item.TotalCnt)) * 100);
        string graphRiseRate = (tmpNum1 > 0 && item.FallCnt == 0 ? tmpNum1 - 10 : tmpNum1).ToString() + "%";
        string graphDownRate = (tmpNum2 > 0 && item.RiseCnt == 0 ? tmpNum2 - 10 : tmpNum2).ToString() + "%";
                @*<tr>
                    <td colspan="5">
                        TotalCnt : @(item.TotalCnt) / RiseCnt : @(item.RiseCnt) / FallCnt : @(item.FallCnt)<br/>
                        RiseRate : @(graphRiseRate) / DownRate : @(graphDownRate)
                    </td>
                </tr>*@
                <tr id="auto_@item.PartNum">
                    <td class="text">@item.PartName</td>
                    <td>@Html.PublishChgRateFormat(item.Rate)<!--등락율--></td>
                    @*<td colspan="2" class="updownGraph">
                        <span id="riseCnt">@item.RiseCnt</span>
                        <span id="totalCnt">@item.TotalCnt</span>
                        <span id="fallCnt">@item.FallCnt</span>
                    </td>*@
                    <td class="graph-up"><span class="data-up">@item.RiseCnt</span> <span class="graph-horizon" style="width:@graphRiseRate;"></span></td><!-- 그래프 값 스타일 숫자 변경  -->
                    <td class="graph-down"><span class="graph-horizon" style="width:@graphDownRate;"></span> <span class="data-down">@item.FallCnt</span></td><!-- 그래프 값 스타일 숫자 변경 -->
                    <td>
                        <span class="btn-type4 view-detail"><button>보기</button></span>
                        <input type="hidden" id="currentPartNum" value="@item.PartNum" />
                    </td>
                </tr>
                <tr class="accordion">
                    <td colspan="5">
                        <div class="table-type1">

                            <form id="frmList_ThemaPartNameList_@item.PartNum">
                                <input type="hidden" name="partNum" value="@item.PartNum" />
                                <div id="divList">

                                </div>
                            </form>
                            
                            <span class="btn-close-accordion"><button>닫기</button></span>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


