@using Wow.Tv.FrontWeb.Areas.MyPin.Models
@model IList<Wow.Tv.Middle.Model.Db49.wownet.TAB_SCRAP_MENU>


@{
    Layout = null;
    string wowTvScript = AppState["WowTvScript"].ToString();

    var condition = ViewBag.Condition as ScrapCondition;
}

 <script>
    var pinType = "@condition.PinType";
    var scrapId ="@condition.ScrapId";
</script>
    <script type="text/javascript" src="@wowTvScript/MyPin/Scrap/PopupScrap.js"></script>

    <!-- POPUP Layer -->
    <div id="divPopup" class="popup-type1" style="display:block;">
        <div class="inner" id="divMypinScrap">
            <!-- title -->
            <h1 class="title">
                @if (condition.PinType.Equals("Report"))
            {
                    @:마이핀 - 기자
            }
            else if (condition.PinType.Equals("Program"))
            {
                    @:마이핀 - 프로그램
            }
            else if (condition.PinType.Equals("Partner"))
            {
                    @:마이핀 - 파트너
            }
            </h1>
            <!-- // title -->
            <a href="#none" class="pop-close-btn" id="btnExit">닫기</a>
            <!-- content -->
            <div class="content-box">
                <div class="pop-top-box">

                    @if (condition.PinType.Equals("Report"))
                    {
                        <h2>아래의 기자를 핀 하시겠습니까?</h2>
                        <div class="top-box single">
                            @condition.Name
                        </div>

                    }
                    else if (condition.PinType.Equals("Program"))
                    {
                        <h2>아래의 프로그램을 핀 하시겠습니까?</h2>
                        <div class="top-box single">
                            @condition.Name
                        </div>
                    }
                    else if (condition.PinType.Equals("Partner"))
                    {
                        <h2>아래의 파트너를 핀 하시겠습니까?</h2>
                        <div class="top-box single">
                            @condition.Name
                        </div>
                    }

                </div>
                <div class="content-box">
                    @if (condition.PinType.Equals("Report"))
                    {
                        @*<div class="top-txt">마이핀-기자</div>*@
                        <div class="mypin-info">기자를 핀 하시면 해당 기자의 뉴스를 <span class="font-color02">마이페이지 > 나의 핀</span>에서 쉽게 보실 수 있습니다.</div>
                    }
                    else if (condition.PinType.Equals("Program"))
                    {
                        @*<div class="top-txt">마이핀-프로그램</div>*@
                        <div class="mypin-info">프로그램을 핀 하시면 해당 프로그램을 <span class="font-color02">마이페이지 > 나의 핀</span>에서 쉽게 보실 수 있습니다.</div>
                    }
                    else if (condition.PinType.Equals("Partner"))
                    {
                        @*<div class="top-txt">마이핀-파트너</div>*@
                        <div class="mypin-info">파트너를 핀 하시면 해당 파트너를 <span class="font-color02">마이페이지 > 나의 핀</span>에서 쉽게 보실 수 있습니다.</div>
                    }
                    <br />
                </div>
                <hr class="division1">
                <div class="box-button">
                    <span class="btn-type1"><button type="button" id="btnFinSave">핀</button></span>
                    <span class="btn-type2"><button type="button" id="btnCancle">취소</button></span>
                </div>
            </div>
            <!-- content -->
        </div>
    </div>

    <!-- POPUP Layer -->
