@using Wow.Tv.FrontWeb.Areas.MyPin.Models
@model IList<Wow.Tv.Middle.Model.Db49.wownet.TAB_SCRAP_MENU>


@{
    Layout = null;
    string wowTvScript = AppState["WowTvScript"].ToString();
    var condition = ViewBag.Condition as ScrapCondition;
}

<script>
    var pinType = "@condition.PinType";
    var scrapId = "@condition.ScrapId";
    var name ="@condition.Name";
</script>

<script type="text/javascript" src="@wowTvScript/lib.js"></script>
<script type="text/javascript" src="@wowTvScript/design.js"></script>
<script type="text/javascript" src="@wowTvScript/MyPin/Scrap/PopupNewsScrap.js"></script>
    <!-- POPUP Layer -->
    <div id="divPopup" class="news popup-type1" style="display:block;">

        <div class="inner" id="divMypinNewsScrap">
            <!-- title -->
            <h1 class="title">마이핀-뉴스</h1>
            <!-- // title -->
            <a href="#none" class="pop-close-btn" id="btnExit">닫기</a>

            <div class="pop-top-box">
                <h2>아래의 뉴스를 핀 하시겠습니까?</h2>
                <div class="top-box">
                    @condition.Name
                </div>
            </div>

            <!-- content -->
            <div class="content-box">
                <div class="top-txt">폴더선택</div>
                <p class="txt-exp">핀한 뉴스는 <span class="font-color02">마이페이지 > 나의 핀</span>에서 확인 하실 수 있습니다.
                    폴더를 추가 하시려면 <span class="font-color02">마이페이지</span> 나의 핀에서 추가가 가능합니다.</p>
                    
                <div class="box-type02-p">
                        @if (Model.Count != 0)
                        {
                            foreach (var item in Model)
                            {
                                <div class="radio-area">
                                    <input type="radio" name="MSEQ" id="@item.MSEQ" value="@item.MSEQ">
                                    <label for="@item.MSEQ"><span>@item.FOLDER_NAME</span></label>
                                </div>
                            }
                        }
                </div>
                <hr class="division1">
                <div class="box-button">
                    <span class="btn-type1"><button type="button" id="btnPinSave">핀</button></span>
                    <span class="btn-type2"><button type="button" id="btnCancle">취소</button></span>
                </div>
            </div>
            <!-- content -->
        </div>
        <!-- POPUP Layer -->
    </div>
