
@{
    ViewBag.Title = "Rank";
    string wowTvScript = AppState["WowTvScript"].ToString();
    string currentMenuSeq = Request["menuSeq"];
}

@section scripts{
    <script src="@wowTvScript/Finance/Trading/KeyConditions.js"></script>
    <script>
        var menuSeq = @Request["menuSeq"];
        //console.log("@ViewBag.data");
    </script>
}

<h1 class="title">핵심조건</h1>

<div class="list-type1">
    <ul>
        <li>[핵심조건]은 일봉단위의 종목검색에 유용합니다.</li>
        <li>기본적이면서도 꼭 필요한 핵심적인 검색으로 회원님에게 쉽고 빠르고 원하시는 정보를 찾을 수 있도록 도와 드립니다.</li>
        <li>본 내용은 투자판단의 참고사항이며, 투자판단의 최종책임은 본 서비스를 이용하시는 이용자에게 있습니다.</li>
    </ul>
</div>

<hr class="division3 no-border">

<div class="tab-type1" id="tabArea">
    <ul class="col4">
        <li class="on"><a href="javascript:Key.GetList('C1', '', '', '');">N자형상승패턴</a></li>
        <li><a href="javascript:Key.GetList('C2', '2', '10', '20');">박스권돌파양봉</a></li>
        <li><a href="javascript:Key.GetList('C3', '10', '', '');">5일선스윙전략</a></li>
        <li><a href="javascript:Key.GetList('C4', '1', '20', '');">주가 골든크로스</a></li>
        <li><a href="javascript:Key.GetList('C5', '20', '2', '3');">대량거래지속</a></li>
        <li><a href="javascript:Key.GetList('C6', '20', '50', '');">거래급증</a></li>
        <li><a href="javascript:Key.GetList('C7', '', '', '');">20일선 놀림목발생</a></li>
        <li><a href="javascript:Key.GetList('C8', '', '', '');">횡보바닥탈출종목</a></li>
    </ul>
</div>

<div id="ChgCont">
    <div id="C1">
        <h2 class="title">N자형상승패턴</h2>

        <div class="box-information1">
            <div class="list-type2">
                <ul>
                    <li>평균선 혹은 지지선은 수정주가로 계산합니다.</li>
                    <li>핵심조건의 20일선 놀림목 발생은 중기 추세선인 20일선상에서 잠시 조정을 받는 모양입니다.</li>
                    <li>20일선을 하향 돌파하지 않고 조정받는 종목을 검색합니다.</li>
                </ul>
            </div>
        </div>
    </div>

    <div id="C2" style="display:none;">
        <h2 class="title">박스권돌파양봉</h2>

        <div class="box-information1">
            <div class="list-type2">
                <ul>
                    <li>주가가 박스권에서 조정을 받다가 최대 매물대인 박스권을 돌파하면서 양봉캔들을 유지하는 경우로, 강한 매수 타이밍 신호입니다.</li>
                    <li>박스권 돌파 후 일시적인 조정이 간혹 있으나 이런경우, 박스권 상단에서 지지할 경우 지속 홀딩, 박스권 상단 이탈시 일반적인 매도로 봅니다.</li>
                    <li class="inform">
                        시초가 대비 시초가 대비 몇 퍼센트 이상
                        <div class="selector" style="width:;">
                            <!-- width 100%일때 class="selector full" -->
                            <label for="C2_key1">1</label>
                            <select id="C2_key1">
                                @for (var i = 1; i < 11; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>
                        % 이상 시초가 대비 몇 퍼센트 이내
                        <div class="selector" style="width:;">
                            <!-- width 100%일때 class="selector full" -->
                            <label for="C2_key2">1</label>
                            <select id="C2_key2">
                                @for (var i = 1; i < 11; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>
                        % 이내 양봉으로서 박스권 돌파 일선지지
                        <div class="selector" style="width:;">
                            <!-- width 100%일때 class="selector full" -->
                            <label for="C2_key3">0</label>
                            <select id="C2_key3">
                                <option value="0">0</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="25">25</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                                <option value="60">60</option>
                            </select>
                        </div>
                        일선 지지
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="C3" style="display:none;">
        <h2 class="title">5일선스윙전략</h2>

        <div class="box-information1">
            <div class="list-type2">
                <ul>
                    <li>주가의 핵심 지지선인 5일 이평선을 중심으로 지속적으로 상승하는 종목을 발굴하는 기법입니다.</li>
                    <li>종가기준으로 5일선 지속 상승시 매수관점으로 보고, 종가 기준으로 5일선 지속 하향 돌파시 매도로 봅니다.</li>
                    <li class="inform">
                        5일선을 지지선으로 5일선이 지지선 지속일
                        <div class="selector" style="width:;">
                            <!-- width 100%일때 class="selector full" -->
                            <label for="C3_key1">1</label>
                            <select id="C3_key1">
                                @for (var i = 1; i < 16; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>
                        일 이상 지속적으로 상승 5일선이 지속적으로 상승한 종목을 매입, 종가 5일선 하향 돌파 매도, 변수는 10~20으로 함.
                    </li>
                </ul>
            </div>
        </div> 
        </div>   

    <div id="C4" style="display:none;">
        <h2 class="title">주가 골든크로스</h2>

        <div class="box-information1">
            <div class="list-type2">
                <ul>
                    <li>주가 이동평균선간의 골든 크로스 종목을 검색할 수 있습니다.</li>
                    <li class="inform">
                        단기 단기 일
                        <div class="selector" style="width:;">
                            <!-- width 100%일때 class="selector full" -->
                            <label for="C4_key1">1</label>
                            <select id="C4_key1">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                                <option value="60">60</option>
                                <option value="100">100</option>
                                <option value="120">120</option>
                                <option value="200">200</option>
                                <option value="240">240</option>
                                <option value="300">300</option>
                                <option value="600">600</option>
                                <option value="900">900</option>
                            </select>
                        </div>
                        일 장기 장기 일
                        <div class="selector" style="width:;">
                            <!-- width 100%일때 class="selector full" -->
                            <label for="C4_key2">3</label>
                            <select id="C4_key2">
                                <option value="3">3</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="12">12</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                                <option value="60">60</option>
                                <option value="100">100</option>
                                <option value="120">120</option>
                                <option value="200">200</option>
                                <option value="240">240</option>
                                <option value="300">300</option>
                                <option value="600">600</option>
                                <option value="900">900</option>
                            </select>
                        </div>
                        일의 주간 크로스
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="C5" style="display:none;">
        <h2 class="title">대량거래지속</h2>

        <div class="box-information1">
            <div class="list-type2">
                <ul>
                    <li>대량거래가 지속된다는 것은 매수세와 매도세가 충돌하고 있다는 의미이며, 상승과정에서는 매도물량 소화로큰 시세 형성 후에는 상투의 징후로 이해할 수 있습니다.</li>
                    <li class="inform">
                        <div class="selector" style="width:;">
                            <!-- width 100%일때 class="selector full" -->
                            <label for="C5_key1">5</label>
                            <select id="C5_key1">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                                <option value="60">60</option>
                                <option value="70">70</option>
                                <option value="80">80</option>
                                <option value="90">90</option>
                                <option value="100">100</option>
                                <option value="150">150</option>
                                <option value="200">200</option>
                                <option value="300">300</option>
                            </select>
                        </div>
                        일 거래평균의
                        <div class="selector" style="width:;">
                            <!-- width 100%일때 class="selector full" -->
                            <label for="C5_key2">5</label>
                            <select id="C5_key2">
                               @for (var i = 1; i < 11; i++)
                               {
                                <option value="@i">@i</option>
                               }
                            </select>
                        </div>
                        배 이상 거래량이
                        <div class="selector" style="width:;">
                            <!-- width 100%일때 class="selector full" -->
                            <label for="C5_key3">1</label>
                            <select id="C5_key3">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                        일 이상 지속되는 종목
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="C6" style="display:none;">
        <h2 class="title">거래급증</h2>
        <div class="box-information1">
            <div class="list-type2">
                <ul>
                    <li>거래량은 주가의 거울이란 말이 있듯이, 통상적인 경우보다 갑자기 거래량이 급증한다면 시세의 변화를 의미하는 경우가 많습니다.</li>
                    <li>거래급증에서는 이렇게 갑자기 거래가 급증한 종목들을 검색하실 수 있습니다.</li>
                    <li class="inform">
                        일별 최고거래량
                        <div class="selector" style="width:;">
                            <!-- width 100%일때 class="selector full" -->
                            <label for="C6_key1">2</label>
                            <select id="C6_key1">
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="60">60</option>
                                <option value="100">100</option>
                                <option value="120">120</option>
                                <option value="200">200</option>
                                <option value="240">240</option>
                                <option value="300">300</option>
                                <option value="600">600</option>
                                <option value="900">900</option>
                            </select>
                        </div>
                        일 동안의 최고거래량의 갱신 폭
                        <div class="selector" style="width:;">
                            <!-- width 100%일때 class="selector full" -->
                            <label for="C6_key2">10</label>
                            <select id="C6_key2">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="150">150</option>
                                <option value="200">200</option>
                                <option value="300">300</option>
                                <option value="400">400</option>
                                <option value="500">500</option>
                            </select>
                        </div>
                        % 이상 큰폭 갱신
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="C7" style="display:none;">
        <h2 class="title">20일선 놀림목발생</h2>

        <div class="box-information1">
            <div class="list-type2">
                <ul>
                    <li>중기 추세선인 20일선 상에서 잠시 조정을 받는 모양입니다. 20일선을 하향 돌파하지 않고 조정받는 종목을 검색합니다.</li>
                </ul>
            </div>
        </div>
    </div>

    <div id="C8" style="display:none;">
        <h2 class="title">횡보바닥탈출종목</h2>

        <div class="box-information1">
            <div class="list-type2">
                <ul>
                    <li>평균선 혹은 지지전은 수정주가로 계산합니다.</li>
                    <li>핵심조건의 20일선 놀림목 발생은중기 추세선인 20일선상에서 잠시 조정을 받는 모양입니다.</li>
                    <li>20일선을 하향 돌파하지 않고 조정받는 종목을 검색합니다.</li>
                </ul>
            </div>
        </div>
    </div>

</div>

<div class="box-top-type1">
    <div class="inner-right">
        <p class="text-type-blt1 text-state">총 <span class="emphasize"></span>종목이 검색되었습니다.</p>
    </div>
    <div class="inner-left">
        <!-- Search box Local -->
        <div class="search-local date">
            <input type="text" class="form-control" id="date">
            <span class="btn-calendar" id="datePicker"><button>달력</button></span>
        </div>
        <input type="button" value="검색" class="btn-type3" id="srchButton">
        <!-- //Search box Local -->
    </div>
</div>



<div class="table-type1" id="dataArea">
</div>


<form id="Keyfrm">
    <input type="hidden" name="CondMenu" />
    <input type="hidden" name="CondList" />
    <input type="hidden" name="DateStr" />
</form>

