@using Wow.Tv.FrontWeb.Areas.Finance.Helpers
@{
    Layout = null;
    string DomainUrlFront = AppState["DomainUrlFront"].ToString();
}

<table>
    <caption></caption>
    <colgroup>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
    </colgroup>
    <thead>
        <tr>
            <th>종목명</th>
            <th>종목코드</th>
            <th>현재가</th>
            <th>전일대비</th>
            <th>등락률</th>
            <th>시가</th>
            <th>고가/저가</th>
            <th>거래량</th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Count; i++)
        {

            string[] arrData = Model[i];

            if (arrData.Length == 10)
            {
                var StockName = "";
                var PartUpRate = Html.KeyChgCalc(arrData[4], arrData[5]).ToString();

                //종목명
                if (arrData.Length > 7)
                {
                    StockName = @arrData[8];
                }
                else
                {
                    StockName = "";
                }


                <tr>
                    <td class="text"><a href="#none" onclick="return Key.DomesticStockDetailGo('@DomainUrlFront','@arrData[0]');">@StockName</a></td>
                    <td>@arrData[0]</td>
                    <td class="number">@Html.PublishCurrencyFormat(arrData[4])</td>
                    <td class="number">@Html.PublishUpDownIconFormat2(arrData[5])</td>
                    <td class="number">@Html.PublishChgRateFormat(System.Convert.ToDecimal(PartUpRate))</td>
                    <td class="number">@Html.PublishCurrencyFormat(arrData[1])</td>
                    <td class="number">@Html.PublishCurrencyFormat(arrData[2])<br/> @Html.PublishCurrencyFormat(arrData[3])</td>
                    <td class="number">@Html.PublishCurrencyFormat(arrData[6])</td>
                </tr>
            }
        }
        
    </tbody>
</table>
@ViewBag.Count
<input type="hidden" id="dataCount" value="@Model.Count" />