@using Wow.Tv.FrontWebMobile.Areas.Finance.Helpers

@{
    Layout = null;
    string DomainUrlFront = AppState["DomainUrlFront"].ToString();
}

<div class="section-area mb30">
    <!-- 테이블-->
    <div class="table-type1 type02 line">
        <table>
            <caption>검색 상세</caption>
            <colgroup>
                <col style="width:auto" />
            </colgroup>
            <tbody>
                @if (Model != null && Model.Length > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td class="txt-l"><a href="#none" onclick="GetHotSearchList.DomesticStockDetailGo('@DomainUrlFront','@item.arj_code.Replace("A", "")')">@item.stock_name</a></td>
                            @*<td class="txt-l"><a href="#none" onclick="">@item.stock_name</a></td>*@
                            <td class="txt-r"><span class="num">@String.Format("{0:#,##0}", item.curr_price)</span></td>
                            <td class="txt-r">@Html.DomesticStockDetailPriceMiddleFormat((string)item.chg_type, (int)item.net_chg)</td>
                            <td class="txt-r">@Html.DomesticStockDetailChgRateMiddleFormat((string)item.chg_type, (int)item.curr_price, (int)item.net_chg)</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <!-- // 테이블 -->

</div>
