
@{
    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();
}

@section scripts{
    <script src="@wowTvScript/ServiceCenter/Lecture/Index.js"></script>
    <script>
        var currentIndex = "@ViewBag.Condition.CurrentIndex"
        var totalDataCount = "@Model.TotalDataCount";
        var MainCtgr = "@ViewBag.Condition.MainCtgr";
        var SearchType = "@ViewBag.Condition.SearchType";
    </script>
}

<h1 class="title">강연회-행사 안내</h1>

<div class="box-button calendar">
    <div class="inner-right">
        <span class="btn-type2"><button>캘린더보기</button></span>
    </div>
</div>
<!-- 세미나 날짜 선택 -->
<a href="#"><p class="all-calendar">전체 일정보기</p></a>
<div class="contain-calendar-news">
    <span class="prev"><button>전주</button></span>
    <div class="calendar-news-week">
        <ul>
            <li><a href="#">8/2</a></li>
            <li><a href="#">8/3</a></li>
            <li class="today">
                <a href="#">8/4</a>
                <span class="list-number">6</span>
            </li>
            <li><a href="#">8/5</a></li>
            <li><a href="#">8/6</a></li>
            <li><a href="#">8/7</a></li>
            <li><a href="#">8/8</a></li>
            <li><a href="#">8/9</a></li>
            <li><a href="#">8/10</a></li>
            <li><a href="#">8/11</a></li>
            <li><a href="#">8/12</a></li>
            <li><a href="#">8/13</a></li>
        </ul>
    </div>
    <span class="next"><button>다음주</button></span>
</div>
<!-- //세미나 날짜 선택 -->
<!-- top-search-box -->


<div class="top-search-box">
    <!-- Search box section -->
    <form id="frmSearch">
        <div class="search-section">
            <select name="MainCtgr" style="width:130px;">
                <option value="">선택</option>
                <option value="S">주식</option>
                <option value="E">행사</option>
            </select>
            <select name="SearchType" style="width:130px;">
                <option value="ALL">전체</option>
                <option value="LECTURER">강사</option>
                <option value="PLACE">지역</option>
                <option value="TITLE">제목</option>
                <option value="CONTENTS">내용</option>
            </select>
            <input type="text" name="SearchText" style="width:190px;" value="@ViewBag.Condition.SearchText">
            <input type="button" id="btnSearch" value="검색" class="btn-type3">
        </div>
        <input type="hidden" name="seq" id="seq" />
        <input type="hidden" id="pageSize" name="pageSize" value="4" />
        <input type="hidden" id="CurrentIndex" name="CurrentIndex" value="0" />
    </form>
    <!-- // Search box section -->
</div>
<!-- top-search-box -->

<!-- Content area -->
<div class="section-content">
    <div class="contain-list-seminar">
        <!-- 강연회 상세 -->
        @if (Model.ListData != null)
        {
            string[] week = { "일", "월", "화", "수", "목", "금", "토" };
            foreach (var item in Model.ListData)
            {
                if (Model.ListData.IndexOf(item) % 2 == 0)
                {
                    <div class="box-seminar-detail left">
                        <div class="seminar-info-wrap">
                            <div class="seminar-type-img-wrap">
                                @if (item.MAIN_CTGR == "S")
                                {
                                    <img src="@wowTvStyle/images/customer/icon_seminar_type1.png" alt="주식" class="seminar-type">
                                }
                                else
                                {
                                    <img src="@wowTvStyle/images/customer/icon_seminar_type2.png" alt="행사" class="seminar-type">
                                }
                            </div>
                            <a href="#" class="title" onclick="return LectureIndex.GoDetail(@item.SEQ)">
                                @item.TITLE
                            </a>
                            <dl>
                                <dt>일정</dt>
                                <dd>@item.LECTURES_DATE (@week[(int)Convert.ToDateTime(item.LECTURES_DATE).DayOfWeek]) @item.LECTURES_TIME</dd>
                                <dt>장소</dt>
                                <dd>@item.PLACE</dd>
                            </dl>
                        </div>
                        <div class="seminar-people-img-wrap">
                            <img src="@wowTvStyle/images/customer/img_seminar_people.png" alt="강연자" class="seminar-type">
                        </div>
                    </div>
                }
                else
                {
                    <div class="box-seminar-detail right">
                        <div class="seminar-info-wrap">
                            <div class="seminar-type-img-wrap">
                                @if (item.MAIN_CTGR == "S")
                                {
                                    <img src="@wowTvStyle/images/customer/icon_seminar_type1.png" alt="주식" class="seminar-type">
                                }
                                else
                                {
                                    <img src="@wowTvStyle/images/customer/icon_seminar_type2.png" alt="행사" class="seminar-type">
                                }
                            </div>
                            <a href="#" class="title" onclick="return LectureIndex.GoDetail(@item.SEQ)">
                                @item.TITLE
                            </a>
                            <dl>
                                <dt>일정</dt>
                                <dd>@item.LECTURES_DATE (@week[(int)Convert.ToDateTime(item.LECTURES_DATE).DayOfWeek]) @item.LECTURES_TIME</dd>
                                <dt>장소</dt>
                                <dd>@item.PLACE</dd>
                            </dl>
                        </div>
                        <div class="seminar-people-img-wrap">
                            <img src="@wowTvStyle/images/customer/img_seminar_people.png" alt="강연자" class="seminar-type">
                        </div>
                    </div>
                }
            }
        }
        <!-- //강연회 상세 -->

        @*<!-- 강연회 상세 -->
        <div class="box-seminar-detail right">
            <div class="seminar-info-wrap">
                <div class="seminar-type-img-wrap">
                    <img src="@wowTvStyle/images/customer/icon_seminar_type2.png" alt="행사" class="seminar-type">
                </div>
                <a href="#" class="title">
                    <p>한옥석 소장의 3천만원으로<br>대기업 평균월급 버는법!<br>4기 개강!</p>
                </a>
                <dl>
                    <dt>일정</dt>
                    <dd>2017-08-05(토) 13-15시</dd>
                    <dt>장소</dt>
                    <dd>
                        서울시 영등포구
                        <br>버드나무로84 한국경제TV
                    </dd>
                </dl>
            </div>
            <div class="seminar-people-img-wrap">
                <img src="@wowTvStyle/images/customer/img_seminar_people.png" alt="강연자" class="seminar-type">
            </div>
        </div>
        <!-- //강연회 상세 -->*@

    </div>
</div>
<!-- //Content area -->
<!-- Paginate -->
<div class="box-paginate seminar">
    <div id="divPaging"></div>
</div>
<!-- //Paginate -->
