
@{
    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();

    string uploadWebPathRoot = AppState["UploadWebPathRoot"].ToString();
    string uploadPlanArticlePath = AppState["UploadPlanArticlePath"].ToString();
    string opinionUploadPath = string.Format("{0}{1}", uploadWebPathRoot, uploadPlanArticlePath);
}

@section scripts{
    <script src="@wowTvScript/NewsCenter/Common.js"></script>
    <script src="@wowTvScript/NewsCenter/Opinion/List.js"></script>
    <script>
        var searchText = "@ViewBag.Condition.Text";
        var searchSeq = "@ViewBag.Condition.Seq";
        var searchClass = "@ViewBag.Condition.Class";
    </script>
}

<form id="frmSearch">
    <input type="hidden" name="Class" id="searchClass" value="@ViewBag.Condition.Class" />
    <input type="hidden" name="Text" id="searchText" value="@ViewBag.Condition.Text" />
    <input type="hidden" name="seq" id="searchSeq" value="@ViewBag.Condition.Seq" />

    <input type="hidden" id="currentIndex" name="CurrentIndex" />
    <input type="hidden" id="CurrentMenuSeq" name="CurrentMenuSeq" value="@Request["menuSeq"]" />
    <input type="hidden" id="totalDataCount" name="TotalDataCount" />
    <input type="hidden" name="PageSize" id="PageSize" value="20" />
    <input type="hidden" name="Page" id="Page" value="1" />
    <input type="hidden" name="opinionUploadPath" id="opinionUploadPath" value="@opinionUploadPath" />
    <input type="hidden" name="uploadWebPathRoot" id="uploadWebPathRoot" value="@uploadWebPathRoot" />
</form>

<!-- tab start -->
<div class="tab-area tab-btn">
    <ul>
        <li><a href="javascript:void(0)" id="S" onclick="return OpinionList.ChangeTab('S')">연재칼럼</a></li>
        <li><a href="javascript:void(0)" id="P" onclick="return OpinionList.ChangeTab('P')">기획취재</a></li>
    </ul>
</div>
<!--// tab end -->
<!-- form start -->
<div class="box-form-grown">
    <fieldset>
        <legend>선택 폼</legend>
        <label for="" class="blind">선택</label>
        <select id="proSel">
            @foreach (var item in Model)
            {
                <option value="@(item.List.SEQ + "_" + item.List.EXTRACTION_TEXT)" @(item.List.SEQ == ViewBag.Condition.Seq ? "selected=selected" : "")>@item.List.TITLE</option>
            }
        </select>
    </fieldset>
</div>
<!--// form end -->
<!-- img-area -->
<div class="img-area" id="divOpinionBanner"></div>
<!-- //img-area -->
<!-- start -->
<div class="section-area pd0 mb10">
    <h3 class="pl15" id="opinionTitle"></h3>
    <div class="list-type-new02 type03">
        <ul id="ulContents"></ul>
    </div>
</div>