
@{
    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();
    string uploadWebPathRoot = AppState["UploadWebPathRoot"].ToString();
    string uploadPlanArticlePath = AppState["UploadPlanArticlePath"].ToString();
    string opinionUploadPath = string.Format("{0}{1}", uploadWebPathRoot, uploadPlanArticlePath);
    Layout = null;
}

 <!-- form start -->
<div class="box-form-grown">
    <fieldset>
        <legend>선택 폼</legend>
        <label for="" class="blind">목록 전체 보기</label>
        <select id="proSel">
            <option>목록 전체 보기</option>
            @foreach (var item in Model.ListData)
            {
                
                <option value="@(item.List.SEQ + "_" + item.List.EXTRACTION_TEXT)">@item.List.TITLE</option>
            }
        </select>
    </fieldset>
</div>
<!--// form end -->

@if (Model.TotalDataCount > 0)
{
    foreach(var item in Model.ListData)
    {
        var Status = "";
        var Now = System.DateTime.Now;
        Now = DateTime.ParseExact(Now.ToString("yyyy-MM-dd"), "yyyy-MM-dd", null);

        if (!String.IsNullOrEmpty(item.List.VW_TO))
        {
            var StartDate = DateTime.ParseExact(item.List.VW_FROM, "yyyy-MM-dd", null);
            var EndDate = DateTime.ParseExact(item.List.VW_TO, "yyyy-MM-dd", null);

            if (Now.CompareTo(StartDate) >= 0 && Now.CompareTo(EndDate) <= 0) //
            {
                Status = "연재중";
            }
            else if (Now.CompareTo(EndDate) > 0)
            {
                Status = "종료: " + item.List.VW_FROM + " ~ " + item.List.VW_TO;
            }
        }
        else
        {
            Status = "연재중";
        }

        <div class="section-area pd0 mb10">
            <div class="list-type-new02 type02">
                <a href="javascript:OpinionIndex.GetDetailList('@(item.List.SEQ)_@(item.List.EXTRACTION_TEXT)');" class="obj-cont">
                    <div class="img-area">
                        <img src="@opinionUploadPath@item.List.IMG_MAIN" onerror="this.src='@Wow.WowExtensionMethod.NewsThumbnailOnError("11M")'" alt="">
                    </div>
                    <p class="txt">@item.List.TITLE</p>
                    @*<span class="aside-area">@item.List.REMRK</span>*@
                    <span class="ico-noti-area">
                        <span class="text-icon type12">@Status</span>
                    </span>
                </a>
                <ul class="list-type01 type02 pt0 pb0">
                    @if (item.SubList != null && item.SubList.Count > 0)
                    {
                        foreach (var subItem in item.SubList)
                        {
                            <li>
                                <a href="javascript:NewsCommon.GoNewsDetailView('opinion', '', '@ViewBag.Condition.Class', '@subItem.ARTICLEID')">
                                    @*<span class="font-color03">335편.</span>*@
                                    @subItem.TITLE
                                </a>
                            </li>   
                        }
                    }
                    else
                    {
                        <li>등록된 게시물이 없습니다.</li>
                    }
                </ul>
            </div>
        </div>
    }
}

