
@{
    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();
    Layout = null;
}

@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <li>
            <a href="javascript:NewsCommon.GoNewsDetailView('opinion', '', '@ViewBag.Condition.Class', '@item.ARTICLEID')" class="obj-cont">
                <div class="cont-area">
                    <p class="txt">
                        @Wow.WowExtensionMethod.SubStringWidthPad(@item.TITLE, 120)
                    </p>
                    <span class="date">@item.ARTDATE.ToString("yyyy-MM-dd HH:mm")</span>
                </div>
                <div class="img-area">
                    @if (!string.IsNullOrEmpty(item.IMAGE_FILE))
                    {
                        <img src="@Wow.WowExtensionMethod.NewsThumbnailPath("11M", item.THUMBNAIL_FILENM, item.VOD_NUM, item.IMAGE_DIR, item.IMAGE_FILE, item.ARTDATE)" onerror="this.src='@Wow.WowExtensionMethod.NewsThumbnailOnError("11M")'" alt="">
                        if (item.VOD_NUM != null && item.VOD_NUM > 0)
                        {
                            <span class="icon-play small"></span>
                        }
                    }
                </div>
            </a>
        </li>
    }
}

<script>
    $('#totalDataCount').val(@ViewBag.TotalDataCount);
</script>