@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.Middle.Model.Db90.DNRS

@model ListModel<tv_program>

@{
    Layout = null;

    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();

    string broadWatchNumber = ViewBag.BroadWatchNumber;
    string programCode = ViewBag.ProgramCode;
}



<script src="@wowTvScript/Broad/BroadWatch/SearchList.js?date=20171222170000"></script>





<input type="hidden" id="SearchList_hidTotalCount" value="@Model.TotalDataCount" />

<div class="list-media col4">
    <!-- 5줄일 경우 col5, 4줄일 경우 col4를 class에 추가 -->
    <ul>
        @if (Model.ListData.Count == 0)
        {
        <!-- 검색 결과가 없을 시 -->
            <li class="nodata">
                <p>
                    <strong class="tit">검색 결과가 없습니다.</strong>
                </p>
            </li>
        <!-- //검색 결과가 없을 시 -->
        }
        else
        {
            foreach (var item in Model.ListData)
            {
        <li>
            <div class="img-area">
                <a href="#" onclick="return BroadWatchIndex.BindPlayInfoPartial(@item.Num, true);">
                    <span class="notice-area">
                        <!-- 알림표시할 경우 a태그에 span.notice-area 추가 -->
                        @if (item.IsOneDayInner == true)
                        {
                        <span class="bx-notice type1">최신</span>
                        }
                    </span>
                    <img src="@item.ThumImageUrl" alt="" width="191px" height="104px">
                </a>
            </div>
            <p class="tit">@item.Program_Name</p>
            <div class="info-area">
                <span class="info left">@item.frontTimeString</span>
                <span class="info right">@(item.Price == 0 ? "무료" : item.Price.ToString("N0"))</span>
            </div>
        </li>
            }
        }
    </ul>
</div>
<hr class="division0">
<div class="box-paginate" id="SearchList_divPaging"></div>
