@using Wow.Tv.FrontWeb.Areas.Finance.Models
@using Wow.Tv.FrontWeb.Areas.Finance.Helpers
@using Wow.Fx
@model WorldStockMainModel
@{
    ViewBag.Title = "해외증시";
    string wowTvScript = AppState["WowTvScript"].ToString();
    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string UserLoginUrl = AppState["UserLoginUrl"].ToString();
    string DomainUrlFront = AppState["DomainUrlFront"].ToString();
    string DomainUrlMember = AppState["DomainUrlMember"].ToString();
    string DomainUrlMyPage = AppState["DomainUrlMyPage"].ToString();
    int idx = 1;

}
@section scripts{
    @Scripts.Render("~/bundles/raphael")
    @Scripts.Render("~/bundles/webponentcommon")
    @Scripts.Render("~/bundles/webponentvisual")
    @Scripts.Render("~/bundles/chart")
    @Scripts.Render("~/bundles/chartstyle")
    <script src="@wowTvScript/Finance/Charts/stockChart.js"></script>
    <script src="@wowTvScript/Finance/WorldStock/index.js"></script>
    <script>
        $(document).ready(function () {
            $(".contain-aside").remove();
            $(".contain-content").addClass("main");
            WorldStockIndex.DowJonesChart();
        });
    </script>
}
<!-- left area start -->
<div class="fina-main-left-area">

    <!-- 국내 /미국/아시아/환율 탭 start -->
    <div class="tabs-area tab-type1">
        <ul class="col3 tabs">
            <li class="on"><a href="javascript:void(0);">미국</a></li>
            <li><a href="javascript:void(0);" @*onclick="WorldStockIndex.SHCChart();"*@>아시아</a></li>
            <li><a href="javascript:void(0);">유럽</a></li>
        </ul>
        <div class="tab-body type01 ">
            <!-- 미국 start -->
            <div class="tab-cont on">
                <div>
                    <div class="box on bdt-none">
                        <strong>다우존스</strong>
                        @Html.PublishPriceFormat(Model.DowJonesInfo.chgtype, Model.DowJonesInfo.Price)<!-- 주가 -->
                        @Html.PublishChgPriceFormat(Model.DowJonesInfo.chgtype, Model.DowJonesInfo.ChgPrice)<!-- 등락 -->
                        @Html.DIndexChgRateFormat(Model.DowJonesInfo.chgtype, Model.DowJonesInfo.chgRate)<!-- 등락폭 -->
                        <a href="javascript:void(0)" class="btn_openClose on" onclick="WorldStockIndex.DowJonesChart();">open</a>
                    </div>
                    <div class="obj-view on" style="height:228px;" id="dowJoneTimeChart"></div>
                </div>
                <div>
                    <div class="box">
                        <strong>나스닥</strong>
                        @Html.PublishPriceFormat(Model.NasdaqInfo.chgtype, Model.NasdaqInfo.Price)<!-- 주가 -->
                        @Html.PublishChgPriceFormat(Model.NasdaqInfo.chgtype, Model.NasdaqInfo.ChgPrice)<!-- 등락 -->
                        @Html.DIndexChgRateFormat(Model.NasdaqInfo.chgtype, Model.NasdaqInfo.chgRate)<!-- 등락폭 -->
                        <a href="javascript:void(0)" class="btn_openClose on" onclick="WorldStockIndex.NasDaqChart();">open</a>
                    </div>
                    <div class="obj-view" style="height:228px;" id="nasdaqTimeChart"></div>
                </div>
                <div>
                    <div class="box">
                        <strong>S&amp;P500</strong>
                        @Html.PublishPriceFormat(Model.SANDP500Info.chgtype, Model.SANDP500Info.Price)<!-- 주가 -->
                        @Html.PublishChgPriceFormat(Model.SANDP500Info.chgtype, Model.SANDP500Info.ChgPrice)<!-- 등락 -->
                        @Html.DIndexChgRateFormat(Model.SANDP500Info.chgtype, Model.SANDP500Info.chgRate)<!-- 등락폭 -->
                        <a href="javascript:void(0)" class="btn_openClose on" onclick="WorldStockIndex.SAndP500Chart();">open</a>
                    </div>
                    <div class="obj-view" style="height:228px;" id="sandp500TimeChart"></div>
                </div>
            </div>
            <!--// 미국 end -->
            <!-- 아시아 start -->
            <div class="tab-cont">
                <div>
                    <div class="box on bdt-none">
                        <strong>상해종합</strong>
                        @Html.PublishPriceFormat(Model.SHCInfo.chgtype, Model.SHCInfo.Price)<!-- 주가 -->
                        @Html.PublishChgPriceFormat(Model.SHCInfo.chgtype, Model.SHCInfo.ChgPrice)<!-- 등락 -->
                        @Html.DIndexChgRateFormat(Model.SHCInfo.chgtype, Model.SHCInfo.chgRate)<!-- 등락폭 -->
                        @*<a href="javascript:void(0)" class="btn_openClose on" onclick="return DomesticStockIndex.SHCChart();">open</a>*@
                    </div>
                    @*<div class="obj-view on" style="height:228px;" id="shcTimeChart"></div>*@
                    <div class="end on">
                        @*<strong>코스피</strong>
                        <p class="">상한가 <span class="font-color03">3</span></p>
                        <p class="">상승가 <span class="font-color03">442</span></p>
                        <p class="">하락 <span class="font-color05">333</span></p>
                        <p class="">하한가 <span class="font-color05">2</span></p>*@
                    </div>
                </div>
                <div>
                    <div class="box">
                        <strong>홍콩항생</strong>
                        @Html.PublishPriceFormat(Model.HSInfo.chgtype, Model.HSInfo.Price)<!-- 주가 -->
                        @Html.PublishChgPriceFormat(Model.HSInfo.chgtype, Model.HSInfo.ChgPrice)<!-- 등락 -->
                        @Html.DIndexChgRateFormat(Model.HSInfo.chgtype, Model.HSInfo.chgRate)<!-- 등락폭 -->
                        @*<a href="javascript:void(0)" class="btn_openClose on" onclick="return WorldStockIndex.HSChart();">open</a>*@
                    </div>
                    @*<div class="obj-view" style="height:228px;" id="hsTimeChart"></div>*@
                    <div class="end">
                        @*<strong>코스피</strong>
                        <p class="">상한가 <span class="font-color03">3</span></p>
                        <p class="">상승가 <span class="font-color03">442</span></p>
                        <p class="">하락 <span class="font-color05">333</span></p>
                        <p class="">하한가 <span class="font-color05">2</span></p>*@
                    </div>
                </div>
                <div>
                    <div class="box">
                        <strong>니케이</strong>
                        @Html.PublishPriceFormat(Model.NikkeiInfo.chgtype, Model.NikkeiInfo.Price)<!-- 주가 -->
                        @Html.PublishChgPriceFormat(Model.NikkeiInfo.chgtype, Model.NikkeiInfo.ChgPrice)<!-- 등락 -->
                        @Html.DIndexChgRateFormat(Model.NikkeiInfo.chgtype, Model.NikkeiInfo.chgRate)<!-- 등락폭 -->
                        @*<a href="javascript:void(0)" class="btn_openClose on" onclick="return WorldStockIndex.NikkeiChart();">open</a>*@
                    </div>
                    @*<div class="obj-view" style="height:228px;" id="nikkeiTimeChart"></div>*@
                </div>
            </div>
            <!--// 아시아 end -->
            <!-- 유럽 start -->
            <div class="tab-cont">
                <div>
                    <div class="box on bdt-none">
                        <strong>프랑스 CAC40</strong>
                        @Html.PublishPriceFormat(Model.CAC40Info.chgtype, Model.CAC40Info.Price)
                        @Html.PublishChgPriceFormat(Model.CAC40Info.chgtype, Model.CAC40Info.ChgPrice)<!-- 등락 -->
                        @Html.PublishUpDownSymbolPChangeFormat(Model.CAC40Info.chgtype, Model.CAC40Info.chgRate)<!-- 등락폭 -->
                        @*<a href="javascript:void(0)" class="btn_openClose on">open</a>*@
                    </div>
                    @*<div class="obj-view on" style="height:228px;">chart area<br>height : 228px</div>*@
                </div>
                <div>
                    <div class="box">
                        <strong>독일 DAX30</strong>
                        @Html.PublishPriceFormat(Model.DAXInfo.chgtype, Model.DAXInfo.Price)<!-- 주가 -->
                        @Html.PublishChgPriceFormat(Model.DAXInfo.chgtype, Model.DAXInfo.ChgPrice)<!-- 등락 -->
                        @Html.PublishUpDownSymbolPChangeFormat(Model.DAXInfo.chgtype, Model.DAXInfo.chgRate)<!-- 등락폭 -->
                        @*<a href="javascript:void(0)" class="btn_openClose on">open</a>*@
                    </div>
                    @*<div class="obj-view" style="height:228px;">chart area<br>height : 228px</div>*@
                </div>
            </div>
            <!--// 유럽 end -->
        </div>
    </div>
    <!--// 국내 /미국/아시아/환율 탭 end -->
    <!-- 광고배너 start -->
    @*<div class="m-imgBanner">
        <a href="http://www.wownet.co.kr/eventhome/wholelecture/20180113/sub_main.asp"><img src="@wowTvStyle/images/temp/180110_480x282_lecture.jpg" alt="advImg"></a>

    </div>*@
    <!--// 광고배너 end -->
    <!-- 광고배너 start -->
    <div class="m-imgBanner">
        <!-- 20180130 광고 삽입 -->
        <iframe src='http://ad.wowtv.co.kr/NetInsight/html/wowtv/wowtv_newscenter/wowstock@stock_1' width='480' height='282' frameborder='0' scrolling='no' topmargin='0' leftmargin='0' marginwidth='0' marginheight='0'></iframe>
    </div>
    <!--// 광고배너 end -->

    <!-- 오늘의 투자전략 start -->
    <h3 class="title05 mt50">
        오늘의 투자전략
        @*<a href="javascript:void(0)" class="btn-moreView" onclick="WorldStockIndex.TodayInvestGo();">더 보기</a>*@
        <a href="http://invest.wownet.co.kr/invest/superior/list.asp?bcode=N01020100&mseq=152" class="btn-moreView" target="_blank">더 보기</a>
    </h3>
    <ul class="list-type4">
        @if (Model.GetTodayInvests.Count > 0)
        {
            foreach (var item in Model.GetTodayInvests)
            {
                @*<li><a href="javascript:void(0)" onclick="WorldStockIndex.TodayInvestDetailGo('@item.SEQ', '@item.BCODE', '@item.REF', '@item.REF_STEP')">@item.TITLE</a></li>*@
                <li><a href="http://invest.wownet.co.kr/invest/superior/view.asp?seq=@item.SEQ&bcode=@item.BCODE&ref_step=@item.REF_STEP&ref=@item.REF" target="_blank">@item.TITLE</a></li>
            }
        }
        else
        {
            <li>데이터가 없습니다.</li>
        }
    </ul>
    <!--// 오늘의 투자전략 end -->
    <!-- 경제/주식 칼럼 start -->
    <h3 class="title05 mt50">
        경제/주식 칼럼
        <a href="javascript:void(0)" class="btn-moreView">더 보기</a>
    </h3>
    <ul class="list-type4">
        @if (Model.EconomyStockColumn.Count > 0)
        {
            foreach (var item in Model.EconomyStockColumn)
            {
                <li><a href="#none" onclick="return WorldStockIndex.GoNewsRead('@item.ARTICLEID');">@item.TITLE</a></li>
            }

        }
        else
        {
            <li>데이터가 없습니다.</li>
        }
    </ul>
    <!--// 경제/주식 칼럼 end -->
   <!-- 광고배너 start -->
    @*
    <div class="m-imgBanner">
        <a href="http://www.wownet.co.kr/eventhome/risingstock/sub_main.asp"><img src="@wowTvStyle/images/temp/180110_480x282_rising.jpg" alt="advImg"></a>
    </div>
    *@
    <!--// 광고배너 end -->
    <!-- 광고배너 start -->
    <div class="m-imgBanner">
        <!-- 20180130 광고 삽입 -->
        <iframe src='http://ad.wowtv.co.kr/NetInsight/html/wowtv/wowtv_newscenter/wowstock@stock_2' width='480' height='282' frameborder='0' scrolling='no' topmargin='0' leftmargin='0' marginwidth='0' marginheight='0'></iframe>
    </div>
    <!--// 광고배너 end -->

    <!-- 해외선물 파트너 start -->
    <div class="best-partner bxslider">
        <h3 class="title05 mt50">해외선물 파트너</h3>
        <div class="part-silder">
            @if (Model.WorldBestPartnerList.ListData.Count > 0)
            {
                foreach (var item in Model.WorldBestPartnerList.ListData)
                {
                    <div>
                        <img src="http://image.wownet.co.kr/@item.NEWphoto_small" alt="partnerPhoto">
                        <p>@item.NickName@*<br>최고수익률 @item.Rate%*@</p>
                        <span>기준일 @item.BaseDate</span>
                        <div class="btn-area"><a href="http://wowpro.wownet.co.kr/pro/pro_main_new/sub_main.asp?proID=@item.Pro_id" class="btn type1">홈</a></div>
                    </div>
                }
            }
            else
            {
                <div>데이터가 없습니다.</div>
            }
            
            
        </div>
    </div>
    <!--// 해외선물 파트너 end -->
    <!-- 종목상담 프로그램 start -->
    <h3 class="title05 mt50">종목상담 프로그램</h3>
    <div class="box-adv-program">
        <a href="@DomainUrlFront/Broad/ProgramMain/Index?menuSeq=644&programCode=P2250"><img src="@wowTvStyle/images/temp/temp_finance04.png" alt="advProImg"></a>
        <a href="@DomainUrlFront/Broad/ProgramMain/Index?menuSeq=644&programCode=P2236"><img src="@wowTvStyle/images/temp/temp_finance05.png" alt="advProImg"></a>
    </div>
    <!--// 종목상담 프로그램 end -->

</div>
<!--// left area end -->
<!-- right area start -->
<div class="fina-main-right-area">

    <!-- 오늘의 공개방송 start -->
    <h3 class="title05">
        오늘의 공개방송
        <a href="http://wowpro.wownet.co.kr/pro/intro.asp?bcode=N04000000&mseq=177" class="btn-moreView" target="_blank">더 보기</a>
    </h3>
    <div class="box-public-broadcasting">
        @if (Model.TodayBroadCastInfo.ToList().Count > 0)
        {
            foreach (var item in Model.TodayBroadCastInfo.ToList())
            {
                string imgSrc = "http://image.wownet.co.kr" + item.NEWPHOTO_SMALL2.Replace("\\", "/");
                if (item.STATE == null || item.STATE.Value.Equals(0))
                {
                    <ul>
                        @*<li><a href="http://wowpro.wownet.co.kr/pro/pro_main_new/pro_record_broadcast.asp?currPage=1&bcode=N04070000&proId=@item.PRO_ID&mseq=226&pro_search=@item.PRO_ID&skey=nickname"><img src="@imgSrc" alt="photo"></a></li>
                            <li>
                                <a href="http://wowpro.wownet.co.kr/pro/pro_main_new/pro_record_broadcast.asp?currPage=1&bcode=N04070000&proId=@item.PRO_ID&mseq=226&pro_search=@item.PRO_ID&skey=nickname" class="tit-area">
                                    <strong>@item.NICKNAME @BroadcastFunction.GetInvestClass(item.INVESTKIND)</strong>
                                    <span>@item.BroadCastTime</span>
                                    <p>@item.BTITLE</p>
                                </a>
                            </li>*@
                        <li class="icon-position">
                            <a href="http://wowpro.wownet.co.kr/pro/pro_main_new/sub_main.asp?proID=@item.PRO_ID" target="_blank">
                                <span class="img-txt icon04"></span>
                                <img src="@imgSrc" alt="photo">
                            </a>
                        </li>
                        <li>
                            <a href="http://wowpro.wownet.co.kr/pro/pro_main_new/sub_main.asp?proID=@item.PRO_ID" target="_blank" class="tit-area">
                                <strong>@item.NICKNAME @BroadcastFunction.GetInvestClass(item.INVESTKIND)</strong>
                                <span>@item.BroadCastTime</span>
                                <p>@item.BTITLE</p>
                            </a>
                        </li>
                        <li>
                            <a href="http://wowpro.wownet.co.kr/pro/pro_main_new/pro_record_broadcast.asp?currPage=1&bcode=N04070000&proId=@item.PRO_ID&mseq=226&pro_search=@item.PRO_ID&skey=nickname" target="_blank" class="link-blue">녹화방송</a>
                            <a href="http://wowpro.wownet.co.kr/common/profileLink.asp?nickname=@(HttpUtility.UrlEncode(item.NICKNAME, System.Text.Encoding.GetEncoding("euc-kr")))&link=cafe" target="_blank" class="link-blue">카페가기</a>
                            <a href="http://wowpro.wownet.co.kr/pro/pro_main_new/profile.asp?proID=@item.PRO_ID&ptype=11" target="_blank" class="link-blue">가입</a>
                        </li>
                    </ul>
                }
                else
                {
                    if (LoginHandler.IsLogin == true)
                    {
                        <ul>
                            @*<li><a href="http://wowpro.wownet.co.kr/pro/pro_main_new/pro_record_broadcast.asp?currPage=1&bcode=N04070000&proId=@item.PRO_ID&mseq=226&pro_search=@item.PRO_ID&skey=nickname"><img src="@imgSrc" alt="photo"></a></li>
                                <li>
                                    <a href="http://wowpro.wownet.co.kr/pro/pro_main_new/pro_record_broadcast.asp?currPage=1&bcode=N04070000&proId=@item.PRO_ID&mseq=226&pro_search=@item.PRO_ID&skey=nickname" class="tit-area">
                                        <strong>@item.NICKNAME @BroadcastFunction.GetInvestClass(item.INVESTKIND)</strong>
                                        <span>@item.BroadCastTime</span>
                                        <p>@item.BTITLE</p>
                                    </a>
                                </li>*@
                            <li class="icon-position">
                                <span class="img-txt icon03" onclick="Pro_Open('@item.BROOM', '@item.PRODUCT_ID_1', '@item.BMEMTYPE', 'L');" style="cursor: pointer;"></span>
                                <a href="http://wowpro.wownet.co.kr/pro/pro_main_new/sub_main.asp?proID=@item.PRO_ID" target="_blank">
                                    
                                    <img src="@imgSrc" alt="photo">
                                </a>
                            </li>
                            <li>
                                <a href="http://wowpro.wownet.co.kr/pro/pro_main_new/sub_main.asp?proID=@item.PRO_ID" target="_blank" class="tit-area">
                                    <strong>@item.NICKNAME @BroadcastFunction.GetInvestClass(item.INVESTKIND)</strong>
                                    <span>@item.BroadCastTime</span>
                                    <p>@item.BTITLE</p>
                                </a>
                            </li>
                            <li>
                                <a href="http://wowpro.wownet.co.kr/pro/pro_main_new/pro_record_broadcast.asp?currPage=1&bcode=N04070000&proId=@item.PRO_ID&mseq=226&pro_search=@item.PRO_ID&skey=nickname" target="_blank" class="link-blue">녹화방송</a>
                                <a href="http://wowpro.wownet.co.kr/common/profileLink.asp?nickname=@(HttpUtility.UrlEncode(item.NICKNAME, System.Text.Encoding.GetEncoding("euc-kr")))&link=cafe" target="_blank" class="link-blue">카페가기</a>
                                <a href="http://wowpro.wownet.co.kr/pro/pro_main_new/profile.asp?proID=@item.PRO_ID&ptype=11" target="_blank" class="link-blue">가입</a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul>
                            @*<li><a href="http://wowpro.wownet.co.kr/pro/pro_main_new/pro_record_broadcast.asp?currPage=1&bcode=N04070000&proId=@item.PRO_ID&mseq=226&pro_search=@item.PRO_ID&skey=nickname"><img src="@imgSrc" alt="photo"></a></li>
                                <li>
                                    <a href="http://wowpro.wownet.co.kr/pro/pro_main_new/pro_record_broadcast.asp?currPage=1&bcode=N04070000&proId=@item.PRO_ID&mseq=226&pro_search=@item.PRO_ID&skey=nickname" class="tit-area">
                                        <strong>@item.NICKNAME @BroadcastFunction.GetInvestClass(item.INVESTKIND)</strong>
                                        <span>@item.BroadCastTime</span>
                                        <p>@item.BTITLE</p>
                                    </a>
                                </li>*@
                            <li class="icon-position">
                                <span class="img-txt icon03" onclick="Pro_Open_Cast('@item.BROOM','@item.PRODUCT_ID_1','@item.BMEMTYPE','L','tv');" style="cursor: pointer;"></span>
                                <a href="http://wowpro.wownet.co.kr/pro/pro_main_new/sub_main.asp?proID=@item.PRO_ID" target="_blank">
                                   
                                    <img src="@imgSrc" alt="photo">
                                </a>
                            </li>
                            <li>
                                <a href="http://wowpro.wownet.co.kr/pro/pro_main_new/sub_main.asp?proID=@item.PRO_ID" target="_blank" class="tit-area">
                                    <strong>@item.NICKNAME @BroadcastFunction.GetInvestClass(item.INVESTKIND)</strong>
                                    <span>@item.BroadCastTime</span>
                                    <p>@item.BTITLE</p>
                                </a>
                            </li>
                            <li>
                                <a href="http://wowpro.wownet.co.kr/pro/pro_main_new/pro_record_broadcast.asp?currPage=1&bcode=N04070000&proId=@item.PRO_ID&mseq=226&pro_search=@item.PRO_ID&skey=nickname" target="_blank" class="link-blue">녹화방송</a>
                                <a href="http://wowpro.wownet.co.kr/common/profileLink.asp?nickname=@(HttpUtility.UrlEncode(item.NICKNAME, System.Text.Encoding.GetEncoding("euc-kr")))&link=cafe" target="_blank" class="link-blue">카페가기</a>
                                <a href="http://wowpro.wownet.co.kr/pro/pro_main_new/profile.asp?proID=@item.PRO_ID&ptype=11" target="_blank" class="link-blue">가입</a>
                            </li>
                        </ul>
                    }

                }

            }
        }
        else
        {
            <ul>
                <li>방송정보가 없습니다.</li>
            </ul>
        }
    </div>
    <!--// 오늘의 공개방송 end -->
    <!-- 주요지수 start -->
    <h3 class="title05 mt30">@*<a href="javascript:void(0)" class="btn-moreView">더 보기</a>*@</h3>
    <div class="tabs-area tab-type2">
        <ul class="tabs col3">
            <li class="on"><a href="#none">미국 주요지수</a></li>
            <li><a href="#none">아시아 주요지수</a></li>
            <li><a href="#none">유럽 주요지수</a></li>
        </ul>
        <div class="tab-body type02 mt30">
            <!-- 미국 주요지수 start -->
            <div class="tab-cont on mHeight">
                <h3 class="title05">
                    미국 주요지수
                    @*<p class="text-realtime-reload"><span class="title">현지시각</span> 0000-00-00 00:00:00 기준 </p>*@
                </h3>
                <table class="table-type1">
                    <caption>미국 주요지수 상세</caption>
                    <colgroup>
                        <col style="width:19%;">
                        <col style="width:18%;">
                        <col style="width:18%;">
                        <col style="width:17%;">
                        <col style="width:*;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="col">지수명</th>
                            <th scope="col">현재가</th>
                            <th scope="col">전일대비</th>
                            <th scope="col">등락률(%)</th>
                            <th scope="col">시간</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>다우존스</td>
                            <td class="number">@Html.PublishPriceFormat(Model.DowJonesInfo.chgtype, Model.DowJonesInfo.Price)<!-- 주가 --></td>
                            <td class="number">@Html.PublishChgPriceFormat(Model.DowJonesInfo.chgtype, Model.DowJonesInfo.ChgPrice)<!-- 등락 --></td>
                            <td class="number">@Html.DIndexChgRateFormat(Model.DowJonesInfo.chgtype, Model.DowJonesInfo.chgRate)<!-- 등락폭 --></td>
                            <td>@Html.CurrentTimeFormat(Model.DowJonesInfo.LocalTime.ToString())</td>
                        </tr>
                        <tr>
                            <td>나스닥</td>
                            <td class="number">@Html.PublishPriceFormat(Model.NasdaqInfo.chgtype, Model.NasdaqInfo.Price)<!-- 주가 --></td>
                            <td class="number">@Html.PublishChgPriceFormat(Model.NasdaqInfo.chgtype, Model.NasdaqInfo.ChgPrice)<!-- 등락 --></td>
                            <td class="number">@Html.DIndexChgRateFormat(Model.NasdaqInfo.chgtype, Model.NasdaqInfo.chgRate)<!-- 등락폭 --></td>
                            <td>@Html.CurrentTimeFormat(Model.NasdaqInfo.LocalTime.ToString())</td>
                        </tr>
                        <tr>
                            <td>S&amp;P500</td>
                            <td class="number">@Html.PublishPriceFormat(Model.SANDP500Info.chgtype, Model.SANDP500Info.Price)<!-- 주가 --></td>
                            <td class="number">@Html.PublishChgPriceFormat(Model.SANDP500Info.chgtype, Model.SANDP500Info.ChgPrice)<!-- 등락 --></td>
                            <td class="number">@Html.DIndexChgRateFormat(Model.SANDP500Info.chgtype, Model.SANDP500Info.chgRate)<!-- 등락폭 --></td>
                            <td>@Html.CurrentTimeFormat(Model.SANDP500Info.LocalTime.ToString())</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--// 미국 주요지수 end -->
            <!-- 아시아 주요지수 start -->
            <div class="tab-cont mHeight">
                <h3 class="title05">
                    아시아 주요지수
                    @*<p class="text-realtime-reload"><span class="title">현지시각</span> 0000-00-00 00:00:00 기준 </p>*@
                </h3>
                <table class="table-type1">
                    <caption>아시아 주요지수 상세</caption>
                    <colgroup>
                        <col style="width:19%;">
                        <col style="width:18%;">
                        <col style="width:18%;">
                        <col style="width:17%;">
                        <col style="width:*;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="col">지수명</th>
                            <th scope="col">현재가</th>
                            <th scope="col">전일대비</th>
                            <th scope="col">등락률(%)</th>
                            <th scope="col">시간</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>니케이 255</td>
                            <td class="number">@Html.PublishPriceFormat(Model.NikkeiInfo.chgtype, Model.NikkeiInfo.Price)<!-- 주가 --></td>
                            <td class="number">@Html.PublishChgPriceFormat(Model.NikkeiInfo.chgtype, Model.NikkeiInfo.ChgPrice)<!-- 등락 --></td>
                            <td class="number">@Html.DIndexChgRateFormat(Model.NikkeiInfo.chgtype, Model.NikkeiInfo.chgRate)<!-- 등락폭 --></td>
                            <td>@Html.CurrentTimeFormat(Model.NikkeiInfo.LocalTime.ToString())</td>
                        </tr>
                        <tr>
                            <td>상해종합</td>
                            <td class="number">@Html.PublishPriceFormat(Model.SHCInfo.chgtype, Model.SHCInfo.Price)<!-- 주가 --></td>
                            <td class="number">@Html.PublishChgPriceFormat(Model.SHCInfo.chgtype, Model.SHCInfo.ChgPrice)<!-- 등락 --></td>
                            <td class="number">@Html.DIndexChgRateFormat(Model.SHCInfo.chgtype, Model.SHCInfo.chgRate)<!-- 등락폭 --></td>
                            <td>@Html.CurrentTimeFormat(Model.SHCInfo.LocalTime.ToString())</td>
                        </tr>
                        <tr>
                            <td>항생</td>
                            <td class="number">@Html.PublishPriceFormat(Model.HSInfo.chgtype, Model.HSInfo.Price)<!-- 주가 --></td>
                            <td class="number">@Html.PublishChgPriceFormat(Model.HSInfo.chgtype, Model.HSInfo.ChgPrice)<!-- 등락 --></td>
                            <td class="number">@Html.DIndexChgRateFormat(Model.HSInfo.chgtype, Model.HSInfo.chgRate)<!-- 등락폭 --></td>
                            <td>@Html.CurrentTimeFormat(Model.HSInfo.LocalTime.ToString())</td>
                        </tr>
                        <tr>
                            <td>대만 가권</td>
                            <td class="number">@Html.PublishPriceFormat(Model.WTInfo.chgtype, Model.WTInfo.Price)</td>
                            <td class="number">@Html.PublishChgPriceFormat(Model.WTInfo.chgtype, Model.WTInfo.ChgPrice)</td>
                            <td class="number">@Html.PublishChgRateFormat(Model.WTInfo.chgtype, Model.WTInfo.chgRate)</td>
                            <td>@Html.CurrentTimeFormat(Model.WTInfo.LocalTime.ToString())</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--// 아시아 주요지수 end -->
            <!-- 유럽 주요지수 start -->
            <div class="tab-cont mHeight">
                <h3 class="title05">
                    유럽 주요지수
                    @*<p class="text-realtime-reload"><span class="title">현지시각</span> 0000-00-00 00:00:00 기준 </p>*@
                </h3>
                <table class="table-type1">
                    <caption>유럽 주요지수 상세</caption>
                    <colgroup>
                        <col style="width:19%;">
                        <col style="width:18%;">
                        <col style="width:18%;">
                        <col style="width:17%;">
                        <col style="width:*;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="col">지수명</th>
                            <th scope="col">현재가</th>
                            <th scope="col">전일대비</th>
                            <th scope="col">등락률(%)</th>
                            <th scope="col">시간</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>프랑수 CAC40</td>
                            <td class="number">@Html.PublishPriceFormat(Model.CAC40Info.chgtype, Model.CAC40Info.Price)</td>
                            <td class="number">@Html.PublishChgPriceFormat(Model.CAC40Info.chgtype, Model.CAC40Info.ChgPrice)<!-- 등락 --></td>
                            <td class="number">@Html.PublishUpDownSymbolPChangeFormat(Model.CAC40Info.chgtype, Model.CAC40Info.chgRate)<!-- 등락폭 --></td>
                            <td>@Html.CurrentTimeFormat(Model.CAC40Info.LocalTime.ToString())</td>
                        </tr>
                        <tr>
                            <td>독일 DAX</td>
                            <td class="number">@Html.PublishPriceFormat(Model.DAXInfo.chgtype, Model.DAXInfo.Price)<!-- 주가 --></td>
                            <td class="number">@Html.PublishChgPriceFormat(Model.DAXInfo.chgtype, Model.DAXInfo.ChgPrice)<!-- 등락 --></td>
                            <td class="number">@Html.PublishUpDownSymbolPChangeFormat(Model.DAXInfo.chgtype, Model.DAXInfo.chgRate)<!-- 등락폭 --></td>
                            <td>@Html.CurrentTimeFormat(Model.DAXInfo.LocalTime.ToString())</td>
                    </tbody>
                </table>
            </div>
            <!--// 유럽 주요지수 end -->
        </div>
    </div>
    <!--// 주요지수 end -->
    <!-- 해외뉴스 start -->
    <h3 class="title05">해외뉴스</h3>
    <ul class="list-type5 mgt_0">
        @if (Model.WorldStockNewsList.ListData.Count > 0)
        {
            foreach (var item in Model.WorldStockNewsList.ListData)
            {
                <li>
                    <a href="#none" onclick="return WorldStockIndex.GoNewsRead('@item.ARTICLEID')">@item.TITLE</a>
                    <span>@String.Format("{0:yyyy-MM-dd}", item.ARTDATE)</span>
                </li>
            }
        }
        else
        {
            <li>
                데이터가 없습니다.
            </li>
        }
        
    </ul>
    <!--// 해외뉴스 end -->
    <!-- 미국 주요업종 지수 start -->
    <h3 class="title05 mt50">
        미국 주요업종 지수
        <a href="javascript:void(0)" class="btn-moreView" onclick="return WorldStockIndex.USAADRGo('@DomainUrlFront', 'usaAdr');">더 보기</a>
    </h3>
    <table class="table-type1">
        <caption>미국 주요업종 지수</caption>
        <colgroup>
            <col style="width:23%;">
            <col style="width:20%;">
            <col style="width:19%;">
            <col style="width:19%;">
            <col style="width:;">
        </colgroup>
        <thead>
            <tr>
                <th scope="col">업종명</th>
                <th scope="col">구분</th>
                <th scope="col">지수</th>
                <th scope="col">전일대비</th>
                <th scope="col">등락률(%)</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.UsaAdrTotalList.ListData.Count > 0)
            {
                foreach (var item in Model.UsaAdrTotalList.ListData.Take(5))
                {
                    <tr>
                        <td>@item.PART_NAME</td>
                        <td>@item.U_GROUP_NAME</td>
                        <td class="number">@Html.WorldStockMainUSAADRPrice(item.U_CHG_GUBUN, item.U_PRICE)</td>
                        <td class="number">@Html.PublishChgPriceFormat(item.U_CHG_GUBUN, item.U_NET_CHG)</td>
                        <td class="number">@Html.PublishChgRateFormat(item.U_CHG_GUBUN, item.U_NET_CHGP)</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">데이터가 없습니다.</td>
                </tr>
            }
            
            
        </tbody>
    </table>
    <!--// 미국 주요업종 지수 end -->
    <!-- 한국물 ADR start -->
    <h3 class="title05 mt50">
        한국물 ADR
        <a href="javascript:void(0)" class="btn-moreView" onclick="return WorldStockIndex.USAADRGo('@DomainUrlFront', 'koreaAdr');">더 보기</a>
    </h3>
    <table class="table-type1 mb0">
        <caption>한국물 ADR 상세</caption>
        <colgroup>
            <col style="width:30%;">
            <col style="width:26%;">
            <col style="width:22%;">
            <col style="width:*;">
        </colgroup>
        <thead>
            <tr>
                <th scope="col">종목명</th>
                <th scope="col">현재가</th>
                <th scope="col">전일대비</th>
                <th scope="col">등락률(%)</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.KoreaADRList.ListData.Count > 0)
            {
                foreach (var item in Model.KoreaADRList.ListData.Take(5))
                {
                    <tr>
                        <td class="text">@item.part_name</td>
                        <td class="number">@Html.WorldStockMainUSAADRPrice(item.chgType, item.price)</td>
                        <td class="number">@Html.PublishChgPriceFormat(item.chgType, item.chgPrice)</td>
                        <td class="number">@Html.PublishChgRateFormat(item.chgType, item.chgRate)</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4">데이터가 없습니다.</td>
                </tr>
            }
        </tbody>
    </table>
    <!--// 한국물 ADR end -->

</div>
<!--// right area end -->
<!-- 와우 금융 서비스 start -->
<div class="box-finan-serv">
    <h3 class="title05 mt50">와우 금융 서비스</h3>
    <div>
        <div>
            <a href="http://wowtv.co.kr/center/html/service_charge_month.asp?bcode=T07090100&mseq=158&m=09">
                <img src="@wowTvStyle/images/finance/icon_service_01.png" alt="iconImg">
                <span>실시간 방송</span>
            </a>
            <a href="http://wowpro.wownet.co.kr/pro/intro.asp?bcode=N04000000&mseq=177">
                <img src="@wowTvStyle/images/finance/icon_service_02.png" alt="iconImg">
                <span>파트너 방송</span>
            </a>
            <a href="http://www.wowfa.co.kr/">
                <img src="@wowTvStyle/images/finance/icon_service_03.png" alt="iconImg">
                <span>증권교육</span>
            </a>
            <a href="http://www.wowstar.co.kr/p2p/main.asp">
                <img src="@wowTvStyle/images/finance/icon_service_04.png" alt="iconImg">
                <span>P2P 투자</span>
            </a>
        </div>
        <div>
            <a href="http://www.wownet.co.kr/wowband/sub_main.asp?bcode=S04020000&mseq=2936">
                <img src="@wowTvStyle/images/finance/icon_service_05.png" alt="iconImg">
                <span>와우밴드</span>
            </a>
            <a href="http://www.wownet.co.kr/daebakne/stocktalk/stocktalk_menu_info.asp?bcode=N74070200&mseq=2666&mseq=2773">
                <img src="@wowTvStyle/images/finance/icon_service_06.png" alt="iconImg">
                <span>주식창</span>
            </a>
            <a href="http://board.wownet.co.kr/board/movie/list.asp?bcode=N03020000&mseq=160">
                <img src="@wowTvStyle/images/finance/icon_service_07.png" alt="iconImg">
                <span>VOD</span>
            </a>
        </div>
    </div>
</div>
<!--// 와우 금융 서비스 end -->

