@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.Middle.Model.Db22.stock
@using Wow.Tv.FrontWeb.Areas.Finance.Helpers
@model ListModel<usp_web_korea_adr_Result>
@{
    ViewBag.Title = "한국물ADR";
    string wowTvScript = AppState["WowTvScript"].ToString();
    string currentMenuSeq = Request["menuSeq"];
    Layout = null;
}

<h1 class="title">한국물ADR</h1>

<!-- Table -->
<div class="table-type1 row5">
    <table>
        <caption></caption>
        <colgroup>
            <col>
            <col>
            <col>
            <col>
            <col>
        </colgroup>
        <thead>
            <tr>
                <th>종목명</th>
                <th>종가</th>
                <th>전일대비</th>
                <th>등락률(%)</th>
                <th>날짜</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListData)
            {
                <tr>
                    <td class="text">@item.part_name</td>
                    <td class="number">@Html.PublishPriceFormat(item.chgType, item.price)</td>
                    <td class="number">@Html.PublishChgPriceFormat(item.chgType, item.chgPrice)</td>
                    <td class="number">@Html.PublishChgRateFormat(item.chgType, item.chgRate)</td>
                    <td>@item.u_date_time</td>
                </tr>
            }
            
        </tbody>
    </table>
</div>
<!-- //Table -->

