@using Wow.Tv.FrontWeb.Areas.Finance.Helpers
@using Wow.Tv.Middle.Model.Db22.stock
@using Wow.Tv.Middle.Model.Common

@model ListModel<usp_wownet_usa_index_hour_Result>
@{
    string wowTvScript = AppState["WowTvScript"].ToString();
    Layout = null;
}

<script>
    var totalDataCount_timeDowJones = "@Model.TotalDataCount";
</script>
<script src="@wowTvScript/Finance/WorldStock/SiseTimeDowJonesList.js"></script>
<!-- Table -->
<div class="table-type1 row5">
    <table>
        <caption></caption>
        <colgroup>
            <col>
            <col>
            <col>
            <col>
            <col>
        </colgroup>
        <thead>
            <tr>
                <th>체결시각</th>
                <th>체결가</th>
                <th>전일대비</th>
                <th>등락률</th>
                <th>거래량</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.ListData.Count != 0)
            {
                foreach (var item in Model.ListData)
                {

                    <tr>
                        <td>@String.Format("{0:yyyy-MM-dd HH:mm:ss}", item.LocalTime)</td>
                        <td class="number">@Html.PublishPriceFormat(item.chgtype, item.Price)</td>
                        <td class="number">@Html.PublishChgPriceFormat(item.chgtype, item.ChgPrice)</td>
                        <td class="number">@Html.PublishChgRateFormat(item.chgtype, item.chgRate)</td>
                        <td class="number">@item.Vol</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">
                        데이터가 없습니다.
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
<!-- //Table -->
<!-- Paginate -->
<div class="box-paginate" id="divPaging_timeDowJones">
    
</div>
<!-- //Paginate -->

