@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.Middle.Model.Db22.stock
@using Wow.Tv.FrontWeb.Areas.Finance.Helpers
@model ListModel<usp_web_usa_adr_Result>
@{
    ViewBag.Title = "USAADRTotalList";
    string wowTvScript = AppState["WowTvScript"].ToString();
    string currentMenuSeq = Request["menuSeq"];
    Layout = null;
}
<script src="@wowTvScript/Finance/finance_common.js"></script>
<script src="@wowTvScript/Finance/WorldStock/USAADRTotalList.js"></script>
<!-- Table -->
<input type="hidden" id="currentMenuSeq" value="@currentMenuSeq"/>
<div class="table-type1 row5-accordion">
    <table id="usaadrTotalListTbl">
        <caption></caption>
        <colgroup>
            <col width="17%">
            <col width="17%">
            <col width="auto">
            <col width="15%">
            <col width="15%">
            <col width="15%">
        </colgroup>
        <thead>
            <tr>
                <th>업종명</th>
                <th>구분</th>
                <th>지수</th>
                <th>전일대비</th>
                <th>등락률(%)</th>
                <th>세부보기</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model.ListData)
            {
                <tr>
                    <td class="text">@item.PART_NAME</td>
                    <td>@item.U_GROUP_NAME</td>
                    <td class="number">@Html.WorldStockMainUSAADRPrice(item.U_CHG_GUBUN, item.U_PRICE)</td>
                    <td class="number">@Html.PublishChgPriceFormat(item.U_CHG_GUBUN, item.U_NET_CHG)</td>
                    <td class="number">@Html.PublishChgRateFormat(item.U_CHG_GUBUN, item.U_NET_CHGP)</td>
                    <td>
                        <span class="btn-type4 view-detail"><button>보기</button></span>
                        <input type="hidden" id="currentEngPartName" value="@item.U_ENG_NAME" />
                    </td>
                </tr>
                <tr class="accordion">
                    <td colspan="6">
                        <div class="table-type1">
                            <form id="frmList_USAADRTotalList_@item.U_ENG_NAME">
                                <input type="hidden" name="partName" value="@item.PART_NAME" />
                                <div id="divList">
                                    
                                </div>
                            </form>
                            <span class="btn-close-accordion"><button>닫기</button></span>
                        </div>
                    </td>
                </tr>
                
            }
           
        </tbody>
    </table>
</div>
<!-- //Table -->
<!-- Paginate -->

<!-- //Paginate -->


