@using Wow.Tv.Middle.Model.Db90.DNRS

@model List<T_RUNDOWN>


@{
    Layout = null;
}



<table>
    <colgroup>
        <col width="23%">
        <col width="auto">
        <col width="23%">
    </colgroup>
    <thead>
        <tr>
            <th>시간</th>
            <th>프로그램명</th>
            <th>진행</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count == 0)
        {
            <tr>
                <td colspan="3">등록 게시물이 없습니다.</td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.RUN_START</td>
                    <td class="text">
                        <a href="#" onclick="return TvScheduleIndex.GoProgramMain('@item.PRG_CD');">@item.PRG_NM</a>
                        @if (item.IsFirst == true)
                        {
                        <span class="box-icon">첫방송</span>
                        }
                        @if (item.IsRenewal == true)
                        {
                            <span class="box-icon">개편</span>
                        }
                    </td>
                    <td>@item.ANC1_NM @item.ANC2_NM</td>
                </tr>
            }
        }
    </tbody>
</table>


