@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.Middle.Model.Db49.Article

@model  ListModel<NUP_REPORTER_SELECT_Result>

@{
    Layout = null;

    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string uploadWebPathRoot = AppState["UploadWebPathRoot"].ToString();
}

@if (Model.ListData.Count > 0)
{
    foreach (var item in Model.ListData)
    {
        string imageUrl = Wow.WowExtensionMethod.NoImageProfile("82");
        if (!string.IsNullOrEmpty(item.IMAGE_URL))
        {
            imageUrl = uploadWebPathRoot + item.IMAGE_URL;
        }

        <div class="box-reporter-detail">
            <div class="box-photo-reporter" style="background:url(@imageUrl) no-repeat 50%;background-size:110px auto;">
                <div class="frame-circle"></div>
            </div>
            <div class="box-name-reporter">
                <p><span>@item.DEPT_NM</span> @item.USER_NM @item.POSITION</p>
            </div>
            <div class="box-talk-reporter">
                <p>@MvcHtmlString.Create(item.INTRODUCTION)</p>
            </div>
            <div class="btn-type4">
                <a href="#" onclick="return ReporterIndex.GoReporterDetail('@item.REPORTER_ID')">기자의 최신기사 보기</a>
            </div>
            <div class="box-list-contact">
                <span class="btn-mail"><button type="button" onclick="return ReporterIndex.GetEmailForm('@item.EMAIL', '@item.USER_NM')">메일</button></span>
                <span class="division-bar"></span>
                <span class="btn-fav"><button type="button" onclick="return ReporterIndex.GetSubScript('@item.REPORTER_ID')">구독하기</button></span>

               @if (item.FACEBOOK_VIEW_YN == "Y")
               {
                <span class="division-bar"></span>
                <span class="btn-facebook"><a href="@item.FACEBOOK" target="_blank">Facebook</a></span>
               }
               @if (item.TWITTER_VIEW_YN == "Y")
               {
                <span class="division-bar"></span>
                <span class="btn-twitter"><a href="@item.TWITTER" target="_blank">Twitter</a></span>
               }

               @if (item.BLOG_VIEW_YN == "Y")
               {
                <span class="division-bar"></span>
                <span class="btn-blog"><a href="@item.BLOG" target="_blank">블로그</a></span>
               }                
            </div>
        </div>

    }
}
else
{
    <div class="box-reporter-detail">
        <div class="box-talk-reporter">
            <p>기자 정보가 없습니다.</p>
        </div>
    </div>
}