@using Wow
@{
    Layout = null;
}

@if (Model.ListData != null && Model.ListData.Count > 0)
{
    foreach (var item in Model.ListData)
    {
        <div class="artic-reply">
            @if (item.OPEN_YN == "Y")
            {
                @Html.Raw(WowExtensionMethod.CommentIcon(item.LOGIN_TYPE))
                <span class="name">@item.USER_NAME</span>
                <span class="time">@item.REG_DATE</span>
                <div class="text-reply" id="txt_@item.COMMENT_SEQ">@Html.Raw(item.COMMENT)</div>
                <div id="updateDiv_@item.COMMENT_SEQ"></div>
                if ((LoginHandler.IsLogin && LoginHandler.CurrentLoginUser.UserId == item.REG_ID)
                        || (LoginHandler.IsEasyLogin && LoginHandler.CurrentEasyLoginUser.SnsId.ToString() == item.REG_ID))
                {
                    <div class="box-button-reply" id="btnDiv_@item.COMMENT_SEQ">
                        <div id="@item.COMMENT_SEQ">
                            <span class="btn-type4 btnUpdate"><button>수정</button></span>
                            <span class="btn-type4 btnDelete"><button>삭제</button></span>
                        </div>
                    </div>
                }
            } else
            {
                <p>관리자에 의해 비공개(삭제) 처리되었습니다.</p>
            }
        </div>
    }
}

<script>
    $('#commentCnt').text('(@Model.TotalDataCount)');
    $('#totalDataCount').val(@Model.TotalDataCount);
</script>