@using Wow
@using Wow.Tv.FrontWeb.Areas.NewsCenter.Models

@model NewsMainModel

@{
    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();

    AppState["BodyClass"] = "news sub";
}

@section styles{
    <link rel="stylesheet" href="@wowTvStyle/css/news.css">
}

@section scripts{
    <script src="@wowTvScript/sticky.js"></script>
    <script src="@wowTvScript/NewsCenter/Common.js"></script>    
    <script src="@wowTvScript/NewsCenter/News/ManySee.js"></script>
}
<!-- Content Area -->
<div class="wrap-adbox-right" style="padding-top:20px;" data-sticky_parent>
    <div class="section-cont" data-sticky_column>
        <!-- "tab-rank-area" -->
        <div class="tab-rank-area">
            <!-- 탭 영역 -->
            <div class="tab-type2">
                <ul class="col2">
                    <li class="on"><a href="#none">종합</a></li>
                    <li id="liEntspo"><a href="#none">연예 &middot; 스포츠</a></li>
                </ul>
            </div>
            <!-- //탭 영역 -->
            <!-- box-area -->
            <div class="box-area">
                <!-- 종합 -->
                <div class="box on">
                    <!-- 목록 -->
                    <div class="contain-list-news rank-news">
                        <!-- News Block -->
                        @if (Model.newsTotalCountList.Count > 0)
                        {
                            foreach (var item in Model.newsTotalCountList)
                            {
                                int index = Model.newsTotalCountList.IndexOf(item);
                                <div class="article-news-list">
                                    <span class="rank-num">@(index + 1)</span>
                                    <div class="contian-news photo-right">
                                        @if (!string.IsNullOrEmpty(item.IMAGE_FILE))
                                        {
                                            <div class="photo-news">
                                                <img src="@WowExtensionMethod.NewsThumbnailPath("11S", item.THUMBNAIL_FILENM, item.VOD_NUM, item.IMAGE_DIR, item.IMAGE_FILE, item.ARTDATE.Value)" onerror="this.src='@WowExtensionMethod.NewsThumbnailOnError("11S")'" alt="">
                                                @if (item.VOD_NUM != null && item.VOD_NUM > 0)
                                                {
                                                    <span class="icon-play medium"></span>
}
                                            </div>
}
                                        <a href="javascript:NewsCommon.GoNewsRead('@item.ARTICLEID')">
                                            <p class="title-text">@item.TITLE <span class="date">@item.ARTDATE.Value.ToString("yyyy-MM-dd HH:mm")</span></p>
                                            <p class="main-text">@WowExtensionMethod.NewsListContentCut(MvcHtmlString.Create(item.CONTENTS_CUT).ToString(), string.IsNullOrEmpty(item.IMAGE_FILE))</p>
                                        </a>
                                        <div class="footer-text">
                                            <p class="category-text">뉴스 &gt; @item.SECTION_NAME</p>
                                            <span class="division-bar"></span>
                                            <p class="reporter">
                                                @item.COMP_NAME
                                            </p>
                                            <!-- 해시태그  -->
                                            @if (!string.IsNullOrEmpty(item.TAG))
                                            {
                                                <span class="division-bar"></span>
                                                <div class="tags">
                                                    @MvcHtmlString.Create(WowExtensionMethod.NewsHashTag(item.TAG, 3, ""))
                                                </div>
}
                                        </div>
                                    </div>
                                </div>
}
                        }
                        else
                        {
                            <div class="article-news-list">
                                <span class="rank-num">&nbsp;</span>
                                <div class="contian-news photo-right">

                                        <p class="title-text">조회 결과가 없습니다.<span class="date">&nbsp;</span></p>
                                        <p class="main-text">&nbsp;</p>

                                </div>
                            </div>
                        }
                    </div>
                    <!-- //목록 -->
                </div>
                <!-- //종합 -->
                <!-- 연예/스포츠 -->
                <div class="box">
                    <!-- 목록 -->
                    <div class="contain-list-news rank-news">
                        <!-- News Block -->
                        @if (Model.newsEntSpoCountList.Count > 0)
                        {
                            foreach (var item in Model.newsEntSpoCountList)
                            {
                                int index = Model.newsEntSpoCountList.IndexOf(item);
                                <div class="article-news-list">
                                    <span class="rank-num">@(index + 1)</span>
                                    <div class="contian-news photo-right">
                                        @if (!string.IsNullOrEmpty(item.IMAGE_FILE))
                                        {
                                            <div class="photo-news">
                                                <img src="@WowExtensionMethod.NewsThumbnailPath("11S", item.THUMBNAIL_FILENM, item.VOD_NUM, item.IMAGE_DIR, item.IMAGE_FILE, item.ARTDATE.Value)" onerror="this.src='@WowExtensionMethod.NewsThumbnailOnError("11S")'">
                                                @if (item.VOD_NUM != null && item.VOD_NUM > 0)
                                                {
                                                    <span class="icon-play medium"></span>
                                                }
                                            </div>
                                        }
                                        <a href="javascript:NewsCommon.GoNewsDetailView('entspo','','','@item.ARTICLEID')">
                                            <p class="title-text">@item.TITLE <span class="date">@item.ARTDATE.Value.ToString("yyyy-MM-dd HH:mm")</span></p>
                                            <p class="main-text">@WowExtensionMethod.NewsListContentCut(MvcHtmlString.Create(item.CONTENTS_CUT).ToString(), string.IsNullOrEmpty(item.IMAGE_FILE))</p>
                                        </a>
                                        <div class="footer-text"> 
                                            <p class="category-text">연예 · 스포츠 &gt; @item.SECTION_NAME</p>
                                            <span class="division-bar"></span>
                                            <p class="reporter">
                                                @item.COMP_NAME
                                            </p>
                                            <!-- 해시태그  -->
                                            @if (!string.IsNullOrEmpty(item.TAG))
                                            {
                                                <span class="division-bar"></span>
                                                <div class="tags">
                                                    @MvcHtmlString.Create(WowExtensionMethod.NewsHashTag(item.TAG, 3, ""))
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
}
                        }
                        else
                        {
                            <div class="article-news-list">
                                <span class="rank-num">&nbsp;</span>
                                <div class="contian-news photo-right">

                                    <p class="title-text">조회 결과가 없습니다.<span class="date">&nbsp;</span></p>
                                    <p class="main-text">&nbsp;</p>

                                </div>
                            </div>
                        }

                        <!-- //News Block -->
                    </div>
                    <!-- //목록 -->
                </div>
                <!-- //연예/스포츠 -->
            </div>
            <!-- //box-area -->
        </div>
        <!-- //"tab-rank-area" -->
    </div>
    <!-- cont Right start -->
    <div class="right-area  mgt_0" data-sticky_column id="divContentRight" style="height:3200px"></div>
    <!--// cont Right end -->
</div>
<script>

$(document).ready(function () {

    @if( Request["tab"] != null && Request["tab"].Equals("entSpo"))
    {
        //연예.스포츠 탭 활성
        @:$("#liEntspo").click();
    }

    //오른쪽 부가 컨텐츠 + AD Area
    NewsCommon.RightContent();
    
});
</script>


@section LastScriptArea{
    <script type="text/javascript">

        // 오른쪽 컨텐츠 + 광고영역 스크롤 / Generated by CoffeeScript 1.9.2
        (function () {
            var reset_scroll;

            $(function () {
                return $("[data-sticky_column]").stick_in_parent({
                    parent: "[data-sticky_parent]"
                });
            });

            reset_scroll = function () {
                var scroller;
                scroller = $("body,html");
                scroller.stop(true);
                if ($(window).scrollTop() !== 0) {
                    scroller.animate({
                        scrollTop: 0
                    }, "fast");
                }
                return scroller;
            };

            window.scroll_it = function () {
                var max;
                max = $(document).height() - $(window).height();
                return reset_scroll().animate({
                    scrollTop: max
                }, max * 3).delay(100).animate({
                    scrollTop: 0
                }, max * 3);
            };

            window.scroll_it_wobble = function () {
                var max, third;
                max = $(document).height() - $(window).height();
                third = Math.floor(max / 3);
                return reset_scroll().animate({
                    scrollTop: third * 2
                }, max * 3).delay(100).animate({
                    scrollTop: third
                }, max * 3).delay(100).animate({
                    scrollTop: max
                }, max * 3).delay(100).animate({
                    scrollTop: 0
                }, max * 3);
            };

            $(window).on("resize", (function (_this) {
                return function (e) {
                    return $(document.body).trigger("sticky_kit:recalc");
                };
            })(this));

        }).call(this);
    </script>
}