@using Wow
@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.Middle.Model.Db49.Article

@model  ListModel<ArticleClass_Hanatour>

@{
    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();

    Layout = null;
}

@if (Model.TotalDataCount > 0)
{
    foreach (var item in Model.ListData)
    {
        <div class="article-news-list">
            <div class="contian-news photo-right">
                @if (!string.IsNullOrEmpty(item.thumbnail))
                {
                <div class="photo-news life-culture">
                    <img src="@item.thumbnail" alt="" onerror="this.src='@WowExtensionMethod.NewsThumbnailOnError("16S")'">
                </div>
                }
                <a href="javascript:Travel.GoTravelView('@item.ArticleID')">
                    <p class="title-text">@Html.Raw(item.Title)<span class="date">@item.ArticleDate.Value.ToString("yyyy-MM-dd HH:mm")</span></p>
                    <p class="main-text">@WowExtensionMethod.NewsListContentCut(MvcHtmlString.Create(item.Contents).ToString(), string.IsNullOrEmpty(item.thumbnail))</p>
                </a>
                <div class="footer-text">
                    <p class="user-id">@item.Writer</p>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="article-news-list">
        <div class="contian-news">
            <div class="contian-news" style="vertical-align:middle;text-align:center;">
                결과가 없습니다.
            </div>
        </div>
    </div>
}
<script>
    $("#totalDataCount").val("@Model.TotalDataCount");
</script>