@using Wow;
@using Wow.Tv.Middle.Model.Db49.Article;

@{
    Layout = null;

    string wowTvScript = AppState["WowTvScript"].ToString();

    NUP_NEWS_MAIN_NEWSSTAND_SELECT_Result newsStandArea1 = ViewBag.newsStandArea1;  //News Stand Rank 1
    List<NUP_NEWS_MAIN_NEWSSTAND_SELECT_Result> newsStandArea2 = ViewBag.newsStandArea2;  //News Stand Rank 2~6
    List<NUP_NEWS_MAIN_NEWSSTAND_SELECT_Result> newsStandArea3 = ViewBag.newsStandArea3;  //News Stand Rank 7~10
    List<NUP_NEWS_MAIN_NEWSSTAND_SELECT_Result> newsStandArea4 = ViewBag.newsStandArea4;  //News Stand Rank 11~13

    List<NUP_NEWSSTAND_KEWORD_SELECT_Result> newsStandHotKeyword = ViewBag.newsStandHotKeyword;

    //string linkUrl = "http://cast.wowtv.co.kr/news/{0}/{1}.html";
    string linkUrl = "http://news.wowtv.co.kr/NewsCenter/News/Read?articleId={1}";
}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css">
    <title>::: 대한민국 대표 경제방송 | 한국경제TV :::</title>
    <meta name="author" content="한국경제">
    <meta name="description" content="보는재미 버는기쁨 대한민국 대표 경제방송">
    <meta name="Keyword" content="wownet, 와우넷, 한국경제TV, WOW TV, 증권, 한경TV, 주식, 투자정보, 투자전략, 종목토론, 전문가 방송, 증권시황, 재테크, 펀드, 선물옵션, 창업, 경제뉴스, 증권교육, 금융">
    <meta name="copyright" content="wowtv, Inc">
    <meta name="google-site-verification" content="Y8EV5z5HAzoIg314s00qxLixQIFodJaJIVeiwpvDSKw">
    <style type="text/css">
    /* 네이버 뉴스스탠드 한국경제TV PAGE */
    body {line-height:1em}
    body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0; letter-spacing: -1px;}
    body,input,textarea,select,button,table{font-family:'Gothic', 'Dotum', '맑은고딕', 'Malgun Gothic', sans-serif; font-size:12px; letter-spacing: -1px;}
    img,fieldset{border:0}
    ul,ol{list-style:none}
    em,address{font-style:normal}
    a{text-decoration:none; font-family: 'Apple SD Gothic Neo','Malgun Gothic','맑은 고딕','Noto Sans',Dotum,'돋움',sans-serif; letter-spacing: -1px; font-size:12px}
    a:hover,a:active,a:focus{text-decoration:underline}

    table {border-collapse:collapse; border-spacing:0;}
    ul {display:inline; list-style:none;}

    /* base 링크 스타일 관련 */    
    a:link {text-decoration:none; color:#333;}
    a:visited {text-decoration:none; color:#333;}
    a:hover {text-decoration:underline; color:#333;}
    a:active {text-decoration:underline; color:#333;}

    .hideEl {display:none; height:0}

    /* 전체영역 840*380 */
    #ns_wrap {width:840px; height:380px; background-color:#fff;  box-sizing: border-box;}
    
    .top-area {height:222px; border-bottom:1px solid #ebe9ea; }
    .top-area .left-box {float:left; width:548px; height:230px; border-right:1px solid #ebe9ea; box-sizing: border-box; margin-right:15px;padding-right:0px;}
    .top-area .left-box h2 a{font-size:22px; height:28px; font-weight:bold; color:#BE040F; display:block; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; padding-top:5px; padding-right:10px;}
    /** top new text color - 093A74  or  BE040F  **/
    .top-area .left-box .news-box:after {display:block; content:""; clear:both;}
    .top-area .left-box .news-box .img-box {float:left; width:228px; height:167px; margin-right:10px; box-sizing: border-box; overflow:hidden}
    .top-area .left-box .news-box .img-box img {width:360px; height:203px; margin-left:-70px}
    .top-area .left-box .news-box .text-box {float:left; width:305px; background-color:#fff;}
    .top-area .left-box .news-box .text-box .title {display:block; font-size:12.5px; color:#666; line-height:23px; max-height:52px; overflow:hidden; font-weight:normal;margin-top:-1px;padding-bottom:16px}
    .top-area .left-box .news-box .text-box ul li {line-height: 28px; background: url(http://img.wowtv.co.kr/PcStyle/images/newsstand/list_bg.png) no-repeat 0 center; padding-left:5px; font-weight:bold; }
    .top-area .left-box .news-box .text-box ul li a {font-size:15px; color:#244F86;  display:block; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; padding-left:10px; box-sizing: border-box;}

    .top-area .right-box {float:left;  width:275px; color:#fff; font-family:'맑은고딕','Malgun Gothic',dotum,sans-serif;}
    .top-area .right-box h2 {background:#013274;height:35px; line-height: 35px; padding-left:10px; font-size:14.5px; margin-bottom:10px;}
    .top-area .right-box ul li a{font-size:12.5px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; line-height:17px;}
    .top-area .right-box ul li span {margin-right:5px}
    
    .top-area .thumbnail:after {display:block; content:""; clear:both;}
    .top-area .thumbnail {display:block; margin-bottom:0px;}
    .top-area .thumbnail span.photo {display:block; float:left; width:93px; height:90px; margin-right:8px;}
    .top-area .thumbnail span.photo img{width:92px; height:93px;}
    
    .top-area .thumbnail dl dt {font-size:1.05em; color:#333; font-weight:bold; line-height:20px; height:57px; max-height:57px;  overflow:hidden;}
    .top-area .thumbnail dl dd  {font-size:12px; color:#707070; line-height:19px; height:40px; max-height:40px; overflow:hidden; vertical-align: bottom; display: block; -webkit-box-orient: vertical; display: -webkit-box;-webkit-line-clamp: 2; /* 컬럼개수*/  }
    .top-area  span {color:#0A5CA6;}
    
    .top-area .list li:before {display:inline-block; content:""; width:2px; height:2px; background:#13377a; vertical-align: middle; margin-right:5px;}
    .top-area .list li {line-height:22px;}
    .top-area .list li a {font-size:14px;display:inline-block; color:#333333; width:265px; font-weight:bold;vertical-align: middle;text-overflow:ellipsis; overflow:hidden; white-space:nowrap;box-sizing: border-box; }

    .bottom-area:after {display:block; content:""; clear:both;}
    .bottom-area .left-box {float:left; width:385px; margin-right:0px; padding-top:7px; padding-right:0px; box-sizing: border-box;}
    .bottom-area .left-box ul li:before {display:inline-block; content:""; width:2px; height:2px; background:#13377a; vertical-align: middle; margin-right:5px;}
    .bottom-area .left-box ul li{line-height:26px;}
    .bottom-area .left-box ul li:nth-child(4) {margin-top:10px;}
    .bottom-area .left-box ul li a{font-size:14px;width:375px; display:inline-block; vertical-align: middle;text-overflow:ellipsis; overflow:hidden; white-space:nowrap; box-sizing: border-box; color:#888; font-weight:bold;}
    .bottom-area .left-box ul li a strong{font-size:14.5px; color:#3C3C3C;}

    .bottom-area .right-box {float:right; padding-top:10px;}
    .bottom-area .right-box div {margin-left:11px; float:left; width:135px; height:140px;}
    .bottom-area .right-box div:first-child {margin-left:0; padding-right:10px; margin-right:0px; border-right:1px solid #ebe9ea;}
    .bottom-area .right-box div a {display:block; width:100%; height:100%; }
    .bottom-area .right-box div span.cont {display:block; line-height:18px; max-height:35px; font-size:12px; color:#333; overflow:hidden;font-weight:bold;margin-top:5px;}
    .bottom-area .right-box div span.cont2 {display:block; line-height:15px; max-height:30px; font-size:12px; color:#fff; overflow:hidden;font-weight:bold;background-color:#0A5CA6;padding:8px 5px;text-align:center;}
    .bottom-area .right-box div span.sect {color:#0A5CA6;}
    /* .bottom-area .right-box img { display:block;  margin-bottom:0px;} */
    .bottom-area .photo {display:block; overflow:hidden; width:135px; height:95px;}
    .bottom-area .photo img {width:141px; height:141px; }
    </style>
</head>
<body>
    <h1 class="hideEl">한국경제 TV 대표 기사 모음</h1>
    <div id="ns_wrap">
        <div class="top-area">
            @* newsStandArea1 & newsStandArea3 *@
            <div class="left-box">
                @* newsStandArea1 Title *@
                <h2><a href="@String.Format(linkUrl, newsStandArea1.ARTID_YYYYMMDD, newsStandArea1.ARTICLEID)" target='_blank'>                    
                    @if (string.IsNullOrEmpty(newsStandArea1.TMPTITLE))
                    {
                        @newsStandArea1.TITLE
                    }
                    else
                    {
                        @newsStandArea1.TMPTITLE
                    }</a></h2>
                <div class="news-box">
                    @* newsStandArea1 Image *@
                    <div class="img-box">
                        <a href="@String.Format(linkUrl, newsStandArea1.ARTID_YYYYMMDD, newsStandArea1.ARTICLEID)" target='_blank'><img src="@Wow.WowExtensionMethod.NewsStandThumbnailPath(newsStandArea1.IMAGE_RRELATION, "16M", newsStandArea1.THUMBNAIL_FILENM, 0, newsStandArea1.IMAGE_DIR, newsStandArea1.IMAGE_FILE, newsStandArea1.ARTDATE.Value)" onerror="this.src='@Wow.WowExtensionMethod.NewsThumbnailOnError("16M")'" alt="기사 이미지"></a>
                    </div>
                    @* newsStandArea1 Content *@
                    <div class="text-box">
                        <a href="@String.Format(linkUrl, newsStandArea1.ARTID_YYYYMMDD, newsStandArea1.ARTICLEID)" target='_blank' class="title">@Wow.WowExtensionMethod.RemoveTagAndReplace(MvcHtmlString.Create(newsStandArea1.CONTENTS_CUT).ToString(), 75, true)</a>
                        @* newsStandArea3(News Stand Rank 7~10) *@
                        <ul>
                            @if (newsStandArea3 != null && newsStandArea3.Count > 0)
                            {
                                foreach (var item in newsStandArea3)
                                {
                                    string artTitle = item.TITLE;

                                    if (!string.IsNullOrEmpty(item.TMPTITLE))
                                    {
                                        artTitle = item.TMPTITLE;
                                    }
                                    <li><a href="@String.Format(linkUrl, item.ARTID_YYYYMMDD, item.ARTICLEID)" target='_blank'>@artTitle</a></li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
            @* HOT KEYWORD(관리자 설정한 텍스트 키워드 > 통합검색 솔류션 기사 추출) *@
            <div class="right-box">
                <h2>HOT<i>!</i> &nbsp; 키워드뉴스</h2>
                @if (newsStandHotKeyword != null && newsStandHotKeyword.Count > 0)
                {
                    <a href="@String.Format(linkUrl, newsStandHotKeyword[0].ARTID_YYYYMMDD, newsStandHotKeyword[0].ARTICLEID)" target='_blank' class="thumbnail">
                        <span class="photo"><img src="@Wow.WowExtensionMethod.NewsThumbnailPath("11M", newsStandHotKeyword[0].THUMBNAIL_FILENM, 0, newsStandHotKeyword[0].IMAGE_DIR, newsStandHotKeyword[0].IMAGE_FILE, newsStandHotKeyword[0].ARTDATE.Value)" onerror="this.src='@Wow.WowExtensionMethod.NewsThumbnailOnError("16M")'" alt="기사 이미지"></span>
                        <dl>
                            <dt>
                                <span>[@newsStandHotKeyword[0].KEYWORD]</span> @newsStandHotKeyword[0].TITLE
                            </dt>
                            <dd>
                                @WowExtensionMethod.RemoveTagAndReplace(MvcHtmlString.Create(newsStandHotKeyword[0].CONTENTS_CUT).ToString(), 70, true)
                            </dd>
                        </dl>
                    </a>
                }

                <ul class="list">
                @foreach (var item in newsStandHotKeyword)
                {
                    int index = newsStandHotKeyword.IndexOf(item);
                    if (index > 0)
                    {
                    <li><a href="@String.Format(linkUrl, item.ARTID_YYYYMMDD, item.ARTICLEID)" target='_blank'><span>[@item.KEYWORD]</span>@item.TITLE</a></li>
                    }
                }
                </ul>

            </div>
        </div>
        <div class="bottom-area">
            @* newsStandArea2(News Stand Rank 2~6) *@
            <div class="left-box">
                <ul>
            @if (newsStandArea2 != null && newsStandArea2.Count > 0)
            {
                foreach (var item in newsStandArea2)
                {
                    int index = newsStandArea2.IndexOf(item);

                    string artTitle = item.TITLE;

                    if (!string.IsNullOrEmpty(item.TMPTITLE))
                    {
                        artTitle = item.TMPTITLE;
                    }

                    if(index == 0 || index == 3)
                    {
                        artTitle = string.Format("<strong>{0}</strong>", artTitle);
                    }
                    <li><a href="@String.Format(linkUrl, item.ARTID_YYYYMMDD, item.ARTICLEID)" target='_blank'>@MvcHtmlString.Create(artTitle)</a></li>
                }
            }
                </ul>
            </div>
            @* newsStandArea4(News Stand Rank 11~13) *@
            <div class="right-box">
            @if (newsStandArea4 != null && newsStandArea4.Count > 0)
            {
                foreach (var item in newsStandArea4)
                {
                    int index = newsStandArea4.IndexOf(item);

                    string artTitle = item.TITLE;
                    if (!string.IsNullOrEmpty(item.TMPTITLE))
                    {
                        artTitle = item.TMPTITLE;
                    }
                    
                <div>
                    <a href="@String.Format(linkUrl, item.ARTID_YYYYMMDD, item.ARTICLEID)" target='_blank'>                        
                        <span class="photo">
                            <img src="@Wow.WowExtensionMethod.NewsStandThumbnailPath(item.IMAGE_RRELATION, "16M", item.THUMBNAIL_FILENM, 0, item.IMAGE_DIR, item.IMAGE_FILE, item.ARTDATE.Value)" onerror="this.src='@Wow.WowExtensionMethod.NewsThumbnailOnError("16M")'" alt="기사 이미지">
                        </span>                        
                        <span class="@(index == 0 ? "cont2" : "cont") ">
                            @Wow.WowExtensionMethod.RemoveTagAndReplace(MvcHtmlString.Create(artTitle).ToString(), 44, true)
                        </span>
                    </a>
                </div>
                }
            }
            </div>
        </div>
    </div>
</body>
</html>
