@using Wow
@using Wow.Tv.FrontWeb.Areas.Finance.Helpers
@using Wow.Tv.Middle.Model.Db49.Article
@using Wow.Tv.Middle.Model.Db22.stock

@model  NUP_NEWS_READ_SELECT_Result 

@{
    string wowTvScript = AppState["WowTvScript"].ToString();
    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string DomainUrlFront = AppState["DomainUrlFront"].ToString();

    var newsRead = Model;

    NUP_REPORTER_SELECT_Result reporterInfo = ViewBag.reporterInfo;
    List<NUP_NEWS_SECTION_SELECT_Result> reporterArticel = ViewBag.reporterArticel;
    List<ArticleStock> articleStockList = ViewBag.articleStockList;
}

@section scripts{
    <script src="@wowTvScript/NewsCenter/Common.js"></script>
    <script src="@wowTvScript/jquery.printThis.js"></script>
    <script src="@wowTvScript/Finance/CharacterStock/Detail.js"></script>
}

@if (newsRead == null)
{
    <div class="news-header-section">
        <div class="title-area">
            <p class="title-news">해당기사가 삭제되었거나 보유기간이 종료되었습니다.</p>
        </div>
    </div>
}
else
{
    <form id="frmSearch" name="frmSearch" method="post">
        <input type="hidden" id="hdSearchId" name="SearchId" />
        <input type="hidden" name="articleId" id="articleId" value="@newsRead.ARTICLEID" />
    </form>
    <div class="secton-header-news">
        @* 기사 제목 *@
        <p class="title-news">@newsRead.TITLE</p>
        @* 기자 정보 *@
        <p class="reporter-news">
        @if (newsRead.IS_BYLINE.ToUpper().Equals("TRUE"))
        {
            @Html.Raw(string.Format("{0} {1} {2}", newsRead.BYLINE_DEPT, newsRead.BYLINE_NAME, newsRead.BYLINE_POSITION));

            if (!string.IsNullOrEmpty(newsRead.BYLINE_EMAIL))
            {
                @Html.Raw(string.Format("<a href=\"mailto:{0}\">{0}</a>", newsRead.BYLINE_EMAIL));
            }
        }
        </p>
        @* SNS Count *@
        <p class="sns-news">페이스북 노출 <span class="text-number" id="faceBookNum">0</span></p>

        @* 버튼영역 *@
        <div class="box-util-button">
            @* 핀, 페이스북, 트위터, 카카오 스토리, 블로그, 링크복사 *@
            <div class="box-icon-sharesns">
                @if (LoginHandler.IsLogin == true)
                {
                    <span class="btn-pin"><button onclick="co.PopupScrap('News', '@newsRead.TITLE', '@newsRead.ARTICLEID','@Request["menuSeq"]', '@Request.Url.AbsoluteUri.ToString()');">핀</button><span class="tooltip">핀하기</span></span>
                }
                else
                {
                    <span class="btn-pin"><button onclick="LoginConfirm()">핀</button><span class="tooltip">핀하기</span></span>
                }
                @*핀하기외 제외(17.12.11 양승범 과장)*@
                @*
                <span class="btn-facebook">
                    <button onclick="Share.Facebook('@newsRead.TITLE')">페이스북</button>
                    <span class="tooltip">페이스북</span>
                </span>
                <span class="btn-twitter">
                    <button onclick="Share.Twitter(window.location,'@newsRead.TITLE')">트위터</button>
                    <span class="tooltip">트위터</span>
                </span>
                <span class="btn-kakaostory">
                    <button onclick="Share.kakaostory(window.location,'@newsRead.TITLE')">카카오스토리</button>
                    <span class="tooltip">카카오스토리</span>
                </span>
                <span class="btn-blog">
                    <button onclick="Share.Naver(window.location,'@newsRead.TITLE')">블로그</button>
                    <span class="tooltip">블로그</span>
                </span>
                <span class="btn-copyurl">
                    <button onclick="PopupCopyLinkScript();">링크 복사</button>
                    <span class="tooltip">링크 복사</span>
                </span>
                *@
            </div>
            @* 목록, 인쇄 *@
            <div class="box-util-links">
                <span class="btn-list-link"><a href="/Finance/CharacterStock/CharacterStock?menuSeq=@Request["menuSeq"]">목록으로</a></span>
                <span class="btn-print">
                    <a href="#none" onclick="CharacterStockDetail.printShow();">인쇄하기</a>
                    <span class="tooltip">인쇄</span>
                </span>
                @* 본문 글자 조절 *@
                <div class="box-zoom">
                    <span class="btn-zoomin"><button onclick="ExpandFont('divNewsContent')">글자 크게</button></span>
                    <span class="btn-zoomout"><button onclick="ReduceFont('divNewsContent')">글자 작게</button></span>
                </div>
            </div>
        </div>
    </div>
    @* 해당 기사의 종목코드 정보 *@
    if(articleStockList != null && articleStockList.Count > 0)
    {
        <div class="stock-text-area">
        
        @*@foreach (var item in (List<usp_GetStockPrice_Result>)ViewBag.relativeStockList)
        {
            <p class="stock-text">@item.stock_nickname (@item.arj_code.Replace("A", "")) 현재가<span class="emphasize">@String.Format("{0:#,##0}", item.curr_price)</span>&nbsp; &nbsp;전일대비 @Html.DomesticStockDetailChgPriceFormat(item.chg_type, item.net_chg) @Html.DomesticStockDetailChgRateFormat(item.chg_type, item.curr_price, item.net_chg)</p>
        }*@
            @{
                string chgType = ViewBag.CurrentPrice.chg_type;
                int? chgPrice = ViewBag.CurrentPrice.net_chg;
                int? curPrice = ViewBag.CurrentPrice.curr_price;
            }
            <p class="stock-text">
                <a href="#none" onclick="CharacterStockDetail.DomesticStockDetailGo('@DomainUrlFront','@ViewBag.CurrentPrice.arj_code.Replace("A", "")')">@ViewBag.CurrentPrice.stock_wanname</a> (@ViewBag.CurrentPrice.arj_code.Replace("A", ""))  현재가<span class="emphasize">@String.Format("{0:#,##0}", ViewBag.CurrentPrice.curr_price)</span>&nbsp; &nbsp;전일대비 @Html.DomesticStockDetailChgPriceFormat(chgType, chgPrice) @Html.DomesticStockDetailChgRateFormat(chgType, curPrice, chgPrice)
            </p>
        </div>
    }

    @*
    <p class="stock-text">
        (@ViewBag.CurrentPrice.arj_code.Replace("A", ""))현재가
        <span class="emphasize">@String.Format("{0:#,##0}", ViewBag.CurrentPrice.curr_price)</span>&nbsp; &nbsp;
        전일대비
        @Html.DomesticStockDetailPriceMiddleFormat((string)ViewBag.CurrentPrice.chg_type, (int)ViewBag.CurrentPrice.net_chg)
        @Html.DomesticStockDetailChgRateMiddleFormat((string)ViewBag.CurrentPrice.chg_type, (int)ViewBag.CurrentPrice.curr_price, (int)ViewBag.CurrentPrice.net_chg)
    </p>
    *@

    @* 기사 상세 *@
    <div class="section-content news-detail">
        @* 부제목 *@
        @if (!string.IsNullOrEmpty(newsRead.SUBTITLE))
        {
            <div class="box-headline">@newsRead.SUBTITLE</div>
        }
        @* 기사 내용 *@
        <div class="box-body-news" id="divNewsContent">
            @MvcHtmlString.Create(WowExtensionMethod.NewsContentReplace(newsRead.CONTENT, newsRead.COMPCODE))
        </div>
        @* 기사 태그 *@
        @if (!string.IsNullOrEmpty(newsRead.TAG))
        {
            <div class="box-tags-news">
                @MvcHtmlString.Create(WowExtensionMethod.NewsHashTag(newsRead.TAG, 5,"READ"))
            </div>

        }
        @* 기자 정보 *@
        @if (reporterInfo != null)
        {
            <div class="article-infor-repoter">
                @* 기자 정보 *@
                <div class="box-photo-reporter" style="background:url(@wowTvStyle/@reporterInfo.IMAGE_URL) no-repeat 50%; background-size:110px auto;">
                    <div class="frame-circle"></div>
                </div>
                <p class="reporter"><span class="part">@reporterInfo.DEPT_NM </span> @reporterInfo.USER_NM @reporterInfo.POSITION</p>
                @if(!string.IsNullOrEmpty(reporterInfo.EMAIL))
                {                
                <a class="link-mail" href="mailto:@reporterInfo.EMAIL">@reporterInfo.EMAIL</a>
                }
                <a class="link-news" href="javascript:CharacterStockDetail.GoReporterDetail('@reporterInfo.USER_ID')">기자의 최신기사 보기</a>
                @* 기자의 기사 리스트 *@
                @if (reporterArticel != null && reporterArticel.Count > 0)
                {
                    <div class="list-type-news">
                        <ul>
                            @foreach (var item in reporterArticel)
                            {
                                <li><a href="javascript:NewsCommon.GoNewsRead('@item.ARTICLEID')">@item.TITLE</a></li>
                            }
                        </ul>
                    </div>
                }
            </div>
        }
    </div>

    @* 주가예측 차트 & 관련기업 동영상 *@
if (ViewBag.stockCode != null)
{
        <div class="section-content">
            <div class="col2">
                <div class="cont-infor-relative">
                    <h2 class="title">주가예측차트</h2>
                    <div style="width:470px;height:258px;background:#eee;">
                        @{ 
                            string chgType = ViewBag.CurrentPrice.chg_type;
                            int? chgPrice = ViewBag.CurrentPrice.net_chg;
                            int? curPrice = ViewBag.CurrentPrice.curr_price;
                        }
                        <a href="#none" onclick="CharacterStockDetail.DomesticStockDetailGo('@DomainUrlFront','@ViewBag.CurrentPrice.arj_code.Replace("A", "")')">
                            @ViewBag.CurrentPrice.stock_wanname (@ViewBag.CurrentPrice.arj_code.Replace("A", ""))    현재가 @String.Format("{0:#,##0}", ViewBag.CurrentPrice.curr_price)    전일대비 @Html.DomesticStockDetailChgPriceFormat(chgType, chgPrice)  @Html.DomesticStockDetailChgRateFormat(chgType, curPrice, chgPrice)
                            <input type="hidden" id="arjCode" value="@ViewBag.CurrentPrice.arj_code.Replace("A", "")" />
                            <!-- Chart -->
                            <img id="imgChart" src="" />
                        </a>
                        
                    </div>
                </div>
                <div class="cont-infor-relative">
                    <h2 class="title">관련기업 동영상</h2>
                    <div class="box-list-relative">
                        <ul>
                            @if (ViewBag.vodList.Length == 0)
                            {
                                <li>내용이 없습니다.</li>
                            }
                            else
                            {
                                foreach (var item in ViewBag.vodList)
                                {
                                    <li>
                                        <a href="http://www.wownet.co.kr/board/movie/view.asp?vodnum=@item.vodNum&bcode=N03020000&mseq=160" target="_blank">
                                            <img src="http://vodimg.wowtv.co.kr/@item.EditFolder.Trim()/@item.Image_S.Trim()" alt="@ViewBag.CurrentPrice.stock_wanname">
                                            @ViewBag.CurrentPrice.stock_wanname (@ViewBag.CurrentPrice.arj_code.Replace("A", ""))
                                            <span class="date">@item.insdate.ToString("yyyy-MM-dd")</span>
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }
    @*인쇄*@
    <div id="divSubScriptPopup" class="modal fade" role="dialog"></div>
    <div class="modal fade" role="dialog">
        <div id="divPrintPopup" class="popup-type1 print" style="display:none;">
            <div class="inner">
                <h1 class="title" style="margin: 0">인쇄하기</h1>
                <a href="#none" onclick="CharacterStockDetail.modalDivClose();" class="pop-close-btn">닫기</a>
                <div class="content-box">
                    <div class="btn-area">
                        <div class="box-util-links">
                            <span class="btn-print">
                                <a href="javascript:$('#divPrintArea').printThis({ pageTitle: '한국경제TV', importCSS: true, importStyle: true });">인쇄하기</a>
                                <span class="tooltip">인쇄</span>
                            </span>
                        </div>
                    </div>
                    @*뉴스 영역*@
                    <div class="news-cont-area print" id="divPrintArea">
                        @*제목 & 일자*@
                        <div class="main-head">
                            <span class="date">
                                @if (Model.ARTUPDATE != null)
                                {
                                    @String.Format("{0} 수정 ", Model.ARTUPDATE.Value.ToString("yyyy-MM-dd HH:mm"));
                                }
                                else
                                {
                                    @Model.ARTDATE.Value.ToString("yyyy-MM-dd HH:mm");
                                }
                            </span>
                            <strong class="tit">@Model.TITLE</strong>
                        </div>
                        @* 부제목 *@
                        @if (!string.IsNullOrEmpty(Model.SUBTITLE))
                        {
                            <div class="sub-head">@Model.SUBTITLE</div>
                        }
                        @*뉴스 내용*@
                        <p class="cont">
                            @MvcHtmlString.Create(WowExtensionMethod.NewsContentReplace(Model.CONTENT, newsRead.COMPCODE))
                        </p>
                        @*기자 정보*@
                        @if (Model.IS_BYLINE.ToUpper().Equals("TRUE"))
                        {
                            <div class="info-reporter">한국경제TV @Model.BYLINE_DEPT @Model.BYLINE_NAME @Model.BYLINE_POSITION @Model.BYLINE_EMAIL</div>
                        }
                        @* Copyright *@
                        <div class="copyright">Copyrightⓒ한국경제TV. All Rights Reserved. 무단전재 및 재배포 금지</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
