@using Wow
@using Wow.Tv.Middle.Model.Db49.Article
@using Wow.Tv.FrontWeb.Areas.NewsCenter.Models

@model NewsMainModel

@{
    Layout = "~/Views/Shared/_MainLayout2.cshtml";

    int iRow = 0;
    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();

    List<NUP_NEWSSTAND_KEWORD_SELECT_Result> newsStandHotKeyword = ViewBag.newsStandHotKeyword;
}

@section styles{
    <link rel="stylesheet" href="@wowTvStyle/css/news.css">
}

@section scripts { 
    <script src="@wowTvScript/jquery.timeago/jquery.timeago.js"></script>
    <script src="@wowTvScript/jquery.timeago/jquery.timeago.ko.js"></script>

    <script src="@wowTvScript/NewsCenter/Common.js"></script>
    <script src="@wowTvScript/NewsCenter/Main/Index.js"></script>
    <script src="@wowTvScript/sticky.js"></script>
}

@section modalDiv{
    <div id="divSubScriptPopup" class="modal fade" role="dialog"></div>
}

@* 메인 컨텐츠(이슈 갤러리 전까지) *@
<div class="wrap">
    <div class="contain-content">
        <div class="wrap">
            @* NEWS MAIN NUM(1~6) 6개 *@
            <div class="main-visual">
                @* NEWS MAIN NUM(1) 1개 *@
                <div class="left-visual">
                    @if (Model.newsStandTopInfo != null)
                    {
                        var article = Model.newsStandTopInfo;
                        <a href="javascript:NewsCommon.GoNewsRead('@article.ARTICLEID')">
                            @MvcHtmlString.Create(WowExtensionMethod.NewsGugunIcon(article.GUBUN_NAME, "B"))
                            <img src="@Wow.WowExtensionMethod.NewsStandThumbnailPath(article.IMAGE_RRELATION, "16B", article.THUMBNAIL_FILENM, article.VOD_NUM, article.IMAGE_DIR, article.IMAGE_FILE, article.ARTDATE.Value)" alt="" onerror="this.src='@Wow.WowExtensionMethod.NewsThumbnailOnError("16B")'" >
                            <span class="title">
                                @if (string.IsNullOrEmpty(article.TMPTITLE))
                                {
                                    @article.TITLE
                                }
                                else
                                {
                                    @article.TMPTITLE
                                }
                            </span>
                            <span class="text">@WowExtensionMethod.RemoveTagAndReplace(MvcHtmlString.Create(article.CONTENTS_CUT).ToString(), 158, true)</span>
                            @if (@article.VOD_NUM > 0)
                            {
                                <span class="icon-play"></span>
                            }
                        </a>
                    }
                </div>
                @* NEWS MAIN NUM(2~6) 5개 *@
                <div class="right-visual">
                    @* NEWS MAIN NUM(2~6) 5개 / 텍스트 영역 *@
                    <ul class="btn-list">
                        @if (Model.newsStandTopList != null && Model.newsStandTopList.Count > 0)
                        {
                            foreach (var item in Model.newsStandTopList)
                            {
                                int index = Model.newsStandTopList.IndexOf(item);

                                <li @(index.Equals(0) ? "class=on" : "")>
                                    <a href="javascript:NewsCommon.GoNewsRead('@item.ARTICLEID')">
                                        @if (string.IsNullOrEmpty(item.TMPTITLE))
                                        {
                                            @Html.Raw(WowExtensionMethod.ToStrong(item.TITLE, item.BOLD_YN))
                                        }
                                        else
                                        {
                                            @Html.Raw(WowExtensionMethod.ToStrong(item.TMPTITLE, item.BOLD_YN))
                                        }
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                    @* NEWS MAIN NUM(2~6) 5개 / 이미지 영역 *@
                    <ul class="img-area">
                        @if (Model.newsStandTopList != null && Model.newsStandTopList.Count > 0)
                        {
                            foreach (var item in Model.newsStandTopList)
                            {
                                int index = Model.newsStandTopList.IndexOf(item);

                                <li @(index.Equals(0) ? "class=on" : "")>
                                    <a href="javascript:NewsCommon.GoNewsRead('@item.ARTICLEID')" class="img-box">
                                        @if (@item.VOD_NUM > 0)
                                        {
                                            <span class="icon-play"></span>
                                        }
                                        @MvcHtmlString.Create(WowExtensionMethod.NewsGugunIcon(item.GUBUN_NAME, "B"))

                                        <img src="@Wow.WowExtensionMethod.NewsStandThumbnailPath(item.IMAGE_RRELATION, "34M", item.THUMBNAIL_FILENM, item.VOD_NUM, item.IMAGE_DIR, item.IMAGE_FILE, item.ARTDATE.Value)" alt="" onerror="this.src='@Wow.WowExtensionMethod.NewsThumbnailOnError("34M")'" >

                                        <span class="text">
                                            @WowExtensionMethod.RemoveTagAndReplace(MvcHtmlString.Create(item.CONTENTS_CUT).ToString(), 40, true)
                                        </span>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
            @* 추천 키원드, 메인뉴스 리스트, 뉴스썸 *@
            <div class="main-content-area" data-sticky_parent>
                @* 추천 키원드 *@
                <div class="left-area" data-sticky_column>
                    <h2>추천 키워드 뉴스</h2>
                    <ul class="thumbnail-list">
                        @foreach (var item in newsStandHotKeyword)
                        {
                        <li>
                            <a href="javascript:NewsCommon.GoNewsRead('@item.ARTICLEID')">
                                @if (!string.IsNullOrEmpty(item.IMAGE_FILE)) {
                                <span class="img">
                                    <img src="@WowExtensionMethod.NewsThumbnailPath("16M", item.THUMBNAIL_FILENM, item.VOD_NUM, item.IMAGE_DIR, item.IMAGE_FILE, item.ARTDATE.Value)" onerror="this.src='@WowExtensionMethod.NewsThumbnailOnError("16S")'" alt="">
                                    @if (item.VOD_NUM != null && item.VOD_NUM > 0)
                                    {
                                    <span class="icon-play medium"></span>
                                    }
                                </span>
                                }
                                <span class="hash">@item.KEYWORD</span>
                                <span class="text">
                                    @*<span class="box-icon type06">시황</span>*@
                                    <strong>@item.TITLE</strong>
                                </span>
                            </a>                        
                        </li>
                        }
                    </ul>
                </div>
                @* 중앙영역(메인 뉴스 리스트, 주요시세) *@
                <div class="center-area" data-sticky_column>
                    @* 메인 뉴스 리스트 *@    
                    <ul class="thumbnail-list">
                        @if (Model.newsMainYList != null && Model.newsMainYList.Count > 0)
                        {
                            foreach (var item in Model.newsMainYList)
                            {
                                int index = Model.newsMainYList.IndexOf(item);
                                string titleExt = string.Empty;

                                if (item.TITLE.Trim().StartsWith("["))
                                {
                                    int lastLocation = item.TITLE.IndexOf("]");
                                    if (lastLocation >= 0)
                                    {
                                        titleExt = item.TITLE.Substring(0, lastLocation + 1);
                                    }
                                }
                                <li>
                                    <a href="javascript:NewsCommon.GoNewsRead('@item.ARTICLEID')">
                                        @*1,4,5 번째 이미지 표현 *@
                                        @if (index.Equals(0) || index.Equals(3) || index.Equals(6))
                                        {
                                            if (!string.IsNullOrEmpty(item.IMAGE_FILE)) { 
                                                <span class="img">
                                                    <img src="@WowExtensionMethod.NewsThumbnailPath("16S", item.THUMBNAIL_FILENM, item.VOD_NUM, item.IMAGE_DIR, item.IMAGE_FILE, item.ARTDATE.Value)" onerror="this.src='@WowExtensionMethod.NewsThumbnailOnError("16S")'" alt="">
                                                </span>
                                            }
                                        }
                                        <span class="text">
                                            @MvcHtmlString.Create(WowExtensionMethod.NewsGugunIcon(item.GUBUN_NAME, "S"))
                                            @*오피니언 추출 텍스트 포함 여부*@
                                            @if (!string.IsNullOrEmpty(titleExt) && item.OPINION_EXTRACTION > 0)
                                            {
                                                <span class="font-color02">@titleExt</span>

                                                item.TITLE = item.TITLE.Replace(titleExt, "");

                                                if (item.BOLD_YN.Equals("Y"))
                                                {
                                                    <strong>@item.TITLE</strong>
                                                }
                                                else
                                                {
                                                    @item.TITLE
                                                }
                                            }
                                            else
                                            {
                                                if (item.BOLD_YN.Equals("Y"))
                                                {
                                                    <strong>@item.TITLE</strong>
                                                }
                                                else
                                                {
                                                    @item.TITLE
                                                }
                                            }
                                        </span>
                                    </a>
                                </li>
                            }
                        }
                        else
                        {
                            <li><span class="text">등록된 내용이 없습니다.</span></li>
                        }
                    </ul>
                    @* 주요시세 *@
                    <div class="main-price-area">
                        <div class="price-top">
                            <h3>주요시세</h3>
                            <dl>
                                @* 주요시세 인기검색 종목 *@                             
                                @if (Model.hotStockData.Length > 0)
                                {
                                    <dt>인기검색종목</dt>

                                    foreach (var item in Model.hotStockData)
                                    {
                                        if (iRow < 3)
                                        {
                                        <dd><a href="/Finance/DomesticStock/DomesticStockDetail?searchStr=@item.arj_code.Replace("A", "")">@item.stock_name</a></dd>
                                        }
                                        else
                                        {
                                            break;
                                        }
                                        iRow++;
                                    }
                                }
                            </dl>
                        </div>
                        @* 검색박스(통합검색) *@
                        <div class="search-area">
                            <form name="totalSearchForm" id="totalSearchForm" action="/totalSearch/Mariner/Index" method="post">
                                <input type="text" id="searchTerm" name="searchTerm" value="" placeholder="검색어를 입력하세요." />
                                <a href="javascript:NewsMain.Search();" id="">종목 검색</a>
                            </form>
                        </div>
                        @* 주요시세 탭 *@
                        <div class="main-tab-area">
                            <ul class="tab">
                                <li class="on"><a href="javascript:void(0)">특징주</a></li>
                                <li><a href="javascript:void(0)">종목</a></li>
                                <li><a href="javascript:void(0)">해외증시</a></li>
                                <li><a href="javascript:void(0)">와우넷</a></li>
                            </ul>
                            <div class="box-area center">
                                @* 주요시세 탭(특징주) *@
                                <div class="box on">
                                    <ul>
                                        @if (Model.newsMainMarket != null)
                                        {
                                            foreach (var item in Model.newsMainMarket.Where(p => p.GUBUN.Equals("STOCKITEM")))
                                            {
                                                <li><a href="javascript:NewsCommon.GoNewsRead('@item.ARTICLEID')">@item.TITLE</a></li>
                                            }
                                        }
                                        else
                                        {
                                            <li>등록된 내용이 없습니다.</li>
                                        }
                                    </ul>
                                </div>
                                @* 주요시세 탭(종목) *@
                                <div class="box">
                                    <ul>
                                        @if (Model.newsMainMarket != null)
                                        {
                                            foreach (var item in Model.newsMainMarket.Where(p => p.GUBUN.Equals("MARKET")))
                                            {
                                                <li><a href="javascript:NewsCommon.GoNewsRead('@item.ARTICLEID')">@item.TITLE</a></li>
                                            }
                                        }
                                        else
                                        {
                                            <li>등록된 내용이 없습니다.</li>
                                        }
                                    </ul>
                                </div>
                                @* 주요시세 탭(해외증시) *@
                                <div class="box">
                                    <ul>
                                        @if (Model.newsMainMarket != null)
                                        {
                                            foreach (var item in Model.newsMainMarket.Where(p => p.GUBUN.Equals("OVERSEAS")))
                                            {
                                                <li><a href="javascript:NewsCommon.GoNewsRead('@item.ARTICLEID')">@item.TITLE</a></li>
                                            }
                                        }
                                        else
                                        {
                                            <li>등록된 내용이 없습니다.</li>
                                        }
                                    </ul>
                                </div>
                                @* 주요시세 탭(와우넷) *@
                                <div class="box">
                                    <ul>
                                        @if (Model.newsMainMarket != null)
                                        {
                                            foreach (var item in Model.newsMainMarket.Where(p => p.GUBUN.Equals("WOWNET")))
                                            {
                                                <li><a href="javascript:NewsCommon.GoNewsRead('@item.ARTICLEID')">@item.TITLE</a></li>
                                            }
                                        }
                                        else
                                        {
                                            <li>등록된 내용이 없습니다.</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                        @* 와우넷 배너 *@
                        <div class="main-link-area">
                            <a href="http://www.wownet.co.kr" target="_blank">www.wownet.co.kr </a>
                            <span class="text">투자 파트너 상담은 와우넷에서 받으실 수 있습니다.</span>
                        </div>
                    </div>
                </div>
                @* 뉴스썸 *@
                <div class="right-area" data-sticky_column>
                    <h2 class="bg">뉴스썸</h2>
                    <div class="time-news-area">
                        <ul>
                            @if (Model.newsStandTimeList != null && Model.newsStandTimeList.Count > 0)
                            {
                                foreach (var item in Model.newsStandTimeList.OrderByDescending(o => o.ARTDATE))
                                {
                                    int index = Model.newsStandTimeList.IndexOf(item);

                                    //3,7번 이미지 없이..
                                    if (index.Equals(2) || index.Equals(6))
                                    {
                                        <li>
                                            <!-- 좌측 뉴스 시각 -->
                                            @if (item.DIFF_TIME_HOUR < 24)
                                            {
                                                <span class="time">
                                                    <span class="time-icon"></span><br />
                                                    @if (item.LASTT_TIME_HOUR > 0)
                                                    {
                                                    @Html.Raw(string.Format("{0}시간 ", item.LASTT_TIME_HOUR))
                                                    }
                                                    @Html.Raw(string.Format("{0}분전", item.LAST_TIME_MIN))
                                                </span>
                                            }
                                            else
                                            {
                                                @* 오늘 기사가 아닌 지난 기사일 경우 점(•)으로 표시 span.time에 class="last"를 추가하시면 됩니다. 171025*@
                                                <span class="time last"></span>
                                            }

                                            <!-- // 좌측 뉴스 시각 -->
                                            <a href="javascript:NewsCommon.GoNewsRead('@item.ARTICLEID')">
                                                <span class="text">
                                                    @MvcHtmlString.Create(WowExtensionMethod.NewsGugunIcon(item.GUBUN_NAME, "S"))
                                                    @if (string.IsNullOrEmpty(item.TMPTITLE))
                                                    {
                                                        @item.TITLE
                                                    }
                                                    else
                                                    {
                                                        @item.TMPTITLE
                                                    }
                                                </span>
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <!-- 좌측 뉴스 시각 -->
                                            @if (item.DIFF_TIME_HOUR < 24)
                                            {
                                                <span class="time">
                                                    <span class="time-icon"></span><br />
                                                    @if (item.LASTT_TIME_HOUR > 0)
                                                    {
                                                    @Html.Raw(string.Format("{0}시간 ", item.LASTT_TIME_HOUR))
                                                    }
                                                    @Html.Raw(string.Format("{0}분전", item.LAST_TIME_MIN))
                                                </span>
                                            }
                                            else
                                            {
                                                @* 오늘 기사가 아닌 지난 기사일 경우 점(•)으로 표시 span.time에 class="last"를 추가하시면 됩니다. 171025*@
                                                <span class="time last"></span>
                                            }
                                            <!-- // 좌측 뉴스 시각 -->
                                            <a href="javascript:NewsCommon.GoNewsRead('@item.ARTICLEID')">
                                                <span class="img"><img src="@Wow.WowExtensionMethod.NewsStandThumbnailPath(item.IMAGE_RRELATION, "16M", item.THUMBNAIL_FILENM, item.VOD_NUM, item.IMAGE_DIR, item.IMAGE_FILE, item.ARTDATE.Value)" alt="" onerror="this.src='@Wow.WowExtensionMethod.NewsThumbnailOnError("16M")'"></span>
                                                <span class="text">
                                                    @MvcHtmlString.Create(WowExtensionMethod.NewsGugunIcon(item.GUBUN_NAME, "S"))
                                                    @if (string.IsNullOrEmpty(item.TMPTITLE))
                                                    {
                                                        @Html.Raw(WowExtensionMethod.ToStrong(item.TITLE, item.BOLD_YN))
                                                    }
                                                    else
                                                    {
                                                        @Html.Raw(WowExtensionMethod.ToStrong(item.TMPTITLE, item.BOLD_YN))
                                                    }
                                                </span>
                                            </a>
                                        </li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
            @* 영상뉴스(종합영상, 종목, 해외증시) *@
            <div class="move-news-area">
                <div class="main-tab-area">
                    <div class="title-area">
                        <h2>영상뉴스</h2>
                        <ul class="tab">
                            <li class="on"><a href="javascript:void(0)">종합영상</a></li>
                            <li><a href="javascript:void(0)">종목</a></li>
                            <li><a href="javascript:void(0)">해외증시</a></li>
                        </ul>
                    </div>
                    <div class="box-area">
                        @* 종합영상 *@
                        <div class="box on">
                            @if (Model.newsMainVodTotalList != null && Model.newsMainVodTotalList.Count > 0)
                            {
                                foreach (var item in Model.newsMainVodTotalList)
                                {
                                    int index = Model.newsMainVodTotalList.IndexOf(item);

                                    if (index == 0)
                                    {
                                        @* List 1 *@
                                        <div class="left-box">
                                            <a href="javascript:NewsCommon.GoNewsRead('@item.ARTICLEID')">
                                                @MvcHtmlString.Create(WowExtensionMethod.NewsGugunIcon(item.GUBUN_NAME, "B"))
                                                @if (!String.IsNullOrEmpty(item.IMAGE_FILE))
                                                {
                                                    <img src="@WowExtensionMethod.NewsThumbnailPath("16B", item.THUMBNAIL_FILENM, item.VOD_NUM, item.IMAGE_DIR, item.IMAGE_FILE, item.ARTDATE)" onerror="this.src='@WowExtensionMethod.NewsThumbnailOnError("16B")'" alt="">
                                                }
                                                <span class="title">@WowExtensionMethod.SubStringWidthPad(@item.TITLE, 50, true)</span>
                                                <span class="icon-play"></span>
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        @* List 2~5 *@
                                        if (index == 1)
                                        {
                                            @Html.Raw("<div class=\"right-box\">");
                                        }
                                        <a href="javascript:NewsCommon.GoNewsRead('@item.ARTICLEID')">
                                            <span class="box-wrap">
                                                @MvcHtmlString.Create(WowExtensionMethod.NewsGugunIcon(item.GUBUN_NAME, "B"))
                                                @if (!String.IsNullOrEmpty(item.IMAGE_FILE))
                                                {
                                                    <img src="@WowExtensionMethod.NewsThumbnailPath("16M", item.THUMBNAIL_FILENM, item.VOD_NUM, item.IMAGE_DIR, item.IMAGE_FILE, item.ARTDATE)" onerror="this.src='@WowExtensionMethod.NewsThumbnailOnError("16M")'" alt="">
                                                }
                                                <span class="title">@item.TITLE</span>
                                                <span class="icon-play medium"></span>
                                            </span>
                                        </a>
                                        if (index == (Model.newsMainVodTotalList.Count - 1))
                                        {
                                            @Html.Raw("</div>");
                                        }
                                    }
                                }
                            }
                            else
                            {
                                <ul><li>등록된 내용이 없습니다.</li></ul>
                            }
                        </div>
                        @* 종목 *@
                        <div class="box">
                            @if (Model.newsMainVodMarketList != null && Model.newsMainVodMarketList.Count > 0)
                            {
                                foreach (var item in Model.newsMainVodMarketList)
                                {
                                    int index = Model.newsMainVodMarketList.IndexOf(item);

                                    if (index == 0)
                                    {
                                        @* List 1 *@
                                        <div class="left-box">
                                            <a href="javascript:NewsCommon.GoNewsRead('@item.ARTICLEID')">
                                                @MvcHtmlString.Create(WowExtensionMethod.NewsGugunIcon(item.GUBUN_NAME, "B"))
                                                @if (!String.IsNullOrEmpty(item.IMAGE_FILE))
                                                {
                                                    <img src="@WowExtensionMethod.NewsThumbnailPath("16B", item.THUMBNAIL_FILENM, item.VOD_NUM, item.IMAGE_DIR, item.IMAGE_FILE, item.ARTDATE)" onerror="this.src='@WowExtensionMethod.NewsThumbnailOnError("16B")'" alt="">
                                                }
                                                <span class="title">@WowExtensionMethod.SubStringWidthPad(@item.TITLE, 50, true)</span>
                                                <span class="icon-play"></span>
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        @* List 2~5 *@
                                        if (index == 1)
                                        {
                                            @Html.Raw("<div class=\"right-box\">");
                                        }
                                        <a href="javascript:NewsCommon.GoNewsRead('@item.ARTICLEID')">
                                            <span class="box-wrap">
                                                @MvcHtmlString.Create(WowExtensionMethod.NewsGugunIcon(item.GUBUN_NAME, "B"))
                                                @if (!String.IsNullOrEmpty(item.IMAGE_FILE))
                                                {
                                                    <img src="@WowExtensionMethod.NewsThumbnailPath("16M", item.THUMBNAIL_FILENM, item.VOD_NUM, item.IMAGE_DIR, item.IMAGE_FILE, item.ARTDATE)" onerror="this.src='@WowExtensionMethod.NewsThumbnailOnError("16M")'" alt="">
                                                }
                                                <span class="title">@item.TITLE</span>
                                                <span class="icon-play medium"></span>
                                            </span>
                                        </a>
                                        if (index == (Model.newsMainVodMarketList.Count - 1))
                                        {
                                            @Html.Raw("</div>");
                                        }
                                    }
                                }
                            }
                            else
                            {
                                <ul><li>등록된 내용이 없습니다.</li></ul>
                            }
                        </div>
                        @* 해외증시 *@
                        <div class="box">
                            @if (Model.newsMainVodOverseasList != null && Model.newsMainVodOverseasList.Count > 0)
                            {
                                foreach (var item in Model.newsMainVodOverseasList)
                                {
                                    int index = Model.newsMainVodOverseasList.IndexOf(item);

                                    if (index == 0)
                                    {
                                        @* List 1 *@
                                        <div class="left-box">
                                            <a href="javascript:NewsCommon.GoNewsRead('@item.ARTICLEID')">
                                                @MvcHtmlString.Create(WowExtensionMethod.NewsGugunIcon(item.GUBUN_NAME, "B"))
                                                @if (!String.IsNullOrEmpty(item.IMAGE_FILE))
                                                {
                                                    <img src="@WowExtensionMethod.NewsThumbnailPath("16B", item.THUMBNAIL_FILENM, item.VOD_NUM, item.IMAGE_DIR, item.IMAGE_FILE, item.ARTDATE)" onerror="this.src='@WowExtensionMethod.NewsThumbnailOnError("16B")'" alt="">
                                                }
                                                <span class="title">@WowExtensionMethod.SubStringWidthPad(@item.TITLE, 50, true)</span>
                                                <span class="icon-play"></span>
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        @* List 2~5 *@
                                        if (index == 1)
                                        {
                                            @Html.Raw("<div class=\"right-box\">");
                                        }
                                        <a href="javascript:NewsCommon.GoNewsRead('@item.ARTICLEID')">
                                            <span class="box-wrap">
                                                @MvcHtmlString.Create(WowExtensionMethod.NewsGugunIcon(item.GUBUN_NAME, "B"))
                                                @if (!String.IsNullOrEmpty(item.IMAGE_FILE))
                                                {
                                                    <img src="@WowExtensionMethod.NewsThumbnailPath("16M", item.THUMBNAIL_FILENM, item.VOD_NUM, item.IMAGE_DIR, item.IMAGE_FILE, item.ARTDATE)" onerror="this.src='@WowExtensionMethod.NewsThumbnailOnError("16M")'" alt="">
                                                }
                                                <span class="title">@item.TITLE</span>
                                                <span class="icon-play medium"></span>
                                            </span>
                                        </a>
                                        if (index == (Model.newsMainVodOverseasList.Count - 1))
                                        {
                                            @Html.Raw("</div>");
                                        }
                                    }
                                }
                            }
                            else
                            {
                                <ul><li>등록된 내용이 없습니다.</li></ul>
                            }
                        </div>
                    </div>
                </div>
            </div>
            @* 많이본 뉴스, 금주의 기자 *@
            <div class="much-section-area">
                @* 많이본 뉴스(종합, 연예.스포츠, SNS) *@
                <div class="much-left">
                    <h2>많이 본 뉴스</h2>
                    <div class="main-tab-area type2">
                        <ul class="tab">
                            <li class="on"><a href="javascript:void(0)">종합</a></li>
                            <li><a href="javascript:void(0)">연예·스포츠</a></li>
                            <li><a href="javascript:void(0)">SNS</a></li>
                        </ul>
                        <div class="box-area" id="divManySeeNews"></div>
                    </div>
                    <span class="more" onclick="NewsCommon.GoManySeeHome();">더보기</span>
                </div>
                @* 오피니언 & 금주의 기자(랜덤 3명) *@
                <div class="much-right">
                    <div class="main-tab-area type2 col2">
                        <ul class="tab">
                            <li class="on"><a href="javascript:void(0)">오피니언</a></li>
                            <li><a href="javascript:void(0)">금주의 기자</a></li>
                        </ul>
                        <div class="box-area">
                            @*오피니언*@
                            <div class="box on">
                                <div class="week-area opinion">
                                    <ul class="list"  id="UlOpinion"><li></li></ul>
                                </div>
                            </div>
                            @*금주의 기자*@
                            <div class="box">
                                <div class="week-area">
                                    <ul class="list" id="UlWeekReporter"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* 카드뉴스 *@
            <div class="card-news-area">
                <h2>카드뉴스</h2>
                <div id="divCardNews"></div>
                <span class="more" onclick="NewsCommon.GoCardNewsHome();">더보기</span>
            </div>
            @* 색션뉴스(증권 · 경제, 산업 · IT 과학, 생활문화, 취업) *@
            <div class="news-list-area">
                <ul class="section-area" id="UlSectionNews"></ul>
            </div>
        </div>
    </div>
</div>
@* 이슈 갤러리 *@
<div class="box-img-slider news-bg">
    <h2 class="title01">
        인기 갤러리
        @*<a href="javascript:NewsCommon.GoPhotoList();" class="btn-ico plus">more</a>*@
    </h2>
    <div class="box-img-slider">
        <div class="main_hot_sale">
            <div class="new-slider type02">
                <div class="bn" id="photoNewsSlider">
                    <ul class="swiper-wrapper" id="divPhotoNews"></ul>
                </div>
            </div>
            <a href="#" class="swiper-bn-left">이전 배너 보기</a>
            <a href="#" class="swiper-bn-right">다음 배너 보기</a>
        </div>
    </div>
</div>
@* 핫한뉴우스, 웹툰, AD Area *@
<div class="wrap">
    <div class="contain-content">
        <div class="box-3dabth">
            @* 핫한뉴우스 *@
            <div class="box-type-new">
                <h2 class="title01" id="h2HotNews">핫한 뉴우스</h2>
            </div>
            @* 웹툰 *@
            <div class="box-sns-channel">
                <strong class="tit">
                    한국경제TV의 SNS채널에서 더욱<br>
                    다채로운 소식을 받아보실 수 있습니다
                </strong>
                <span class="sub-tit">친구신청 하러 가기</span>
                <div class="btn-sns-channel-area">
                    <a href="https://www.facebook.com/HKWOWTV" class="btn-sns-channel facebook" target="_blank">페이스북</a>
                    <a href="https://story.kakao.com/ch/hkwowtv" class="btn-sns-channel kakaostory" target="_blank">카카오스토리</a>
                    <a href="http://post.naver.com/my.nhn?memberNo=11761424" class="btn-sns-channel naver-post" target="_blank">네이버 포스트</a>
                    <a href="https://www.youtube.com/user/hkwowtv" class="btn-sns-channel youtube" target="_blank">유투브</a>
                </div>
            </div>
            @* 섹션메인면 우측하단 배너*@
            <div class="box-event">
                <h2 class="blind">AD Area</h2>
                <div>
                    <iframe width="300" height="300" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no" bordercolor="#000000" src="http://nvapi.feeldmc.com/ad/p/in/v1_0/evnt?slotid=stw_koreawowtv_14" title="AD Tag"></iframe>
                </div>
            </div>
        </div>
        <!--// 3단 end -->
        @*와우넷,와우파,와우스타 탭 컨텐츠*@
        @Html.Partial("~/Views/Home/WowNetFaStar.cshtml")
    </div>
</div>

<script type="text/javascript">

    // Generated by CoffeeScript 1.9.2
    (function () {
        var reset_scroll;

        $(function () {
            return $("[data-sticky_column]").stick_in_parent({
                parent: "[data-sticky_parent]"
            });
        });

        reset_scroll = function () {
            var scroller;
            scroller = $("body,html");
            scroller.stop(true);
            if ($(window).scrollTop() !== 0) {
                scroller.animate({
                    scrollTop: 0
                }, "fast");
            }
            return scroller;
        };

        window.scroll_it = function () {
            var max;
            max = $(document).height() - $(window).height();
            return reset_scroll().animate({
                scrollTop: max
            }, max * 3).delay(100).animate({
                scrollTop: 0
            }, max * 3);
        };

        window.scroll_it_wobble = function () {
            var max, third;
            max = $(document).height() - $(window).height();
            third = Math.floor(max / 3);
            return reset_scroll().animate({
                scrollTop: third * 2
            }, max * 3).delay(100).animate({
                scrollTop: third
            }, max * 3).delay(100).animate({
                scrollTop: max
            }, max * 3).delay(100).animate({
                scrollTop: 0
            }, max * 3);
        };

        $(window).on("resize", (function (_this) {
            return function (e) {
                return $(document.body).trigger("sticky_kit:recalc");
            };
        })(this));

    }).call(this);

</script>
