@using Wow
@{
    Layout = null;
    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();
    string uploadWebPathRoot = AppState["UploadWebPathRoot"].ToString();
}

@if (Model != null)
{
    foreach (var item in Model)
    {
        string imageUrl = WowExtensionMethod.NoImageProfile("82");
        if (!string.IsNullOrEmpty(item.IMAGE_URL))
        {
            imageUrl = item.IMAGE_URL;
        }

        <li>
            <span class="photo"><img src="@uploadWebPathRoot@imageUrl" alt="기자 이미지" onerror="this.src='@WowExtensionMethod.NoImageProfile("82")'"></span>
            <dl>
                <dt>
                    <a href="javascript:NewsCommon.GoNewsRead('@item.ARTICLE_ID')">@item.ARTICLE_TITLE</a>
                </dt>
                <dd>@item.DEPT_NM @item.USER_NM @item.POSITION</dd>
                <dd class="sns-area">
                    <a href="javascript:co.PopupScrap('Report', '@item.USER_NM', '@item.REPORTER_ID');" class="sns-icon icon1">
                        핀하기
                        <div class="tooltip type1"><span class="arrow"></span>핀하기</div>
                    </a>
                    <a href="javascript:NewsCommon.SaveRecommend('@item.REPORTER_ID')" class="sns-icon icon2">
                        추천해요
                        <div class="tooltip type2"><span class="arrow"></span>추천해요</div>
                    </a>
                    <a href="/NewsCenter/Reporter/ReporterDetail?menuSeq=555&SearchId=@item.REPORTER_ID&tabType=2" class="sns-icon icon3">
                        기자에게 한마디
                        <div class="tooltip type3"><span class="arrow"></span>기자에게 한마디</div>
                    </a>
                </dd>
            </dl>
            <!-- 구독하기 버튼 -->
            <a href="#" onclick="PopupSubScript('@item.REPORTER_ID')" class="sub-btn on">
                기사<br />
                구독하기
            </a>
            <!-- // 구독하기 버튼 -->
        </li>
    }
}
