@using Wow

@{
    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();

    AppState["BodyClass"] = "photo";
}

@section scripts{
    <script src="@wowTvScript/NewsCenter/Common.js"></script>
    <script src="@wowTvScript/NewsCenter/Photo/Main.js"></script>
}

<div class="box-photo-slider mb10">
    <div class="swiper-container photo-slider bg-back">
        <div class="swiper-wrapper">
            @if (Model.TopPhotoList != null && Model.TopPhotoList.Count > 0)
            {
                foreach (var item in Model.TopPhotoList)
                {
                    <div class="swiper-slide photoList @(Model.TopPhotoList.IndexOf(item) == 0 ? "on" : "")" id="@item.ARTICLEID">
                        <div class="img-cont">
                            <div class="img-area">
                                <img src="@WowExtensionMethod.NewsThumbnailPath("34M", item.THUMBNAIL_FILENM, item.VOD_NUM, item.IMAGE_DIR, item.IMAGE_FILE, item.ARTDATE)" onerror="this.src='@WowExtensionMethod.NewsThumbnailOnError("34M")'" alt="">
                            </div>
                            <div class="txt-area">
                                <p class="txt">@item.TITLE</p>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="swiper-slide">
                    등록된 내용이 없습니다.
                </div>
            }
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div>
</div>
<!--// visual photo slider end -->
<!-- 포토 slider start -->
<div class="section-area pd0 mb10">
    <h3 class="tit-line plr15">포토</h3>
    <div class="box-photo-slider type01">
        <div class="swiper-container photo-slider">
            <div class="swiper-wrapper" id="divPhotoList">
                @if (Model.PhotoList != null && Model.PhotoList.Count > 0)
                {
                    foreach (var item in Model.PhotoList)
                    {
                        <div class="swiper-slide photoList @(Model.PhotoList.IndexOf(item) == 0 ? "on" : "")" id="@item.ARTICLEID">
                            <div class="img-cont">
                                <div class="img-area">
                                    <img src="@WowExtensionMethod.NewsThumbnailPath("34M", item.THUMBNAIL_FILENM, item.VOD_NUM, item.IMAGE_DIR, item.IMAGE_FILE, item.ARTDATE)" onerror="this.src='@WowExtensionMethod.NewsThumbnailOnError("34M")'" alt="">
                                </div>
                                <div class="txt-area">
                                    <p class="txt">@item.TITLE</p>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="swiper-slide">
                        등록된 내용이 없습니다.
                    </div>
                }
                
            </div>

            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>

        </div>
    </div>
</div>
<!--// 포토 slider end -->
<!-- 영상 slider start -->
<div class="section-area pd0 mb10">
    <h3 class="tit-line plr15">영상</h3>
    <div class="pd15">
        <div class="swiper-container box-img-slider box-slider">
            <div class="swiper-wrapper">
                @if (Model.VodList != null && Model.VodList.Count > 0)
                {
                    foreach (var item in Model.VodList)
                    {
                        <div class="swiper-slide @(Model.VodList.IndexOf(item) == 0 ? "on" : "")">
                            <a href="javascript:NewsCommon.GoNewsDetailView('vod','','','@item.ARTICLEID')" class="box-img-01">
                                <div class="img-area">
                                    <img src="@WowExtensionMethod.NewsThumbnailPath("16M", item.THUMBNAIL_FILENM, item.VOD_NUM, item.IMAGE_DIR, item.IMAGE_FILE, item.ARTDATE)" onerror="this.src='@WowExtensionMethod.NewsThumbnailOnError("16M")'" alt="">
                                    @if (item.GUBUN_NAME != "")
                                    {
                                        <span class="text-icon">@item.GUBUN_NAME</span>
                                    }
                                    @if (item.VOD_NUM > 0)
                                    {
                                        <span class="icon-play"></span>
                                    }
                                </div>
                                <div class="txt-area">
                                    <p class="txt">@item.TITLE</p>
                                </div>
                            </a>
                        </div>
                    }
                }
                else
                {
                    <div class="swiper-slide">
                        등록된 내용이 없습니다.
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!--// 영상 slider end -->

<div class="left-area">
    <!-- 인기포토 slider start -->
    <div class="section-area pd0 mb10" id="divBestPhoto">
        <h3 class="tit-line plr15">인기포토</h3>
        <!-- start -->
        <div class="swiper-container hot-photo-slider">
            <div class="swiper-wrapper">
                @if (Model.BestPhoto != null)
                {
                    foreach (var item in Model.BestPhoto)
                    {
                        <div class="swiper-slide @(Model.BestPhoto.IndexOf(item) == 0 ? "on" : "")">
                            <span>@item.TITLE</span>
                        </div>
                    }

                }
                else
                {
                    <div>등록된 내용이 없습니다.</div>
                }
            </div>
        </div>
        <div class="tab-body bdb-col01">
            @if (Model.BestPhoto != null && Model.BestPhoto.Count > 0)
            {
                foreach (var item in Model.BestPhoto)
                {
                    <div class="tab-cont @(Model.BestPhoto.IndexOf(item) == 0 ? "on" : "") photoList" id="@item.ARTICLEID">
                        <!-- img 1 start -->
                        <div class="img-cont w-full type01">
                            <div class="img-area">
                                <img src="@WowExtensionMethod.NewsThumbnailPath("11B", item.THUMBNAIL_FILENM, item.VOD_NUM, item.IMAGE_DIR, item.IMAGE_FILE, item.ARTDATE)" onerror="this.src='@WowExtensionMethod.NewsThumbnailOnError("11B")'" alt="">
                            </div>
                            <div class="txt-area type01">
                                @if (item.GUBUN_NAME != "")
                                {
                                    <span class="text-icon">@item.GUBUN_NAME</span>
                                }
                                <p class="txt">@item.TITLE</p>
                            </div>
                        </div>
                        <!--// img 1 end -->
                    </div>
                }
            }
            else
            {
                <div>등록된 내용이 없습니다.</div>
            }
        </div>
    </div>
</div>
<!--// 인기포토 slider end -->

<div class="right-area">
    <!-- 많이 본 영상 start -->
    <div class="section-area pd0 mb10" id="divManySeeVod"></div>
    <!--// 많이 본 영상 end -->
</div>