@using Wow
@{
    Layout = null;
}

<h3 class="tit-line plr15">많이 본 영상</h3>
<div class="box-news-img pt15">
    @if (Model != null && Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <a href="javascript:NewsCommon.GoNewsDetailView('vod','','','@item.ARTICLEID')" class="news-img-cont">
                <div class="img-area">
                    <img src="@WowExtensionMethod.NewsThumbnailPath("16M", item.THUMBNAIL_FILENM, item.VOD_NUM, item.IMAGE_DIR, item.IMAGE_FILE, item.ARTDATE)" onerror="this.src='@WowExtensionMethod.NewsThumbnailOnError("16M")'" alt="">
                    @if (item.GUBUN_NAME != "")
                    {
                        <span class="text-icon">@item.GUBUN_NAME</span>
                    }
                    @if (item.VOD_NUM > 0)
                    {
                        <span class="icon-play"></span>
                    }
                </div>
                <div class="txt-area"><p class="txt">@item.TITLE</p></div>
            </a>
        }
    }
    else
    {
        <a href="javascript:void(0)">등록된 내용이 없습니다.</a>
    }
</div>