@using Wow.Tv.Middle.Model.Db90.DNRS
@using Wow.Tv.Middle.Model.Db90.DNRS.NewsProgram

@model List<T_NEWS_PRG>

@{ 
    Layout = null;

    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();

    NewsProgramCondition condition = ViewBag.Condition;
}


<script src="@wowTvScript/Broad/Ing/SearchPartial.js?date=20171018170002"></script>


<!-- Top Information box -->
<div class="box-top-type1">
    <form id="SearchPartial_frmSearch">
        <input type="hidden" name="broadTypeCode" value="@condition.BroadTypeCode" />
        <input type="hidden" name="broadSectionCode" value="@condition.BroadSectionCode" />
        <input type="hidden" name="ingYn" value="@condition.IngYn" />
        <input type="hidden" name="FameYn" value="@condition.FameYn" />
        <div class="inner-left">
            <p class="total">프로그램 수 : <strong id="SearchPartial_stTotalCount">0개</strong></p>
        </div>
        <div class="inner-right">
            <!-- Search box Local -->
            @*<select name="programCode">
                <option value="">프로그램 선택</option>
                @foreach (var item in Model.OrderBy(a => a.PRG_NM))
                {
                    <option value="@item.PRG_CD">@item.PRG_NM</option>
                }
            </select>*@
            <!-- 2017-11-06 HTML 변경 -->
            <div class="selector">
                <!-- width 100%일때 class="selector full" -->
                <label for="selector01">프로그램 선택</label>
                <select id="selector01" name="programCode">
                    <option value="">프로그램 선택</option>
                    @foreach (var item in Model.OrderBy(a => a.PRG_NM))
                    {
                        <option value="@item.PRG_CD">@item.PRG_NM</option>
                    }
                </select>
            </div>
            <!-- 2017-11-06 HTML 변경 -->
            <input type="text" name="programName">
            <input type="button" onclick="return IngSearchPartial.SearchList(0);" value="검색" class="btn-type3 devSearch" style="height:34px; line-height:32px;">
            <!-- //Search box Local -->
        </div>


        <input type="hidden" name="currentIndex" value="0" />
        <input type="hidden" name="pageSize" value="20" />
    </form>
</div>
<!-- Top Information box -->

<div class="devList"></div>

