@model Wow.Tv.FrontWebMobile.Areas.Component.Models.TvPlayerModel
@using Wow.Tv.FrontWebMobile.Areas.Component.Models
@{
    string tvPlayUrlHlsLiveTv = System.Configuration.ConfigurationManager.AppSettings["TvPlayUrlHlsLiveTv"];
    string tvPlayUrlHlsLiveAudio = System.Configuration.ConfigurationManager.AppSettings["TvPlayUrlHlsLiveAudio"];
    string scriptUrl = System.Configuration.ConfigurationManager.AppSettings["WowTvScript"];
    string styleUrl = System.Configuration.ConfigurationManager.AppSettings["WowTvStyle"];
    string tvPlayADTerm = System.Configuration.ConfigurationManager.AppSettings["TvPlayADTerm"];
    if (string.IsNullOrEmpty(Model.OnScriptPlayEnd) == true)
    {
        Model.OnScriptPlayEnd = "TvPlayerOnPlayEnd";
    }
    int videoBarHeightDiff = 45;
    bool LiveWithAD = true;
    if (LoginHandler.IsLogin == true)
    {
        Wow.Tv.FrontWebMobile.MemberInfoService.MemberGradeModel memberGrade = new Wow.Tv.FrontWebMobile.MemberInfoService.MemberInfoServiceClient().GetMemberGrade(LoginHandler.CurrentLoginUser.UserNumber);
        if (memberGrade == Wow.Tv.FrontWebMobile.MemberInfoService.MemberGradeModel.GoldPlus ||
            memberGrade == Wow.Tv.FrontWebMobile.MemberInfoService.MemberGradeModel.Gold)
        {
            LiveWithAD = false;
        }
    }
    //LiveWithAD = false; //VOD 적용 LiveWithAD 비노출 설정
}

<script type="text/javascript">
    var AdCate = "@Model.AdCat";
    function TvPlayerOnPlayEnd() { }
</script>
<link href="@styleUrl/vodplayer/wowtv.css" rel="stylesheet" />
<script src="@scriptUrl/Component/mediaplayer.min.ansi.js" type="text/javascript"></script>
@if (Model.IncludeVrixonScript == true)
{
    <script src="http://img.vrixon.com/adsdk/wowtv/vrixadsdk.js"></script>
}
<script type="text/javascript">
    var VodPlayer = {
        Url: "@Model.Url",
        Width: @Model.Width,
        Height: @Model.Height,
        PlayerCreated: false,
        AdSetted: false,
        Source: "",
        MiddleAD: false,
        WaitPlay: false,
        Playing: false,
        PlayEnded: true,
        AdHandlerAdded: false,
        Play: function (source, withAD, contentsType) {
            if (source == null || source == "") {
                return;
            }
            VodPlayer.Playing = false;
            VodPlayer.AdHandlerAdded = false;
            VodPlayer.MiddleAD = false;
            VodPlayer.Source = source;
            //withAD = false; // VOD적용 > 해당 라인 삭제
            if (VodPlayer.PlayerCreated == true) {
                $(".mpv_osd").css("background-color", "black");
                //document.getElementById("wowtv_player").pause();
                //document.getElementById("wowtv_player").src = "http://img.wowtv.co.kr/MobileStyle/Images/main/bg_main_man01.png";
                //document.getElementById("wowtv_player").currentTime = 0;
            }

            $("#wowtv_video").css("display", "");

            if (contentsType == "LIVETV" || contentsType == "LIVEAUDIO") {
                cfg = {
                    autoPlay: false, // 자동 재생
                    bufferTime: 1.5, // 버퍼시간 설정(기본값 : 1.5)
                    controllers: { // 사용할 컨트롤러들 설정
                        timeSlider: true, // 타임 슬라이더
                        playButton: true, // 재생/일시정지 버튼
                        currentTime: false, // 재생시간
                        durationTime: false,// 총재생시간
                        fullscreenButton: true, // 전체화면 모드 전환 버튼
                        volumeButton: true, // 볼륨 버튼
                        volumeSlider: true, // 볼륨 슬라이더
                        qualityButton: true, // 리소스 품질 선택 버튼
                        speedDownButton: false, // 배속 감소 버튼
                        currentSpeed: false, // 현재 배속 라벨
                        speedUpButton: false, // 배속 증가 버튼
                        controllersAutoHide: true	// 컨트롤바 자동 숨김 사용 여부
                    },
                    //debugMode: false, // 디버그 모드
                    sources: null, // 리소스
                    skin: 'wowtv', // 스킨 (eduwill.css)
                    volumeSliderType: 1 // 볼륨 슬라이더 유형
                };
            }
            else {
                cfg = {
                    autoPlay: false, // 자동 재생
                    bufferTime: 1.5, // 버퍼시간 설정(기본값 : 1.5)
                    controllers: { // 사용할 컨트롤러들 설정
                        timeSlider: true, // 타임 슬라이더
                        playButton: true, // 재생/일시정지 버튼
                        currentTime: true, // 재생시간
                        durationTime: true,// 총재생시간
                        fullscreenButton: true, // 전체화면 모드 전환 버튼
                        volumeButton: true, // 볼륨 버튼
                        volumeSlider: true, // 볼륨 슬라이더
                        qualityButton: true, // 리소스 품질 선택 버튼
                        speedDownButton: true, // 배속 감소 버튼
                        currentSpeed: true, // 현재 배속 라벨
                        speedUpButton: true, // 배속 증가 버튼
                        controllersAutoHide: true	// 컨트롤바 자동 숨김 사용 여부
                    },
                    //debugMode: false, // 디버그 모드
                    sources: null, // 리소스
                    skin: 'wowtv', // 스킨 (eduwill.css)
                    volumeSliderType: 1 // 볼륨 슬라이더 유형
                };
            }

            cfg.sources = [{ src: VodPlayer.Source }];

            var isWin7 = navigator.appVersion.toLowerCase().indexOf('windows nt 6.1') > 0;
            if (isWin7 && mp.browser.isIE) {
                cfg.useFlash = true;
            }

            if (withAD == true) {
                if (VodPlayer.AdSetted == false) {
                    vrixadsdk.playerSet(ADopt, adHandler);
                    VodPlayer.AdSetted = true;
                }
                else {
                    vrixadsdk.changeOptPlay(ADopt);
                }
            }
            else {
                if (VodPlayer.PlayerCreated == false) {
                    mp.createVODPlayer(mp.dom.getElement('#wowtv_player'), cfg, onPlayerReady);
                    //document.getElementById("wowtv_player").play();
                    //$(".mpv_osd").css("background-color", "");
                    VodPlayer.PlayerCreated = true;
                }
                else {
                    document.getElementById("wowtv_player").src = VodPlayer.Source;
                    //document.getElementById("wowtv_player").play();
                    //$(".mpv_osd").css("background-color", "");
                }
                $("#bigPlayBTN").show();
            }
            VodPlayer.WaitPlay = true;
            VodPlayer.PlayEnded = false;
        },
        PlayByUserTouch: function () {
            document.getElementById("wowtv_player").play();
            $(".mpv_osd").css("background-color", "");
            $("#bigPlayBTN").hide();
        },
        Stop: function () {
            document.getElementById("wowtv_player").pause();
            VodPlayer.Playing = false;
            VodPlayer.WaitPlay = false;
            VodPlayer.PlayEnded = true;
            //$("#wowtv_video").css("display", "none");
        },
        Resize: function (width, height) {
            VodPlayer.Width = width;
            VodPlayer.Height = height;
            //VodPlayerForceChangeScreenMode();
        },
        FullScreen: function () {
            mp.vodPlayers.wowtv_player.trigger(mp.vodEvent.CHANGE_SCREEN_MODE);
        },
        PlayButtonLowZIndex: function () {
            $("#bigPlayBTN").css("z-index", "3");
        },
        PlayButtonHighZIndex: function () {
            $("#bigPlayBTN").css("z-index", "999");
        },
        Height: function () {
            return $("#wowtv_video").height();
        }
    };

    var cfg = null;


    function onPlayerReady() {
        this.on(this.eventType.CHANGED_RESOURCE, onChangedResource);
        this.on(this.eventType.END, onPlayEnd);
    }

    function onChangedResource() {
        var player = this;
        setTimeout(function () {
            if (player.state == 'pause') {
                player.trigger(mp.vodEvent.CHANGE_PLAY);
            }
        }, 1500);
    }

    function onPlayEnd() {
        VodPlayer.PlayEnded = true;
        mp.dom.show(this.osd.posterElement);
        @(Model.OnScriptPlayEnd)();
    }

    var ADopt =
        {
            "container": "wowtv_video",  // 메인 컨테이너의 div id
            "video": "wowtv_player",     // 메인 플레이어의 video id
            'bigPlayBTN': 'bigPlayBTN', //모바일인 경우 bigPlayBTN 을 만들어 opt에 id값 전달
            "adInfo":
            {
                "adTag": "http://ads.vrixon.com/vast/vast_wowtv.vrix?invenid=VIFGH&cat=" + AdCate
                //"adTag": "http://devads.vrixon.com/vast/vast_wowtv.vrix?invenid=VIFGH&cat=05010"
                //"adTag": "http://devads.vrixon.com/vast/vast_wowtv.vrix?invenid=VIFGH&cat=05010" // VMAP 또는 VAST 를 받아올 URL
            }
        };

    function adHandler(event) {
        //console.log("adHandler > " + event.type);
        switch (event.type) {
            case "SDK_PLAYING":
                //document.getElementById('wowtv_player').pause();
                //document.getElementById('wowtv_player').style.display = 'none';
                break;
            case "AD_SKIP":
            case "AD_COMPLETE":

                if (VodPlayer.PlayEnded == false) {
                    setTimeout(function () {
                        document.getElementById("wowtv_player").pause();
                        VodPlayer.MiddleAD = true;
                        vrixadsdk.changeOptPlay(ADopt);
                    }, @tvPlayADTerm);
                }

                if (VodPlayer.PlayerCreated == true && mp.vodPlayers.wowtv_player.state == "pause") {
                    document.getElementById("wowtv_player").play();
                }

                break;
            case "SDK_ENDING":
            case "AD_NO_ADS":
            case "AD_ERROR":

                if (VodPlayer.AdHandlerAdded == false) {
                    if (VodPlayer.PlayerCreated == false) {
                        mp.createVODPlayer(mp.dom.getElement('#wowtv_player'), cfg, onPlayerReady);
                        document.getElementById("wowtv_player").play();
                        VodPlayer.PlayerCreated = true;
                    }
                    else {
                        if (VodPlayer.MiddleAD == true) {
                            document.getElementById("wowtv_player").play();
                        }
                        else {
                            document.getElementById("wowtv_player").src = VodPlayer.Source;
                            document.getElementById("wowtv_player").play();
                        }
                    }
                    $(".mpv_osd").css("background-color", "");

                    if (VodPlayer.PlayEnded == false) {
                        setTimeout(function () {
                            document.getElementById("wowtv_player").pause();
                            VodPlayer.MiddleAD = true;
                            vrixadsdk.changeOptPlay(ADopt);
                        }, @tvPlayADTerm);
                    }

                    VodPlayer.AdHandlerAdded = true;
                }
                break;
        }
    }
</script>
@if (Model.AutoSize == true)
{
    <div id="wowtv_video" ondblclick="VodPlayerDoubleClicked();" class="trans_ease05 vrixadsdk" style="width:100%;height: auto;position:relative;background-color:#000000; display:none;">
        <em id="bigPlayBTN" class="big_play" onclick="VodPlayer.PlayByUserTouch();"></em>
        <video id="wowtv_player" playsinline style="width:100%; height: auto;"></video>
    </div>
}
else
{
    <div id="wowtv_video" ondblclick="VodPlayerDoubleClicked();" class="trans_ease05 vrixadsdk" style="width:@(Model.Width)px;height:@(Model.Height)px;position:relative;background-color:#000000; display:none;">
        <em id="bigPlayBTN" class="big_play" onclick="VodPlayer.PlayByUserTouch();"></em>
        <video id="wowtv_player" playsinline style="width:100%; height: @(Model.Height - videoBarHeightDiff)px;"></video>
    </div>
}

<script type="text/javascript">
    var TvPlayer = {
        PlayLiveTv: function () {
            VodPlayer.Stop();
            VodPlayer.Play("@tvPlayUrlHlsLiveTv", @LiveWithAD.ToString().ToLower(), "LIVETV");
        },
        PlayLiveAudio: function () {
            VodPlayer.Stop();
            VodPlayer.Play("@tvPlayUrlHlsLiveAudio", @LiveWithAD.ToString().ToLower(), "LIVEAUDIO");
        },
        PlayTvReplay: function (num) {
            VodPlayer.Stop();
            $.ajax({
                type: 'GET',
                url: "/Component/TvPlayer/GetTvReplayInfo",
                data: { num: num },
                success: function (data) {

                    AdCate = data.tvProgramGubunCode;
                    VodPlayer.Url = data.Url;

                    if (data.IsSuccess == true) {
                        VodPlayer.Play(VodPlayer.Url, data.WithAD, "TVREPLAY");
                    }
                    else {
                        if (data.ReturnCode == "LOGIN_ERROR") {
                            alert("유료결재가 필요한 영상으로 로그인이 필요합니다.");
                        }
                        else if (data.ReturnCode == "NUM_ERROR") {
                            alert("잘못된 접근입니다.");
                        }
                        else if (data.ReturnCode == "INFO_ERROR") {
                            alert("방송정보가 없습니다.");
                        }
                        else if (data.ReturnCode == "USER_INFO_NOT_EXISTS") {
                            alert("사용자 정보가 없습니다.");
                        }
                        else if (data.ReturnCode == "NO_AUTHORYT") {
                            if (data.HasPoint == true) {
                                if (confirm("와우캐시 결제가 필요합니다. 결제하시겠습니까?") == true) {
                                    var billingDomainUrl = "@System.Configuration.ConfigurationManager.AppSettings["DomainUrlBilling"]";
                                    var billingPurchasePath = "/fillup/pop_purchase_select.asp";
                                    var billingParameters = "?priceid=" + data.PriceId + "&itemorpack=1&price=" + data.TvProgramPoint + "&cpitemid=VOD_" + num;
                                    var billUrl = billingDomainUrl + billingPurchasePath + billingParameters;
                                    window.open(billUrl, "CashPayment", "status=no,toolbar=no,scrollbars=auto,resizable=no,width=600,height=535");
                                }
                            }
                            else {
                                if (confirm("와우캐시 결제가 필요합니다. 와우캐시 충전 페이지로 이동하시겠습니까?") == true) {
                                    window.open("https://billing.wownet.co.kr/fillup/pop_payment_select.asp", "cash_add", "status=no,toolbar=no,scrollbars=auto,resizable=no,width=600,height=608");
                                }
                            }
                        }
                    }
                }
            });
        },
        PlayVod: function (num) {
            VodPlayer.Stop();
            $.ajax({
                type: 'GET',
                data: { num: num },
                url: "/Component/TvPlayer/GetVodInfo",
                success: function (data) {
                    if (data.IsSuccess == true) {
                        VodPlayer.Play(data.Url, data.WithAD, "VOD");
                    }
                    else {
                        if (data.ReturnCode == "NUM_ERROR") {
                            alert("잘못된 접근입니다.");
                        }
                    }
                }
            });
        },
        Resize: function (width, height) {
            VodPlayer.Resize(width, height);
        },
        FullScreen: function () {
            VodPlayer.FullScreen();
        },
        Stop: function () {
            VodPlayer.Stop();
        }
    }
</script>

@if (Model.PlayType == TvPlayTypeModel.LiveTv)
{
    <script type="text/javascript">
        setTimeout(function () {
            TvPlayer.PlayLiveTv();
        }, 200);
        //TvPlayer.PlayLiveTv();
        //$(document).ready(function () {
        //    TvPlayer.PlayLiveTv();
        //});
    </script>
}
else if (Model.PlayType == TvPlayTypeModel.LiveAudio)
{
    <script type="text/javascript">
        setTimeout(function () {
            TvPlayer.PlayLiveAudio();
        }, 200);
        //TvPlayer.PlayLiveAudio();
        //$(document).ready(function () {
        //    TvPlayer.PlayLiveAudio();
        //});
    </script>
}
else if (Model.PlayType == TvPlayTypeModel.TvReplay)
{
    <script type="text/javascript">
        setTimeout(function () {
            TvPlayer.PlayTvReplay(@Model.Num);
        }, 200);
        //TvPlayer.PlayTvReplay(@Model.Num);
        //$(document).ready(function () {
        //    TvPlayer.PlayTvReplay(@Model.Num);
        //});
    </script>
}
else if (Model.PlayType == TvPlayTypeModel.Vod)
{
    <script type="text/javascript">
        setTimeout(function () {
            TvPlayer.PlayVod(@Model.Num);
        }, 200);
        //TvPlayer.PlayVod(@Model.Num);
        //$(document).ready(function () {
        //    TvPlayer.PlayVod(@Model.Num);
        //});
    </script>
}
