@using Wow.Tv.Middle.Model.Common;
@using Wow.Tv.Middle.Model.Db49.wowtv;

@model ListModel<NTB_MAIN_MANAGE>

@{
    Layout = null;
}

<div class="top-banner-area">
    <div class="banner-slider bxslider">
        <ul>
            @for (int i = 0; i < Model.ListData.Count; i = i + 2)
            {
                <li class="img-banner">
                    @for (int j = 0; j < 2; j++)
                    {
                        var item = Model.ListData[i + j];

                        if (item.TYPE_CODE == "Text")
                        {
                            <!-- banner -->
                            <div class="box-banner text">
                                <a href="@item.LINK_URL" target="@item.LINK_TYPE">
                                    <span class="title">@item.TEXT_INFO1</span>
                                    <span class="txt">@item.TEXT_INFO2</span>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="box-banner">
                                <a href="@item.LINK_URL" target="@item.LINK_TYPE">
                                    <img src="@item.AttachFile.REAL_WEB_PATH" alt="@item.TITLE">
                                </a>
                            </div>
                        }
                    }
                    <!-- banner -->
                </li>
            }
        </ul>
        <a href="#" class="top-ad-btn"><span>닫기</span></a>
    </div>
</div>

    @*@if (String.IsNullOrEmpty(Request["articleId"]) == false)
    {
        <!-- 임시 배너 영역 추가 됨 -->
        <div class="ui-top-banner">
            <iframe src="http://ad.wowtv.co.kr/NetInsight/html/wowtv/wowtv_newscenter/wowtv_n_newscenter@google_top" width="970" height="90" frameborder="0" scrolling="no" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0"></iframe>
        </div>
        <!-- // 임시 배너 영역 됨 -->
    }*@

