@using Wow
@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.Middle.Model.Db49.Article

@model ListModel<NUP_NEWS_MAIN_MARKET_ISSUE_SELECT_Result>

@{ 
    Layout = null;
}

<h2 class="title01">마켓&amp;이슈</h2>
<div>
    @foreach (var item in Model.ListData)
    {
    <a href="javascript:NewsCommon.GoNewsRead('@item.ARTICLEID')">
        <img alt="" src="@WowExtensionMethod.NewsThumbnailPath("11S", item.THUMBNAIL_FILENM, item.VOD_NUM, item.IMAGE_DIR, item.IMAGE_FILE, item.ARTDATE.Value)" onerror="this.src='@WowExtensionMethod.NewsThumbnailOnError("11S")'" width="103" height="103">
        <p>@WowExtensionMethod.SubStringWidthPad(item.TITLE, 50)</p>
        <span>@WowExtensionMethod.RemoveTagAndReplace(MvcHtmlString.Create(item.CONTENTS_CUT).ToString(), 54, true)</span>
    </a>
    }
</div>
