@using Wow.Tv.Middle.Model.Common

@model List<DumyModel>

@{
    Layout = null;

    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();

    string partnerThumImage = ViewBag.PartnerThumImage;

    if (partnerThumImage.IndexOf("/images/temp/temp_main_03.jpg") >= 0)
    {
        // 파트너 없을떄 이미지
    }
    else
    {
        partnerThumImage = "/Content/Images/PartnerFixImage.jpg";
    }
}



<div class="cont-btn02">
    <img src="@Model[0].StringValue2" id="imgRotationVod1" onclick="return HomeIndex.ChangeTv(@Model[0].IntValue1, @Model[0].IntValue2, this);" alt="방송이미지" width="200" height="114">
    @*<span class="icon-play-01">play</span>*@
</div>
<div class="cont-btn02"><img src="@Model[1].StringValue2" id="imgRotationVod2" onclick="return HomeIndex.ChangeTv(@Model[1].IntValue1, @Model[1].IntValue2, this);" alt="방송이미지" width="200" height="114"></div>
<div id="divVodPartnerImage" class="cont-btn" ><img src="@partnerThumImage" alt="온라인 실시간 공개방송 파트너" width="200" height="114"></div>
<div class="cont-btn02"><img src="@Model[2].StringValue2" id="imgRotationVod3" onclick="return HomeIndex.ChangeTv(@Model[2].IntValue1, @Model[2].IntValue2, this);" alt="방송이미지" width="200" height="114"></div>
