
@{
    ViewBag.Title = "개발자 예제 페이지입니다.";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string rootUrl = AppState["RootUrl"].ToString();
}


@{
//섹션
}
@section ScriptImport
{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/datepicker.css")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-datepicker.js")" charset="UTF-8"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/locales/bootstrap-datepicker.kr.js")" charset="UTF-8"></script>
    @*<script type="text/javascript" src="@Url.Content("~/Scripts/common.js")"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Scripts/example/example.js")"></script>

}
<div class="panel panel-default">
    <div class="panel-heading">js common형식으로 적용하여 이메일 유효성 검사 example</div>
    <div class="panel-body">
        <form>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input id="txtEmail" type="text" class="form-control" name="email" placeholder="이메일 입력"><button type="button" class="btn btn-success" id="btnEmailCheck">이메일 확인</button>
            </div>
        </form>
    </div>
</div>
        
        
<div class="panel panel-default">
    <div class="panel-heading"> 달력 example (bootstrap 사용)</div>
    <div class="panel-body">
        <div class="input-append date" id="datepicker" data-date="2017-07-13" data-date-format="yyyy-mm-dd">
            <input id="startDate" class="span2" size="16" type="text" value="2017-07-13">
            <span class="add-on"><i class="icon-th"></i></span>
        </div>
        <button type="button" class="btn btn-success" id="showDatepicker">달력 Show</button>
    </div>
</div>