
@using Wow
@{
    Layout = null;
}

<ul class="news-list">
    @if (Model.ListData != null && Model.ListData.Count > 0)
    {
        foreach (var item in Model.ListData)
        {
            <li>
                <a href="javascript:NewsCommon.GoNewsRead('@item.ARTICLEID')">
                    <div class="photo">
                        <img src="@WowExtensionMethod.NewsThumbnailPath("11S", item.THUMBNAIL_FILENM, item.VOD_NUM, item.IMAGE_DIR, item.IMAGE_FILE, item.ARTDATE)" alt="">
                        @if (item.VOD_NUM != null && item.VOD_NUM > 0)
                        {
                            <span class="icon-play medium"></span>
                        }
                    </div>
                    <div class="text-box">
                        <p class="text">@item.TITLE</p>
                        <ul class="path">
                            <li>뉴스 &gt; @item.SECTION_NAME</li>
                            <li>한국경제TV</li>
                        </ul>
                    </div>
                    <div class="face-icon" id="artLikeit_@item.ARTICLEID">
                        <script>ReporterDetail.GetArticelLikeit('@item.ARTICLEID')</script>
                    </div>
                </a>
            </li>
        }
    }
    else
    {
        <li>최신기사가 없습니다.</li>
    }
</ul>


<script>
    $('#totalDataCount').val("@(Model.ListData.Count == 0 ? 0 : Model.ListData[0].ROWCNT)");
</script>