
@{
    Layout = null;
    string uploadWebPathRoot = AppState["UploadWebPathRoot"].ToString();
}


@if (Model.ListData.Count > 0)
{
    foreach (var item in Model.ListData)
    {
        string imageUrl = Wow.WowExtensionMethod.NoImageProfile("82");
        if (!string.IsNullOrEmpty(item.IMAGE_URL))
        {
            imageUrl = uploadWebPathRoot + item.IMAGE_URL;
        }
        <div class="section-area">
            <div class="reporter-profile">
                <div class="profile-area">
                    <!-- 사진 -->
                    <div class="photo">
                        <img src="@imageUrl" alt="기자 이미지">
                    </div>
                    <!-- // 사진 -->
                    <!-- 텍스트 -->
                    <div class="text-area">
                        <p class="txt">
                            @MvcHtmlString.Create(item.INTRODUCTION)
                        </p>
                        <div class="name-area">
                            <span class="name">@item.DEPT_NM @item.USER_NM @item.POSITION</span><a href="javascript:void(0)" onclick="return ReporterIndex.GoReporterDetail('@item.REPORTER_ID')" class="home">기자 페이지 가기></a>
                        </div>
                    </div>
                    <!-- // 텍스트 -->
                </div>
                <ul class="article-text">
                    <li><a href="javascript:@(item.ARTICLE_ID != null ? "NewsCommon.GoNewsRead('" + item.ARTICLE_ID + "')" : "void(0)")">@item.ARTICLE_TITLE</a></li>
                </ul>
            </div>
        </div>
    }
}
else
{
    <div class="section-area">등록된 기자가 없습니다.</div>
}
