@using Wow.Tv.Middle.Model.Db49.wowtv
@using Wow.Tv.Middle.Model.Db90.DNRS

@model NTB_PROGRAM_INTRO

@{
    Layout = null;

    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();

    T_NEWS_PRG newsProgram = ViewBag.NewsProgram;
    List<Wow.Tv.FrontWebMobile.CastService.ProgramCastModel> castList = ViewBag.CastList;
}



<script src="@wowTvScript/Broad/ProgramIntro/Index.js?date=20171018170000"></script>


<!-- 프로그램 소개 메인 -->
<div class="list-media-main type2 mt10">
    <div class="img-area">
        @if (String.IsNullOrEmpty(Model.AttachFile.REAL_WEB_PATH) == false)
        {
        <a href="#none">
            <img src="@Model.AttachFile.REAL_WEB_PATH" alt="@newsProgram.PRG_NM">
        </a>
        }
    </div>
    <div class="cont-area">
        <p class="tit">
            @Model.TITLE
        </p>
        <div class="info-area">
            <p>
                @MvcHtmlString.Create(Model.REMARK)
            </p>
        </div>
    </div>
</div>
<!-- //프로그램 소개 메인 -->

@if (newsProgram != null)
{
    <!-- 제작진 -->
    <div class="section-area">
        <h3>제작진</h3>
        <div class="list-type03">
            <ul>
                @if (!string.IsNullOrEmpty(newsProgram.PD_NM) && newsProgram.PD_NM.Trim().Length > 0)
                {
                    <li>연출1 : @newsProgram.PD_NM</li>
                }
                @if (!string.IsNullOrEmpty(newsProgram.PD2_NM) && newsProgram.PD2_NM.Trim().Length > 0)
                {
                    <li>연출2 : @newsProgram.PD2_NM</li>
                }
                @if (!string.IsNullOrEmpty(newsProgram.TD_NM) && newsProgram.TD_NM.Trim().Length > 0)
                {
                    <li>작가1 : @newsProgram.TD_NM</li>
                }
                @if (!string.IsNullOrEmpty(newsProgram.TD2_NM) && newsProgram.TD2_NM.Trim().Length > 0)
                {
                    <li>작가2 : @newsProgram.TD2_NM</li>
                }
                @if (!string.IsNullOrEmpty(newsProgram.CP_NM) && newsProgram.CP_NM.Trim().Length > 0)
                {
                    <li>기타 : @newsProgram.CP_NM</li>
                }
            </ul>
        </div>
    </div>
    <!-- //제작진 -->
}


@if (castList.Count > 0)
{
<!-- 출연진 -->
<div class="section-area">
    <h3>출연진</h3>
    <div class="list-profile">
        <ul>
            @foreach (var item in castList.Where(a => a.ProgramCast.CAST_TYPE == "Cast"))
            {
                <li>
                    <div class="profile-area">
                        <div class="photo-area">
                            <img src="@item.ImageUrl" alt="@(item.ProWowList == null ? "" : item.ProWowList.NickName)">
                        </div>
                        <div class="info-area">
                            @if (item.ProWowList != null)
                            {
                                <strong class="tit">@item.ProWowList.NickName</strong>
                                <span class="txt-exer">출연 <strong class="txt-exer-sub">@(item.ProgramCast.DayOfWeekString == null ? "" : String.Join("·", item.ProgramCast.DayOfWeekString))</strong></span>
                                <div class="btn-area news-util">
                                    <a href="#" onclick="return ProgramIntroIndex.OpenPopup('http://www.wownet.co.kr/pro/pro_main_new/sub_main.asp?proID=@item.ProWowList.Pro_id');" class="btn-icon"><span class="icon ico-home">홈</span></a>
                                    <a href="#" onclick="return ProgramIntroIndex.OpenPopup('http://wowpro.wownet.co.kr/common/profileLink.asp?nickname=@(HttpUtility.UrlEncode(item.ProWowList.NickName, System.Text.Encoding.GetEncoding("euc-kr")))&link=cafe');" class="btn type04">카페 가입</a>
                                    <a href="#" onclick="return ProgramIntroIndex.PartnerPin('@item.ProWowList.NickName', '@item.ProWowList.Pay_no');" class="btn type02"><span class="icon ico-pin"></span>핀하기</a>
                                </div>

                            }
                        </div>
                    </div>
                    <p class="cont-area">
                        @if (item.ProgramCast != null)
                        {
                            @MvcHtmlString.Create(item.ProgramCast.REMARK)
                        }
                    </p>
                </li>
            }
            @foreach (var item in castList.Where(a => a.ProgramCast.CAST_TYPE == "Make"))
            {
                <li>@item.ProgramCast.CAST_NAME</li>
            }
        </ul>
    </div>
</div>
<!-- //출연진 -->
}

