
@{
    Layout = null;
    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();
    string uploadWebPathRoot = AppState["UploadWebPathRoot"].ToString();
}

<ul class="news-list type02">
    @if (Model.ArticleList != null && Model.ArticleList.Count > 0)
    {
        foreach (var item in Model.ArticleList)
        {
            <li>
                <a href="javascript:NewsCommon.GoNewsDetailView('land', '@item.WOWCODE', '', '@item.ARTICLEID')">
                    <div class="@(string.IsNullOrEmpty(item.IMAGE_FILE) ? "text-box" : "photo")">
                        @if (!string.IsNullOrEmpty(item.IMAGE_FILE))
                        {
                            <img src="@Wow.WowExtensionMethod.NewsThumbnailPath("11S", item.THUMBNAIL_FILENM, item.VOD_NUM, item.IMAGE_DIR, item.IMAGE_FILE, item.ARTDATE)" onerror="this.src='@Wow.WowExtensionMethod.NewsThumbnailOnError("11S")'" alt="">
                            if (item.VOD_NUM != null && item.VOD_NUM > 0)
                            {
                                <span class="icon-play small"></span>
                            }
                        }
                    </div>
                    <div class="text-box">
                        <p class="text">@item.TITLE</p>
                        <ul class="path">
                            <li>뉴스 &gt; @item.SECTION_NAME</li>
                            <li>@item.COMP_NAME</li>
                        </ul>
                    </div>
                </a>
            </li>

            if (Model.ArticleList.IndexOf(item) == 9)
            {
                if (ViewBag.IsAppend != "Y")
                {
                    <li class="article-photo">
                        <h3>많이 본 기사</h3>
                        @if (Model.SectionManySeeList != null && Model.SectionManySeeList.Count > 0)
                        {
                            if (Model.SectionManySeeList.Count < 3)
                            {
                                foreach (var subItem in Model.SectionManySeeList)
                                {
                                    <div class="photo-area">
                                        <a href="javascript:NewsCommon.GoNewsView('@subItem.ARTICLEID')" class="link">
                                            @if (subItem.VOD_NUM != null && subItem.VOD_NUM > 0)
                                            {
                                            <span class="icon-play"></span>
                                            }
                                            <img src="@Wow.WowExtensionMethod.NewsThumbnailPath("16B", subItem.THUMBNAIL_FILENM, subItem.VOD_NUM, subItem.IMAGE_DIR, subItem.IMAGE_FILE, DateTime.Now)" onerror="this.src='@Wow.WowExtensionMethod.NewsThumbnailOnError("16B")'" alt="">
                                            <span class="text-box">
                                                <p class="text">
                                                   @subItem.TITLE
                                                </p>
                                            </span>
                                        </a>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="photo-area">
                                    <a href="javascript:NewsCommon.GoNewsView('@Model.SectionManySeeList[0].ARTICLEID')" class="link">
                                        @if (Model.SectionManySeeList[0].VOD_NUM != null && Model.SectionManySeeList[0].VOD_NUM > 0)
                                        {
                                            <span class="icon-play"></span>
                                        }
                                        <img src="@Wow.WowExtensionMethod.NewsThumbnailPath("16B", Model.SectionManySeeList[0].THUMBNAIL_FILENM, Model.SectionManySeeList[0].VOD_NUM, Model.SectionManySeeList[0].IMAGE_DIR, Model.SectionManySeeList[0].IMAGE_FILE, DateTime.Now)" onerror="this.src='@Wow.WowExtensionMethod.NewsThumbnailOnError("16B")'" alt="">
                                        <span class="text-box">
                                            <p class="text">
                                                @Model.SectionManySeeList[0].TITLE
                                            </p>
                                        </span>
                                    </a>
                                </div>
                                <div class="section-area">
                                    @foreach (var subItem in Model.SectionManySeeList)
                                    {
                                        if (Model.SectionManySeeList.IndexOf(subItem) > 0)
                                        {
                                            <div class="thumbnail">
                                                <a href="javascript:NewsCommon.GoNewsView('@subItem.ARTICLEID')">
                                                    <div class="photo">
                                                        @if (subItem.VOD_NUM != null && subItem.VOD_NUM > 0)
                                                        {
                                                            <span class="icon-play"></span>
                                                        }
                                                        <img src="@Wow.WowExtensionMethod.NewsThumbnailPath("16M", subItem.THUMBNAIL_FILENM, subItem.VOD_NUM, subItem.IMAGE_DIR, subItem.IMAGE_FILE, DateTime.Now)" onerror="this.src='@Wow.WowExtensionMethod.NewsThumbnailOnError("16M")'" alt="">
                                                    </div>
                                                    <div class="txt-area">
                                                        <p class="text">@subItem.TITLE</p>
                                                    </div>
                                                </a>
                                            </div>
                                        }
                                    }
                                </div>
                            }
                        }
                        else
                        {
                            <div class="no-data">등록된 내용이 없습니다.</div>
                        }
                    </li>
                    <li class="news-list-box type02">
                        <div class="banner-area">AD</div>
                    </li>
                }
            }

            if (Model.ArticleList.IndexOf(item) == 19)
            {
                if (ViewBag.IsAppend != "Y")
                {
                    if (Model.SectionRecommendList != null && Model.SectionRecommendList.Count > 0)
                    {
                        <li class="recommend-article">
                            <h3>추천기사</h3>
                            <ul>
                                @foreach (var SubItem in Model.SectionRecommendList)
                                {
                                    <li>
                                        <a href="javascript:NewsCommon.GoNewsView('@item.ARTICLEID')">
                                            <span class="num @(Model.SectionRecommendList.IndexOf(SubItem) == 2 ? "blue" : "")">@(Model.SectionRecommendList.IndexOf(SubItem) + 1)</span>
                                            @SubItem.TITLE 
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                }
            }
        }
    }
    else
    {
        <li>
            등록된 게시물이 없습니다.
        </li>
    }
</ul>

<script>
    $('#totalDataCount').val(@ViewBag.TotalDataCount);
</script>