@using Wow.Tv.Middle.Model.Db49.wowtv

@model NTB_BROAD_LIVE

@{
    Layout = null;

    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();
}

<script>
    @if (String.IsNullOrEmpty(Model.PUBLISH_YN) == true)
    {
        // 등록된것이 없는것을 String.IsNullOrEmpty(Model.PUBLISH_YN) == true 이렇게 판단함. (아니면 빌드를 해야 해서...)
        <text>
    $("#divBroadLive").hide();
        </text>
    }
                
</script>

<div class="type-obj">
    <h2 class="title01">SNS 현장 라이브</h2>
    <strong>@Model.PROGRAM_NAME</strong>
    <p>@MvcHtmlString.Create(Model.REMARK)</p>
    <div class="exp">
        <span class="txt">즐겨찾는 소셜 채널을 클릭하시면<br>바로 시청하실 수 있습니다.</span>
        <div>
            @if (String.IsNullOrEmpty(Model.FACEBOOK_URL) == false)
            {
                <a href="#" onclick="return TvMainIndex.OpenPopup('@Model.FACEBOOK_URL');">페이스북</a>
            }
            else
            {
                <a href="javascript:void(0);" style="display:none;">페이스북</a>
            }

            @if (String.IsNullOrEmpty(Model.YOUTUBE_URL) == false)
            {
                <a href="#" onclick="return TvMainIndex.OpenPopup('@Model.YOUTUBE_URL');">유튜브</a>
            }
            else
            {
                <a href="javascript:void(0);" style="display:none;">유튜브</a>
            }

            @if (String.IsNullOrEmpty(Model.KAKAO_URL) == false)
            {
                <a href="#" onclick="return TvMainIndex.OpenPopup('@Model.KAKAO_URL');">카카오</a>
            }
            else
            {
                <a href="javascript:void(0);" style="display:none;">카카오</a>
            }

            @if (String.IsNullOrEmpty(Model.AFREECA_URL) == false)
            {
                <a href="#" onclick="return TvMainIndex.OpenPopup('@Model.AFREECA_URL');">아프리카</a>
            }
            else
            {
                <a href="javascript:void(0);" style="display:none;">아프리카</a>
            }
        </div>
    </div>
</div>
<div class="img-area w490">
    <a href="javascript:void(0)">
        @*<img src="@wowTvStyle/images/temp/temp_tv_14.png" alt="SNS현장 라이브" width="490" height="275">*@
        <iframe width="490" height="275" src="@Model.MAIN_VOD_URL" frameborder="0" allowfullscreen=""></iframe>
        @*<span class="icon-play"></span>*@
    </a>
</div>


