@using Wow
@using Wow.Tv.FrontWeb.Areas.NewsCenter.Models
@using Wow.Tv.Middle.Model.Db22.stock;

@model NewsMainModel

@{
    List<usp_web_getVirtualMoney_Result> virtualMoney = ViewBag.VirtualMoney;

    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();

    Layout = null;
}

@section scripts{
    
}
    <!-- 많이 본 뉴스 start -->
    <div class="tab-box"> 
        <h3 class="title04">
            많이 본 뉴스
            <a href="/NewsCenter/News/ManySee?menuSeq=592">더보기</a>
        </h3>
        <div class="tab-area">
            <ul class="tabs">
                <li class="on"><a href="#tab-obj01">종합</a></li>
                <li><a href="#tab-obj02">연예 스포츠</a></li>
                <li><a href="#tab-obj03">SNS</a></li>
            </ul>
            <div class="tab-body">
                <!--많이본 뉴스(종합) -->
                <div id="tab-obj01" class="tab-cont">
                    <ul>
                        @if (Model.newsTotalCountList !=null && Model.newsTotalCountList.Count > 0)
                        {
                            foreach (var item in Model.newsTotalCountList)
                            {
                                int index = Model.newsTotalCountList.IndexOf(item);

                                if (index.Equals(9))
                                {
                                    <li><a href="@item.ARTICLEID" target="_blank"><em>@(index + 1)</em>@item.TITLE</a></li>
                                }
                                else
                                {
                                    <li><a href="javascript:NewsCommon.GoNewsRead('@item.ARTICLEID');"><em>@(index + 1)</em>@item.TITLE</a></li>
                                }
                            }
                        }
                        else
                        {
                            <li>등록된 내용이 없습니다.</li>
                        }
                    </ul>
                </div>
                <!--// 많이본 뉴스(종합) end -->
                <!-- 많이본 뉴스(연예.스포츠) -->
                <div id="tab-obj02" class="tab-cont">
                    <ul>
                        @if (Model.newsEntSpoCountList != null && Model.newsEntSpoCountList.Count > 0)
                        {
                            foreach (var item in Model.newsEntSpoCountList)
                            {
                                int index = Model.newsEntSpoCountList.IndexOf(item);

                                <li><a href="javascript:NewsCommon.GoNewsDetailView('entspo','','','@item.ARTICLEID');"><em>@(index + 1)</em>@item.TITLE</a></li>
                            }
                        }
                        else
                        {
                            <li>등록된 내용이 없습니다.</li>
                        }
                    </ul>
                </div>
                <!--// 많이본 뉴스(연예.스포츠) end -->
                <!-- SNS start -->
                <div id="tab-obj03" class="tab-cont">
                    <ul id="ulFaceBookPosts">
                        <li></li>
                    </ul>
                </div>
                <!--// SNS end -->
            </div>
        </div>
    </div>
    <!-- 많이 본 뉴스 end -->
    @* AD Area Right 1(slotid=stw_koreawowtv_4) *@
    <div class="box-img-gray">
        <iframe width="300" height="425" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no" bordercolor="#000000" src="http://nvapi.feeldmc.com/ad/p/in/v1_0/evnt?slotid=stw_koreawowtv_4" title="AD Tag"></iframe>
    </div>

    @* 가상화폐 *@ 
    <div class="right-bitcoin">
        <h3 class="title04">가상화폐 시세 <a href="javascript:GoVirtualCurrencyNews();" class="more-btn">기사 보기 +</a></h3>
        <div class="bitcoin-slider" id="RightBitcoinSlider">
            <ul id="ulBitcoinRightList">
                 <li>
                    <div class='bitcoin-list'>
                        <ul>
                        @foreach (var item in virtualMoney)
                        {
                            int index = virtualMoney.IndexOf(item);

                            if (index < 6)
                            {
                                string upDown = "";
                                if (item.chgType == "1" || item.chgType == "2")
                                {
                                    upDown = "up";
                                }
                                else if (item.chgType == "4" || item.chgType == "5")
                                {
                                    upDown = "down";
                                }

                                <li class="@upDown"><strong class="tit"><span class="icon @item.stockCode.ToLower()"></span>@item.korName</strong> <p class="text"> <span>@item.TradePrice.ToString("#,#.###")</span>(<span>@item.chgRate%</span>)</p></li>
                            }
                        }     
                        </ul>
                    </div>
                </li>
                <li>
                    <div class='bitcoin-list'>
                        <ul>
                            @foreach (var item in virtualMoney)
                            {
                                int index = virtualMoney.IndexOf(item);

                                if (index > 5)
                                {
                                    string upDown = "";
                                    if (item.chgType == "1" || item.chgType == "2")
                                    {
                                        upDown = "up";
                                    }
                                    else if (item.chgType == "4" || item.chgType == "5")
                                    {
                                        upDown = "down";
                                    }

                                    <li class="@upDown"><strong class="tit"><span class="icon @item.stockCode.ToLower()"></span>@item.korName</strong> <p class="text"> <span>@item.TradePrice.ToString("#,#.###")</span>(<span>@item.chgRate%</span>)</p></li>
                                }
                            }
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <p class="bottom-text">
            정보제공 : 빗썸
        </p>
    </div>

    @* AD Area Right 2. *@
   <div class="box-img-gray text-center">
       <iframe width="250" height="250" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no" bordercolor="#000000" src="http://nvapi.feeldmc.com/ad/p/in/v1_0/evnt?slotid=stw_koreawowtv_5" title="AD Tag"></iframe>
   </div>

    @* AD Area Right 3. *@
    <div class="box-img-gray">
        <iframe width="300" height="300" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no" bordercolor="#000000" src="http://nvapi.feeldmc.com/ad/p/in/v1_0/evnt?slotid=stw_koreawowtv_6" title="AD Tag"></iframe>
    </div>

    <!-- 티비텐플러스 start -->
    <div class="box-plus-type bxslider">
        <h3 class="title04">티비텐플러스</h3>
        <div class="img-silder">
            <ul>
                @if (Model.newsTvTenPlusList != null && Model.newsTvTenPlusList.Count > 0)
                {
                    foreach (var item in Model.newsTvTenPlusList)
                    {
                        <li>
                            <a href="javascript:NewsCommon.GoNewsDetailView('tvtenplus','','','@item.ARTICLEID');">
                                <img src="@WowExtensionMethod.NewsThumbnailPath("16M", item.THUMBNAIL_FILENM, item.VOD_NUM, item.IMAGE_DIR, item.IMAGE_FILE, item.ARTDATE.Value)" onerror="this.src='@WowExtensionMethod.NewsThumbnailOnError("16M")'" alt="">
                                @if (item.VOD_NUM != null && item.VOD_NUM > 0)
                                {
                                    <span class="icon-play medium"></span>
                                }
                                <div>
                                    <strong>@item.TITLE</strong>
                                    @if (!string.IsNullOrEmpty(item.CONTENTS_CUT))
                                    {
                                     <p>item.CONTENTS_CUT</p>
                                    }
                                </div>
                            </a>
                        </li>
                    }

                }
                else
                {
                    <li>내용이 없습니다.</li>
                }
            </ul>
        </div>
    </div>
    <!-- 티비텐플러스 end -->

    @* AD Area Right 4. *@
    <div class="box-img-gray">
        <iframe width="300" height="425"  marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no" bordercolor="#000000" src="http://nvapi.feeldmc.com/ad/p/in/v1_0/evnt?slotid=stw_koreawowtv_11" title="AD Tag"></iframe>
    </div>

    @* AD Area Right 5. *@
    <div class="box-img-gray">
        <iframe width="300" height="250" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no" bordercolor="#000000" src="http://nvapi.feeldmc.com/ad/p/in/v1_0/evnt?slotid=stw_koreawowtv_12" title="AD Tag"></iframe>
    </div>

    <!-- 베스트 포토 start -->
    <div class="box-img-type bxslider">
        <h3 class="title04">베스트 포토</h3>
        <div class="img-silder w_add">
            <ul><li>
                @if (Model.newsBestPhotoList != null && Model.newsBestPhotoList.Count > 0)
                {
                    foreach (var item in Model.newsBestPhotoList)
                    {
                        int index = Model.newsBestPhotoList.IndexOf(item) + 1;
                        <a href="javascript:NewsCommon.GoNewsDetailView('photo','','','@item.ARTICLEID');">
                            @if (index == 1 || index == 4 || index == 7)
                            {
                                <img src="@WowExtensionMethod.NewsThumbnailPath("34M", item.THUMBNAIL_FILENM, item.VOD_NUM, item.IMAGE_DIR, item.IMAGE_FILE, item.ARTDATE.Value)" onerror="this.src='@WowExtensionMethod.NewsThumbnailOnError("34M")'" alt="@item.TITLE">
                            }
                            else
                            {
                                <img src="@WowExtensionMethod.NewsThumbnailPath("34S", item.THUMBNAIL_FILENM, item.VOD_NUM, item.IMAGE_DIR, item.IMAGE_FILE, item.ARTDATE.Value)" onerror="this.src='@WowExtensionMethod.NewsThumbnailOnError("34S")'" alt="@item.TITLE">
                            }
                        </a>
                        if (index == 3 || index == 6)
                        {
                            @Html.Raw("</li><li>");
                        }
                    }
                }
                else
                {
                    <p>내용이 없습니다.</p>
                }
                </li>
            </ul>
        </div>
    </div>
    <!-- 베스트 포토 end -->
<script src="@wowTvScript/NewsCenter/ContentRigth/Index.js"></script>

