@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.Middle.Model.Db90.DNRS

@model ListModel<tv_program>

@{
    Layout = null;

    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();

    string broadWatchNumber = ViewBag.BroadWatchNumber;
    string programCode = ViewBag.ProgramCode;
}




@foreach (var item in Model.ListData)
{
<li>
    <div class="img-area">
        <a href="#" onclick="return BroadWatchIndex.BindPlayInfoPartial(@item.Num, true);">
            <span class="notice-area">
                <!-- 알림표시할 경우 a태그에 span.notice-area 추가 -->
                @if (item.IsOneDayInner == true)
                {
                    <span class="text-icon type07">최신</span>
                }
            </span>
            <img src="@item.ThumImageUrl" alt="">
        </a>
    </div>
    <div class="cont-area">
        <p class="tit">@item.Program_Name</p>
        <div class="info-area">
            <div class="inner-left">
                <span class="txt-exer"><span class="num">@item.frontTimeString</span></span>
            </div>
            <div class="inner-right">
                <span class="txt-exer">@(item.Price == 0 ? "무료" : item.Price.ToString("N0"))</span>
            </div>
        </div>
    </div>
</li>
}

<input type="hidden" id="SearchList_hidTotalCount" value="@Model.TotalDataCount" />

<script src="@wowTvScript/Broad/BroadWatch/SearchList.js?date=20171018170000"></script>
