@using Wow.Tv.FrontWebMobile.Areas.Finance.Helpers
@using Wow.Tv.FrontWebMobile.Areas.Finance.Models
@model MarketExchangeDetailModel
@{
    ViewBag.Title = "ExchangeDetail";
    string wowTvScript = AppState["WowTvScript"].ToString();
    string currentMenuSeq = Request["menuSeq"];
}
@section scripts{
    <script src="@wowTvScript/Finance/Market/ExchangeDetail.js"></script>
}

<section class="container">
   
    <!-- title area -->
    <div class="section-area">
        <h2>환전고시환율</h2>
    </div>
    <!-- 환율 박스 -->
    <div class="exchange-area">
        <select id="selector01" class="calSel">
            @foreach (var item in Model.MarketBankExchangeList.ListData)
            {
                <option value='@item.Price.Replace(",","")'>@item.ItemName</option>
            }
        </select>
        <input type="text" class="won dollar" id="calculator-money01" value="" placeholder="1" onkeyup="if (event.keyCode != 13 && event.keyCode != 27 && event.keyCode != 37 && event.keyCode != 110 && event.keyCode != 188 && event.keyCode != 190 && event.keyCode != 229) { MarketExchangeDetail.CalcExchange(); return false; }">
        <span class="icon same-icon"></span>
        <select id="selector02" class="selector02">
            <option value="1">대한민국 원 KRW</option>
            @foreach (var item in Model.MarketBankExchangeList.ListData)
            {
                <option value='@item.Price.Replace(",","")'>@item.ItemName</option>
            }
        </select>
        <input type="text" class="won" id="calculator-money02" placeholder="1" value="">
    </div>
    <!-- // 환율 박스 -->
    <!-- 국제시장환율 텍스트 -->
    <div class="section-area">
        <div class="list-dotted mt0">
            <ul>
                <li>
                    <p class="font-color03"> 실시간</p>@Html.CurrentTimeFormat(Model.MarketWorldExchangeList.ListData.Select(m => m.exchangeDT).FirstOrDefault().ToString()) 외환은행기준 (단위:KRW) 
                    <div class="btn-area txt-inline">
                        <a href="/Finance/Market/ExchangeDetail?MenuSeq=@currentMenuSeq" class="btn type04 small">새로고침<span class="icon reset"></span></a>
                    </div>
                </li>
                <li>고시회차 <span>@Model.MarketBankExchangeList.ListData.Select(m => m.Times).FirstOrDefault()</span>회</li>
            </ul>
        </div>
    </div>
    <!-- // 국제시장환율 텍스트 -->

    <div class="section-area">
        <div class="table-type1 type02 line">
            <table>
                <caption>관심종목 상세</caption>
                <colgroup>
                    <col style="width:auto">
                    <col style="width:20%">
                    <col style="width:24%">
                    <col style="width:22%">
                </colgroup>
                <tbody>
                    
                    @if (Model.MarketWorldExchangeList.ListData.Count != 0)
                    {
                        foreach (var item in Model.MarketWorldExchangeList.ListData)
                        {
                            <tr>
                                <td class="txt-l">@item.ItemName (@item.Symbol)</td>
                                <td>@Html.PublishPriceFormat(item.ChgType, item.Price)</td>
                                <td>@Html.PublishChgPriceFormat(item.ChgType, item.ChgPrice)</td>
                                <td>@Html.PublishWorldExChangeChgRate(item.ChgType, item.ChgRate)</td>
                            </tr>
                        }
                    }

                    @*<tr>
                        <td class="txt-l">러시아 루블 (USDRUBCOMP)</td>
                        <td><span class="font-color01">31,125</span></td>
                        <td><span class="stock up"> 1.54%</span></td>
                        <td><span class="stock plus">1.54% </span> </td>
                    </tr>*@
                   

                </tbody>
            </table>
        </div>
    </div>

</section>