@using Wow.Tv.Middle.Model.Db49.wowtv

@model NTB_BROAD_LIVE

@{ 
    Layout = null;
}


<script>
    @if (String.IsNullOrEmpty(Model.PUBLISH_YN) == true)
    {
        // 등록된것이 없는것을 String.IsNullOrEmpty(Model.PUBLISH_YN) == true 이렇게 판단함. (아니면 빌드를 해야 해서...)
        <text>
    $("#divdivBroadLiveWrap").hide();
        </text>
    }

</script>


<strong class="tit" id="stBroadLiveTitle">@Model.PROGRAM_NAME</strong>
<span class="sub-tit">@MvcHtmlString.Create(Model.REMARK)</span>
<div class="sns-btn-area">
    @if (String.IsNullOrEmpty(Model.FACEBOOK_URL) == false)
    {
        <a href="#" class="icon ico-live-facebook" onclick="return TvMainIndex.OpenPopup('@Model.FACEBOOK_URL');">페이스북</a>
    }

    @if (String.IsNullOrEmpty(Model.YOUTUBE_URL) == false)
    {
        <a href="#" class="icon ico-live-youtube" onclick="return TvMainIndex.OpenPopup('@Model.YOUTUBE_URL');">유튜브</a>
    }

    @if (String.IsNullOrEmpty(Model.KAKAO_URL) == false)
    {
        <a href="#" class="icon ico-live-kakao" onclick="return TvMainIndex.OpenPopup('@Model.KAKAO_URL');">카카오</a>
    }

    @if (String.IsNullOrEmpty(Model.AFREECA_URL) == false)
    {
        <a href="#" class="icon ico-live-africa" onclick="return TvMainIndex.OpenPopup('@Model.AFREECA_URL');">아프리카</a>
    }

</div>
<p>즐겨찾는 소셜 채널을 클릭하시면 바로 시청하실 수 있습니다.</p>


