@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.Middle.Model.Db90.DNRS
@using Wow.Tv.FrontWebMobile.Areas.Component.Models

@model  List<T_RUNDOWN>

@{
    DateTime nowDate = DateTime.Now;
    string nowTimeString = nowDate.ToString("HH:mm");

    string nowClass = "now";
    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();

    string uploadWebPath = System.Configuration.ConfigurationManager.AppSettings["UploadWebPath"];

    ListModel<tv_program> broadWatchList = ViewBag.BroadWatchList;
    string nowTimePx = ViewBag.NowTimePx;


    string chinaVideoContent = ViewBag.ChinaVideoContent;

    bool isHoliDay = ViewBag.IsHoliDay;
    string programStatusString = ViewBag.ProgramStatusString;
    string programImageUrl = ViewBag.ProgramImageUrl;

    if (isHoliDay == true || nowDate.DayOfWeek == DayOfWeek.Saturday || nowDate.DayOfWeek == DayOfWeek.Sunday)
    {
        nowClass = "";
    }
    else
    {
        if (DateTime.Now.Hour < 9 || DateTime.Now.Hour > 15)
        {
            nowClass = "";
        }
        else if (DateTime.Now.Hour == 15)
        {
            if (DateTime.Now.Minute > 0)
            {
                nowClass = "";
            }
        }
    }


    Wow.Tv.FrontWebMobile.BroadService.NewsProgramServiceClient newsProgramServiceClient = new Wow.Tv.FrontWebMobile.BroadService.NewsProgramServiceClient();
    T_RUNDOWN nowProgram = newsProgramServiceClient.GetNowRunDown();
    if(nowProgram == null)
    {
        nowProgram = new T_RUNDOWN();
    }

    //TvPlayerModel tvPlayerParameter = new TvPlayerModel();
    //tvPlayerParameter.PlayType = TvPlayTypeModel.LiveTv;

    TvPlayerModel tvPlayerParameter = ViewBag.TvPlayerParameter;
    tvPlayerParameter.AutoSize = true;

}


@section styles{
    <link rel="stylesheet" href="@wowTvStyle/css/tv.css">
}


@section scripts{
    <script src="@wowTvScript/Broad/TvMain/Index.js?date=20171018170000"></script>
    <script src="@wowTvScript/NewsCenter/Common.js"></script>
}


<input type="hidden" id="hidLoginUrl" value="@System.Configuration.ConfigurationManager.AppSettings["UserLoginUrl"]" />


<!-- 왼쪽 영역 -->
<div class="left-area">


    <!-- TV main visual start -->
    <div class="section-area type2">

        <div class="broadcast-area">
            <!-- 방송 프로그램 목록 -->
            <div class="schedule-broad-area">
                <!-- 토글 활성화시 class="on" 추가 -->
                <!-- 토글 제목 영역 -->
                <div class="toggle-area" style="display:block;">

                    <!-- 프로그램 정보 -->
                    <div class="program-info">
                        <span class="text-icon type08">@programStatusString</span>
                        <span class="info-area">@(nowProgram.DayOfWeekString == null ? "" : String.Join("·", nowProgram.DayOfWeekString))  @nowProgram.RUN_START ~ @nowProgram.RUN_END</span>
                        <strong class="tit">@nowProgram.PRG_NM</strong>
                    </div>
                    <!-- //프로그램 정보 -->
                    <!-- 금일 일정 정보 -->
                    <div class="schedule-info">
                        <span class="date">@nowDate.ToString("yyyy년 MM월 dd일(ddd)")</span>
                        <p class="desc">오늘의 방송 일정 입니다.</p>
                    </div>
                    <!-- //금일 일정 정보 -->

                </div>
                <!-- //토글 제목 영역 -->
                <!-- 토글 내용 영역 -->
                <div class="list-schedule-broad">

                    <!-- 라이브 방송 알림 -->
                    <div class="notice-live-area">
                        <span class="noti">SNS라이브 방송중!</span>
                        <strong class="tit" id="stBroadLiveTitleLeftTop"></strong>
                    </div>
                    <!-- //라이브 방송 알림 -->
                    <!-- 171219 html수정(상단 플레이어 영역 방송 리스트 부분 추가) > 모정훈 -->
                    <!-- 라이브 방송 목록 -->
                    <div class="list-live-area">
                        <p class="tit">한국경제TV SNS 채널 라이브 방송</p>
                        <ul>
                            @foreach (var item in Model.Where(a => a.RUN_END.CompareTo(nowTimeString) >= 0))
                            {
                                <li class="@(item.Status == "Ing" ? "on" : "")">
                                    <a href="#" onclick="return TvMainIndex.MoveBroad('@item.PRG_CD');">
                                        <div class="live-info-area">
                                            @if (item.Status == "Ing")
                                            {
                                                <span class="state">방송중</span>
                                            }
                                            else if (item.Status == "Ready")
                                            {
                                                <span class="state watch">준비중</span>
                                            }
                                            else if (item.Status == "After")
                                            {
                                                <span class="state watch">방송예정</span>
                                            }
                                            <div class="cont-info">
                                                <strong class="tit">
                                                    @if (item.IsFirst == true)
                                                    {
                                                    <span class="text-icon">첫방송</span>
                                                    }
                                                    @if (item.IsRenewal == true)
                                                    {
                                                    <span class="text-icon">개편</span>
                                                    }
                                                    @item.PRG_NM
                                                </strong>
                                                <span class="date-info">@String.Join(".", item.DayOfWeekString)<span class="num">@item.RUN_START ~ @item.RUN_END</span></span>
                                            </div>
                                        </div>
                                        <div class="live-img-area">
                                            <img src="@item.REC_IMG" alt="프로그램 목록">
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                    <!-- //라이브 방송 목록 -->
                    <!-- //171219 html수정(상단 플레이어 영역 방송 리스트 부분 추가) > 모정훈 -->
                </div>
                <!-- //토글 내용 영역 -->
            </div>
            <!-- //방송 프로그램 목록 -->
            <!-- 방송 미디어 영역 -->
            @*<div class="media-broad-area">*@
                @if (tvPlayerParameter.PlayType == TvPlayTypeModel.None)
                {
                    <img src="@programImageUrl" alt="방송" width="720" height="403">
                }
                else
                {
                    @Html.Partial("~/Areas/Component/Views/TvPlayer/TvPlayer.cshtml", tvPlayerParameter)
                }
            @*</div>*@
            <!-- //방송 미디어 영역 -->
        </div>

    </div>
    <!--// TV main visual start end -->


    <!-- TV 다시보기 start -->
    <div class="section-area">
        <h3 class="tit-view bd-b">TV 다시보기</h3>
        <!-- list-media -->
        <div class="list-media box-type">
            <ul>

                @foreach (var item in broadWatchList.ListData)
                {
                    <li>
                        <div class="img-area">
                            <a href="#" onclick="return TvMainIndex.GoBroadWatch('@item.Dep', '@item.Num');">
                                <span class="notice-area">
                                    <span class="text-icon">최신</span>
                                </span>
                                <img src="@item.ThumImageUrl" @*onerror="this.src='/Content/Images/no_image_16s.jpg';"*@ alt="">
                                <strong class="tit">@(item.DayOfWeekString == null ? "" : String.Join("·", item.DayOfWeekString)) @item.frontTimeString</strong>
                            </a>
                        </div>
                    </li>
                }
                @*<li>
                    <div class="img-area">
                        <a href="#none">
                            <span class="notice-area">
                                <!-- 알림표시할 경우 a태그에 span.notice-area 추가 -->
                                <span class="text-icon">개편</span>
                            </span>
                            <img src="@wowTvStyle/Images/temp/temp_img_tv_main1.jpg" alt="">
                            <strong class="tit">월,화,수, 10:30~11:00</strong>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="img-area">
                        <a href="#none">
                            <span class="notice-area">
                                <!-- 알림표시할 경우 a태그에 span.notice-area 추가 -->
                                <span class="text-icon">개편</span>
                            </span>
                            <img src="@wowTvStyle/Images/temp/temp_img_tv_main1.jpg" alt="">
                            <strong class="tit">월,화,수, 10:30~11:00</strong>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="img-area">
                        <a href="#none">
                            <img src="@wowTvStyle/Images/temp/temp_img_tv_main1.jpg" alt="">
                            <strong class="tit">월,화,수, 10:30~11:00</strong>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="img-area">
                        <a href="#none">
                            <img src="@wowTvStyle/Images/temp/temp_img_tv_main1.jpg" alt="">
                            <strong class="tit">월,화,수, 10:30~11:00</strong>
                        </a>
                    </div>
                </li>*@
            </ul>
        </div>
        <!-- //list-media -->
    </div>
    <!--// TV 다시보기 end -->
    <!-- 인기 영상뉴스 start -->
    <div class="section-area">
        <h3 class="tit-view bd-b">인기 영상뉴스</h3>
        <!-- list-media -->
        <div class="list-media box-type" id="divPopularityNews">
        </div>
        <!-- //list-media -->
    </div>
    <!--// 인기 영상뉴스 end -->
    <!-- 탭(종목영상/마켓뉴스) 영역 start -->
    <div class="section-area">
        <!-- tab start -->
        <div class="tab-area wide">
            <ul>
                <li class="on"><a href="javascript:void(0)">종목영상</a></li>
                <li><a href="javascript:void(0)">마켓뉴스</a></li>
            </ul>
        </div>
        <!--// tab end -->

        <div class="tab-body">
            <!-- 종목영상 -->
            <div class="tab-cont on" id="divStock">
            </div>
            <!-- //종목영상 -->
            <!-- 마켓뉴스 -->
            <div class="tab-cont" id="divMarket">
            </div>
            <!-- //마켓뉴스 -->
        </div>
    </div>
    <!-- //탭(종목영상/마켓뉴스) 영역 end -->

</div>
<!-- //왼쪽 영역 -->
<!-- 오른쪽 영역 -->
<div class="right-area">

    <!-- 탭(공지사항/강연회/시청자 의견) 영역 start -->
    <div class="section-area">
        <!-- tab start -->
        <div class="tab-area wide">
            <ul>
                <li class="on"><a href="javascript:void(0)">공지사항</a></li>
                <li><a href="javascript:void(0)">강연회</a></li>
                <li><a href="javascript:void(0)">시청자 의견</a></li>
            </ul>
        </div>
        <!--// tab end -->

        <div class="tab-body" id="divNotice">
        </div>
    </div>
    <!-- //탭(공지사항/강연회/시청자 의견) 영역 end -->
    <!-- 중국경제 채널 start -->
    <div class="section-area">
        <h3 class="tit-view">
            <a href="javascript:void(0)" onclick="return TvMainIndex.OpenChinaMore();">중국경제 채널<span class="icon ico-more">더보기</span></a>
            <span class="tit-desc">중국중심 핵심분석! 한경 차이나 가이드에서 확인하세요.</span>
        </h3>
        <!-- 썸네일 이미지 박스 -->
        <div class="box-thumb-area">
            @*<a href="JAVASCRIPT:void();">*@
                @*<img src="@wowTvStyle/Images/temp/temp_img_tv_main3.jpg" alt="">*@
                <iframe width="100%" height="337" src="https://www.youtube.com/embed/@chinaVideoContent" frameborder="0" allowfullscreen=""></iframe>
            @*</a>*@
        </div>
        <!-- //썸네일 이미지 박스 -->
    </div>
    <!--// 중국경제 채널 end -->
    <!-- TV 프로그램 구매하기 strat -->
    <div class="section-area type2">
        <div class="program-buy-area">
            <a href="#" onclick="return TvMainIndex.OpenTvProgramBuy();">
                <strong class="tit"><span class="icon ico-prog-buy1"></span>TV프로그램 구매</strong>
            </a>
            <a href="#" onclick="return TvMainIndex.OpenContentsBuy();">
                <strong class="tit"><span class="icon ico-prog-buy2"></span>유료 컨텐츠 구매</strong>
            </a>
            <a href="#" onclick="return TvMainIndex.OpenUseMethod();">
                <strong class="tit"><span class="icon ico-prog-buy3"></span>이용방법 안내</strong>
            </a>
        </div>
    </div>
    <!-- //TV 프로그램 구매하기 end -->
    <!-- 웹 드라마 start -->
    <div class="section-area">
        <h3 class="tit-view bd-b mb0">웹 드라마</h3>
        <div class="webdrama-area">
            @Html.Partial("~/Areas/Broad/Views/TvMain/WebDrama.cshtml")
        </div>
    </div>
    <!--// 웹 드라마 end -->
    <!-- SNS 현장 라이브 start -->
    <div class="section-area" id="divdivBroadLiveWrap">
        <h3 class="tit-view bd-b mb0">SNS 현장 라이브</h3>
        <div class="sns-live-area" id="divBroadLive"></div>
    </div>
    <!--// SNS 현장 라이브 end -->
    <!-- 한국경제TV 방송 목록 start -->
    <div class="section-area pb0">
        <h3 class="tit-view bd-b mb0">한국경제TV 방송 목록</h3>
        <!-- 아코디언 리스트 영역 -->
        <div class="list-accordion list-broad-area" id="divProgramList">
        </div>
        <!-- //아코디언 리스트 영역 -->
    </div>
    <!--// 한국경제TV 방송 목록 end -->

</div>
<!-- //오른쪽 영역 -->




