@using Wow.Tv.Middle.Model.Db49.wowtv
@using Wow.Tv.Middle.Model.Db49.wownet

@{ 
    Layout = null;

    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();


    List<NTB_BOARD_CONTENT> list1 = ViewBag.List1;
    List<TAB_LECTURES_SCHEDULE> list2 = ViewBag.List2;
    List<NTB_BOARD_CONTENT> list3 = ViewBag.List3;
}


<script src="@wowTvScript/Broad/TvMain/Notice.js?date=20171018170000"></script>



<!-- 공지사항 -->
<div class="tab-cont on">
    <div class="list-type03">
        <ul>
            @foreach (var item in list1.Take(3))
            {
            <li><a href="#" onclick="return TvMainNotice.GoNotice('@item.ProgramCode','@item.BOARD_CONTENT_SEQ','@item.MenuSeq');" class="tit">@item.TITLE</a></li>
            }
        </ul>
    </div>
</div>
<!-- //공지사항 -->
<!-- 강연회 -->
<div class="tab-cont">
    <div class="list-type03">
        <ul>
            @foreach (var item in list2.Take(3))
            {
            <li><a href="#" onclick="return TvMainNotice.GoLecture('@item.MSEQ', '@item.SEQ');" class="tit">@item.Title</a></li>
            }
        </ul>
    </div>
</div>
<!-- //강연회 -->
<!-- 시청자 의견 -->
<div class="tab-cont">
    <div class="list-type03">
        <ul>
            @foreach (var item in list3.Take(3))
            {
                if (LoginHandler.IsLogin == true)
                {
                    <li><a href="#" onclick="return TvMainNotice.GoFeedBack('@item.ProgramCode','@item.BOARD_CONTENT_SEQ','@item.MenuSeq');" class="tit">@item.TITLE</a></li>
                }
                else
                {
                    <li><a href="#" onclick="return TvMainNotice.GoLoginFeedBack('@item.ProgramCode','@item.BOARD_CONTENT_SEQ','@item.MenuSeq');" class="tit">@item.TITLE</a></li>
                }
            }
        </ul>
    </div>
</div>
<!-- //시청자 의견 -->


