@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.Middle.Model.Db90.DNRS


@{
    Layout = null;

    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();

    ListModel<T_NEWS_PRG> procList = ViewBag.ProcList;
    ListModel<T_NEWS_PRG> afterList = ViewBag.AfterList;
    ListModel<T_NEWS_PRG> specList = ViewBag.SpecList;

    ListModel<T_NEWS_PRG> stockList = ViewBag.StockList;
    ListModel<T_NEWS_PRG> realEstateList = ViewBag.RealEstateList;
    ListModel<T_NEWS_PRG> insuranceList = ViewBag.InsuranceList;

}



<ul>
    <li>
        <strong class="tit">증권방송</strong>
        <div class="cont-area">
            <!-- list-all-media -->
            <div class="list-all-media">
                <ul>
                    @foreach (var item in stockList.ListData.OrderBy(a => a.PRG_NM))
                    {
                    <li><a href="#" onclick="return TvMainProgramList.MoveBroad('@item.PRG_CD');">@item.PRG_NM</a></li>
                    }
                </ul>
            </div>
            <!-- //list-all-media -->
        </div>
    </li>
    <li>
        <strong class="tit">경제</strong>
        <div class="cont-area">
            <!-- list-all-media -->
            <div class="list-all-media">
                <ul>
                    @foreach (var item in insuranceList.ListData.OrderBy(a => a.PRG_NM))
                    {
                        <li><a href="#" onclick="return TvMainProgramList.MoveBroad('@item.PRG_CD');">@item.PRG_NM</a></li>
                    }
                </ul>
            </div>
            <!-- //list-all-media -->
        </div>
    </li>
    <li>
        <strong class="tit">부동산</strong>
        <div class="cont-area">
            <!-- list-all-media -->
            <div class="list-all-media">
                <ul>
                    @foreach (var item in realEstateList.ListData.OrderBy(a => a.PRG_NM))
                    {
                        <li><a href="#" onclick="return TvMainProgramList.MoveBroad('@item.PRG_CD');">@item.PRG_NM</a></li>
                    }
                </ul>
            </div>
            <!-- //list-all-media -->
        </div>
    </li>
    <li>
        <strong class="tit">특집</strong>
        <div class="cont-area">
            <!-- list-all-media -->
            <div class="list-all-media">
                <ul>
                    @foreach (var item in specList.ListData.OrderBy(a => a.PRG_NM))
                    {
                        <li><a href="#" onclick="return TvMainProgramList.MoveBroad('@item.PRG_CD');">@item.PRG_NM</a></li>
                    }
                </ul>
            </div>
            <!-- //list-all-media -->
        </div>
    </li>
</ul>



<script src="@wowTvScript/Broad/TvMain/ProgramList.js?date=20171018170000"></script>

