@using Wow.Tv.Middle.Model.Common
@{
    ViewBag.Title = "LoginTest";

    string returnUrl = Request["returnurl"];
    if (string.IsNullOrEmpty(returnUrl) == true)
    {
        returnUrl = Request["returl"];
    }
}

<script type="text/javascript">
    function LoginValidate() {
        if ($("#txtUserId").val() == "") {
            alert("아이디를 입력하세요.");
            return false;
        }
        else {
            return true;
        }
    }
</script>

<h2>LoginTest</h2>

<form action="/Login/LoginTestProc">
    <table>
        <tr>
            <td>User ID</td>
            <td><input type="text" id="txtUserId" name="txtUserId" style="width:600px;" /></td>
        </tr>
        <tr>
            <td>Return URL</td>
            <td><input type="text" id="txtReturnUrl" name="txtReturnUrl" value="@returnUrl" style="width:600px;" /></td>
        </tr>
        <tr>
            <td>로그인유형</td>
            <td>
                <select id="loginFrom" name="loginFrom">
                    <option value="@((int)LoginDomain.IdPw)">아이디/비밀번호</option>
                    <option value="@((int)LoginDomain.Kakao)">카카오</option>
                    <option value="@((int)LoginDomain.Facebook)">페이스북</option>
                    <option value="@((int)LoginDomain.Naver)">네이버</option>
                </select>
            </td>
        </tr>
    </table>
    <button id="btnSubmit" onclick="if (LoginValidate() == true) { document.getElementById('LoginTestProc').submit(); } return false;">로그인</button>
</form>