@using Wow.Tv.Middle.Model.Common
@model Wow.Tv.Middle.Model.Common.LoginUserInfo
@{
    Layout = "/Views/Shared/_LayoutNone.cshtml";
    string domainUrlFront = System.Configuration.ConfigurationManager.AppSettings["DomainUrlFront"];
    string domainUrlHelp = System.Configuration.ConfigurationManager.AppSettings["DomainUrlHelp"];
    string domainUrlCompany = System.Configuration.ConfigurationManager.AppSettings["DomainUrlCompany"];
    string domainUrlProvision = System.Configuration.ConfigurationManager.AppSettings["DomainUrlProvision"];
    string domainUrlMyPage = System.Configuration.ConfigurationManager.AppSettings["DomainUrlMyPage"];

    bool isSuccess = ViewBag.IsSuccess;
    string returnMessage = ViewBag.ReturnMessage;
    string returnUrl = ViewBag.ReturnUrl;
    LoginDomain loginFrom = (LoginDomain)ViewBag.LoginFrom;

    string p1 = ((int)((LoginDomain)loginFrom)).ToString();
    string p2 = "", p3 = "", p4 = "";
    switch (loginFrom)
    {
        case LoginDomain.Naver:
            p2 = Model.NaverInfo.Id.ToString();
            p3 = Model.NaverInfo.Name;
            p4 = Model.NaverInfo.Email;
            break;
        case LoginDomain.Kakao:
            p2 = Model.KakaoInfo.Id.ToString();
            p3 = Model.KakaoInfo.Nickname;
            p4 = Model.KakaoInfo.Email;
            break;
        case LoginDomain.Facebook:
            p2 = Model.FacebookInfo.Id.ToString();
            p3 = Model.FacebookInfo.Name;
            p4 = Model.FacebookInfo.Email;
            break;
    }
}

@if (isSuccess == true)
{
    <script type="text/javascript">

        var iframeFrontLoaded = false;
        //var iframeHelpLoaded = false;
        //var iframeCompanyLoaded = false;
        //var iframeProvisionLoaded = false;
        //var iframeMyPageLoaded = false;

        var loadedDate = null;

        $(window).load(function () {
                loadedDate = new Date();
                setTimeout("CheckIFrame();", 500);
            });

            function CheckIFrame () {
                var currentDate = new Date();
                var diffSeconds = currentDate.getSeconds() - loadedDate.getSeconds();

                //$("#logDiv").append("currentDate.getSeconds(): " + currentDate.getSeconds() + ", loadedDate.getSeconds(): " + loadedDate.getSeconds() + "<br />");

                if (iframeFrontLoaded == true/* && iframeHelpLoaded == true && iframeCompanyLoaded == true && iframeProvisionLoaded == true && iframeMyPageLoaded == true*/) {
                    //$("#logDiv").append("IFrame Load Completed<br />");
                    location.href = "@Html.Raw(returnUrl)";
                }
                else if (diffSeconds > 3 || diffSeconds < -3) {
                    //$("#logDiv").append("diffSeconds: " + diffSeconds + "<br />");
                    location.href = "@Html.Raw(returnUrl)";
                }
                else {
                    //$("#logDiv").append("CheckIFrame();<br />");
                    setTimeout("CheckIFrame();", 500);
                }
            }

            function iframeFront_load () {
                iframeFrontLoaded = true;
                //$("#logDiv").append("iframeFront loaded<br />");
            }
            //function iframeHelp_load () {
            //    iframeHelpLoaded = true;
            //    //$("#logDiv").append("iframeHelp loaded<br />");
            //}
            //function iframeCompany_load () {
            //    iframeCompanyLoaded = true;
            //    //$("#logDiv").append("iframeCompany loaded<br />");
            //}
            //function iframeProvision_load () {
            //    iframeProvisionLoaded = true;
            //    //$("#logDiv").append("iframeProvision loaded<br />");
            //}
            //function iframeMyPage_load () {
            //    iframeMyPageLoaded = true;
            //    //$("#logDiv").append("iframeMyPage loaded<br />");
            //}
    </script>
    @*<div id="logDiv"></div>*@
    <iframe id="iframeFront" onload="iframeFront_load()" src="@domainUrlFront/Login/EasyLoginProcSSO?p1=@p1&p2=@p2&p3=@p3&p4=@p4" width="0" height="0" frameborder="0" scrolling="no"></iframe>
    @*<iframe id="iframeHelp" onload="iframeHelp_load()" src="@domainUrlHelp/Login/EasyLoginProcSSO?p1=@p1&p2=@p2&p3=@p3&p4=@p4" width="0" height="0" frameborder="0" scrolling="no"></iframe>
    <iframe id="iframeCompany" onload="iframeCompany_load()" src="@domainUrlCompany/Login/EasyLoginProcSSO?p1=@p1&p2=@p2&p3=@p3&p4=@p4" width="0" height="0" frameborder="0" scrolling="no"></iframe>
    <iframe id="iframeProvision" onload="iframeProvision_load()" src="@domainUrlProvision/Login/EasyLoginProcSSO?p1=@p1&p2=@p2&p3=@p3&p4=@p4" width="0" height="0" frameborder="0" scrolling="no"></iframe>
    <iframe id="iframeMyPage" onload="iframeMyPage_load()" src="@domainUrlMyPage/Login/EasyLoginProcSSO?p1=@p1&p2=@p2&p3=@p3&p4=@p4" width="0" height="0" frameborder="0" scrolling="no"></iframe>*@
}
else
{
    <script type="text/javascript">
        $(window).load(function () {
        if ("@returnMessage" != "") {
            alert("@returnMessage");
        }

        if ("@Html.Raw(returnUrl)" != "") {
            location.href = "@Html.Raw(returnUrl)";
        }
        else {
            history.back();
        }

    });
    </script>
}
