@model IList<Wow.Tv.Middle.Model.Db49.wownet.TAB_SCRAP_MENU>


@{
    Layout = null;
    string wowTvScript = AppState["WowTvScript"].ToString();
    var condition = ViewBag.Condition as ScrapCondition;
}

<script>
    var pinType = "@condition.PinType";
    var scrapId = "@condition.ScrapId";
    var name ="@condition.Name";
    var url ="@condition.Url";
</script>

@*<script type="text/javascript" src="@wowTvScript/lib.js"></script>*@
<script type="text/javascript" src="@wowTvScript/design.js"></script>
<script type="text/javascript" src="@wowTvScript/Popup/PopupNewsScrap.js"></script>




<div class="popup-area" style="display:block;">
    <div class="dimBg"></div>
    <!-- POPUP Layer -->
    <div id="divPopupNewsScrap" class="pop-layer">
        <!-- title -->
        <div class="title-area">
            <strong class="title">마이핀-뉴스핀</strong>
        </div>
        <!-- // title -->
        <!-- content -->
        <div class="content-area">
            <div class="box-section">
                <h3>뉴스핀</h3>
                <p class="mb10">"@condition.Name" 뉴스를 핀 하시겠습니까?</p>
                <div class="list-dotted pb15">
                    <ul>
                        <li>
                            핀한 뉴스는 '마이페이지 > 나의 핀'에서 쉽게 보실 수 있습니다. <br />
                            폴더를 추가 하시려면 마이페이지 나의 핀에서 추가가 가능합니다.
                        </li>
                    </ul>
                </div>

                <div class="box-type02-p">
                    @if (Model.Count != 0)
                    {
                        foreach (var item in Model)
                        {
                            <div class="radio-area">
                                <input type="radio" id="rdo-@item.MSEQ" value="@item.MSEQ" name="MSEQ">
                                <label for="rdo-@item.MSEQ"><span class="radio"></span><span id="spanLabel-@item.MSEQ">@item.FOLDER_NAME</span></label>
                            </div>
                        }

                    }
                </div>
                <div class="btn-area mt10">
                    <ul class="btn-list">
                        <li><a href="#none" class="btn type01" id="btnPinSave">핀</a></li>
                        <li><a href="#none" class="btn type05" id="btnCancel">취소</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <span class="pop-btn"><a href="#none">닫기</a></span>
        <!-- // 컨텐츠 -->
    </div>

</div>	