
@{
    Layout = null;
}


@if (LoginHandler.IsLogin == true)
{
        <!-- login box start -->
    <div class="login-area">
        <div class="mark-area">
            <!-- 패밀리등급 - class="ico-class ico-family" / vip 등급- class="ico-class ico-vip" / vvip등급 - class="ico-class ico-vvip" -->
            <span class="ico-class ico-family">family</span>
        </div>
        <div class="btn-area">
            <p class="txt">안녕하세요. <strong>@LoginHandler.CurrentLoginUser.UserName</strong>님</p>
            <ul class="btn-list">
                <li><a href="@System.Configuration.ConfigurationManager.AppSettings["UserLogoutUrl"]?returnurl=@Html.Raw(HttpUtility.UrlEncode(Request["returnurl"]))" class="btn type01 w-typeAuto01">로그아웃</a></li>
                <li><a href="@System.Configuration.ConfigurationManager.AppSettings["DomainUrlMyPage"]" class="btn type05 w-typeAuto01">마이페이지</a></li>
            </ul>
        </div>
    </div>
        <!--// login box end -->
}
else
{
        <!-- login box start -->
    <div class="login-area">
        <div class="btn-area">
            <p class="txt">로그인하시면 다양한 혜택을 받으실 수 있습니다.</p>
            <ul class="btn-list">
                <li><a href="@System.Configuration.ConfigurationManager.AppSettings["UserLoginUrl"]?returnurl=@Html.Raw(HttpUtility.UrlEncode(Request["returnurl"]))" class="btn type01 w-typeAuto01">로그인</a></li>
                <li><a href="@System.Configuration.ConfigurationManager.AppSettings["DomainUrlMember"]/Join" class="btn type05 w-typeAuto01">회원가입</a></li>
            </ul>
        </div>
    </div>
        <!--// login box end -->
}


