
@{
    Layout = null;
}

@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <a href="javascript:NewsCommon.GoNewsRead('@item.ARTICLEID')" class="obj-cont">
            <div class="img-area">
                <img alt="" src="@Wow.WowExtensionMethod.NewsThumbnailPath("11S", item.THUMBNAIL_FILENM, item.VOD_NUM, item.IMAGE_DIR, item.IMAGE_FILE, item.ARTDATE)" onerror="this.src='@Wow.WowExtensionMethod.NewsThumbnailOnError("11S")'">
                @if (item.VOD_NUM > 0)
                {
                    <span class="icon-play"></span>
                }
            </div>
            <p class="txt">@item.TITLE</p>
            <p class="obj-txt">@Wow.WowExtensionMethod.RemoveTagAndReplace(MvcHtmlString.Create(item.CONTENTS_CUT).ToString(), 54, true)</p>
        </a>
    }
}
else
{
    <a href="javascript:void(0)">
        등록된 내용이 없습니다.
    </a>
}