
@{
    Layout = null;
}


<div class="tab-cont on">
    <!-- 최신뉴스 start -->
    <div class="box-news-img">
    @if (Model != null && Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <a href="javascript:NewsCommon.GoNewsRead('@item.ARTICLEID')" class="news-img-cont">
                <div class="img-area">
                    <img alt="" src="@Wow.WowExtensionMethod.NewsThumbnailPath("16M", item.THUMBNAIL_FILENM, item.VOD_NUM, item.IMAGE_DIR, item.IMAGE_FILE, item.ARTDATE)" onerror="this.src='@Wow.WowExtensionMethod.NewsThumbnailOnError("16M")'">
                    @if (!String.IsNullOrEmpty(item.GUBUN_NAME))
                    {
                        @MvcHtmlString.Create(Wow.WowExtensionMethod.NewsMobileGubunIcon(item.GUBUN_NAME))
                    }
                    @if (item.TAG != null && item.TAG != "")
                    {
                        <span class="text-icon type10">
                            @*@MvcHtmlString.Create(Wow.WowExtensionMethod.NewsHashTag(item.TAG))*@
                            @item.TAG
                        </span>
                    }
                    @if (item.VOD_NUM > 0)
                    {
                        <span class="icon-play"></span>
                    }
                </div>
                <div class="txt-area"><p class="txt">@MvcHtmlString.Create(Wow.WowExtensionMethod.ToStrong(item.TITLE, item.BOLD_YN))</p></div>
            </a>
        }
    }
    else
    {
        <div>등록된 내용이 없습니다.</div>
    }
    </div>
</div>
