@using Wow.Tv.FrontWebMobile.MenuService
@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.Middle.Model.Db49.wowtv
@using Wow.Tv.Middle.Model.Db49.wowtv.Menu
@using Wow.Tv.FrontWebMobile.FinanceService
@using Wow.Tv.FrontWebMobile.Areas.Finance.Helpers
@using Wow.Tv.Middle.Model.Db22.stock.Finance



@{
    Layout = null;


    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();
    string domain_MobileWowtv = System.Configuration.ConfigurationManager.AppSettings["Domain_MobileWowtv"];
    string domain_PcWowtv = System.Configuration.ConfigurationManager.AppSettings["Domain_PcWowtv"] + "/Home/Index?fromMobile=Y";

    var DomesticInfo = new
    {
        KospiInfo = new FinanceServiceClient().GetSiseKospiInfo(),
        KosdaqInfo = new FinanceServiceClient().GetSiseKosdaqInfo()
    };

    bool chkStockHoliday = new FinanceServiceClient().GetCheckStockHoliday(new HolidayCondition { CheckDt = String.Format("{0:yyyyMMdd}", DateTime.Now) });
}

@{
    MenuCondition menuCondition = new MenuCondition();
    menuCondition.ChannelCode = "WowTv_Mobile";
    menuCondition.Depth = 1;
    menuCondition.ActiveYn = "Y";
    menuCondition.PageSize = -1;
    var menuList_1 = new MenuServiceClient().SearchList(menuCondition);

    string currentMenuSeq = Request["menuSeq"];
}

@{
    var myStockList = ViewBag.ResultData as List<Wow.Tv.Middle.Model.Db22.stock.tblMyFavoriteJongMok>;


}

@section modalDiv{
    <div id="divMyFavoriteStock" class="popup-area" role="dialog"></div>
}

<script>
    var LayOut_SiteMap = {
        OpenWowFa: function () {
            if (IsAndroidCheck() == true) {
                window.open("https://play.google.com/store/apps/details?id=kr.co.futurewiz.android.wowband");
            }
            else {
                window.open("https://itunes.apple.com/kr/app/%EC%99%80%EC%9A%B0%EB%B0%B4%EB%93%9C/id1079686651?mt=8");
            }

            return false;
        },
        OpenWowStar: function () {
            if (IsAndroidCheck() == true) {
                window.open("https://play.google.com/store/apps/details?id=kr.co.wowtv.StockTalk");
            }
            else {
                window.open("https://itunes.apple.com/kr/app/%EC%A3%BC%EC%8B%9D%EC%B0%BD%EC%A3%BC%EC%8B%9D-%EC%A6%9D%EA%B6%8C1%EC%9C%84-%EC%95%B1-%EC%A6%9D%EA%B6%8C%EC%8B%9C%EC%84%B8-%EC%A3%BC%EC%8B%9D%EB%B9%84%ED%83%80%EB%AF%BC/id577658269?mt=8");
            }

            return false;
        },
        OpenTvTen: function () {
            if (IsAndroidCheck() == true) {
                window.open("https://play.google.com/store/apps/details?id=kr.tvten.android.air");
            }
            else {
                window.open("https://itunes.apple.com/kr/app/%ED%8B%B0%EB%B9%84%ED%85%90%ED%94%8C%EB%9F%AC%EC%8A%A4/id1247802353?mt=8");
            }

            return false;
        },
        OpenApp: function () {
            if (IsAndroidCheck() == true) {
                window.open("https://play.google.com/store/apps/details?id=kr.co.wowtv.wowtv");
            }
            else {
                window.open("https://itunes.apple.com/kr/app/%EB%89%B4%ED%95%9C%EA%B5%AD%EA%B2%BD%EC%A0%9Ctv/id705749014?mt=8");
            }

            return false;
        }
    }
    $(document).ready(function () {
        MiddleData.BoxAreakospiStock("INDEX", "1D0001", 10, $(".gnb-stock-box #kospi .middleStockData"), @chkStockHoliday.ToString().ToLower());
        MiddleData.BoxAreaKosdaqStock("INDEX", "2E4001", 10, $(".gnb-stock-box #kosdaq .middleStockData"), @chkStockHoliday.ToString().ToLower());
    });
</script>
<script type="text/javascript" src="@wowTvScript/Home/SiteMap.js"></script>

<div class="dimmed">
    <div class="btn-box" id="SiteMap_divHome">
        <a href="/" class="home-btn"><span class="icon home"></span></a>
        <a href="#none" class="close-btn"></a>
    </div>

    <!-- 로그인 여부에 따른 처리가 들어가는 자리임 -->
    
    <!-- 채널 -->
    <div class="channel-area">
        <ul class="channel-menu">
            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["DomainUrlHelp"]/ServiceInfo/Hankyung/Index?menuSeq=4323&type=CableTV" target="_blank"><span></span>지역별 채널</a></li>
            <li><a href="@(domain_MobileWowtv)/Broad/TvSchedule/Index?menuSeq=642"><span></span>편성표</a></li>
            <li><a href="@(domain_MobileWowtv)/Broad/OnAir/Index?menuSeq=988"><span></span>온에어</a></li>
            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["DomainUrlHelp"]"><span></span>고객센터</a></li>
        </ul>
    </div>
    <!-- // 채널 -->
    
    <hr class="line01">
    <!-- 전체메뉴 -->
    <div class="menu-list">
        <ul class="menu">
            @foreach (var item in menuList_1.ListData)
            {
                menuCondition.UpMenuSeq = item.MENU_SEQ;
                menuCondition.Depth = 2;
                var menuList_2 = new MenuServiceClient().SearchList(menuCondition);

                <li>
                    <a href="@item.Href" target="@item.LINK_TYPE_CODE">@item.MENU_NAME <span class="icon"></span></a>
                    <ul class="sub-menu">
                        @foreach (var item2 in menuList_2.ListData)
                        {
                            menuCondition.UpMenuSeq = item2.MENU_SEQ;
                            menuCondition.Depth = 3;
                            var menuList_3 = new MenuServiceClient().SearchList(menuCondition);

                            if (menuList_3.ListData.Count > 0)
                            {
                                <li>
                                    <a href="@item2.Href" target="@item2.LINK_TYPE_CODE">@item2.MENU_NAME<span class="icon"></span></a>
                                    <ul class="sub-menu-s">
                                        @foreach (var item3 in menuList_3.ListData)
                                        {
                                            <li><a href="@item3.Href" target="@item3.LINK_TYPE_CODE">@item3.MENU_NAME</a></li>
                                        }
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li><a href="@item2.Href" target="@item2.LINK_TYPE_CODE">@item2.MENU_NAME</a></li>
                            }
                        }
                    </ul>
                </li>
            }
        </ul>
        <hr class="line01">
        <div id="SiteMap_divMyPage"></div>
    </div>
    <!-- 전체메뉴 -->
    <hr class="line01">

    <div id="SiteMap_divMyStock"></div>
    
    <hr class="line01">

    @*<div class="ad-area">
        <a href="http://kr.ce.cn/" target="_blank"><img src="@wowTvStyle/images/common/banner_img01.png" alt=""></a>
    </div>*@
    <div class="gnb-stock-box">
        <div id="kospi">
            <strong class="title"><a href="#none" onclick="KospiGo();">코스피</a></strong>
            <p class="num">@Html.PublishPriceMiddleFormat(DomesticInfo.KospiInfo.StockInfo.ChgType, DomesticInfo.KospiInfo.StockInfo.Price)</p>
            <ul class="stock-box">
                <li>@Html.PublishChgPriceMiddleFormat(DomesticInfo.KospiInfo.StockInfo.ChgType, DomesticInfo.KospiInfo.StockInfo.ChgPrice)</li>
                <li>@Html.PublishUpDownSymbolPChangeMiddleFormat(DomesticInfo.KospiInfo.StockInfo.ChgType, DomesticInfo.KospiInfo.StockInfo.ChgRate)</li>
            </ul>
        </div>
        <div id="kosdaq">
            <strong class="title"><a href="#none" onclick="KosdaqGo();">코스닥</a></strong>
            <p class="num">@Html.PublishPriceMiddleFormat(DomesticInfo.KosdaqInfo.StockInfo.ChgType, DomesticInfo.KosdaqInfo.StockInfo.Price)</p>
            <ul class="stock-box">
                <li>@Html.PublishChgPriceMiddleFormat(DomesticInfo.KosdaqInfo.StockInfo.ChgType, DomesticInfo.KosdaqInfo.StockInfo.ChgPrice)</li>
                <li>@Html.PublishUpDownSymbolPChangeMiddleFormat(DomesticInfo.KosdaqInfo.StockInfo.ChgType, DomesticInfo.KosdaqInfo.StockInfo.ChgRate)</li>
            </ul>
        </div>
    </div>
    <!-- 패밀리 사이트 -->
    <div class="family-icon-area">
        <ul class="icon-list">
            <li><a href="http://m.wownet.co.kr" target="_blank"><span></span>와우넷</a></li>
            <li><a href="javascript:void(0);" onclick="return LayOut_SiteMap.OpenWowFa();"><span></span>와우밴드</a></li>
            <li><a href="javascript:void(0);" onclick="return LayOut_SiteMap.OpenWowStar();"><span></span>주식창</a></li>
            <li><a href="@(domain_MobileWowtv)"><span></span>모바일</a></li>
            <li><a href="javascript:void(0);" onclick="return LayOut_SiteMap.OpenTvTen();"><span></span>티비텐플러스</a></li>
        </ul>
    </div>
    <!-- // 패밀리 사이트 -->
    <!-- 고객센터 안내 -->
    <div class="customer-center">
        <strong class="title">고객센터<span>1599-0700</span></strong>
        월-금 08:00~23:30, 일 12:00~22:00<br />
        공휴일 10:00~15:00
    </div>
    <!-- // 고객센터 안내 -->
    <!-- 상단 카피라이트 -->
    <div class="gnb-footer">
        <ul>
            <li><a href="@(domain_PcWowtv)"><span></span>PC버전</a></li>
            <li><a href="javascript:void(0);" onclick="return LayOut_SiteMap.OpenApp();"><span></span>모바일앱</a></li>
            <li class="top-btn"><a href="#"><span></span>최상단으로</a></li>
        </ul>
        Copyright ⓒ 한국경제TV. All Rights Reserved. 무단전재 및 재배포 금지
    </div>
    <!-- // 상단 카피라이트 -->
</div>

<script type="text/javascript">
    $.ajax({
        type: 'POST',
        url: "/Home/LoginStatus?returnurl=@Html.Raw(HttpUtility.UrlEncode(HttpContext.Current.Request.Url.AbsoluteUri))",
            data: { },
            success: function (data, textStatus) {
                $("#SiteMap_divHome").after(data);
            }
        });

    $.ajax({
        type: 'POST',
        url: "/Home/SiteMapMyPage",
        data: { },
        success: function (data, textStatus) {
            $("#SiteMap_divMyPage").after(data);
        }
    });

    $.ajax({
        type: 'POST',
        url: "/Home/SiteMapMyStock",
        data: { },
        success: function (data, textStatus) {
            $("#SiteMap_divMyStock").after(data);
        }
    });

</script>
