
@{ 
    Layout = null;

    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();

    string partnerThumImage = ViewBag.PartnerThumImage;
}


<div class="swiper-slide">
    <!-- movie start -->
    <div class="img-area">
        <img src="@Model[0].StringValue2" onclick="return HomeIndex.ChangeTv(@Model[0].IntValue1, @Model[0].IntValue2);" alt="방송 이미지">
        @*<span class="icon-movie"></span>*@
    </div>
    <!--// movie end -->
</div>
<div class="swiper-slide">
    <!-- movie start -->
    <div class="img-area">
        <img src="@Model[1].StringValue2" onclick="return HomeIndex.ChangeTv(@Model[1].IntValue1, @Model[1].IntValue2);" alt="방송 이미지">
    </div>
    <!--// movie end -->
</div>
<div class="swiper-slide">
    <!-- movie start -->
    <div class="img-area">
        <img src="@Model[2].StringValue2" onclick="return HomeIndex.ChangeTv(@Model[2].IntValue1, @Model[2].IntValue2);" alt="방송 이미지">
    </div>
    <!--// movie end -->
</div>
<div class="swiper-slide">
    <!-- movie start -->
    <div class="img-area" id="divVodPartnerImage" >
        <img src="@partnerThumImage" alt="온라인 실시간 공개방송 파트너">
    </div>
    <!--// movie end -->
</div>



