@using Wow.Tv.Middle.Model.Db49.wowtv
@using Wow.Tv.Middle.Model.Db49.broadcast
@using Wow.Tv.Middle.Model.Db90.DNRS

@model List<USP_GetRecommendPro3_Result>

@{ 
    Layout = null;

    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();

    T_NEWS_PRG nowNewsProgram = ViewBag.NowNewsProgram;
    List<Pro_wowList> nowProgramPartnerList = ViewBag.NowProgramPartnerList;
    List<tv_program> broadWatchList = ViewBag.BroadWatchList;


    bool isFirst = true;

    int count = 0;
    List<Wow.Tv.Middle.Model.Db89.WOWTV_BILL_DB.TItemPriceMst> partnerListCurrent = null;
    List<Wow.Tv.Middle.Model.Db89.WOWTV_BILL_DB.TItemPriceMst> partnerList1 = ViewBag.PartnerList1;
    List<Wow.Tv.Middle.Model.Db89.WOWTV_BILL_DB.TItemPriceMst> partnerList2 = ViewBag.PartnerList2;
    List<Wow.Tv.Middle.Model.Db89.WOWTV_BILL_DB.TItemPriceMst> partnerList3 = ViewBag.PartnerList3;
}


<!-- 와우넷 파트너 start -->
<div class="box-wowPort-cont">
    <img src="@wowTvStyle/images/main/bg_main_01.png" alt="온라인 실시간 공개방송 파트너">
    <div class="swiper-container main-slider">

    @if (nowNewsProgram == null || nowProgramPartnerList == null || nowProgramPartnerList.Count == 0)
    {
        <div class="swiper-wrapper">
            @foreach (var item in Model)
            {
            <div class="swiper-slide">
                <!-- 없을때 start -->
                <div class="box-slider-cont type01">
                    <div class="cont">
                        @if (item.STATE == null || item.STATE.Value.Equals(0))
                        {
                        }
                        else if (item.STATE.Value.Equals(1) || item.STATE.Value.Equals(3) || item.STATE.Value.Equals(4))
                        {
                            <span class="text-icon type09">방송중</span>
                        }
                        else if (item.STATE.Value.Equals(2))
                        {
                        }
                        <p class="aside">@item.Intro_Profile</p>
                        <strong class="tit-name"><span>@Wow.Fx.BroadcastFunction.GetInvestClass(item.INVESTKIND)</span>@item.NICKNAME</strong>
                    </div>
                    <div class="img-obj"><img src="http://image.wownet.co.kr/@item.NewPhoto_Recommend" alt="@item.NICKNAME"></div>
                    <div class="btn-bm">
                        <a href="#" onclick="alert('해당방송은 PC 와우넷 사이트(www.wownet.co.kr)에서만 볼수 있습니다.');" class="btn ico-img03">녹화방송</a>
                        <a href="#" onclick="alert('전문가 서비스 가입은 PC 와우넷 사이트(www.wownet.co.kr)에서 가능합니다.');" class="btn ico-img02">카페가기</a>
                        <a href="http://m.wownet.co.kr/cafe/mycafe/my_cafe_list.asp?CafeCode=@item.CafeCode" target="_blank" class="btn ico-img04">가입하기</a>
                    </div>
                </div>
                <!--// 없을때 end -->
            </div>
            }
        </div>
    }
    else
    {
        <div class="swiper-wrapper">
            @foreach (var item in nowProgramPartnerList)
            {
            <div class="swiper-slide">
                <!-- 있을때 start -->
                <div class="box-slider-cont">
                    <div class="cont">
                        <p class="aside">“@nowNewsProgram.PRG_NM”</p>
                        <strong class="tit-name">@item.NickName</strong>
                        <span class="txt">@item.Intro_Profile</span>
                    </div>
                    <div class="img-obj"><img src="http://image.wownet.co.kr/@item.NEWPhoto_Recommend" alt="@item.NickName"></div>
                    <div class="btn-bm">
                        <a href="#" onclick="alert('해당방송은 PC 와우넷 사이트(www.wownet.co.kr)에서만 볼수 있습니다.');" class="btn ico-img01">녹화방송</a>
                        <a href="http://m.wownet.co.kr/cafe/mycafe/my_cafe_list.asp?CafeCode=@item.CafeCode" target="_blank" class="btn ico-img02">카페가기</a>
                    </div>
                </div>
                <!--// 있을때 end -->
            </div>
            }
        </div>
    }

        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div>
</div>
<!--// 와우넷 파트너 end -->