@using Wow
@using Wow.Tv.Middle.Model.Db49.Article
@using Wow.Tv.Middle.Model.Db49.broadcast
@using Wow.Tv.Middle.Model.Db49.wownet
@using Wow.Tv.Middle.Model.Db90.DNRS
@using Wow.Tv.FrontWebMobile.Areas.Component.Models

@model T_RUNDOWN

@{
    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();

    string currentMenuSeq = Request["menuSeq"];


    string uploadWebPath = System.Configuration.ConfigurationManager.AppSettings["UploadWebPathRoot"];
    List<USP_GetTabStrategetApplication_Result> todayStrategy = ViewBag.TodayStrategy;
    List<usp_GetlivePro_Result> onAirPartnerList = ViewBag.OnAirPartnerList;
    List<NTB_HUB_BUSINESS> hubBusinessList = ViewBag.HubBusinessList;


    TvPlayerModel tvPlayerParameter = new TvPlayerModel();
    tvPlayerParameter.PlayType = TvPlayTypeModel.LiveTv;
    tvPlayerParameter.AutoSize = true;
}


@section styles{
    <link rel="stylesheet" href="@wowTvStyle/css/tv.css">
}


@section scripts{
    <script src="@wowTvScript/Broad/OnAir/Index.js?date=20171018170000"></script>
}


<!-- 소개부분 -->
<div class="section-area intro-tit">
    <h2>온에어</h2>
</div>
<!-- //소개부분 -->
<!-- 온에어 방송 영역 -->
<div class="air-visual-area">
    @if (Model == null)
    {
        <div class="air-info-area">
            <strong class="tit">방송정보가 없습니다.</strong>
        </div>
    }
    else
    {
    <div class="air-info-area">
        <div class="text-icon-area">
            @if (Model.IsFirst == true)
            {
                <span class="text-icon type09">첫방송</span>
            }
            @if (Model.IsRenewal == true)
            {
                <span class="text-icon type09">개편</span>
            }
        </div>
        <strong class="tit">@Model.PRG_NM</strong>
        <span class="info-detail">@(Model.DayOfWeekString == null ? "" : String.Join("·", Model.DayOfWeekString))<span class="num">@Model.RUN_START ~ @Model.RUN_END</span></span>
        <span class="info-detail">@(Model.CastNameList == null ? "" : String.Join(", ", Model.CastNameList))</span>
    </div>
    }
    <!-- 온에어 미디어 영역 -->
    <div class="air-media-area">
        @*<img src="@wowTvStyle/images/temp/temp_media.jpg" alt="임시 영상 대체 이미지" />*@
        @Html.Partial("~/Areas/Component/Views/TvPlayer/TvPlayer.cshtml", tvPlayerParameter)
    </div>
    <!-- //온에어 미디어 영역 -->
</div>
<!-- //온에어 방송 영역 -->

<div class="section-area pb10">
    <!-- 동영상이 재생되지 않을 때 -->
    <div class="btn-area">
        <a href="@System.Configuration.ConfigurationManager.AppSettings["DomainUrlHelp"]/IntegratedBoard/FAQ/index/016002004/0?menuSeq=907" target="_blank" class="btn type05 medium wide" ><span class="icon ico-noti"></span>동영상이 재생되지 않을 때<span class="icon link-go"></span></a>
    </div>
    <!-- //동영상이 재생되지 않을 때 -->
</div>

<!-- 오늘의 투자 전략 -->
<div class="section-area pt0">
    <div class="list-type03">
        <h3>오늘의 투자 전략<a href="#" class="icon ico-more" onclick="return OnAirIndex.OpenPopup('http://invest.wownet.co.kr/invest/superior/list.asp?bcode=N01020000&mseq=144');">더보기</a></h3>
        <ul>
            @for (int i = 0; i < 5 && i < todayStrategy.Count; i++)
            {
                string url = "http://invest.wownet.co.kr/invest/superior/view.asp?currPage=1&seq=" + todayStrategy[i].SEQ + "&pseq=&bcode=N01020100&listType=&nickname=&code=N01020100&mseq=152&ref_step=" + todayStrategy[i].REF_STEP + "&ref=" + todayStrategy[i].REF + "&gubun=&skey=TITLE&sval=";

                <li><a href="#" class="tit" onclick="return OnAirIndex.OpenPopup('@url');">@todayStrategy[i].TITLE</a></li>
            }
        </ul>
    </div>
</div>
<!-- //오늘의 투자 전략 -->
<!-- 와우넷 파트너 공개 방송 -->
<div class="section-area">
    <div class="list-type03">
        <h3>와우넷 파트너 공개 방송<a href="#" class="icon ico-more" onclick="return OnAirIndex.OpenPopup('http://wowpro.wownet.co.kr/pro/intro.asp?bcode=N04000000&mseq=177');">더보기</a></h3>
        <ul>
            @for (int i = 0; i < 5 && i < onAirPartnerList.Count; i++)
            {
                string url = "http://wowpro.wownet.co.kr/pro/specialist_present.asp?nickname=" + (HttpUtility.UrlEncode(onAirPartnerList[0].NICKNAME, System.Text.Encoding.GetEncoding("euc-kr")));

            <li><a href="#" class="tit" onclick="return OnAirIndex.OpenPopup('@url');">@onAirPartnerList[i].BTITLE</a></li>
            }
        </ul>
    </div>
</div>
<!-- //와우넷 파트너 공개 방송 -->

<!-- 배너영역 -->
<div class="section-area pb30">
    <div class="swiper-container bann-auto-slider">
        <div class="swiper-wrapper">
            @foreach (var item in hubBusinessList)
            {
                <div class="swiper-slide"><a href="@item.HUB_URL" target="_blank"><img src="@(uploadWebPath + item.HUB_IMAGE.Replace("\\", "/"))" alt="@item.HUB_TITLE"></a></div>
            }
        </div>
    </div>
</div>
<!-- //배너영역 -->

