@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.Middle.Model.Db49.editVOD
@using Wow.Tv.FrontWebMobile.Areas.Finance.Helpers
@model ListModel<usp_web_getInvestVodList_Result>
@{
    ViewBag.Title = "DomesticStockDetailInvestVodList";
    Layout = null;
    string wowTvScript = AppState["WowTvScript"].ToString();
    string wowTvStyle = AppState["WowTvStyle"].ToString();

}
<script>
    var totalDataCount_investVodList = "@Model.TotalDataCount";
</script>
<script src="@wowTvScript/Finance/DomesticStock/DomesticStockDetailInvestVodList.js"></script>
<!-- form start -->
<div class="box-grown-form" id="stockVodSearchVal">
    <h3 class="blind">검색폼</h3>
    <filedset>
        <legend>검색폼</legend>

        <label for="searWord" class="blind">검색단어 입력</label>
        <input type="text" id="title" name="searWord" placeholder="검색어를 입력하세요.">
        <div class="btn-area">
            <a href="#none" class="btn type02" id="btnSearch">검색하기</a>
        </div>
    </filedset>
</div>
<!--// form end -->
<!-- 공시 start -->
<div class="section-area">
    <div class="box-type-evMov">

        @if (Model.ListData.Count > 0)
            {
                foreach (var item in Model.ListData)
                {
                <div class="box-cont">
                    <div class="img-area">
                        <img src="@Html.DomesticStockDetailRightConsultImgUrl(item.ArticleID, item.EditFolder, item.Image_S)" alt="ImgMovie" onclick="PopupPlayVod('@item.vodNum')" onerror="this.src='@wowTvStyle/images/common/no_image_16m.jpg'">
                        <span class="icon-play"></span>
                    </div>
                    <a href="#none" class="txt-area">
                        <strong class="title" onclick="PopupPlayVod('@item.vodNum')">@item.subject</strong>
                        <span class="num">@String.Format("{0:yyyy-MM-dd}", item.insdate)</span>
                    </a>
                </div>
            }
        }
        else
        {
            @*<div class="img-area">
                데이터가 없습니다.
            </div>*@
            <div>데이터가 없습니다.</div>
        }

    </div>

    <!-- Paginate -->
    <div id="divPaging_investVodList" class="box-paginate"></div>
    <!-- //Paginate -->
</div>
<!--// 공시 end -->