@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.Middle.Model.Db22.stock
@model ListModel<usp_web_getStockGongsi_Result>
@{
    ViewBag.Title = "DomesticStockDetailStockNoticesList";
    Layout = null;

    string wowScript = AppState["WowTvScript"].ToString();
    string pageSize = Request["pageSize"].ToString();
    string currentIndex = Request["currentIndex"].ToString();
    string arjCode = Request["arjCode"];

    int idx = Model.TotalDataCount;

    if (!String.IsNullOrEmpty(currentIndex))
    {
        idx = Model.TotalDataCount - Convert.ToInt32(currentIndex);
    }

}

<script>
    var totalDatacount_stockNotices = "@Model.TotalDataCount";
</script>
<script src="@wowScript/Finance/DomesticStock/DSDNoticeList.js"></script>
<!-- 공시 start -->
<div class="section-area">
    <ul class="list-type-finance">
        @if (Model.ListData.Count > 0)
        {
            foreach (var item in Model.ListData)
            {
                
                <li>
                    <a href="javascript:DomesticStockDetailNewsNotices.NoticeGoDetail('@item.F_SEQ', '@item.F_DATA_DAY', '@item.F_STOCK_CODE', '@item.F_CONTENT', '@currentIndex')">
                        <strong class="tit">@item.F_CONTENT</strong>
                        <span class="num">@item.F_DATA_DAY.Substring(0, 4)-@item.F_DATA_DAY.Substring(4, 2)-@item.F_DATA_DAY.Substring(6, 2)</span>
                    </a>
                </li>
                idx = idx - 1;
            }
        }
        else
        {
            <li>
                <a href="javascript:void(0)">
                    <strong class="tit">“빈 전포는 넘치는 데 임대료는 오른다”</strong>
                    <span class="num">2017-08-04</span>
                </a>
            </li>
        }
        
        
    </ul>

    <!-- paging start -->
    <div id="divPaging_noticesList" class="box-paginate"></div>
    <!--// paging end -->

</div>
<!--// 공시 end -->





