@using Wow.Tv.Middle.Model.Db22.stock
@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.FrontWebMobile.Areas.Finance.Models
@using Wow.Tv.FrontWebMobile.Areas.Finance.Helpers
@model CurrentAnalysisModel
@{
    ViewBag.Title = "DomesticStockDetailCurPrice";
    Layout = null;

    string wowTvScript = AppState["WowTvScript"].ToString();
    string wowTvStyle = AppState["WowTvStyle"].ToString();

    string searchStr = Request["searchStr"];
    string arjCode = Request["arjCode"];
    string stockCode = Request["stockCode"];

    string boardType = Request["boardType"];

    usp_LatestStockPrice_Result latestStockPrice = Model.LatestStockPrice;
    usp_web_stock_hoga_Result stockHoga = Model.StockHoga;
    ListModel<usp_web_getStockDealing5_Result> stockDealing5List = Model.StockDealing5List;
}

<script src="@wowTvScript/Finance/DomesticStock/StockDetailCurPrice.js"></script>
<div class="section-area pt0 mb15">
    <!-- 주요시세 start -->
    <h3 class="tit-line bd-none">주요시세</h3>
    <div class="table-type1 type01 line line-chan mb15">
        <table>
            <caption>상세</caption>
            <colgroup>
                <col style="width:25%">
                <col style="width:25%">
                <col style="width:25%">
                <col style="width:*">
            </colgroup>
            <tbody>
                <tr>
                    <td class="txt-l">현재가</td>
                    <td class="txt-r"><strong class="num">@Html.CommaFormat(latestStockPrice.tradeprice)</strong></td>
                    <td class="txt-l">시가</td>
                    <td class="txt-r"><strong class="num">@Html.CommaFormat(latestStockPrice.openprice)</strong></td>
                </tr>
                <tr>
                    <td class="txt-l">전일비</td>
                    <td class="txt-r"><strong>@Html.DomesticStockDetailChgPriceFormat(latestStockPrice.chgtype, latestStockPrice.chgprice)</strong></td>
                    <td class="txt-l">고가</td>
                    <td class="txt-r"><strong class="num font-color04">@Html.CommaFormat(latestStockPrice.highprice)</strong></td>
                </tr>
                <tr>
                    <td class="txt-l">등락률(%)</td>
                    <td class="txt-r"><strong>@Html.DomesticStockDetailChgRateFormat(latestStockPrice.chgtype, latestStockPrice.tradeprice, latestStockPrice.chgprice)</strong></td>
                    <td class="txt-l">저가</td>
                    <td class="txt-r"><strong class="num font-color05">@Html.CommaFormat(latestStockPrice.lowprice)</strong></td>
                </tr>
                <tr>
                    <td class="txt-l">거래량㈜</td>
                    <td class="txt-r"><strong class="num">@Html.CommaFormat(latestStockPrice.deal)</strong></td>
                    <td class="txt-l">매수호가 5분지연</td>
                    <td class="txt-r"><strong class="num font-color04">@Html.CommaFormat(latestStockPrice.askprice_1)</strong></td>
                </tr>
                <tr>
                    <td class="txt-l">거래대금(백만)</td>
                    <td class="txt-r"><strong class="num">@Html.CommaFormat(latestStockPrice.trademoney)</strong></td>
                    <td class="txt-l">매도호가 5분지연</td>
                    <td class="txt-r"><strong class="num font-color05">@Html.CommaFormat(latestStockPrice.bidprice_1)</strong></td>
                </tr>
                <tr>
                    <td class="txt-l">전일가</td>
                    <td class="txt-r"><strong class="num">@Html.CommaFormat(latestStockPrice.baseprice)</strong></td>
                    <td class="txt-l">상한가</td>
                    <td class="txt-r"><strong class="num font-color04">@Html.CommaFormat(latestStockPrice.limithigh)</strong></td>
                </tr>
                <tr>
                    <td class="txt-l">액면가</td>
                    <td class="txt-r"><strong class="num">@Html.CommaFormat(Convert.ToInt32(latestStockPrice.parprice))</strong></td>
                    <td class="txt-l">하한가</td>
                    <td class="txt-r"><strong class="num font-color05">@Html.CommaFormat(latestStockPrice.limitlow)</strong></td>
                </tr>
                <tr>
                    <td class="txt-l">시가총액(백만)</td>
                    <td class="txt-r"><strong class="num">@Html.CommaFormat(latestStockPrice.totalprice)</strong></td>
                    <td class="txt-l">전일 거래량㈜</td>
                    <td class="txt-r"><strong class="num">@Html.CommaFormat(latestStockPrice.totalvol)</strong></td>
                </tr>
                <tr>
                    <td class="txt-l">상장주수(천주)</td>
                    <td class="txt-r"><strong class="num">@Html.CommaFormat(latestStockPrice.listcount)</strong></td>
                    <td class="txt-l">외국인 보유(%)</td>
                    <td class="txt-r"><strong class="num">@(Math.Round(Convert.ToDouble(latestStockPrice.foriholdper) * 100) / 100)</strong></td>
                </tr>
                <tr>
                    <td class="txt-l">자본금(억)</td>
                    <td class="txt-r"><strong class="num">@Html.CommaFormat(Convert.ToInt32(latestStockPrice.capital))</strong></td>
                    <td class="txt-l">5일 이동평균선</td>
                    <td class="txt-r"><strong class="num">@Html.CommaFormat(latestStockPrice.mov5)</strong></td>
                </tr>
                <tr>
                    <td class="txt-l">결산월</td>
                    <td class="txt-r"><strong class="num">@latestStockPrice.settlementmon</strong>월</td>
                    <td class="txt-l">20일 이동평균선</td>
                    <td class="txt-r"><strong class="num">@Html.CommaFormat(latestStockPrice.mov20)</strong></td>
                </tr>
                <tr>
                    <td class="txt-l">PER</td>
                    <td class="txt-r"><strong class="num">@latestStockPrice.per</strong>월</td>
                    <td class="txt-l">EPS</td>
                    <td class="txt-r">
                        <strong class="num">
                            @if (!String.IsNullOrEmpty(latestStockPrice.eps))
                            {
                                @Html.CommaFormat(latestStockPrice.eps)
                            }
                        </strong>
                    </td>
                </tr>
                <tr>
                    <td class="txt-l">주당수익률</td>
                    <td class="txt-r"><strong class="num">@String.Format("{0:F2}", latestStockPrice.pgaskdeal)%</strong></td>
                    <td class="txt-l">장개시전 거래량</td>
                    <td class="txt-r"><strong class="num">@Html.CommaFormat(latestStockPrice.pgbiddeal)</strong></td>
                </tr>
                <tr>
                    <td class="txt-l">시간외단일가</td>
                    <td class="txt-r"><strong class="num">@Html.CommaFormat(latestStockPrice.afterprice)</span>(@Html.DomesticStockDetailChgPriceFormat(latestStockPrice.afterChgType, Convert.ToInt32(latestStockPrice.afterChgPrice)))</strong></td>
                    <td class="txt-l">단일가 거래량</td>
                    <td class="txt-r"><strong class="num">@Html.CommaFormat(latestStockPrice.tradevol)</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--// 주요시세 end -->
    <!-- 호가(15분 지연) start -->
    <h3 class="tit-line bd-none">호가(15분 지연)</h3>
    <div class="table-type1 type06 line-chan">
        <table id="tblHoga">
            <caption>상세</caption>
            <colgroup>
                <col style="width:25%">
                <col style="width:25%">
                <col style="width:25%">
                <col style="width:*">
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">매도잔량</th>
                    <th scope="col">매도호가</th>
                    <th scope="col">매수호가</th>
                    <th scope="col">매수잔량</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span class="num font-color05 hogaBid">@Html.CommaFormat(stockHoga.BidVol_5)</span></td>
                    <td><span class="num font-color05">@Html.CommaFormat(stockHoga.BidPrice_5)</span></td>
                    <td><span class="num font-color04">@Html.CommaFormat(stockHoga.AskPrice_1)</span></td>
                    <td><span class="num font-color04 hogaAsk">@Html.CommaFormat(stockHoga.AskVol_1)</span></td>
                </tr>
                <tr>
                    <td><span class="num font-color05 hogaBid">@Html.CommaFormat(stockHoga.BidVol_4)</span></td>
                    <td><span class="num font-color05">@Html.CommaFormat(stockHoga.BidPrice_4)</span></td>
                    <td><span class="num font-color04">@Html.CommaFormat(stockHoga.AskPrice_2)</span></td>
                    <td><span class="num font-color04 hogaAsk">@Html.CommaFormat(stockHoga.AskVol_2)</span></td>
                </tr>
                <tr>
                    <td><span class="num font-color05 hogaBid">@Html.CommaFormat(stockHoga.BidVol_3)</span></td>
                    <td><span class="num font-color05">@Html.CommaFormat(stockHoga.BidPrice_3)</span></td>
                    <td><span class="num font-color04">@Html.CommaFormat(stockHoga.AskPrice_3)</span></td>
                    <td><span class="num font-color04 hogaAsk">@Html.CommaFormat(stockHoga.AskVol_3)</span></td>
                </tr>
                <tr>
                    <td><span class="num font-color05 hogaBid">@Html.CommaFormat(stockHoga.BidVol_2)</span></td>
                    <td><span class="num font-color05">@Html.CommaFormat(stockHoga.BidPrice_2)</span></td>
                    <td><span class="num font-color04">@Html.CommaFormat(stockHoga.AskPrice_4)</span></td>
                    <td><span class="num font-color04 hogaAsk">@Html.CommaFormat(stockHoga.AskVol_4)</span></td>
                </tr>
                <tr>
                    <td><span class="num font-color05 hogaBid">@Html.CommaFormat(stockHoga.BidVol_1)</span></td>
                    <td><span class="num font-color05">@Html.CommaFormat(stockHoga.BidPrice_1)</span></td>
                    <td><span class="num font-color04">@Html.CommaFormat(stockHoga.AskPrice_5)</span></td>
                    <td><span class="num font-color04 hogaAsk">@Html.CommaFormat(stockHoga.AskVol_5)</span></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">
                        잔량합계
                        <span class="num font-color05" id="totalBidVol"></span>
                    </td>
                    <td colspan="2">
                        잔량합계
                        <span class="num font-color04" id="totalAskVol"></span>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <!--// 호가(15분 지연) end -->
</div>

<!-- tab start -->
<div class="tab-area" id="recentlyStockTDTab">
    <ul>
        <li class="on"><a href="javascript:void(0)" id="recentlyStockDayTop10">일자별</a></li>
        <li><a href="javascript:void(0)" id="recentlyStockTimeTop10">시간대별</a></li>
    </ul>
</div>

<form id="frmList_StockDayTimeTop10">
    <input type="hidden" name="stockCode" value="@stockCode" />
    <div id="divList">

    </div>
</form>

<div class="section-area">
    <!-- 거래원 상위 5위 start -->
    <h3 class="tit-line bd-none">거래원 상위 5위</h3>
    <div class="table-type1 type02 line mb15">
        <table>
            <caption>상세</caption>
            <colgroup>
                <col style="width:26%">
                <col style="width:*">
                <col style="width:26%">
                <col style="width:*">
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">매도거래원</th>
                    <th scope="col">매도거래량</th>
                    <th scope="col">매수거래원</th>
                    <th scope="col">매수거래량</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="txt-l">@stockDealing5List.ListData[0].BUY_CORP_NAME</td>
                    <td class="txt-r"><strong class="num font-color05">@Html.CommaFormat(stockDealing5List.ListData[0].BUY_VOL)</strong></td>
                    <td class="txt-l">@stockDealing5List.ListData[5].SELL_CORP_NAME</td>
                    <td class="txt-r"><strong class="num font-color04">@Html.CommaFormat(stockDealing5List.ListData[5].SELL_VOL)</strong></td>
                </tr>
                <tr>
                    <td class="txt-l">@stockDealing5List.ListData[1].BUY_CORP_NAME</td>
                    <td class="txt-r"><strong class="num font-color05">@Html.CommaFormat(stockDealing5List.ListData[1].BUY_VOL)</strong></td>
                    <td class="txt-l">@stockDealing5List.ListData[6].SELL_CORP_NAME</td>
                    <td class="txt-r"><strong class="num font-color04">@Html.CommaFormat(stockDealing5List.ListData[6].SELL_VOL)</strong></td>
                </tr>
                <tr>
                    <td class="txt-l">@stockDealing5List.ListData[2].BUY_CORP_NAME</td>
                    <td class="txt-r"><strong class="num font-color05">@Html.CommaFormat(stockDealing5List.ListData[2].BUY_VOL)</strong></td>
                    <td class="txt-l">@stockDealing5List.ListData[7].SELL_CORP_NAME</td>
                    <td class="txt-r"><strong class="num font-color04">@Html.CommaFormat(stockDealing5List.ListData[7].SELL_VOL)</strong></td>
                </tr>
                <tr>
                    <td class="txt-l">@stockDealing5List.ListData[3].BUY_CORP_NAME</td>
                    <td class="txt-r"><strong class="num font-color05">@Html.CommaFormat(stockDealing5List.ListData[3].BUY_VOL)</strong></td>
                    <td class="txt-l">@stockDealing5List.ListData[8].SELL_CORP_NAME</td>
                    <td class="txt-r"><strong class="num font-color04">@Html.CommaFormat(stockDealing5List.ListData[8].SELL_VOL)</strong></td>
                </tr>
                <tr>
                    <td class="txt-l">@stockDealing5List.ListData[4].BUY_CORP_NAME</td>
                    <td class="txt-r"><strong class="num font-color05">@Html.CommaFormat(stockDealing5List.ListData[4].BUY_VOL)</strong></td>
                    <td class="txt-l">@stockDealing5List.ListData[9].SELL_CORP_NAME</td>
                    <td class="txt-r"><strong class="num font-color04">@Html.CommaFormat(stockDealing5List.ListData[9].SELL_VOL)</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--// 거래원 상위 5위 end -->
    <!-- 당일 가격대별 매물 분포 start -->
    <h3 class="tit-line bd-none">당일 가격대별 매물 분포</h3>
    <div class="table-type1 type02 line mb15">
        <table>
            <caption>상세</caption>
            <colgroup>
                <col style="width:40%">
                <col style="width:30%">
                <col style="width:*">
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">가격대</th>
                    <th scope="col">거래량</th>
                    <th scope="col">분포율</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.DayStockPriceBandList.ListData)
                {
                    
                    <tr>
                        <td><strong class="num">@item.PRICE</strong></td>
                        <td class="txt-r"><strong class="num">@Html.CommaFormat(item.VOL)</strong></td>
                        <td class="txt-r"><strong class="num">@String.Format("{0:F2}", (((double)item.VOL / item.TOT) * 100))</strong></td>
                    </tr>
                }
                
                
            </tbody>
        </table>
    </div>
    <!--// 당일 가격대별 매물 분포 end -->
    
    <form id="frmList_timeStockPrice">
        <input type="hidden" name="pageSize" id="pageSize" value="10" />
        <input type="hidden" name="currentIndex" id="currentIndex" />
        <input type="hidden" name="stockCode" value="@stockCode" />
        <div id="divList">

        </div>
    </form>
    
    <form id="frmList_dayStockPrice">
        <input type="hidden" name="pageSize" id="pageSize" value="10" />
        <input type="hidden" name="currentIndex" id="currentIndex" />
        <input type="hidden" name="stockCode" value="@stockCode" />
        <div id="divList">

        </div>
    </form>
    

</div>
<!--// 현재가 end -->




