@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.Middle.Model.Db22.stock
@using Wow.Tv.FrontWebMobile.Areas.Finance.Helpers
@model ListModel<usp_web_getSiseForeignHold_Result>
@{
    ViewBag.Title = "ForeignHoldKospi";
    Layout = null;
    string wowTvScript = AppState["WowTvScript"].ToString();
    int indexNum = 1;
}
<div class="section-area">
    <div class="table-type1 type02 line">
        <table>
            <caption>관심종목 상세</caption>
            <colgroup>
                <col style="width:auto">
            </colgroup>
            <tbody>
                @if (Model.ListData.Count == 0)
                {
                    <tr>
                        <td colspan="10" class="empty">
                            해당하는 종목이 없습니다.
                        </td>
                    </tr>
                }
                else
                {
                    foreach (var item in Model.ListData)
                    {
                        <tr>
                            <td class="txt-l">@Html.ActionLink(item.korName, "DomesticStockDetail", "DomesticStock", new { searchStr = item.ShortCode.Replace("A", "") }, null)</td>
                            <td> @Html.PublishPriceFormat(item.ChgType, String.Format("{0:#,##0}", item.TradePrice))</td>
                            <td class="num">
                                <span class="stock "> @Html.PublishChgPriceFormat(item.ChgType, String.Format("{0:#,##0}", item.ChgPrice))</span>
                                <span class="stock ">@Html.PublishUpDownSymbolPChangeFormat(item.ChgType, item.PChange.Replace("%", "")) </span>
                            </td>
                            <td>@Html.CommaFormat(item.HoldRate)</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
