@using Wow.Tv.FrontWebMobile.Areas.Finance.Models
@using Wow.Tv.FrontWebMobile.Areas.Finance.Helpers
@using Wow.Fx
@model DomesticMainModel
@{
    ViewBag.Title = "국내증시";
    string wowTvScript = AppState["WowTvScript"].ToString();
    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string UserLoginUrl = AppState["UserLoginUrl"].ToString();
    string DomainUrlFront = AppState["DomainUrlFront"].ToString();
    string DomainUrlMember = AppState["DomainUrlMember"].ToString();
    string DomainUrlMyPage = AppState["DomainUrlMyPage"].ToString();
    string DomainUrlHelp = AppState["DomainUrlHelp"].ToString();
    int idx = 1;

    AppState["BodyClass"] = "finance main";
}

@section scripts{
    @*@Scripts.Render("~/bundles/raphael")
    @Scripts.Render("~/bundles/webponentcommon")
    @Scripts.Render("~/bundles/webponentvisual")
    @Scripts.Render("~/bundles/chart")
    @Scripts.Render("~/bundles/chartstyle")*@

    <script src="@wowTvScript/Finance/webponent/raphael.js"></script>
    <script src="@wowTvScript/Finance/webponent/webponent.comm.common.js"></script>
    <script src="@wowTvScript/Finance/webponent/chart/webponent.chart.js"></script>
    <script src="@wowTvScript/Finance/webponent/chart/webponent.chart.style.js"></script>
    <script src="@wowTvScript/Finance/Charts/stockChart.js"></script>
    <script src="@wowTvScript/Finance/DomesticStock/index.js"></script>
    
    <script>
        $(document).ready(function () {
             //실시간연동
            //typeVal(단일/마켓), codeVal(마켓구분), sec, classElements, checkHoliday
            MiddleData.CurrentMarket("INDEX", "1D0001", 10, $("#realKospi .middleStockData"), @Model.ChkStockHoliday.ToString().ToLower());
            MiddleData.CurrentMarket("INDEX", "2E4001", 10, $("#realKosdaq .middleStockData"), @Model.ChkStockHoliday.ToString().ToLower());
            MiddleData.CurrentMarket("INDEX", "1D2029", 10, $("#realKospi200 .middleStockData"), @Model.ChkStockHoliday.ToString().ToLower());
        });

    </script>
}

<section class="container">

@* 가상화폐 *@
<div class="bitcoin-area">
    @* 롤링 *@
    <div class="bitcoin-box">
        <div class="box">
            <ul class="bit-list"></ul>
        </div>
    </div>
    <a href="javascript:void(0)" class="bitcoin-btn on" title="비트코인 상세보기">버튼</a>
    <div class="bitcoin-detail">
        <div class="title">
            <strong>가상화폐 시세</strong>
            <a href="javascript:void(0)" class="close-btn"></a>
        </div>
        <div class="bitcoin-list">
            <div class="swiper-container bView-slider">
                <div class="swiper-wrapper" id="divVirtualMoneyList">

                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        <div class="btn-box">
            <a href="javascript:GoVirtualCurrencyNews()"> 관련기사 보기 </a>
            <span>정보제공 : 빗썸</span>
        </div>
    </div>
</div>

<script language="javascript">

    //가상화폐 리스트
    var virtualMoneyRolling = "";
    var virtualMoneyList = "";

    $.getJSON("http://www.wowtv.co.kr/html/VirtualMoney.txt", function (json) {

        $.each(json.VirtualMoneyList, function (index, entry) {
            var idx = (index + 1);
            var korName = entry["korName"];
            var TradePrice = entry["TradePrice"];
            var chgRate = entry["chgRate"];
            var stockCode = entry["stockCode"];
            var upDown = "";

            if (entry["chgType"] == "1" || entry["chgType"] == "2") {
                upDown = "up";
            }
            else if (entry["chgType"] == "4" || entry["chgType"] == "5") {
                upDown = "down";
            }

            virtualMoneyRolling += "<li class='" + upDown + "'><strong class='tit'>" + korName + "</strong><p class='text'><span>" + comma(TradePrice) + "</span><span>" + chgRate + "%</span></p></li>";

            virtualMoneyList += "";
            if (idx == 1) {
                virtualMoneyList += '<div class="swiper-slide">';
                virtualMoneyList += '    <ul>';
            }

            virtualMoneyList += '<li class="' + upDown + '"><strong class="tit"><span class="icon btc"></span>' + korName + '</strong> <p class="text"> <span>' + comma(TradePrice) + '</span><span>' + chgRate + '%</span></p></li>';

            if ((idx % 6) == 0 && idx < json.VirtualMoneyList.length) {
                virtualMoneyList += '    </ul>';
                virtualMoneyList += '</div>';
                virtualMoneyList += '<div class="swiper-slide">';
                virtualMoneyList += '    <ul>';
            }
            else if (idx == json.VirtualMoneyList.length) {
                virtualMoneyList += '    </ul>';
                virtualMoneyList += '</div>';
            }
        });

        $(".bit-list").html(virtualMoneyRolling);
        $("#divVirtualMoneyList").html(virtualMoneyList);
    });
</script>



    <!-- tab start -->
    <div class="tab-area tab-btn">
        <ul>
            <li class="on"><a href="javascript:void(0)" name="Domestic" id="Domestic">국내</a></li>
            <li><a href="javascript:void(0)" name="Usa">미국</a></li>
            <li><a href="javascript:void(0)" name="Asia">아시아</a></li>
            <li><a href="javascript:void(0)" name="ExchangeRate">환율</a></li>
        </ul>
    </div>        

    <div class="tab-body" id="ChartArea">
        <div class="tab-cont pb30 on" id="Domestic">
            
            <!-- 국내 start -->
            <p class="time-txt pr15 mt20">현지시각 @Html.MarketTimeStatus() 기준</p>
            <div class="swiper-container chart-slider">
                <div class="swiper-wrapper pb30">
                    <div class="swiper-slide on">
                        <!-- chart start -->
                        <div class="chart-part">
                            <div class="chart-area">
                                <div class="chart_view" id="chart_Kospi" style="min-height: 200px;"></div>
                                <div class="chart-obj" id="realKospi">
                                    <strong>코스피</strong>
                                    <span class="num">@Html.IndexPublishPriceMiddleFormat(Model.KospiInfo.ChgType, Model.KospiInfo.Price)</span>
                                    <ul class="stock-box">
                                        <li>@Html.PublishChgPriceMiddleFormat(Model.KospiInfo.ChgType, Model.KospiInfo.ChgPrice)</li>
                                        <li>@Html.PublishUpDownSymbolPChangeMiddleFormat(Model.KospiInfo.ChgType, Model.KospiInfo.ChgRate)</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="chart-area">
                                <div class="chart_view" id="chart_Kosdaq" style="min-height: 200px;">

                                </div>
                                <div class="chart-obj" id="realKosdaq">
                                    <strong>코스닥</strong>
                                    @Html.IndexPublishPriceMiddleFormat(Model.KosdaqInfo.ChgType, Model.KosdaqInfo.Price)
                                    <ul class="stock-box">
                                        <li>@Html.PublishChgPriceMiddleFormat(Model.KosdaqInfo.ChgType, Model.KosdaqInfo.ChgPrice)</li>
                                        <li>@Html.DIndexChgRateMiddleFormat(Model.KosdaqInfo.ChgType, Model.KosdaqInfo.ChgRate)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--// chart end -->
                    </div>
                    <div class="swiper-slide">
                        <!-- chart start -->
                        <div class="chart-part">
                            <div class="chart-area">
                                <div class="chart_view" id="chart_Kospi200" style="min-height: 200px;"></div>
                                <div class="chart-obj" id="realKospi200">
                                    <strong>코스피200</strong>
                                    @Html.IndexPublishPriceMiddleFormat(Model.Kospi200Info.ChgType, Model.Kospi200Info.Price)
                                    <ul class="stock-box">
                                        <li>@Html.PublishChgPriceMiddleFormat(Model.Kospi200Info.ChgType, Model.Kospi200Info.ChgPrice)</li>
                                        <li>@Html.DIndexChgRateMiddleFormat(Model.Kospi200Info.ChgType, Model.Kospi200Info.PChange)</li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <!--// chart end -->
                    </div>
                </div>

                <!-- btn -->
                <div class="swiper-pagination"></div>
            </div>
            <!--// 국내 end -->
        </div>
        <div class="tab-cont" id="Usa">
            <!-- 미국 start -->
            <p class="time-txt pr15 mt20">현지시각 @Html.MarketTimeStatus() 기준</p>
            <div class="swiper-container chart-slider">
                <div class="swiper-wrapper pb30">
                    <div class="swiper-slide on">
                        <!-- chart start -->
                        <div class="chart-part">
                            <div class="chart-area">
                                <div class="chart_view" id="chart_Dowjones" style="min-height: 200px;"></div>
                                <div class="chart-obj">
                                    <strong>다우존스</strong>
                                    @Html.PublishPriceFormat(Model.DowJonesInfo.chgtype, Model.DowJonesInfo.Price)
                                    <ul class="stock-box">
                                        <li>@Html.PublishChgPriceFormat(Model.DowJonesInfo.chgtype, Model.DowJonesInfo.ChgPrice)</li>
                                        <li>@Html.DIndexChgRateFormat(Model.DowJonesInfo.chgtype, Model.DowJonesInfo.chgRate)</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="chart-area">
                                <div class="chart_view" id="chart_Nasdaq" style="min-height: 200px;">

                                </div>
                                <div class="chart-obj">
                                    <strong>나스닥</strong>
                                    @Html.PublishPriceFormat(Model.NasdaqInfo.chgtype, Model.NasdaqInfo.Price)
                                    <ul class="stock-box">
                                        <li>@Html.PublishChgPriceFormat(Model.NasdaqInfo.chgtype, Model.NasdaqInfo.ChgPrice)</li>
                                        <li>@Html.DIndexChgRateFormat(Model.NasdaqInfo.chgtype, Model.NasdaqInfo.chgRate)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--// chart end -->
                    </div>
                    <div class="swiper-slide">
                        <!-- chart start -->
                        <div class="chart-part">
                            <div class="chart-area">
                                <div class="chart_view" id="chart_SAndP500" style="min-height: 200px;"></div>
                                <div class="chart-obj">
                                    <strong>S&amp;P500</strong>
                                    @Html.PublishPriceFormat(Model.SANDP500Info.chgtype, Model.SANDP500Info.Price)
                                    <ul class="stock-box">
                                        <li>@Html.PublishChgPriceFormat(Model.SANDP500Info.chgtype, Model.SANDP500Info.ChgPrice)</li>
                                        <li>@Html.DIndexChgRateFormat(Model.SANDP500Info.chgtype, Model.SANDP500Info.chgRate)</li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                        <!--// chart end -->
                    </div>
                </div>

                <!-- btn -->
                <div class="swiper-pagination"></div>
            </div>
            <!--// 미국 end -->
        </div>

        <div class="tab-cont" id="Asia">
            <!-- 아시아 start -->
            <p class="time-txt pr15 mt20">현지시각 @Html.MarketTimeStatus() 기준</p>
            <div class="swiper-container chart-slider">
                <div class="swiper-wrapper pb30">
                    <div class="swiper-slide on">
                        <!-- chart start -->
                        <div class="chart-part">
                            <div class="chart-area">
                                <div class="chart_view" id="chart_SHC" style="min-height: 200px;">

                                </div>
                                <div class="chart-obj">
                                    <strong>상해종합</strong>
                                    @Html.PublishPriceFormat(Model.SHCInfo.chgtype, Model.SHCInfo.Price)
                                    <ul class="stock-box">
                                        <li>@Html.PublishChgPriceFormat(Model.SHCInfo.chgtype, Model.SHCInfo.ChgPrice)</li>
                                        <li>@Html.DIndexChgRateFormat(Model.SHCInfo.chgtype, Model.SHCInfo.chgRate)</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="chart-area">
                                <div class="chart_view" id="chart_HS" style="min-height: 200px;">

                                </div>
                                <div class="chart-obj">
                                    <strong>홍콩항생</strong>
                                    @Html.PublishPriceFormat(Model.HSInfo.chgtype, Model.HSInfo.Price)
                                    <ul class="stock-box">
                                        <li>@Html.PublishChgPriceFormat(Model.HSInfo.chgtype, Model.HSInfo.ChgPrice)</li>
                                        <li>@Html.DIndexChgRateFormat(Model.HSInfo.chgtype, Model.HSInfo.chgRate)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--// chart end -->
                    </div>
                    <div class="swiper-slide">
                        <!-- chart start -->
                        <div class="chart-part">
                            <div class="chart-area">
                                <div class="chart_view" id="chart_Nikkei" style="min-height: 200px;">

                                </div>
                                <div class="chart-obj">
                                    <strong>니케이</strong>
                                    @Html.PublishPriceFormat(Model.NikkeiInfo.chgtype, Model.NikkeiInfo.Price)
                                    <ul class="stock-box">
                                        <li>@Html.PublishChgPriceFormat(Model.NikkeiInfo.chgtype, Model.NikkeiInfo.ChgPrice)</li>
                                        <li>@Html.DIndexChgRateFormat(Model.NikkeiInfo.chgtype, Model.NikkeiInfo.chgRate)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--// chart end -->
                    </div>
                </div>

                <!-- btn -->
                <div class="swiper-pagination"></div>
            </div>
            <!--// 아시아 end -->
        </div>
        <div class="tab-cont" id="ExchangeRate">
            <!-- 환율 start -->
            <div class="section-area pb30 mt20">
                <div class="table-type1 type02 line">
                    <table>
                        <caption>관심종목 상세</caption>
                        <colgroup>
                            <col style="width:*">
                            <col style="width:22%">
                            <col style="width:22%">
                        </colgroup>
                        <tbody>
                            <tr>
                                <td class="txt-l">미국 USD</td>
                                <td class="txt-r">@Html.DIndexExchangePriceFormat((Model.ExchangeUSDInfo.chgCode ?? 0).ToString(), Model.ExchangeUSDInfo.Price)</td>
                                <td class="txt-r">@Html.DIndexExchangeChgPriceFormat((Model.ExchangeUSDInfo.chgCode ?? 0).ToString(), Model.ExchangeUSDInfo.chgPrice)</td>
                            </tr>
                            <tr>
                                <td class="txt-l">일본 JPY(100엔)</td>
                                <td class="txt-r">@Html.DIndexExchangePriceFormat((Model.ExchangeJPYInfo.chgCode ?? 0).ToString(), Model.ExchangeJPYInfo.Price)</td>
                                <td class="txt-r">@Html.DIndexExchangeChgPriceFormat((Model.ExchangeJPYInfo.chgCode ?? 0).ToString(), Model.ExchangeJPYInfo.chgPrice)</td>
                            </tr>
                            <tr>
                                <td class="txt-l">유럽연합 EUR</td>
                                <td class="txt-r">@Html.DIndexExchangePriceFormat((Model.ExchangeEURInfo.chgCode ?? 0).ToString(), Model.ExchangeEURInfo.Price)</td>
                                <td class="txt-r">@Html.DIndexExchangeChgPriceFormat((Model.ExchangeEURInfo.chgCode ?? 0).ToString(), Model.ExchangeEURInfo.chgPrice)</td>
                            </tr>
                            <tr>
                                <td class="txt-l">중국CNY</td>
                                <td class="txt-r">@Html.DIndexExchangePriceFormat((Model.ExchangeCNYInfo.chgCode ?? 0).ToString(), Model.ExchangeCNYInfo.Price)</td>
                                <td class="txt-r">@Html.DIndexExchangeChgPriceFormat((Model.ExchangeCNYInfo.chgCode ?? 0).ToString(), Model.ExchangeCNYInfo.chgPrice)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--// 환율 end -->
        </div>
    </div>
    <!--// tab end  -->
    <!-- sub tab -->
    <div class="swiper-container sub-gnb01">
        <div class="swiper-wrapper">
            <div class="swiper-slide on"><span>오늘의 공개방송</span></div>
            <div class="swiper-slide"><span>베스트 파트너</span></div>
        </div>
    </div>
    <!-- // sub tab -->
    <!-- 오늘의 공개방송 / 베스트 파트너 tab start -->
    <div class="tab-body">
        <div class="tab-cont mlr15 on">
            <!-- 오늘의 공개방송 start -->
            <div class="swiper-container reporter-slider">
                <div class="swiper-wrapper">
                    
                    @if (Model.TodayBroadCastInfo.ToList().Count > 0)
                    {
                        foreach (var item in Model.TodayBroadCastInfo.ToList())
                        {
                            string imgSrc = "http://image.wownet.co.kr" + item.NEWPHOTO_SMALL2.Replace("\\", "/");
                            if (item.STATE == null || item.STATE.Value.Equals(0))
                            {
                                <div class="swiper-slide" style="margin-right: 15px;">
                                    <div class="box-public-broadcasting">
                                        <ul>
                                            <li>
                                                
                                                <a href="#none" onclick="DomesticStockIndex.TodayBroadCast();">
                                                    <span class="ico-area icon02"></span> 
                                                    <img src="@imgSrc" alt="photo">
                                                </a>
                                            </li>
                                            <li>
                                                @*<a href="http://wowpro.wownet.co.kr/pro/pro_main_new/pro_record_broadcast.asp?currPage=1&bcode=N04070000&proId=@item.PRO_ID&mseq=226&pro_search=@item.PRO_ID&skey=nickname" class="tit-area">*@
                                                <a href="http://wowpro.wownet.co.kr/pro/pro_main_new/sub_main.asp?proID=@item.PRO_ID" class="tit-area" target="_blank">
                                                    <strong>@item.NICKNAME <span class="txt">@BroadcastFunction.GetInvestClass(item.INVESTKIND)</span></strong>
                                                    <span>@item.BroadCastTime</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" class="link-blue" onclick="DomesticStockIndex.TodayBroadCast();">녹화방송</a>
                                                <a href="javascript:void(0)" class="link-blue" onclick="javascript:DomesticStockIndex.TodayBroadCast()">카페가기</a>
                                                <a href="javascript:void(0)" class="link-blue" onclick="javascript:DomesticStockIndex.TodayBroadCast()">가입</a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            }
                            else
                            {
                                if (LoginHandler.IsLogin == true)
                                {
                                    <div class="swiper-slide" style="margin-right: 15px;">
                                        <div class="box-public-broadcasting">
                                            <ul>
                                                <li>
                                                    
                                                    <a href="#none" onclick="DomesticStockIndex.TodayBroadCast();">
                                                        <span class="ico-area icon01"></span>
                                                        <img src="@imgSrc" alt="photo">
                                                    </a>
                                                </li>
                                                <li>
                                                    @*<a href="http://wowpro.wownet.co.kr/pro/pro_main_new/pro_record_broadcast.asp?currPage=1&bcode=N04070000&proId=@item.PRO_ID&mseq=226&pro_search=@item.PRO_ID&skey=nickname" class="tit-area">*@
                                                    <a href="http://wowpro.wownet.co.kr/pro/pro_main_new/sub_main.asp?proID=@item.PRO_ID" class="tit-area" target="_blank">
                                                        <strong>@item.NICKNAME <span class="txt">@BroadcastFunction.GetInvestClass(item.INVESTKIND)</span></strong>
                                                        <span>@item.BroadCastTime</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)" class="link-blue" onclick="DomesticStockIndex.TodayBroadCast();">녹화방송</a>
                                                    <a href="javascript:void(0)" class="link-blue" onclick="javascript:DomesticStockIndex.TodayBroadCast()">카페가기</a>
                                                    <a href="javascript:void(0)" class="link-blue" onclick="javascript:DomesticStockIndex.TodayBroadCast()">가입</a>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="swiper-slide" style="margin-right: 15px;">
                                        <div class="box-public-broadcasting">
                                            <ul>
                                                <li>
                                                    
                                                    <a href="#none" onclick="DomesticStockIndex.TodayBroadCast();">
                                                        <span class="ico-area icon01"></span>
                                                        <img src="@imgSrc" alt="photo">
                                                    </a>
                                                </li>
                                                <li>
                                                    @*<a href="http://wowpro.wownet.co.kr/pro/pro_main_new/pro_record_broadcast.asp?currPage=1&bcode=N04070000&proId=@item.PRO_ID&mseq=226&pro_search=@item.PRO_ID&skey=nickname" class="tit-area">*@
                                                    <a href="http://wowpro.wownet.co.kr/pro/pro_main_new/sub_main.asp?proID=@item.PRO_ID" class="tit-area" target="_blank">
                                                        <strong>@item.NICKNAME <span class="txt">@BroadcastFunction.GetInvestClass(item.INVESTKIND)</span></strong>
                                                        <span>@item.BroadCastTime</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)" class="link-blue" onclick="DomesticStockIndex.TodayBroadCast();">녹화방송</a>
                                                    <a href="javascript:void(0)" class="link-blue" onclick="javascript:DomesticStockIndex.TodayBroadCast()">카페가기</a>
                                                    <a href="javascript:void(0)" class="link-blue" onclick="javascript:DomesticStockIndex.TodayBroadCast()">가입</a>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                }

                            }

                        }
                    }                    
                </div>
            </div>
            <!-- 오늘의 공개방송 end -->
        </div>
        <div class="tab-cont mlr15">
            <!-- 베스트 파트너 start -->
            <div class="swiper-container reporter-slider">
                <div class="swiper-wrapper">

                    @if (Model.BestProHintStockingList.ListData.Count > 0)
                    {
                        foreach (var item in Model.BestProHintStockingList.ListData)
                        {
                            <div class="swiper-slide" style="margin-right: 15px;">
                                <div class="box-public-broadcasting">
                                    <ul>
                                        <li><a href="#none" onclick="javascript:DomesticStockIndex.TodayBroadCast()"><img src="http://image.wownet.co.kr/@item.NEWphoto_small" alt="photo"></a></li>
                                        <li>
                                            <a href="javascript:void(0)" class="tit-area">
                                                <strong>@item.NickName </strong>
                                                <span>기준일 @item.BaseDate</span>
                                            </a>
                                        </li>
                                        <li><a href="javascript:void(0)" class="link-blue">최고수익률 @item.Rate%</a></li>
                                        @*<li>
                                            <a href="javascript:void(0)" class="link-blue">녹색방송</a>
                                            <a href="javascript:void(0)" class="link-blue">카페가기</a>
                                            <a href="javascript:void(0)" class="link-blue">가입</a>
                                        </li>*@
                                    </ul>
                                </div>
                            </div>
                        }
                    }

                </div>
            </div>
            <!-- 베스트 파트너 end -->
        </div>
    </div>
    <!-- 오늘의 공개방송 / 베스트 파트너 tab end -->
    <!-- sub tab -->
    <div class="swiper-container sub-gnb01 mt20">
        <div class="swiper-wrapper">
            <div class="swiper-slide on swiper-slide-active" style="width: 202px;"><span>관심종목</span></div>
            <div class="swiper-slide swiper-slide-next" style="width: 202px;"><span>인기검색종목</span></div>
            <div class="swiper-slide" style="width: 202px;"><span>최근검색종목</span></div>
        </div>
    </div>
    <!-- // sub tab -->
    <!--  tab view start -->
    <div class="tab-body">
        <div class="tab-cont on">
            <!-- 관심종목 start -->
            <div class="section-area pt0">
                <!-- data 없을시 아래주석처리부분 사용 -->
                @if (!LoginHandler.IsLogin)
                {
                    <div class="box-no-data">
                        <p class="txt-c">로그인 후 관심종목을 등록하시면<br>등록하신 종목의 시세를 쉽게 보실 수 있습니다.</p>
                        <div class="btn-area mt10">
                            <a href="@UserLoginUrl/?returnurl=@DomainUrlFront/Finance/DomesticStock/Index" class="btn type01 w-typeAuto01">로그인</a>
                            <a href="@DomainUrlMember/Join/RegistMain" class="btn type05 w-typeAuto01">회원가입</a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="table-type1 type02 line">
                        <table>
                            <caption>관심종목 상세</caption>
                            <colgroup>
                                <col style="width:34%">
                                <col style="width:22%">
                                <col style="width:22%">
                                <col style="width:22%">
                            </colgroup>
                            <tbody>
                                @if (Model.MyFavoriteList.ListData.Count > 0)
                                {
                                    foreach (var item in Model.MyFavoriteList.ListData)
                                    {
                                        <tr>
                                            <td class="txt-l"><a href="#none" onclick="DomesticStockIndex.DomesticStockDetailGo('@DomainUrlFront','@item.stockcode.Replace("A", "")');">@item.stock_wanname</a></td>
                                            <td class="txt-r">@Html.DomesticStockDetailPriceFormat(item.chg_type, item.curr_price)</td>
                                            <td class="txt-r">@Html.DomesticStockDetailChgPriceFormat(item.chg_type, item.net_chg)</td>
                                            <td class="txt-r">@Html.DomesticStockDetailChgRateFormat(item.chg_type, item.curr_price, item.net_chg) </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="4">등록된 관심종목이 없습니다.</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="btn-area">
                        <a href="#none" class="btn type04" onclick="return DomesticStockIndex.MyFavoriteGo('@DomainUrlMyPage');"><span class="icon-arrow">나의 금융종목 더보기</span></a>
                    </div>
                }
                <!-- btn start -->
                <!-- <div class="btn-area">
                    <a href="javscript:void(0)" class="btn type04"><span class="icon-arrow">나의 금융종목 더보기</span></a>
                </div> -->
                <!--// btn end -->
            </div>
            <!--// 관심종목 end -->

        </div>
        <div class="tab-cont">
            <!-- 인기검색종목 start -->
            <div class="section-area pt0">
            
                <div class="table-type1 type02 line">
                    <table>
                        <caption>인기검색종목 상세</caption>
                        <colgroup>
                            <col style="width:34%">
                            <col style="width:22%">
                            <col style="width:22%">
                            <col style="width:22%">
                        </colgroup>
                        <tbody>
                            @if (Model.HotSearchList.Count > 0)
                            {
                                foreach (var item in Model.HotSearchList.Take(5))
                                {
                                    <tr>
                                        <td class="txt-l"><a href="#none" onclick="DomesticStockIndex.DomesticStockDetailGo('@DomainUrlFront','@item.arj_code.Replace("A", "")');">@item.stock_name</a></td>
                                        <td class="txt-r">@Html.DomesticStockDetailPriceFormat(item.chg_type, item.curr_price)</td>
                                        <td class="txt-r">@Html.DomesticStockDetailChgPriceFormat(item.chg_type, item.net_chg)</td>
                                        <td class="txt-r">@Html.DomesticStockDetailChgRateFormat(item.chg_type, item.curr_price, item.net_chg)</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="4">데이터가 없습니다.</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            <!--// 인기검색종목 end -->
        </div>
        <div class="tab-cont">
            <!-- 최근검색종목 start -->
            <div class="section-area pt0">

                <!-- data 없을시 아래주석처리부분 사용 -->
                <!-- <div class="box-no-data">
                    <p class="txt-c mt30">최근 검색종목이 없습니다.</p>
                </div> -->


                <div class="table-type1 type02 line">
                    <table>
                        <caption>최근검색종목 상세</caption>
                        <colgroup>
                            <col style="width:34%">
                            <col style="width:22%">
                            <col style="width:22%">
                            <col style="width:22%">
                        </colgroup>
                        <tbody>
                            @if (Model.CurrentSearchStockList.ListData.Count > 0)
                            {
                                foreach (var item in Model.CurrentSearchStockList.ListData.Take(5))
                                {
                                    <tr>
                                        <td class="txt-l"><a href="#none" onclick="DomesticStockIndex.DomesticStockDetailGo('@DomainUrlFront','@item.ARJ_CODE.Replace("A", "")');">@item.STOCK_NAME</a></td>
                                        <td class="txt-r">@Html.DomesticStockDetailPriceFormat(item.CHG_TYPE, item.CURR_PRICE)</td>
                                        <td class="txt-r">@Html.DomesticStockDetailChgPriceFormat(item.CHG_TYPE, item.NET_CHG)</td>
                                        <td class="txt-r">@Html.DomesticStockDetailChgRateFormat(item.CHG_TYPE, item.CURR_PRICE, item.NET_CHG)</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="4">데이터가 없습니다.</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
            <!--// 최근검색종목 end -->
        </div>
    </div>
    <!-- // tab view end -->
    <!-- sub tab -->
    <div class="swiper-container sub-gnb01 mt20 mb0 hidd-m">
        <div class="swiper-wrapper" >
            <div class="swiper-slide on"><span>오늘의 주요뉴스</span></div>
            <div class="swiper-slide"><span>특징주뉴스</span></div>
        </div>
    </div>
    <!-- // sub tab -->
    <!--  tab view start -->
    <div class="tab-body tem-view">
        <div class="tab-cont on">
            <!-- 오늘의 주요뉴스 start -->
            <h3 class="tit-line plr15 hidd-t">오늘의 주요 뉴스</h3>
            <div class="section-area pt0">
                <ul class="list-type-todayNew">
                    @if (Model.GetTodayStockNewsList.ListData.Count > 0)
                    {
                        foreach (var item in Model.GetTodayStockNewsList.ListData)
                        {
                            <li>
                                <a href="#none" onclick="return DomesticStockIndex.GoNewsRead('@item.ARTICLEID')">@item.TITLE</a>
                            </li>
                        }
                    }
                    else
                    {
                        <li style="text-align:center;">
                            데이터가 없습니다.
                        </li>
                    }
                </ul>
            </div>
            <!--// 오늘의 주요뉴스 end -->
        </div>
        <div class="tab-cont">
            <!-- 특징주뉴스 start -->
            <h3 class="tit-line plr15 hidd-t">특징주뉴스</h3>
            <div class="section-area pd0">
                <!--기획변경 요청 2017.12.31-->
                <ul class="stock-aside">
                @if (Model.GetCharacterStockNewsList.ListData.Count > 0)
                {
                    foreach (var item in Model.GetCharacterStockNewsList.ListData)
                    {
                        <li>
                            <a onclick="return DomesticStockIndex.CharactorStockDetialGo('@DomainUrlFront','@item.NewsData.ARTICLEID')">
                                <strong class="tit">@item.NewsData.TITLE.Replace("[특징주]", "")</strong>
                            </a>
                            <div class="txt-info-stock">
                                <strong>현재가 <span>@Html.DomesticStockDetailPriceFormat(item.StockData.chg_type, item.StockData.curr_price)</span> </strong>
                                <span>
                                    @if (item.StockData.chg_type == "1" || item.StockData.chg_type == "2")
                                    {
                                        <em class="data-up">상승</em>
                                    }
                                    else if (item.StockData.chg_type == "4" || item.StockData.chg_type == "5")
                                    {
                                        <em class="data-down">하락</em>
                                    }
                                    else
                                    {

                                    }
                                </span>                            
                            </div>
                            <span class="txt-info-company">@item.StockData.stock_wanname <em class="num font-color07">@item.StockData.arj_code</em></span>
                        </li>
                    }
                }
                else
                {
                    <li>데이터가 없습니다.</li>
                }
                </ul>
                    

            </div>
            <!--// 특징주뉴스 end -->
        </div>
    </div>
    <!-- // tab view end -->
    <!-- 업종 · 테마별 상위 start -->
    <div class="box-class-type">
        <h3 class="tit-line plr15">업종 · 테마별 상위</h3>
        <div>
            <h4 class="tit-s"><a href="javascript:void(0)" onclick="DomesticStockIndex.IndustryPart('@DomainUrlFront');">업종별상위</a></h4>
            <ul class="list-type-class">
                
                @{idx = 1; }
                @if (Model.GetIndustryPartUpperKospiList.Count > 0)
                {
                    foreach (var item in Model.GetIndustryPartUpperKospiList)
                    {
                        if (idx <= 5)
                        {
                            <li>
                                
                                <span class="txt">@Html.ActionLink(item.korName, "IndustryPartDetail", "DomesticStock", new
                                             {
                                                 Market = "t",
                                                 //OrderBy = condition.OrderBy,
                                                 //TargetDt = condition.TargetDT,
                                                 PartCode = item.partCode,
                                                 PartName = item.korName,
                                                 MenuSeq = 1086
                                             }, null)</span>
                               @Html.PublishMainIndustryUpper10(item.ChgType, item.PChange)
                            </li>

                        }
                        idx += 1;
                    }
                }
                else
                {
                    <li>데이터가 없습니다.</li>
                }
            </ul>
        </div>
        <div>
            <h4 class="tit-s"><a href="javascript:void(0)" onclick="DomesticStockIndex.ThemaPart('@DomainUrlFront');">테마별상위</a></h4>
            <ul class="list-type-class">
                @{ idx = 1;}
                @if (Model.GetThemaPartUpperList.Count > 0)
                {
                    foreach (var item in Model.GetThemaPartUpperList)
                    {
                        if (idx <= 5)
                        {
                            <li>
                                <span class="txt"><a href="#none" class="themaPartDetail">@item.PartName</a><input type="hidden" id="PartNum" value="@item.PartNum" /></span>
                                @if (item.Rate > 0)
                                {
                                    <span class="stock plus">@String.Format("{0:F2}", Math.Round(item.Rate ?? 0, 2))%<!--등락율--></span>
                                }
                                else
                                {
                                    <span class="stock minus">@String.Format("{0:F2}", Math.Round(item.Rate ?? 0, 2))%<!--등락율--></span>
                                }
                            </li>
                            idx += 1;
                        }
                    }
                }
                else
                {
                    <li>데이터가 없습니다.</li>
                }
            </ul>
            <form id="frmList_ThemaPartNameList">
                <input type="hidden" id="currentPartNum" name="currentPartNum" />
                <input type="hidden" id="currentPartName" name="currentPartName" />
                
            </form>
        </div>
    </div>
    <!--// 업종 · 테마별 상위 end -->
    <!-- 랭킹100 start -->
    <div class="section-area rank-pd">
    <h3 class="tit-line plr15"><a href="javascript:void(0)" onclick="DomesticStockIndex.Rank('@DomainUrlFront');">랭킹100</a></h3>

    <!-- sub tab -->
    <div class="swiper-container sub-gnb01 mb0">
        <div class="swiper-wrapper">
            <div class="swiper-slide on" ><span><a href="javascript:DomesticStockIndex.GetRankList('','0', $('#rank100'));">전체</a></span></div>
            <div class="swiper-slide" ><span><a href="javascript:DomesticStockIndex.GetRankList('','1', $('#rank100'));">코스피</a></span></div>
            <div class="swiper-slide" ><span><a href="javascript:DomesticStockIndex.GetRankList('','2', $('#rank100'));">코스닥</a></span></div>
        </div>
    </div>
    <!-- // sub tab -->
    
    <form id="rankfrm">
        <input type="hidden" name="TrId" value="5001" />
        <input type="hidden" name="RnkTime" />
        <input type="hidden" name="Sect" />
        <input type="hidden" name="Count" value="100" />
    </form>
    <!-- list view start -->
    <div class="table-type1 bdt-none" id="rank100">
        
    </div>
    <!--// list view end -->

    </div>
    <!--// 랭킹100 end -->




    <div class="box-todayNew-trend">
        <!-- 오늘의 투자전략 start -->
        <div class="section-area pd0">
            @*<h3 class="tit-line plr15"><a href="javascript:void(0)" onclick="DomesticStockIndex.TodayInvestGo();">오늘의 투자전략</a></h3>*@
            <h3 class="tit-line plr15"><a href="http://invest.wownet.co.kr/invest/superior/list.asp?bcode=N01020100&mseq=152" target="_blank">오늘의 투자전략</a></h3>
            <ul class="list-type-todayNew">
                @if (Model.GetTodayInvests.Count > 0)
                {
                    foreach (var item in Model.GetTodayInvests)
                    {
                        @*<li><a href="javascript:void(0)" onclick="DomesticStockIndex.TodayInvestDetailGo('@item.SEQ', '@item.BCODE', '@item.REF', '@item.REF_STEP')">@Html.Raw(item.TITLE)</a></li>*@
                        <li><a href="http://invest.wownet.co.kr/invest/superior/view.asp?seq=@item.SEQ&bcode=@item.BCODE&ref_step=@item.REF_STEP&ref=@item.REF" target="_blank">@Html.Raw(item.TITLE)</a></li>
                    }
                }
                
            </ul>
        </div>
        <!--// 오늘의 투자전략 end -->

        <!-- 주체별 동향 start -->
        <div class="section-area pd0">
            <h3 class="tit-line plr15 bdb-none line-t">
                주체별 동향
                <span class="txt-exp"><em class="num">@Html.DIndexMarketStatus()</em> </span>
            </h3>
            <div class="table-type1 bdt-col02 type03 mlr15">
                <table>
                    <caption>주체별 동향 상세</caption>
                    <colgroup>
                        <col style="width:;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="col">분류</th>
                            <th scope="col">외국인</th>
                            <th scope="col">기관</th>
                            <th scope="col">개인</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.InvestPartInfo.ListData.Count > 0)
                        {
                            foreach (var item in Model.InvestPartInfo.ListData)
                            {
                                <tr>
                                    <td>@item.Market</td>
                                    <td>@Html.DIndexPublishUpDownIconFormat(item.Foreigner)</td>
                                    <td>@Html.DIndexPublishUpDownIconFormat(item.Security)</td>
                                    <td>@Html.DIndexPublishUpDownIconFormat(item.Personal)</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4">데이터가 없습니다.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!--// 주체별 동향 end -->
    </div>


    <div class="box-bann-teach">
        <!-- ad start -->
        <div class="section-area">
            <div class="bann-img" style="display:none;">
                <a href="http://www.wownet.co.kr/eventhome/wholelecture/20180113/sub_main.asp"><img src="@wowTvStyle/images/temp/180110_480x282_lecture_m.jpg" alt="bannerImg"></a>
            </div>
        </div>
        <!--// ad end -->
        <!-- 주식 강연회 start -->
        <div class="section-area">
            <h3>
                주식 강연회
                <a href="@DomainUrlHelp/LecturesAndEvent/Lecture/Index?menuSeq=916" target="_blank" class="btn-more">more</a>
            </h3>
            <ul class="list-type-stock">
                @{
                    int dataCnt = 0;
                    if (Model.LecturesList.ListData.Count > 0)
                    {
                        foreach (var item in Model.LecturesList.ListData.Take(3))
                        {
                            if (item.MAIN_CTGR == "S")
                            {
                                <li>
                                    @*<span class="addr">@item.PLACE.Substring(0,2)</span>*@
                                    <a href="javascript:GoLecturesDetail(@item.SEQ, @item.MSEQ)">@item.TITLE</a>
                                    <span class="num">@item.LECTURES_DATE</span>
                                </li>
                                dataCnt++;
                            }
                        }
                    }
                    else
                    {
                        <li>데이터가 없습니다.</li>
                    }
                }
            </ul>
        </div>
        <!--// 주식 강연회 end -->
    </div>


    <div class="box-bann-service">
        <!-- ad start -->
        <div class="section-area">
            <div class="bann-img">
                <a href="http://www.wownet.co.kr/eventhome/risingstock/sub_main.asp"><img src="@wowTvStyle/images/temp/180110_480x282_rising_m.jpg" alt="bannerImg"></a>
            </div>
        </div>
        <!--// ad end -->
        <!-- 와우 금융 서비스 start -->
        <div class="section-area box-finan-serv">
            <h3>와우 금융 서비스</h3><div>
                <div>
                    <a href="http://wowtv.co.kr/center/html/service_charge_month.asp?bcode=T07090100&mseq=158&m=09">
                        <span class="is-ico-service ico-01"></span>
                        <span>실시간 방송</span>
                    </a>
                    <a href="http://m.wownet.co.kr/pro/intro.asp">
                        <span class="is-ico-service ico-02"></span>
                        <span>파트너 방송</span>
                    </a>
                    <a href="http://www.wowfa.co.kr">
                        <span class="is-ico-service ico-03"></span>
                        <span>증권교육</span>
                    </a>
                    <a href="http://www.wowstar.co.kr/p2p/main.asp">
                        <span class="is-ico-service ico-04"></span>
                        <span>P2P 투자</span>
                    </a>
                </div>
                <div>
                    
                    <a href="javascript:void(0)" id="btnWowBand">
                        <span class="is-ico-service ico-05"></span>
                        <span>와우밴드</span>
                    </a>
                    <a href="javascript:void(0)" id="btnStock">
                        <span class="is-ico-service ico-06"></span>
                        <span>주식창</span>
                    </a>
                    <a href="javascript:void(0)" id="btnVOD">
                        <span class="is-ico-service ico-07"></span>
                        <span>VOD</span>
                    </a>
                </div>
            </div>
        </div>
        <!--// 와우 금융 서비스 end -->
        <!-- ad start -->
        <div class="section-area mb10">
            <div class="bann-img">
                <a href="http://m.wowtv.co.kr/Broad/ProgramMain/Index?menuSeq=644&programCode=P2250"><img src="@wowTvStyle/images/temp/temp_finance03.jpg" alt="국고처"></a>
                <a href="http://m.wowtv.co.kr/Broad/ProgramMain/Index?menuSeq=644&programCode=P2236"><img src="@wowTvStyle/images/temp/temp_finance04.png" alt="대박천국"></a>
            </div>
        </div>
        <!--// ad end -->
    </div>

</section>
