@using Wow.Tv.Middle.Model.Db22.stock.Finance
@using Wow.Tv.FrontWebMobile.Areas.Finance.Helpers
@using Wow.Tv.Middle.Model.Db22.stock
@using Wow.Tv.Middle.Model.Common
@model IndustryInfoModel
@{
    ViewBag.Title = "IndustryPartUpperDetail";
    string wowTvScript = AppState["WowTvScript"].ToString();
    IndustryCondition condition = ViewBag.IndustryCondition;
    <script src="@wowTvScript/Finance/DomesticStock/IndustryPartDetail.js"></script>
}

<section class="container">

    <!-- title area -->
    <div class="section-area">
        <h2>업종상위</h2>
    </div>
    <!-- // title area -->
    <!-- stock business -->
    <div class="stock-business">

        <a href="javascript:void(0);" onclick="DomesticStockIndustryPartDetail.PrevUpper()" class="ico-prev"><span class="icon prev"></span></a>
        <form id="frmPrev">
            <input type="hidden" id="targetDt" name="targetDt" value="@ViewBag.TargetDt" />
            <input type="hidden" id="Market" name="Market" value="@ViewBag.IndustryCondition.Market" />
            <input type="hidden" id="menuTab" name="menuTab" value="@ViewBag.MenuSubTab" />
            <input type="hidden" id="MenuSeq" name="MenuSeq" value="@ViewBag.MenuSeq" />
        </form>

        <dl class="stock-area">
            <dt>@condition.PartName</dt>
            @Html.PublishPriceFormat2(Model.StockInfo.ChgType, Model.StockInfo.Price)
        </dl>
        <ul class="stock-box">
            <li>@Html.PublishChgPriceFormat(Model.StockInfo.ChgType, Model.StockInfo.ChgPrice)</li>
            <li>@Html.PublishUpDownSymbolPChangeFormat(Model.StockInfo.ChgType, Model.StockInfo.ChgRate)</li>
        </ul>
    </div>
    <!-- // stock business -->
    <form id="frmList_industryStock">
        <input type="hidden" id="market" name="market" value="@condition.Market" />
        <input type="hidden" id="partCode" name="partCode" value="@condition.PartCode" />
        <input type="hidden" id="pageSize" name="pageSize" value="20" />
        <input type="hidden" id="currentIndex" name="currentIndex" />
        <div id="divList">

        </div>
    </form>
</section>