@using Wow.Tv.FrontWebMobile.Areas.Finance.Helpers
@using Wow.Tv.Middle.Model.Db22.stock
@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.Middle.Model.Db22.stock.Finance

@model ListModel<usp_web_getDomesticIndustryStock_Result>
@{
    string wowTvScript = AppState["WowTvScript"].ToString();
    string DomainUrlFront = AppState["DomainUrlFront"].ToString();
    Layout = null;

}

<script>
    var totalDataCount = "@Model.TotalDataCount";
</script>

<script src="@wowTvScript/Finance/DomesticStock/IndustryStockList.js"></script>

    <!-- // stock business -->
    <div class="section-area">
        <!-- 테이블-->
        <div class="table-type1 type02 line">
            <table>
                <caption>관심종목 상세</caption>
                <colgroup>
                    <col style="width:auto">
                </colgroup>
                <tbody>
                    @foreach (var item in Model.ListData)
                    {
                        <tr>
                            <td class="txt-l"><a href="#none" onclick="IndustryStockList.DomesticStockDetailGo('@DomainUrlFront','@item.StockCode.Replace("A", "")');">@item.StockName</a></td>
                            <td>@Html.PublishPriceFormat(item.chg_type, item.curr_price)</td>
                            <td>@Html.PublishChgPriceFormat(item.chg_type, item.net_chg.ToString())</td>
                            <td>@Html.PublishUpDownSymbolPChangeFormat(item.chg_type, String.Format("{0:F2}", item.NetChange))</td>
                        </tr>
                    }                   
                </tbody>
            </table>
        </div>
        <!-- // 테이블 -->
    </div>
    <!-- paging start -->
  <div id="divPaging_industryStock" class="box-paginate"></div>
    <!-- paging start -->