@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.Middle.Model.Db22.stock
@using Wow.Tv.FrontWebMobile.Areas.Finance.Helpers
@model ListModel<usp_GetInvestTotal_Result>
@{
    ViewBag.Title = "InvestMonth";
    Layout = null;
    int indexNum;

    var investKospiList = Model.ListData.Where(m => m.market == "코스피").ToList();
    var investKosdaqList = Model.ListData.Where(m => m.market == "코스닥").ToList();
}
<div class="section-area">
    <div class="table-type1 type02 ">
        <table>
            <caption>관심종목 상세</caption>
            <colgroup>
                <col style="width:auto">
            </colgroup>
            <tbody>
                @if (ViewBag.menuTab == "Security")
            {
                indexNum = 1;
                foreach (var item in investKospiList)
                {
                        <tr>
                            @if (indexNum == 1)
                            {
                                <td rowspan="3">@item.market</td>
                            }
                            @if (item.Trade == "매수")
                            {
                                <td><span class="font-color01 ">@item.Trade</span></td>
                                <td><span class="font-color01 ">@String.Format("{0:#,##0}", Math.Round(Convert.ToDecimal(item.Security) / 100, 1))</span></td>
                            }
                            else if (item.Trade == "매도")
                            {
                                <td><span class="font-color03">@item.Trade</span></td>
                                <td><span class="font-color03 ">@String.Format("{0:#,##0}", Math.Round(Convert.ToDecimal(item.Security) / 100, 1))</span></td>
                            }
                            else
                            {
                                <td><span class="font-color01 ">@item.Trade</span></td>
                                <td><span class="font-color01 ">@String.Format("{0:#,##0}", Math.Round(Convert.ToDecimal(item.Security) / 100, 1))</span></td>
                            }
                        </tr>
                        indexNum += 1;
                    }

                    indexNum = 1;
                    foreach (var item in investKosdaqList)
                    {
                        <tr>
                            @if (indexNum == 1)
                            {
                                <td rowspan="3">@item.market</td>
                            }
                            @if (item.Trade == "매수")
                            {
                                <td><span class="font-color01 ">@item.Trade</span></td>
                                <td><span class="font-color01 ">@String.Format("{0:#,##0}", Math.Round(Convert.ToDecimal(item.Security) / 100, 1))</span></td>
                            }
                            else if (item.Trade == "매도")
                            {
                                <td><span class="font-color03">@item.Trade</span></td>
                                <td><span class="font-color03 ">@String.Format("{0:#,##0}", Math.Round(Convert.ToDecimal(item.Security) / 100, 1))</span></td>
                            }
                            else
                            {
                                <td><span class="font-color01 ">@item.Trade</span></td>
                                <td><span class="font-color01 ">@String.Format("{0:#,##0}", Math.Round(Convert.ToDecimal(item.Security) / 100, 1))</span></td>
                            }
                        </tr>
                        indexNum += 1;
                    }
                }
                else if (ViewBag.menuTab == "Foreigner")
                {
                    indexNum = 1;
                    foreach (var item in investKospiList)
                    {
                        <tr>
                            @if (indexNum == 1)
                            {
                                <td rowspan="3">@item.market</td>
                            }
                            @if (item.Trade == "매수")
                            {
                                <td><span class="font-color01 ">@item.Trade</span></td>
                                <td><span class="font-color01 ">@String.Format("{0:#,##0}", Math.Round(Convert.ToDecimal(item.Foreigner) / 100, 1))</span></td>
                            }
                            else if (item.Trade == "매도")
                            {
                                <td><span class="font-color03">@item.Trade</span></td>
                                <td><span class="font-color03 ">@String.Format("{0:#,##0}", Math.Round(Convert.ToDecimal(item.Foreigner) / 100, 1))</span></td>
                            }
                            else
                            {
                                <td><span class="font-color01 ">@item.Trade</span></td>
                                <td><span class="font-color01 ">@String.Format("{0:#,##0}", Math.Round(Convert.ToDecimal(item.Foreigner) / 100, 1))</span></td>
                            }
                        </tr>
                        indexNum += 1;
                    }

                    indexNum = 1;
                    foreach (var item in investKosdaqList)
                    {
                        <tr>
                            @if (indexNum == 1)
                            {
                                <td rowspan="3">@item.market</td>
                            }
                            @if (item.Trade == "매수")
                            {
                                <td><span class="font-color01 ">@item.Trade</span></td>
                                <td><span class="font-color01">@String.Format("{0:#,##0}", Math.Round(Convert.ToDecimal(item.Foreigner) / 100, 1))</span></td>
                            }
                            else if (item.Trade == "매도")
                            {
                                <td><span class="font-color03">@item.Trade</span></td>
                                <td><span class="font-color03 ">@String.Format("{0:#,##0}", Math.Round(Convert.ToDecimal(item.Foreigner) / 100, 1))</span></td>
                            }
                            else
                            {
                                <td><span class="font-color01 ">@item.Trade</span></td>
                                <td><span class="font-color01 ">@String.Format("{0:#,##0}", Math.Round(Convert.ToDecimal(item.Foreigner) / 100, 1))</span></td>
                            }
                        </tr>
                        indexNum += 1;
                    }
                }
                else
                {
                    indexNum = 1;
                    foreach (var item in investKospiList)
                    {
                        <tr>
                            @if (indexNum == 1)
                            {
                                <td rowspan="3">@item.market</td>
                            }
                            @if (item.Trade == "매수")
                            {
                                <td><span class="font-color01 ">@item.Trade</span></td>
                                <td><span class="font-color01 ">@String.Format("{0:#,##0}", Math.Round(Convert.ToDecimal(item.Personal) / 100, 1))</span></td>
                            }
                            else if (item.Trade == "매도")
                            {
                                <td><span class="font-color03">@item.Trade</span></td>
                                <td><span class="font-color03 ">@String.Format("{0:#,##0}", Math.Round(Convert.ToDecimal(item.Personal) / 100, 1))</span></td>
                            }
                            else
                            {
                                <td><span class="font-color01 ">@item.Trade</span></td>
                                <td><span class="font-color01 ">@String.Format("{0:#,##0}", Math.Round(Convert.ToDecimal(item.Personal) / 100, 1))</span></td>
                            }
                        </tr>
                        indexNum += 1;
                    }

                    indexNum = 1;
                    foreach (var item in investKosdaqList)
                    {
                        <tr>
                            @if (indexNum == 1)
                            {
                                <td rowspan="3">@item.market</td>
                            }
                            @if (item.Trade == "매수")
                            {
                                <td><span class="font-color01 ">@item.Trade</span></td>
                                <td><span class="font-color01">@String.Format("{0:#,##0}", Math.Round(Convert.ToDecimal(item.Personal) / 100, 1))</span></td>
                            }
                            else if (item.Trade == "매도")
                            {
                                <td><span class="font-color03">@item.Trade</span></td>
                                <td><span class="font-color03 ">@String.Format("{0:#,##0}", Math.Round(Convert.ToDecimal(item.Personal) / 100, 1))</span></td>
                            }
                            else
                            {
                                <td><span class="font-color01 ">@item.Trade</span></td>
                                <td><span class="font-color01 ">@String.Format("{0:#,##0}", Math.Round(Convert.ToDecimal(item.Personal) / 100, 1))</span></td>
                            }
                        </tr>
                        indexNum += 1;
                    }
                }
            </tbody>
        </table>
    </div>
</div>

