@using Wow.Tv.Middle.Model.Db22.stock.Finance
@using Wow.Tv.Middle.Model.Db22.stock
@using Wow.Tv.FrontWebMobile.Areas.Finance.Helpers
@model StockInfoModel<usp_GetSiseCurrentKPI_Result, usp_getSiseMainmergecode_Result>

@{
    ViewBag.Title = "코스피200";
    string wowTvScript = AppState["WowTvScript"].ToString();
    string currentMenuSeq = Request["menuSeq"];

    bool checkHoliday = ViewBag.CheckStockHoliday;
}

@section styles{
    <style>
    </style>
}
@section scripts{

<script src="@wowTvScript/Finance/webponent/raphael.js"></script>
<script src="@wowTvScript/Finance/webponent/webponent.comm.common.js"></script>
<script src="@wowTvScript/Finance/webponent/chart/webponent.chart.js"></script>
<script src="@wowTvScript/Finance/webponent/chart/webponent.chart.style.js"></script>
<script src="@wowTvScript/Finance/Charts/stockChart.js"></script>
<script src="@wowTvScript/Finance/DomesticStock/KPI200.js"></script>

    @*@Scripts.Render("~/bundles/raphael")
    @Scripts.Render("~/bundles/webponentcommon")
    @Scripts.Render("~/bundles/webponentvisual")
    @Scripts.Render("~/bundles/chart")
    @Scripts.Render("~/bundles/chartstyle")*@

    
    <script>

        //차트에서 사용할 스크립트
        $(document).ready(function () {

            FinanceChartJs.CurrentDbKPI200ChartData($(".chart-view"));
            MiddleData.CurrentMarket("INDEX", "1D2029", 10, $(".stock-index .middleStockData"), @checkHoliday.ToString().ToLower());

            $(window).on("orientationchange", function () {
                if (window.orientation == 0)    //Portait
                {
                    $(".chart-view").empty();
                    setInterval(FinanceChartJs.CurrentDbKPI200ChartData($(".chart-view")), 1 * 300);
                }
                else {
                    $(".chart-view").empty();
                    setInterval(FinanceChartJs.CurrentDbKPI200ChartData($(".chart-view")), 1 * 300);
                }
            });
        });
    </script>
}

<!-- title area -->
<div class="section-area">
    <h2>코스피200</h2>
</div>
<!-- // title area -->
<!-- stock business -->
<div class="stock-index">
    <div class="box">
        <dl class="stock-area">
            <dt>코스피200</dt>
            @Html.PublishPriceMiddleFormat(Model.StockInfo.ChgType, Model.StockInfo.Price)
        </dl>
        <ul class="stock-box">
            <li>@Html.PublishChgPriceMiddleFormat(Model.StockInfo.ChgType, Model.StockInfo.ChgPrice)</li>
            <li>@Html.PublishUpDownSymbolPChangeMiddleFormat(Model.StockInfo.ChgType, Model.StockInfo.PChange)</li>
        </ul>
    </div>
    <!-- 테이블-->
    <div class="table-type1 type01">
        <table>
            <caption>관심종목 상세</caption>
            <colgroup>
                <col style="width:25%">
                <col style="width:25%">
                <col style="width:25%">
                <col style="width:*">
            </colgroup>
            <tbody>
                <tr>
                    <td class="txt-l">상승</td>
                    <td class="txt-r"><strong class="num font-color04">@Model.StockInfo.chgType_2</strong></td>
                    <td class="txt-l">거래량(천주)</td>
                    <td class="txt-r"><strong class="num middleStockData">@Model.StockInfo.Volume</strong></td>
                </tr>
                <tr>
                    <td class="txt-l">하락</td>
                    <td class="txt-r"><strong class="num font-color05">@Model.StockInfo.chgType_5</strong></td>
                    <td class="txt-l">거래금액(백만)</td>
                    <td class="txt-r"><strong class="num middleStockData">@Model.StockInfo.TotalPrice</strong>
                </tr>
            </tbody>

           
        </table>
    </div>
    <!-- // 테이블 -->

</div>
<!-- // stock business -->
<!-- chart start -->
<div class="section-area mb20">
    <div class="box-type-chart">
        <div class="chart-view" style="height:310px">
        </div>
    </div>
    <div class="time-txt btn-area pr0 mt10">
        실시간 @Html.MarketTimeStatus()
        <a href="/Finance/DomesticStock/Kospi200?MenuSeq=@currentMenuSeq" class="btn type04 small">새로고침<span class="icon reset"></span></a>
    </div>
</div>
<!--// chart end -->
<!-- tab start -->
<div class="tab-area">
    <ul>
        <li class="on" style="width: 33%;"><a href="javascript:void(0)">시간대별</a></li>
        <li style="width: 33%;"><a href="javascript:void(0)">일별</a></li>
        <li style="width: 33.6667%;"><a href="javascript:void(0)">편입종목상위</a></li>
    </ul>
</div>

<!--// tab end -->
<form id="frmList_KPI200">
    <input type="hidden" id="pageSize" name="pageSize" value="7" />
    <input type="hidden" id="currentIndex" name="currentIndex" />
    <div id="divList">

    </div>
</form>
<!-- tab start -->
<div class="tab-area">
    <ul id="hpChart">
        <li class="on" style="width: 33%;"><a href="javascript:DomesticStockKPI200.GetHpChart('7551', '999990');">일간</a></li>
        <li style="width: 33%;"><a href="javascript:DomesticStockKPI200.GetHpChart('7552', '999990');">주간</a></li>
        <li style="width: 33.6667%;"><a href="javascript:DomesticStockKPI200.GetHpChart('7553', '999990');">월간</a></li>
    </ul>
</div>
<!--// tab end -->
<!-- chart start -->
<div class="section-area mb50">
    <p class="time-txt btn-area pr0 mt10" id="txtChart">
    </p>
    <div class="box-type-chart">
        <div class="chart-view">
            <img id="imgChart" alt="chart" style="width:100%;">
        </div>
    </div>
</div>
<!--// chart end -->


