@using Wow.Tv.FrontWebMobile.Areas.Finance.Helpers
@using Wow.Tv.Middle.Model.Db22.stock
@using Wow.Tv.Middle.Model.Common
@model ListModel<usp_getSiseTimeKospi_new_Result>
@{
    string wowTvScript = AppState["WowTvScript"].ToString();
    Layout = null;
}

<script>
    var totalDataCount = "@Model.TotalDataCount";
</script>
@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
<script src="@wowTvScript/Finance/DomesticStock/SiseTimeKospiList.js"></script>

<div class="section-area plr0 mb20">
    <!-- 테이블-->
    <div class="table-type1 type02 line mlr15">
        <table>
            <caption>검색 상세</caption>
            <colgroup>
                <col style="width:auto">
            </colgroup>
            <tbody>
                @if (Model.ListData.Count == 0)
                {
                    <tr>
                        <td colspan="4">
                            데이터가 없습니다.
                        </td>
                    </tr>
                }
                else
                {
                    foreach (var item in Model.ListData)
                    {
                        <tr>
                            <td class="txt-l"><span class="num">@item.DT</span></td>
                            <td class="txt-r"><span class="num">@item.price</span></td>
                            <td class="txt-r">@Html.PublishChgPriceFormat(item.chgtype, item.chgprice) </td>
                            <td class="txt-r">@Html.PublishUpDownFormat(item.prevolume, item.volume) </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <!-- // 테이블 -->
    <!-- paging start -->
    <div class="box-paginate" id="divPaging_Kospi">

    </div>
    <!--// paging end -->

</div>