@using Wow.Tv.FrontWebMobile.MenuService
@using System.Configuration

@{
    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();
    string bodyClass = AppState["BodyClass"].ToString();

    bool isMain = true;
    string currentMenuSeq = Request["menuSeq"];

    if (String.IsNullOrEmpty(currentMenuSeq) == false)
    {
        var currentMenu = new MenuServiceClient().GetAt(int.Parse(currentMenuSeq));
        if (currentMenu != null && currentMenu.DEPTH > 1 && currentMenu.MENU_NAME != "홈")
        {
            isMain = false;
        }
    }
}


<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <!-- meta name="viewport" content="width=device-width, initial-scale=1.0"-->

    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    @*<meta property="og:image" id="metaImg" content=""/>*@
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>한국경제TV</title>
    <link rel="stylesheet" href="@wowTvStyle/css/fonts.css">
    <link rel="stylesheet" href="@wowTvStyle/css/common.css">
    <link rel="stylesheet" href="@wowTvStyle/css/swiper.min.css">
    <link rel="stylesheet" href="@wowTvStyle/css/search.css">

    @RenderSection("styles", false)

    <script type="text/javascript">
        var FacebookUserToken = "@ConfigurationManager.AppSettings["FacebookUserToken"]";
    </script>

    <script type="text/javascript" src="@wowTvScript/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="@wowTvScript/jquery-ui.min.js"></script>
    <script type="text/javascript" src="@wowTvScript/design.js"></script>

    <script type="text/javascript" src="@wowTvScript/swiper.min.js"></script>
    <script type="text/javascript" src="@wowTvScript/paging.js"></script>
    <script type="text/javascript" src="@wowTvScript/Common.js"></script>
    <script type="text/javascript" src="@wowTvScript/jquery.cookie.js"></script>
    <script type="text/javascript" src="@wowTvScript/Define.js"></script>
    <script type="text/javascript" src="@wowTvScript/Finance/finance_common.js"></script>
    <script type="text/javascript" src="@wowTvScript/Finance/middleStockData.js"></script>
    <script type="text/javascript" src="@wowTvScript/SearchApi.js?date=20171220161500"></script>
    <script type="text/javascript" src="@wowTvScript/jquery.xgallerify.js"></script><!-- 갤러리 리스트 플러그인 -->
    <script type="text/javascript" src="@wowTvScript/TotalSearch/TotalSearch.js"></script>

    @RenderSection("scripts", false)


    <script>
        var TopMenu = {
            MoveTvSchedule: function () {
                location.href = "/Broad/TvSchedule/Index?menuSeq=" + MENU_SEQ_DEFINE.BROAD.SCHEDULE;
                return false;
            },
            MoveTvOnAir: function () {
                location.href = "/Broad/OnAir/Index?menuSeq=" + MENU_SEQ_DEFINE.BROAD.ONAIR;
                return false;
            }
        };

        function LayOutMain_OpenPopUp(url) {
            window.open(url);

            return false;
        }

        function LayOutMain_GoPage(url) {
            location.href = url;

            return false;
        }

    </script>
</head>




<body class="search">
    <!-- 해당 메뉴의 class로 분기처리 -->

    <div class="wrap">
        <!-- 전체 메뉴 -->
        <div class="sitemap-area">

            @Html.Action("SiteMap", "Home", new { Area = "" })

        </div>
        <!-- // 전체 메뉴 -->
        <!-- header -->
        <header class="search-header">
            <!-- 타이틀 -->
            <div class="title-area">
                <div class="dimmed">
                    <h1><span class="logo"><a href="http://m.wowtv.co.kr/" target="_blank"><img src="@wowTvStyle/images/search/logo.png" alt="한국경제TV"></a></span>통합검색 <span class="arrow"></span></h1>
                    <div class="top-dropbox">
                        <div class="title">
                            <strong>패밀리 서비스</strong>
                            통합회원 ID로 모든 서비스를 한 번에 이용하실 수 있습니다.
                        </div>
                        <ul>
                            <li><a href="http://m.wowtv.co.kr/" target="_blank"><span></span> 한국경제TV</a></li>
                            <li><a href="http://m.wownet.co.kr" target="_blank"><span></span> 와우넷</a></li>
                            <li><a href="http://www.wowstar.co.kr" target="_blank"><span></span> WOW스타</a></li>
                            <li><a href="http://mcompany.wowtv.co.kr/BusinessGuide/Business/Index?menuSeq=794" target="_blank"><span></span> 주식창</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- // 타이틀 -->
            <!-- 검색 바 -->
            <div class="search-area">
                <!-- 인풋 박스 -->
                <div class="input-area">
                    <form name="searchForm" method="post" id="searchForm" action="/totalSearch/Mariner/Index">
                        <input type="hidden" name="colTarget" value="@ViewData["colTarget"]" id="colTarget" />
                        <input type="hidden" name="currentPage" value="@ViewData["currentPage"]" id="currentPage" />
                        <input type="hidden" name="filterList" value="@ViewData["filterList"]" id="filterList" />
                        <input type="hidden" name="currentPageStock" value="1" id="currentPageStock" />
                        <input type="text" name="searchTerm" value="@ViewData["searchTerm"]" id="searchTerm" onfocus="dq_setTextbox('0',event);" onmousedown="dq_setTextbox('1',event);" onkeyUp="dq_setTextbox('1',event);" onkeypress="dq_handleEnter(event);" autocomplete="off"/>
                        <script type="text/javascript" src="@wowTvScript/TotalSearch/dqAutoComplete.js"></script>
                        <div class="auto-search" id="dqAuto" style="display:none;" onmouseover="dq_setMouseon();" onmouseout="dq_setMouseoff();"></div>
                <!-- 검색 버튼 -->
                <a href="javascript:void(0)"><span class="search-btn"></span></a>
                <!-- // 검색 버튼 -->
                </form>
            </div>
                <!-- // 인풋 박스 -->
                <!-- 인기키워드 -->
                <div class="best-list">
                    <div class="keyword" id="trendKeyword">
                        
                    </div>
                    <div class="keyword type02" id="tagKeyword">
                        
                    </div>
                </div>
                <!-- // 인기키워드 -->
            </div>
            <!-- // 검색 바 -->
        </header>
        <!-- // header -->
        <!-- //Header -->
        <!-- container -->
        <section class="container">
            @if (isMain == false)
            {
                @Html.Action("_PageLocation", "Home", new { Area = "" })
            }

            @RenderBody()

        </section>
        <!-- // container -->
        <!-- footer -->
        <footer>

            <h4 class="blind">푸터</h4>
            <!-- icon start -->
            <div class="box-footer-icon">
                <a href="https://www.facebook.com/HKWOWTV" class="box-facebook">Facebook</a>
                <a href="https://twitter.com/HKWOWTV" class="box-twitter">Twitter</a>
                <a href="https://story.kakao.com/ch/hkwowtv" class="box-kakaostory">KakaoStory</a>
                <a href="https://www.youtube.com/user/hkwowtv" class="box-youtube">YouTube</a>
                <a href="http://post.naver.com/my.nhn?memberNo=11761424" class="box-writer">Writer</a>
            </div>
            <!--// icon end -->
            <!-- btn start -->
            <div class="box-footer-btn">
                <a href="http://mprovision.wowtv.co.kr/Operation/Policy/TermsOfService">서비스이용약관</a>
                <a href="http://mprovision.wowtv.co.kr/Operation/Policy/PrivacyPolicy">개인정보처리방침</a>
                <a href="http://mprovision.wowtv.co.kr/Operation/Policy/ArticleBasicPolicy">기사배열 기본방침</a>
                <a href="javascript:void(0)" class="view-comInfor"><span>사업자정보</span></a>
                <a href="javascript:void(0)" class="view-site"><span>한국경제TV 패밀리 사이트</span></a>
            </div>
            <!--// btn end -->
            <!-- 사업자정보 start -->
            <div class="box-footer-comInfor">
                <p class="txt-exmp">한국경제TV의 모든 콘텐츠는 저작권재법의 보호를 받습니다. <br>무단전재/복사/배포 등을 금지합니다.</p>
                <div class="box-comInfor">
                    <div>
                        <p>㈜한국경제티브이</p>
                        <span>사장 송재조 서울시 영등포구 버드나루로 </span>
                    </div>
                    <div>
                        <p>84(우:150-988)</p>
                        <span>Tel 02-6676-0000</span>
                    </div>
                    <div>
                        <p>사업자등록번호 1107-81-70183</p>
                        <span>통신판매업신고번호 영등포구 </span>
                    </div>
                    <div>
                        <p>2000-00571호</p>
                        <span>호스팅제공자 : ㈜한국경제티브이 </span>
                    </div>
                    <div>
                        <span>기사배열 책임자 : 이성경</span>
                    </div>
                </div>
                <div class="btn-footer-area">
                    <a href="http://mcompany.wowtv.co.kr/WowTvGuide/WowTvInfo/Index?menuSeq=781">회사소개</a>
                    <a href="http://mcompany.wowtv.co.kr/BusinessGuide/Business/Index?menuSeq=796">광고(인터넷·TV)</a>
                    <a href="http://mcompany.wowtv.co.kr/BusinessGuide/Business/Index?menuSeq=796">제휴안내</a>
                </div>
            </div>
            <!--// 사업자정보 end -->
            <!-- 한국경제TV 패밀리 사이트 start -->
            <div class="box-footer-site">
                <div>
                    <strong>한국경제 TV그룹</strong>
                    <ul>
                        <li><a href="http://m.wowtv.co.kr/" target="_blank">한국경제TV</a></li>
                        <li><a href="http://www.wownet.co.kr" target="_blank">와우넷</a></li>
                        <li><a href="http://www.wowfa.co.kr" target="_blank">와우파</a></li>
                        <li><a href="http://www.wowstar.co.kr" target="_blank">WOW스타</a></li>
                        <li><a href="http://www.tv10.co.kr" target="_blank">티비텐플러스</a></li>
                        <li><a href="http://tesat.wowfa.co.kr/" target="_blank">TESAT</a></li>
                        <li><a href="http://m.wowtv.co.kr" target="_blank">한국경제TV모바일</a></li>
                    </ul>
                </div>
                <div>
                    <strong>한경미디어그룹</strong>
                    <ul>
                        <li><a href="http://www.hankyung.com" target="_blank">한국경제신문</a></li>
                        <li><a href="http://www.hankyung.com/" target="_blank">한국경제매거진</a></li>
                        <li><a href="http://www.hankyung.com/" target="_blank">BOOK</a></li>
                        <li><a href="http://ac.hankyung.com" target="_blank">한경아카데미</a></li>
                        <li><a href="http://tenasia.hankyung.com/" target="_blank">텐아시아</a></li>
                    </ul>
                </div>
                <div>
                    <strong>모바일앱</strong>
                    <ul>
                        <li><a href="https://play.google.com/store/apps/details?id=kr.co.wowtv.wowtv" target="_blank">한국경제TV앱</a></li>
                        <li><a href="https://play.google.com/store/apps/developer?id=%ED%95%9C%EA%B5%AD%EA%B2%BD%EC%A0%9CTV." target="_blank">주식창앱</a></li>
                        <li><a href="http://www.wownet.co.kr/daebakne/daebak/menu_info.asp?bcode=N74010400&&mseq=1954&tab=1&mseq=2772" target="_blank">와우넷앱</a></li>
                        <li><a href="http://www.wownet.co.kr/wowband/sub_main.asp?bcode=S04020000&mseq=2936" target="_blank">와우밴드앱</a></li>
                        <li><a href="https://play.google.com/store/apps/details?id=kr.tvten.android.air" target="_blank">티비텐플러스앱</a></li>
                    </ul>
                </div>
            </div>
            <!--// 한국경제TV 패밀리 사이트 end -->
            <!-- copyright start -->
            <div class="box-footer-copy">
                <ul class="footer-bottom">
                    <li><a href="javascript:void(0)">고객센터</a></li>
                    <li><a href="javascript:void(0)">1599-0700</a></li>
                </ul>
                <section class="coypright">Copyright &copy; 한국경제TV  All Right Reserved</section>
            </div>
            <!--// copyright end -->
            <!-- pc버전 보기 start -->
            <div class="btn-footer-pcview">
                <a href="http://www.wowtv.co.kr/Home/Index?fromMobile=Y"><span>PC버전 보기</span></a>
            </div>
            <!--// pc버전 보기 end -->


        </footer>
        <!-- // footer -->
    </div>

    @RenderSection("modalDiv", required: false)
    <div id="divPopupCatagory" class="modal fade" role="dialog"></div>
    <script type="text/javascript" src="@wowTvScript/design_in.js"></script>

    @*한국경제TV-모바일버전 Google Analytics*@
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-51494055-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); };
        gtag('js', new Date());
        gtag('config', 'UA-51494055-2');
        @RenderSection("googleAnalyticsScript", required: false)
    </script>

    @RenderSection("hardCodingAdArea", required: false)
</body>
</html>








