@model List<Wow.Tv.Middle.Model.Db49.wowtv.NTB_BOARD_COMMENT>
@{
    Layout = null;
}

@{
    Layout = null;
    string wowTvScript = AppState["WowTvScript"].ToString();
}


<!-- Reply Block -->
<script src="@wowTvScript/Broad/FeedBack/ReplyList.js?date=20171220173001"></script>



<!-- 댓글 아코디언 -->
<div class="box-cont-reply contain-reply">
    <div class="reply-head">
        <h2 class="title">

            @if (Model.Count > 0)
            {
                @:댓글 <span>(@Model.Count)</span>
            }
            else
            {
                @:댓글 <span>(0)</span>
            }
        </h2>
        <span class="btn-switch"><button onclick="return ReplyList.ShowHide();">열기</button></span>
    </div>
    <div class="reply-body" style="height:auto!important;">
        <!-- 댓글 영역 -->
        <div class="sect-reply">
            <div class="header-reply">

                <div class="contain-login-sns">
                    <p class="font-color02">의견 작성을 위해 한국경제TV 계정으로 로그인 해주세요.</p>
                </div>

                @if (LoginHandler.IsLogin)
                {
                    <form id="frmComment">
                        <input type="hidden" id="hidBOARD_CONTENT_SEQ" name="BOARD_CONTENT_SEQ" value="@ViewBag.BoardSeq " />

                        <!-- Reply 쓰기 -->
                        <div class="box-write-reply">
                            <textarea name="CONTENT" id="txtCONTENT" cols="30" rows="10" maxlength="500"></textarea>
                            <div class="inner-right">
                                <input type="button" class="btn-type1" id="btnCommentSave" value="등록">
                            </div>
                            <p class="type" id="pWriteCount">0/500</p>
                        </div>
                        <!-- //Reply 쓰기 -->
                        <div class="box-button reply">
                            <div class="inner-left">
                                <p>* 욕설, 비방, 모욕성의 댓글은 관리자에 의해 삭제 또는 비공개 처리 될 수 있습니다.</p>
                            </div>
                        </div>
                    </form>
                }
            </div>
            <!-- Reply 목록 -->
            <div class="body-reply">
                
                @foreach (var item in Model)
                {
                <!-- Reply Block -->
                <div class="artic-reply">
                    <span class="name">@item.NickName</span>
                    <span class="time">@item.REG_DATE.ToString("yyyy-MM-dd MM:ss")</span>
                    <div class="text-reply devReplyView">
                        @if (item.BLIND_YN.Equals("Y"))
                        {
                            @:관리자에 의해 비공개(삭제) 처리되었습니다.
                            }
                        else
                        {
                            @item.CONTENT
                        }
                    </div>
                    <div class="box-write-reply devReplyEdit" style="display:none;">
                        <textarea name="" id="@item.COMMENT_SEQ" cols="30" rows="10">@item.CONTENT</textarea>
                        <div class="inner-right">
                            <input type="button" class="btn-type1" onclick="ReplyList.CommentUpdate('@item.COMMENT_SEQ')" value="등록">
                        </div>
                    </div>
                    <div class="box-button-reply">
                        <div>
                            @if (LoginHandler.IsLogin && LoginHandler.CurrentLoginUser.UserId.Equals(item.REG_ID))
                            {
                            <span class="btn-type4"><button onclick="ReplyList.ShowUpdate('@item.COMMENT_SEQ', this)" >수정</button></span>
                            <span class="btn-type4"><button onclick="ReplyList.CommentDelete('@item.COMMENT_SEQ')" >삭제</button></span>
                            }
                        </div>
                    </div>
                </div>
                <!-- //Reply Block -->
                }
            </div>
            <!-- //Reply 목록 -->
        </div>
        <!-- //댓글 영역 -->
    </div>
</div>
<!-- //댓글 아코디언 -->




    @*<div class="reply-head">
        <h2 class="title">
            @if (Model.Count > 0)
            {
                @:댓글 <span>(@Model.Count)</span>
            }
            else
            {
                @:댓글 <span>(0)</span>
            }
        </h2>
    </div>
    <div class="reply-body">
        <!-- 댓글 영역 -->

        <div class="section-reply">
            <div class="header-reply">
                <!--TODO: 로그인 작업을 해야한다.-->
                @if (!LoginHandler.IsLogin)
                {
                    <p class="login-notice">의견 작성을 위해 한국경제TV계정으로 로그인 해주세요.</p>

                }
                @if (LoginHandler.IsLogin)
                {

                    <form id="frmComment">
                        <input type="hidden" id="hidBOARD_CONTENT_SEQ" name="BOARD_CONTENT_SEQ" value="@ViewBag.BoardSeq " />

                        <!-- Reply 쓰기 -->
                        <div class="box-write-reply">
                            <textarea name="CONTENT" id="txtCONTENT"  cols="105" rows="10" maxlength="500"></textarea>
                            <p class="type" id="WriteCount"></p>
                        </div>
                        <!-- //Reply 쓰기 -->
                        <!-- Reply 등록 -->
                        <div class="box-button reply">
                            <div class="inner-left">
                                <p>* 욕설, 비방, 모욕성의 댓글은 관리자에 의해 삭제 또는 비공개 처리 될 수 있습니다.</p>
                            </div>
                            <div class="inner-right">
                                <span class="btn-type1"><button type="button" id="btnCommentSave" >등록</button></span>
                            </div>
                        </div>
                    </form>
                    <!-- //Reply 등록 -->
                }
            </div>
            <!-- Reply 목록 -->
            <div class="body-reply">
                @foreach (var item in Model)
                {
                    <div class="article-reply">
                        <div class="box-button-reply">
                            <!--TODO: 로그인 작업을 해야한다.-->
                            @if (LoginHandler.IsLogin && LoginHandler.CurrentLoginUser.UserId.Equals(item.REG_ID))
                            {
                                <span class="btn-type-text"><button type="button" onclick="ReplyList.ShowUpdate('@item.COMMENT_SEQ')" id="btnReplyModify">수정</button></span>
                                <span class="division2"></span>
                                <span class="btn-type-text"><button type="button" onclick="ReplyList.CommentDelete('@item.COMMENT_SEQ')" id="btnReplyDelete">삭제</button></span>
                            }
                        </div>
                        <span class="name">@item.NickName</span>
                        <span class="time">@item.REG_DATE.ToString("yyyy-MM-dd MM:ss")</span>
                        <div class="text-reply">
                            @if (item.BLIND_YN.Equals("Y"))
                            {
                                @:블라인드 처리
                            }
                            else
                            {
                                @item.CONTENT    
                            }
                        </div>
                        @if (LoginHandler.IsLogin)
                        { 
                            <div class="box-reply-sub" id ="div-@item.COMMENT_SEQ" style="display:none;">
                                <div class="box-write-reply">
                                    <textarea name="" id="@item.COMMENT_SEQ" cols="30" rows="10">@item.CONTENT</textarea>
                                    <p class="type" id="WriteCount"></p>
                                </div>
                                <div class="box-button reply">
                                    <div class="inner-right">
                                        <span class="btn-type1"><button type="button"  onclick="ReplyList.CommentUpdate('@item.COMMENT_SEQ')">등록</button></span>
                                            
                                    
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
                <!-- //Reply Block -->
            </div>
            <!-- //Reply 목록 -->
        </div>
        <!-- //댓글 영역 -->
    </div>*@

