@using Wow
@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.Middle.Model.Db49.Article.Opinion

@model  ListModel<OpinionColumnModel>

@{
    ViewBag.Title = "CharacterStock";
    string wowTvScript = AppState["WowTvScript"].ToString();
    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string uploadWebPathRoot = AppState["UploadWebPathRoot"].ToString();
    string uploadPlanArticlePath = AppState["UploadPlanArticlePath"].ToString();
    string opinionUploadPath = string.Format("{0}{1}", uploadWebPathRoot, uploadPlanArticlePath);
    string currentMenuSeq = Request["menuSeq"];

}
@section scripts{
    <script src="@wowTvScript/Opinion/SerialColumn/ColumnList.js"></script>
    <script src="@wowTvScript/NewsCenter/Common.js"></script>
    <script src="@wowTvScript/sticky.js"></script>
    <script>
        var totalDataCount = @ViewBag.totalDataCount;
        var currentIndex = @ViewBag.condition.CurrentIndex;
    </script>
}

<div class="wrap-adbox-right" data-sticky_parent style="padding-top:20px;">

    <div class="section-cont" data-sticky_column>
        <div class="title-area">
            @*
            @if (Request.QueryString["Class"] == "S")
            {
                <h2>연재칼럼</h2>
            }
            else
            {
                <h2>기획취재</h2>
            }
            *@
            <select id="selector01">
                <option>목록 전체 보기</option>
                @foreach (var item in Model.ListData)
                {
                    <option value="@(item.List.SEQ + "_" + item.List.EXTRACTION_TEXT) ">@item.List.TITLE &nbsp; &nbsp; </option>
                }
            </select> 
            @* 구글번역 **@
            <div id="google_translate_element"></div>
        </div>
        <div class="gray-box">
            <ul>
            @if (Model.TotalDataCount > 0)
            {
                foreach (var item in Model.ListData)
                {
                    var Status = "";
                    var Now = System.DateTime.Now;
                    Now = DateTime.ParseExact(Now.ToString("yyyy-MM-dd"), "yyyy-MM-dd", null);

                    if (!String.IsNullOrEmpty(item.List.VW_TO))
                    {
                        var StartDate = DateTime.ParseExact(item.List.VW_FROM, "yyyy-MM-dd", null);
                        var EndDate = DateTime.ParseExact(item.List.VW_TO, "yyyy-MM-dd", null);

                        if (Now.CompareTo(StartDate) >= 0 && Now.CompareTo(EndDate) <= 0)
                        {
                            Status = "연재중";
                        }
                        else if (Now.CompareTo(EndDate) > 0)
                        {
                            Status = "종료";
                        }
                    }
                    else
                    {
                        Status = "연재중";
                    }
                <li>
                    <div class="img-box">
                        <img src="@opinionUploadPath@item.List.IMG_MAIN" alt="Opinion Photo" onerror="this.src='@Wow.WowExtensionMethod.NewsThumbnailOnError("11M")'" >
                    </div>
                    <div class="text-area">
                        <h3>
                            <a href="javascript:ColumnList.GetDetailList('@(item.List.SEQ)_@(item.List.EXTRACTION_TEXT)');">
                                @item.List.TITLE
                            </a>
                            <span class="end-date-area">
                                <span class="box-icon type04">@Status</span>
                                <span class="end-date">
                                    @if (Status.Contains("종료"))
                                    {
                                        @item.List.VW_FROM
                                        if (item.List.VW_TO != null)
                                        {
                                            @:~
                                            @item.List.VW_TO
                                        }
                                    }
                                </span>
                            </span>
                        </h3>
                        <p class="text">
                            @item.List.REMRK
                        </p>
                        @if (item.SubList.Count == 0 || item.SubList == null)
                        {
                            <ul class="series-list"><li><span>내용이 없습니다.</span></li></ul>
                        }
                        else
                        {
                        <ul class="series-list">
                            @foreach (var item2 in item.SubList)
                            {
                                @*<li><span>@item.List.EXTRACTION_TEXT.ToString().Replace("&"," ")</span>@item2.TITLE</li>*@
                                <li style="cursor:pointer;">
                                    <span onclick="javascript:NewsCommon.GoNewsDetailView('opinion', '', '@ViewBag.Condition.Class', '@item2.ARTICLEID')">
                                        @item2.TITLE
                                    </span>
                                </li>
                            }
                        </ul>
                        <span class="btn-type4"><a href="javascript:ColumnList.GetDetailList('@(item.List.SEQ)_@(item.List.EXTRACTION_TEXT)');">전체보기</a></span>
                        }
                    </div>
                </li>
                }
            }
            else
            {
                <li><span>등록된 내용이 없습니다.</span></li>
            }            
            </ul>
        </div>
        <div class="box-paginate" id="divPaging"></div>
    </div>

    <!-- cont left start -->
    <div class="right-area  mgt_0" id="divContentRight" data-sticky_column></div>
    <!--// cont left end -->

</div>

<form id="frmSearch">
    <input type="hidden" id="classId" name="Class" value="@Request.QueryString["Class"]" />
    <input type="hidden" name="Text" id="text" />
    <input type="hidden" name="Seq" id="seq" />
    <input type="hidden" id="pageSize" name="pageSize" value="20" />
    <input type="hidden" id="currentIndex" name="CurrentIndex" value="@ViewBag.CurrentIndex" />
    <input type="hidden" id="CurrentMenuSeq" name="CurrentMenuSeq" value="@(Request.QueryString["menuSeq"].Length == 0 ? ViewBag.Condition.CurrentMenuSeq : Request.QueryString["menuSeq"])" />
</form>

<!-- google translate script Start -->
<script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement(
                {
                    pageLanguage: 'ko'
                    , includedLanguages: 'ko,en,zh-CN,zh-TW,ja,id,th,vi,tl'
                    , layout: google.translate.TranslateElement.InlineLayout.SIMPLE
                    , autoDisplay: false
                }
                , 'google_translate_element');
        }
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<!-- google translate script end -->


@section LastScriptArea{
    <script type="text/javascript">

        // 오른쪽 컨텐츠 + 광고영역 스크롤 / Generated by CoffeeScript 1.9.2
        (function () {
            var reset_scroll;

            $(function () {
                return $("[data-sticky_column]").stick_in_parent({
                    parent: "[data-sticky_parent]"
                });
            });

            reset_scroll = function () {
                var scroller;
                scroller = $("body,html");
                scroller.stop(true);
                if ($(window).scrollTop() !== 0) {
                    scroller.animate({
                        scrollTop: 0
                    }, "fast");
                }
                return scroller;
            };

            window.scroll_it = function () {
                var max;
                max = $(document).height() - $(window).height();
                return reset_scroll().animate({
                    scrollTop: max
                }, max * 3).delay(100).animate({
                    scrollTop: 0
                }, max * 3);
            };

            window.scroll_it_wobble = function () {
                var max, third;
                max = $(document).height() - $(window).height();
                third = Math.floor(max / 3);
                return reset_scroll().animate({
                    scrollTop: third * 2
                }, max * 3).delay(100).animate({
                    scrollTop: third
                }, max * 3).delay(100).animate({
                    scrollTop: max
                }, max * 3).delay(100).animate({
                    scrollTop: 0
                }, max * 3);
            };

            $(window).on("resize", (function (_this) {
                return function (e) {
                    return $(document.body).trigger("sticky_kit:recalc");
                };
            })(this));

        }).call(this);
    </script>
}
