@using Wow
@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.Middle.Model.Db49.Article

@model  ListModel<NUP_NEWS_SECTION_SELECT_Result>

@{
    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();

    Layout = null;
}

<!-- News Block -->
@if (Model.TotalDataCount > 0)
{
    foreach (var item in Model.ListData)
    {
        <div class="article-news-list">
            <div class="contian-news photo-right">
                @if (!string.IsNullOrEmpty(item.IMAGE_FILE))
                {
                    <div class="photo-news">
                        <img src="@WowExtensionMethod.NewsThumbnailPath("11S", item.THUMBNAIL_FILENM, item.VOD_NUM, item.IMAGE_DIR, item.IMAGE_FILE, item.ARTDATE.Value)" onerror="this.src='@WowExtensionMethod.NewsThumbnailOnError("11S")'"> 
                        @if (item.VOD_NUM != null && item.VOD_NUM > 0)
                        {
                            <span class="icon-play medium"></span>
                        }
                    </div>
                }
                <a href="javascript:NewsCommon.GoNewsDetailView('opinion','',classId,'@item.ARTICLEID')">
                    <p class="title-text">@WowExtensionMethod.SubStringWidthPad(@item.TITLE, 165) <span class="date">@item.ARTDATE.Value.ToString("yyyy-MM-dd HH:mm")</span></p>
                    <p class="main-text">@WowExtensionMethod.NewsListContentCut(WowExtensionMethod.RemoveTagAndReplace(MvcHtmlString.Create(item.CONTENTS_CUT).ToString(), 0, false), string.IsNullOrEmpty(item.IMAGE_FILE))</p>
                </a>
                <div class="footer-text">
                    <p class="category-text">뉴스 &gt; @item.SECTION_NAME</p>
                    <span class="division-bar"></span>
                    <p class="reporter">
                        @item.COMP_NAME 
                    </p>
                    <!-- 해시태그  -->
                    @if (!string.IsNullOrEmpty(item.TAG))
                    {
                        <span class="division-bar"></span>
                        <div class="tags">
                            @MvcHtmlString.Create(WowExtensionMethod.NewsHashTag(item.TAG, 3, ""))
                        </div>
                    }
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="article-news-list">
        <div class="contian-news">
            <div class="contian-news" style="vertical-align:middle;text-align:center;">
                결과가 없습니다.
            </div>
        </div>
    </div>
}
<!-- //News Block -->
<script>
    $("#totalDataCount").val("@Model.TotalDataCount");
</script>