@using Wow.Tv.FrontWeb.MenuService;
@using Wow.Tv.Middle.Model.Common;
@using Wow.Tv.Middle.Model.Db49.wowtv;
@using Wow.Tv.Middle.Model.Db49.wowtv.Menu;

@{
    Layout = null;
}

@{
    string currentMenuSeq = Request["menuSeq"];
    NTB_MENU menu_Depth1 = null;
    NTB_MENU menu_Depth2 = null;


    if(String.IsNullOrEmpty(currentMenuSeq) == true && String.IsNullOrEmpty(Request["articleId"]) == false)
    {
        currentMenuSeq = "459";
    }

    if (String.IsNullOrEmpty(currentMenuSeq) == false)
    {
        MenuServiceClient menuServiceClient = new MenuServiceClient();
        NTB_MENU currentMenu = menuServiceClient.GetAt(int.Parse(currentMenuSeq));

        MenuCondition menuCondition = new MenuCondition();
        menuCondition.ChannelCode = "WowTv";
        menuCondition.ActiveYn = "Y";
        menuCondition.PageSize = -1;

        if (currentMenu != null)
        {
            if (currentMenu.DEPTH == 1)
            {
                menu_Depth1 = currentMenu;
            }
            else if (currentMenu.DEPTH == 2)
            {
                menu_Depth2 = currentMenu;
                if (menu_Depth2 != null)
                {
                    menu_Depth1 = menuServiceClient.GetAt(menu_Depth2.UP_MENU_SEQ);
                }
            }
            else if (currentMenu.DEPTH == 3)
            {
                menu_Depth2 = menuServiceClient.GetAt(currentMenu.UP_MENU_SEQ);
                if (menu_Depth2 != null)
                {
                    menu_Depth1 = menuServiceClient.GetAt(menu_Depth2.UP_MENU_SEQ);
                }
            }
        }
    }

    if (menu_Depth1 == null)
    {
        menu_Depth1 = new NTB_MENU();
    }
}

<div class="contain-util">
    <div class="inner">
        <!-- Relation Links -->
        <div class="box-links">
            <a href="http://www.wownet.co.kr/" target="_blank">와우넷</a>
            <a href="http://www.wowfa.co.kr/" target="_blank">와우파</a>
            <a href="http://www.wowstar.co.kr" target="_blank">WOW스타</a>
            <a href="http://www.wownet.co.kr/daebakne/intro.asp?mseq=2771" target="_blank">모바일</a>
            <a href="http://www.tv10.co.kr" target="_blank">티비텐플러스</a>
            <a href="http://kvina.wowtv.co.kr" target="_blank">K-VINA 비즈센터</a>
        </div>
        <!-- //Relation Links -->
        <!-- Member Links -->
        <div class="box-member">
                <a id="Header_btnGoLogOut" style="display:none;" href="@System.Configuration.ConfigurationManager.AppSettings["UserLogoutUrl"]?returnurl=@Html.Raw(HttpUtility.UrlEncode(Request.Url.AbsoluteUri))">로그아웃</a>
                <a id="Header_btnGoMyPage" style="display:none;" href="@System.Configuration.ConfigurationManager.AppSettings["DomainUrlMyPage"]">마이페이지</a>
                
                <a id="Header_btnGoLogIn" style="display:none;" href="@System.Configuration.ConfigurationManager.AppSettings["UserLoginUrl"]?returnurl=@Html.Raw(HttpUtility.UrlEncode(Request.Url.AbsoluteUri))">로그인</a>
                <a id="Header_btnGoJoin" style="display:none;" href="@System.Configuration.ConfigurationManager.AppSettings["UserJoinUrl"]">회원가입</a>
            @*<a href="#">원격지원</a>*@
            <a href="https://help.wowtv.co.kr/IntegratedBoard/Inquiry/Index?menuSeq=497" target="_blank">시민제보</a>
            <a href="@System.Configuration.ConfigurationManager.AppSettings["DomainUrlHelp"]">고객센터</a>
            <a href="javascript:void(0)" class="top-ad-btn"><span>열기</span></a>
        </div>
        <!-- //Member Links -->
    </div>
</div>

@if (String.IsNullOrEmpty(Request["articleId"]) == false)
{
    <!-- //TOP 배너 영역 -->
    <div class="ui-top-banner" id="divTopBanner">
        <iframe src="http://ad.wowtv.co.kr/NetInsight/html/wowtv/wowtv_newscenter/wowtv_n_newscenter@google_top" width="970" height="90" frameborder="0" scrolling="no" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0"></iframe>
    </div>
    <!-- //TOP 배너 영역 -->
}

<div class="contain-search">
    <div class="inner">
        <p class="logo" onclick="location.href='/';" style="cursor:pointer;"></p><!-- Site Logo -->
        <h1 class="title">
            @*@Request["MainLayOutTitle"]*@
            @if (Request.Url.LocalPath == "/Home/SiteMap")
            {
                <a href="/Home/SiteMap">사이트맵</a>
            }
            else
            {
                <a href="@menu_Depth1.Href">@menu_Depth1.MENU_NAME</a>
            }
            <span class="text-add mypage">한국경제TV 패밀리 사이트의 통합 마이페이지입니다.</span>
            <span class="text-add customer">한국경제TV 패밀리 사이트의 통합 고객센터입니다.</span>
            <span class="text-add search">한국경제TV 패밀리 사이트의 통합검색입니다.</span>
            <span class="text-add member">한국경제TV 패밀리 사이트의 통합회원 사이트입니다.</span>
        </h1><!-- 1 Depth 타이틀 -->
        <span class="btn-sitemap"><button onclick="return MainLayOut_SiteMapChange(this);">SITE MAP</button></span><!-- Site map -->
        <span class="btn-globalsearch" onclick="return MainLayOut_SearchChange(this);"><button>검색하기</button></span>
        <!-- Global Search -->
        <form name="totalSearchForm" action="/totalSearch/Mariner/Index" method="get">
            <div class="box-search-global">
                <div class="inner">
                    <input type="text" name="searchTerm" value="" placeholder="검색어를 입력하세요.">
                    <span class="btn-type-search"><button>검색</button></span>
                </div>
            </div>
        </form>
        <!-- //Global Search -->
        <!-- 광고영역 -->
        @*<div class="block-ad">
                광고영역
            </div>*@
        <!-- 광고영역 -->
    </div>
</div>

<script>

    $.ajax({
        type: 'POST',
        url: "/Login/IsLogin",
        data: { },
        success: function (data, textStatus) {
            $("#Header_btnGoLogOut").hide();
            $("#Header_btnGoMyPage").hide();
            $("#Header_btnGoLogIn").hide();
            $("#Header_btnGoJoin").hide();

            if (data.IsLogin == true) {
                $("#Header_btnGoLogOut").show();
                $("#Header_btnGoMyPage").show();
            }
            else {
                $("#Header_btnGoLogIn").show();
                $("#Header_btnGoJoin").show();
            }
        }
    });

</script>

