@using Wow.Tv.FrontWeb.MenuService
@using Wow.Tv.Middle.Model.Db49.wowtv
@using Wow.Tv.Middle.Model.Db49.wowtv.Menu

@{
    MenuServiceClient menuServiceClient = new MenuServiceClient();
    string currentMenuSeq = Request["menuSeq"];

    NTB_MENU currentMenu = new NTB_MENU();
    NTB_MENU menu_1 = null;
    NTB_MENU menu_2 = null;
    NTB_MENU menu_3 = null;
    if (String.IsNullOrEmpty(currentMenuSeq) == false)
    {
        currentMenu = menuServiceClient.GetAt(int.Parse(currentMenuSeq));

        if (currentMenu.DEPTH == 2)
        {
            menu_1 = menuServiceClient.GetAt(currentMenu.UP_MENU_SEQ);
            menu_2 = currentMenu;
        }
        else if (currentMenu.DEPTH == 3)
        {
            menu_2 = menuServiceClient.GetAt(currentMenu.UP_MENU_SEQ);
            menu_3 = currentMenu;

            menu_1 = menuServiceClient.GetAt(menu_2.UP_MENU_SEQ);
        }
    }


}

<!-- Page Location -->
<div class="location-page">
    <span class="home">HOME</span>
    @if (menu_1 != null)
    {
    <span class="@(currentMenu.MENU_SEQ == menu_1.MENU_SEQ ? "current" : "")"> @menu_1.MENU_NAME</span>
    }
    @if (menu_2 != null)
    {
    <span class="@(currentMenu.MENU_SEQ == menu_2.MENU_SEQ ? "current" : "")">@menu_2.MENU_NAME</span>
    }
    @if (menu_3 != null)
    {
    <span class="@(currentMenu.MENU_SEQ == menu_3.MENU_SEQ ? "current" : "")">@menu_3.MENU_NAME</span>
    }
</div>
<!-- //Page Location -->

