@using Wow.Tv.Middle.Model.Db49.wowtv

@model NTB_BOARD_CONTENT

@{
    Layout = null;

    string wowTvScript = AppState["WowTvScript"].ToString();
    string uploadWebPath = AppState["UploadWebPath"].ToString();
}

<script>
    var boardContentSeq = "@Model.BOARD_CONTENT_SEQ";
</script>


<form id="frmSearch">
    <input type="hidden" id="hidSeq" name="seq" value="@ViewBag.Seq" />
    <input type="hidden" id="SearchType" name="SearchType" value="@ViewBag.Condition.SearchType" />
    <input type="hidden" id="SearchText" name="SearchText" value="@ViewBag.Condition.SearchText" />
    <input type="hidden" id="pageSize" name="pageSize" value="@ViewBag.Condition.PageSize" />
    <input type="hidden" id="currentIndex" name="currentIndex" value="@ViewBag.Condition.CurrentIndex" />
    <input type="hidden" name="CurrentMenuSeq" id="hidFrontMenuSeq" value="@ViewBag.Condition.CurrentMenuSeq" />
    <input type="hidden" id="BOARD_CONTENT_SEQ" name="BOARD_CONTENT_SEQ" value="@ViewBag.Seq" />
</form>


<!-- 목록 글 상세 영역 -->
<div class="section-area">
    <div class="box-view">
        <ul class="tit-area">
            <li><span class="obj-tit">@Wow.WowExtensionMethod.RemoveTag(Model.TITLE)</span></li>
        </ul>
        <div class="table-type1">
            <table>
                <caption>내역 상세보기</caption>
                <colgroup>
                    <col style="width:auto">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col" class="number">
                            <span class="txt-exer">@Model.USER_NAME</span>
                            <span class="txt-exer num">@Model.REG_DATE.ToString("yyyy-MM-dd")</span>
                            <span class="txt-exer">조회수 <span class="num">@Model.READ_CNT</span></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @if (Model.BLIND_YN.Equals("Y"))
                            {
                                @:관리자에 의해 비공개(삭제) 처리되었습니다.
                            }
                            else
                            {
                                @Html.Raw(Model.CONTENT)
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @if (Model.AttachFileList != null && Model.AttachFileList.Count > 0)
                            {
                                <span class="td-downfile"><a href="@($"{Model.AttachFileList[0].REAL_WEB_PATH}")" download>@Model.AttachFileList[0].USER_UPLOAD_FILE_NAME</a></span>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="btn-area mb10">
            <ul class="btn-list col3">

                @if (LoginHandler.IsLogin && LoginHandler.CurrentLoginUser.UserId.Equals(Model.REG_ID))
                {
                    <li><a href="javascript:void(0)" id="btnModify" class="btn type04 medium">수정</a></li>
                    <li><a href="javascript:void(0)" id="btnDelete" class="btn type04 medium">삭제</a></li>
                }
                <li><a href="javascript:void(0)" id="btnList" class="btn type01 medium">목록</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- //목록 글 상세 영역 -->


<div id="divReply"></div>

<script src="@wowTvScript/Broad/FeedBack/Detail.js?date=20171106150101"></script>

