@using Wow.Tv.Middle.Model.Db49.wowtv

@model Wow.Tv.Middle.Model.Common.ListModel<NTB_BOARD_CONTENT>


@{
    Layout = null;

    string wowTvScript = AppState["WowTvScript"].ToString();
}

<script>
        var totalDataCount = "@ViewBag.TotalDataCount";
        var currentIndex = "@ViewBag.currentIndex";
        var searchType = "@ViewBag.Condition.SearchType";
</script>

@{
    var searchListItem = new SelectList(
        new List<SelectListItem>
        {
            new SelectListItem { Text = "전체", Value = "ALL"},
            new SelectListItem { Text = "제목", Value = "TITLE"},
            new SelectListItem { Text = "내용", Value = "CONTENT"}
        }, "Value", "Text");


    string selectSearchType = string.IsNullOrWhiteSpace(ViewBag.Condition.SearchType) ? "ALL" : ViewBag.Condition.SearchType;

    var searchList = new SelectList(searchListItem, "Value", "Text", selectSearchType);

    var boardInfo = ViewBag.BoardInfo as NTB_BOARD;

}

<input type="hidden" id="hidFeedBackSeq" value="@Request["contentSeq"]" />
<input type="hidden" id="hidFeedBackMenuSeq" value="@ViewBag.Condition.CurrentMenuSeq" />

<!-- 검색영역 -->
<div class="search-area">
    <form id="frmSearch">
        <div class="search-basic">

            @Html.DropDownList("SearchType", searchList, new { id = "selector01" })

            <input type="text" name="SearchText" id="txtSearch" value="@ViewBag.Condition.SearchText" placeholder="검색어를 입력하세요.">
            <div class="btn-area">
                <a href="#" id="btnSearch" class="btn type03 full">검색하기</a>
            </div>
        </div>

        <input type="hidden" id="seq" name="seq" />
        <input type="hidden" id="pageSize" name="pageSize" value="10" />
        <input type="hidden" id="currentIndex" name="currentIndex" value="@ViewBag.CurrentIndex" />
        <input type="hidden" id="BOARD_SEQ" name="BOARD_SEQ" value="@boardInfo?.BOARD_SEQ" />
        <input type="hidden" name="CurrentMenuSeq" value="@ViewBag.Condition.CurrentMenuSeq" />
        <input type="hidden" name="menuSeq" value="@ViewBag.Condition.CurrentMenuSeq" />
    </form>
</div>
<!-- //검색영역 -->
<!-- 결과리스트 start -->
<div class="section-area">
    <ul class="list-type02">
        @if (ViewBag.TotalDataCount == 0)
        {
            <li>
                <a href="javascript:void(0);">
                    <p class="obj-tit type2">
                        <span class="text">게시물이 없습니다.</span>
                    </p>
                    <div>
                        <span class="txt-exer num"></span>
                    </div>
                </a>
            </li>
        }
        else
        {
            var cnt = 0;
            foreach (var item in Model.ListData)
            {

                if (!string.IsNullOrWhiteSpace(item.BLIND_YN) && item.BLIND_YN.Equals("Y"))
                {
                    <li>
                        <a href="javascript:void(0);">
                            <p class="obj-tit type2">
                                <span class="text">관리자에 의해 비공개(삭제) 처리되었습니다.</span>
                            </p>
                            <div>
                                <span class="txt-exer num"></span>
                            </div>
                        </a>
                    </li>
                }
                <li>
                    <a href="javascript:void(0);" onclick="return FeedBackIndex.GoDetail(@item.BOARD_CONTENT_SEQ);">
                        @if (item.NOTICE_YN == "Y" && cnt < 5)
                        {
                            cnt++;
                            <span class="text-icon type03">공지</span> <!-- 공지시 text-icon 추가 -->
                        }
                        <p class="obj-tit type2">
                            <span class="text">@Wow.WowExtensionMethod.RemoveTag(item.TITLE)</span>
                        </p>
                        <div>
                            <span class="txt-exer num">@item.REG_DATE.ToString("yyyy-MM-dd")</span>
                            <span class="txt-exer">조회수 <span class="num">@Html.DisplayFor(modelItem => item.READ_CNT)</span></span>
                        </div>
                    </a>
                </li>
            }
        }

    </ul>
</div>
<!--// 결과리스트 end -->
<!-- paging start -->
<div id="divPaging">
</div>
<!--// paging end -->


<!-- 버튼 영역 -->
<div class="section-area pt0 pb0">
    <div class="btn-area">
        @if (LoginHandler.IsLogin == true)
        {
            <a href="#" id="btnAdd" class="btn type01">등록</a>
        }
        else
        {
            <a href="#" id="btnGoLogin" class="btn type01">등록</a>
        }
    </div>
</div>
<!-- //버튼 영역 -->





<script src="@wowTvScript/Broad/FeedBack/Index.js"></script>
