@model List<Wow.Tv.Middle.Model.Db49.wowtv.NTB_BOARD_COMMENT>
@{
    Layout = null;
}

@{
    Layout = null;
    string wowTvScript = AppState["WowTvScript"].ToString();
}



<!-- 댓글 영역 -->
<div class="reply-head">
    <h3><span class="icon reply-tit"></span>댓글 <span>(@Model.Count 개)</span> <a href="#none" class="icon reply-toggle">댓글 여/닫기 토글</a></h3>
</div>
<div class="reply-area">
    <!-- 입력 영역 -->
    <div class="input-area">
        <div class="box-list-contact">
            @*<a href="#none" class="icon btn-hankyung">한국경제TV 로그인</a>
            <a href="#none" class="icon btn-facebook">Facebook 로그인</a>
            <a href="#none" class="icon btn-twitter">Twitter 로그인</a>
            <a href="#none" class="icon btn-kakaostory">카카오 로그인</a>
            <a href="#none" class="icon btn-naver">네이버 로그인</a>*@
        </div>
        <p class="text">
            의견 작성을 위해 한국경제TV 계정으로 로그인 해주세요.<br />
            욕설, 비방, 모욕성의 댓글은 관리자에 의해 삭제 또는 비공개 처리 될 수 있습니다.
        </p>

        @if (LoginHandler.IsLogin)
        {
            <form id="frmComment">
                <input type="hidden" id="hidBOARD_CONTENT_SEQ" name="BOARD_CONTENT_SEQ" value="@ViewBag.BoardSeq " />

                <!-- 입력 -->
                <textarea name="CONTENT" id="txtCONTENT" class="reply" placeholder="내용을 입력하세요"></textarea>
                <!-- // 입력 -->
                <!-- 버튼 -->
                <div class="btn-area txt-r">
                    <span class="text-byte">0/<span>500</span></span>
                    <a href="javascript:void(0)" id="btnCommentSave" class="btn type02 w-auto">등록</a>
                </div>
                <!-- // 버튼 -->

            </form>
        }
    </div>
    <!-- // 입력 영역 -->
    <!-- 전체 댓글 -->
    <ul class="reply-list">
        @foreach (var item in Model)
        {
            if (item.BLIND_YN.Equals("Y"))
            {
                <li class="del-admin">
                    <!-- 관리자에 의한 비공개 (삭제)처리시 class="del-admin"추가 -->
                    <span class="icon ico-notice">알림</span>관리자에 의해 비공개 처리되었습니다.
                </li>
            }
            else
            {
                <li>
                    <!-- 닉네임 -->
                    <div class="nickname">
                        <strong class="name">@item.NickName</strong>
                        <span class="data">@item.REG_DATE.ToString("yyyy-MM-dd") <span> @item.REG_DATE.ToString("yyyy-MM-dd HH:mm:ss")</span></span>
                    </div>
                    <!-- // 닉네임 -->
                    <!-- 댓글 -->
                    <div class="reply-text">
                        @item.CONTENT
                    </div>
                    <!-- 댓글 -->
                    <!-- 버튼 -->
                    <div class="btn-area txt-r">
                        @if (LoginHandler.IsLogin && LoginHandler.CurrentLoginUser.UserId.Equals(item.REG_ID))
                        {
                        <a href="javascript:void(0)" onclick="ReplyList.ShowUpdate('@item.COMMENT_SEQ', this)" class="btn type04 w-auto">수정</a>
                        <a href="javascript:void(0)" onclick="ReplyList.CommentDelete('@item.COMMENT_SEQ')" class="btn type04 w-auto">삭제</a>
                        }
                    </div>
                    <!-- // 버튼 -->
                </li>

                <li style="display:none;">
                    <!-- 닉네임 -->
                    <div class="nickname">
                        <strong class="name">@item.NickName</strong>
                        <span class="data">@item.REG_DATE.ToString("yyyy-MM-dd") <span> @item.REG_DATE.ToString("yyyy-MM-dd HH:mm:ss")</span></span>
                    </div>
                    <!-- // 닉네임 -->
                    <!-- 댓글 -->
                    <div class="reply-text">
                        <textarea id="@item.COMMENT_SEQ" class="reply" placeholder="내용을 입력하세요">@item.CONTENT</textarea>
                    </div>
                    <!-- 댓글 -->
                    <!-- 버튼 -->
                    <div class="btn-area txt-r">
                        @if (LoginHandler.IsLogin && LoginHandler.CurrentLoginUser.UserId.Equals(item.REG_ID))
                        {
                            <a href="javascript:void(0)" onclick="ReplyList.CommentUpdate('@item.COMMENT_SEQ')" class="btn type04 w-auto">등록</a>
                        }
                    </div>
                    <!-- // 버튼 -->
                </li>
            }
        }
    </ul>
    <!-- 전체 댓글 -->
</div>
<!-- //댓글 영역 -->


<!-- Reply Block -->
<script src="@wowTvScript/Broad/FeedBack/ReplyList.js"></script>
