@using Wow.Tv.Middle.Model.Db35.chinaguide.Article


@{
    string wowTvScript = AppState["WowTvScript"].ToString();

    List<ArticleInfo> list1 = ViewBag.List1;
    List<ArticleInfo> list2 = ViewBag.List2;
    List<ArticleInfo> list3 = ViewBag.List3;
    List<ArticleInfo> list4 = ViewBag.List4;
    List<ArticleInfo> list5 = ViewBag.List5;
    List<ArticleInfo> list6 = ViewBag.List6;
    List<ArticleInfo> list7 = ViewBag.List7;

    string videoContent = ViewBag.VideoContent;

    int indexNum = 1;
}


@section scripts{
    <script src="@wowTvScript/Finance/China/Index.js?date=20171012160000"></script>
}


<section class="container">

    <div class="box-news-inter">
        <div>
            <!-- news tab start -->
            <h3 class="tit-line mlr15 bdt-none bdb-none"><a href="http://hkchina.wowtv.co.kr/@("@")page/newsTotal.asp?p_market=SH" class="ico-change">뉴스</a></h3>
            <div class="tab-area tab-btn">
                <ul>
                    <li class="on" style="width: 25%;"><a href="javascript:void(0)" onclick="return China_Index.BindData(this, 'Total');">종합</a></li>
                    <li style="width: 25%;"><a href="javascript:void(0)" onclick="return China_Index.BindData(this, 'Market');">시황</a></li>
                    <li style="width: 25%;"><a href="javascript:void(0)" onclick="return China_Index.BindData(this, 'Event');">종목</a></li>
                    <li style="width: 25%;"><a href="javascript:void(0)" onclick="return China_Index.BindData(this, 'Network');">경제망뷰</a></li>
                </ul>
            </div>
            <div class="tab-body">
                <div class="tab-cont on">                    
                    <div class="section-area pd0">
                        <!-- 종합 start -->
                        <ul id="ulTotal" class="list-type-todayNew type01">                           
                            @foreach (var item in list1)
                            {
                                <li>
                                    <a href='http://hkchina.wowtv.co.kr/@("@")page/newsTotal.asp?p_market=SH&b_idx=@item.NewsNO'>@item.Title</a>
                                </li>
                            }                           
                        </ul>
                        <!--// 종합 end -->
                        <!-- 시황 start -->
                        <ul id="ulMarket" class="list-type-todayNew type01" style="display:none;">
                            @foreach (var item in list2)
                            {
                                <li>
                                    <a href='http://hkchina.wowtv.co.kr/@("@")page/newsTotal.asp?p_market=SH&b_idx=@item.NewsNO'>@item.Title</a>
                                </li>
                            }
                        </ul>
                        <!--// 시황 end -->
                        <!-- 종목 start -->
                        <ul id="ulEvent" class="list-type-todayNew type01" style="display:none;">
                            @foreach (var item in list3)
                            {
                                <li>
                                    <a href='http://hkchina.wowtv.co.kr/@("@")page/newsTotal.asp?p_market=SH&b_idx=@item.NewsNO'>@item.Title</a>
                                </li>
                            }
                        </ul>
                        <!--// 종목 end -->
                        <!-- 경제망뷰 start -->
                        <ul id="ulNetwork" class="list-type-todayNew type01" style="display:none;">
                            @foreach (var item in list4)
                            {
                                <li>
                                    <a href='http://hkchina.wowtv.co.kr/@("@")page/newsTotal.asp?p_market=SH&b_idx=@item.NewsNO'>@item.Title</a>
                                </li>
                            }                           
                        </ul>
                        <!--// 경제망뷰 end -->
                        
                    </div>
                    
                </div>
                
            </div>
            <!--// news tab end  -->

        <div>
            <!-- 관심주 tab start -->
            <h3 class="tit-line mlr15 bdt-none bdb-none"><a href="http://hkchina.wowtv.co.kr/@("@")page/issueList.asp" class="ico-change">관심주</a></h3>
            <div class="tab-area tab-btn">
                <ul>
                    <li class="on" style="width: 50%;"><a href="javascript:void(0)" onclick="return China_Index.BindData(this, 'Attention');">경제망 관심주</a></li>
                    <li style="width: 50%;"><a href="javascript:void(0)" onclick="return China_Index.BindData(this, 'Enterprise');">경제망 기업분석</a></li>
                </ul>
            </div>
            <div class="tab-body">
                <div class="tab-cont on">
                    <!-- 경제망 관심주, 경제망 기업분석 start -->
                    <div class="section-area">
                        <div class="table-type1 type05 mb10">
                            <table>
                                <caption>경제망 관심주, 경제망 기업분석 상세</caption>
                                <colgroup>
                                    <col style="width:10%">
                                    <col style="width:40%">
                                    <col style="width:10%">
                                    <col style="width:*">
                                </colgroup>
                                <tbody id="ulAttention">
                                    @{ indexNum = 1;}
                                    @foreach (var item in list5)
                                    {
                                        <tr>
                                            <td><span class="num">@indexNum.ToString()</span></td>
                                            <td class="txt-l">@item.Title</td>
                                            <td class="txt-l"><span class="num font-color07">@item.StockCode</span></td>
                                            <td class="txt-r">@item.StockNM</td>
                                        </tr>
                                        indexNum += 1;
                                    }                                    
                                </tbody>
                                <tbody id="ulEnterprise" style="display:none;">
                                    @{ indexNum = 1;}
                                    @foreach (var item in list6)
                                    {
                                        <tr>
                                            <td><span class="num">@indexNum.ToString()</span></td>
                                            <td class="txt-l">@item.Title</td>
                                            <td class="txt-l"><span class="num font-color07">@item.StockCode</span></td>
                                            <td class="txt-r">@item.StockNM</td>
                                        </tr>
                                        indexNum += 1;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--// 경제망 관심주, 경제망 기업분석 end -->
                </div>                
            </div>
            <!--// 관심주 tab end  -->
        </div>
    </div>

    <!-- 오늘의 리포트 start -->
    <h3 class="tit-line mlr15 bdt-none bdb-none"><a href="http://hkchina.wowtv.co.kr/@("@")page/analysisReport.asp" class="ico-change">오늘의 리포트</a></h3>
    <div class="section-area pd0">
        <ul class="list-type-todayNew mt0">
            @foreach (var item in list7)
            {
                <li><a href="http://hkchina.wowtv.co.kr/@("@")page/analysisReport.asp?p_market=SH&b_idx=@item.NewsNO">@item.Title</a></li>
            }
            @*<li><a href="javascript:void(0)">44일본 닛케이 오전장 1.00% 상승 마감 일본 닛케이 오전장 1.00% 상승 마감 일본 닛케이 오전장 1.00% 상승 마감</a></li>
            <li><a href="javascript:void(0)">큰 손들이 선택한 스탁론 브랜드 – 와우스탁론</a></li>
            <li><a href="javascript:void(0)">구글 “목표는 ‘AI 기술의 민주화’… 누구에게나 혜택”</a></li>
            <li><a href="javascript:void(0)">미래에셋생명, 변액보험 전담 콜센터 개설</a></li>
            <li><a href="javascript:void(0)">동북아 전략경쟁 구도 넘지 못한 안보리 대북제재</a></li>*@
        </ul>
    </div>
    <!--// 오늘의 리포트 end  -->
    <!-- 중국경제망 이슈 start -->
    <h3 class="tit-line mlr15 bdt-none bdb-none"><a href="http://hkchina.wowtv.co.kr/@("@")page/networkView.asp" class="ico-change">중국경제망 이슈</a></h3>
    <!--// 중국경제망 이슈 end  -->
    <!-- ad start -->
    <div class="section-area mb50">
        <div class="bann-img">
            @*<a href="javascript:void(0)"><img src="../../images/temp/temp_finance06.png" alt="bannerImg"></a>*@
            <iframe width="100%" height="370" src="https://www.youtube.com/embed/@videoContent" frameborder="0" allowfullscreen=""></iframe>
        </div>
    </div>
    <!--// ad end -->



</section>

