
@using Wow.Tv.Middle.Model.Db22.stock;

@model List<usp_web_getVirtualMoney_Result>

@{
    Layout = null;
}
    <div class="bitcoin-area">
        @* 가상화폐 롤링 *@
        <div class="bitcoin-box">
            <div class="box">
                <ul class="bit-list">
                    @foreach (var item in Model)
                    {
                        string upDown = "";
                        if(item.chgType == "1" || item.chgType == "2")
                        {
                            upDown = "up";
                        }
                        else if (item.chgType == "4" || item.chgType == "5")
                        {
                            upDown = "down";
                        }
                        <li class="@upDown"><strong class="tit">@item.korName</strong> <p class="text"> <span>@item.TradePrice.ToString("#,#.###")</span>(<span>@item.chgRate%</span>)</p></li>
                    }
                </ul>
            </div>
        </div>
        @* 가상화폐 상세 *@
        <a href="javascript:void(0)" class="bitcoin-btn" title="비트코인 상세보기">버튼</a>
        <div class="bitcoin-detail">
            <div class="title"><strong>가상화폐 시세</strong><a href="javascript:GoVirtualCurrencyNews()"> 관련기사 보기 </a></div>
            <div class="bitcoin-list">
                <ul>
                    @foreach (var item in Model)
                    {
                        string upDown = "";
                        if (item.chgType == "1" || item.chgType == "2")
                        {
                            upDown = "up";
                        }
                        else if (item.chgType == "4" || item.chgType == "5")
                        {
                            upDown = "down";
                        }

                        <li class="@upDown"><strong class="tit"><span class="icon @item.stockCode.ToLower()"></span>@item.korName</strong> <p class="text"> <span>@item.TradePrice.ToString("#,#.###")</span>(<span>@item.chgRate%</span>)</p></li>
                    }
                </ul>
            </div>
            <div class="btn-box">
                <span>정보제공 : 빗썸</span>
                <a href="javascript:void(0)" class="close-btn">닫기</a>
            </div>
        </div>
    </div>

