@using Wow

@{
    Layout = null;
    string wowTvStyle = AppState["WowTvStyle"].ToString();
}
@if (Model != null && Model.Count > 0)
{
<h2 class="title01">핫한 뉴우스</h2>
<div>
    <a href="javascript:NewsCommon.GoNewsRead('@Model[0].ARTICLEID')">
        <strong>@Model[0].TITLE</strong>
        <p>@WowExtensionMethod.RemoveTagAndReplace(MvcHtmlString.Create(Model[0].CONTENTS_CUT).ToString(), 150, true)</p>
    </a>
</div>
<ul>
    @for (var i = 1; i < Model.Count; i++)
    {
        <li>
            <a href="javascript:NewsCommon.GoNewsRead('@Model[i].ARTICLEID')">
                @WowExtensionMethod.NewsGugunIcon(Model[i].GUBUN_NAME)
                @Model[i].TITLE
            </a>
        </li>
    }
</ul>
}
else
{
    <h2 class="title01">핫한 뉴우스</h2>
    <ul>
        <li>뉴스가 없습니다.</li>
    </ul>
}
