@using Wow
@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.Middle.Model.Db49.Article

@model ListModel<NUP_NEWS_MAIN_OPINION_SELECT_Result>

@{
    Layout = null;

    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();
    string uploadWebPathRoot = AppState["UploadWebPathRoot"].ToString();
    string uploadPlanArticlePath = AppState["UploadPlanArticlePath"].ToString();

    string opinionUploadPath = uploadWebPathRoot + uploadPlanArticlePath;
}

<h2 class="title01">오피니언</h2>
<div>
@foreach (var item in Model.ListData)
{
    int index = Model.ListData.IndexOf(item);

    if (index < 2)
    {
    <div style="cursor:pointer;" onclick="return NewsCommon.GoNewsDetailView('opinion', '', '@item.CLASS', '@item.ARTICLEID')">
        <div>
            @if (string.IsNullOrEmpty(item.COLUMNLIST_PHOTO))
            {
                <img src="@WowExtensionMethod.NoImageProfile("82")" alt="">
            }
            else
            {
                <img src="@(opinionUploadPath + item.COLUMNLIST_PHOTO)" alt="" onerror="this.src='@WowExtensionMethod.NoImageProfile("82")'">
            }
            <span>@item.COLUMN_GUBUN<br>@item.COLUMNLIST_NAME</span>
        </div>
        <p>@WowExtensionMethod.SubStringWidthPad(item.TITLE, 44)</p>
        @*<span>@WowExtensionMethod.SubStringWidthPad(item.CONTENTS, 50)</span>*@
        <span>@WowExtensionMethod.RemoveTagAndReplace(MvcHtmlString.Create(item.CONTENTS).ToString(), 54, true)</span>
    </div>
    }
}
</div>
