@using Wow.Fx
@using Wow.Tv.FrontWeb.Helper
@model Dictionary<string, int?>

@{

    string rootUrl = AppState["RootUrl"].ToString();
}

@section ScriptImport
{
    <script type="text/javascript" src="@Url.Content($"{rootUrl}/Scripts/example/meunlist.js")"></script>
    <script type="text/javascript" src="@Url.Content($"{rootUrl}/Scripts/common.js")"></script>
}


@foreach (var item in Model)
{
    <p>@item.Key</p>

}


<div class="form-group">
    @Html.WOWPhoneControl("txtTelno", PhoneKind.Telephone, new { column = "Telno" }, null)
    @*<p>전화번호</p>
    @Html.WOWPhoneControl("txtTelno", PhoneKind.Telephone, new {column = "Telno" }, null)
    <p>핸드폰</p>
    @Html.WOWPhoneControl("txtMobile", PhoneKind.Mobile, new {column = "Mobile"}, null)
    <br />
    <button type="button" class="btn btn-success" id="btnGetTelno">위에 정보 가져오기</button>
    <input id="lblTelno" type="text" class="form-control" name="lblTelno" readonly="readonly">
    <input id="lblMobile" type="text" class="form-control" name="lblMobile" readonly="readonly">
    <p>전체</p>
    @Html.WOWPhoneControl("txtTelephoneAll", PhoneKind.All, new { column = "TelephoneAll" }, null)

    <p>ACTION_CDDE 조회</p>
    @Html.WOWCodeCombo(ComboType.Required, "cboAction", "ACTION_CDDE", "CODE_NAME", "COMMON_CODE")
    <br/>
    <br/>
    <p>CONTENT_TYPE 조회</p>
    @Html.WOWCodeCombo(ComboType.Normal, "cboContent", "CONTENT_TYPE", "CODE_NAME", "COMMON_CODE")
    <br/>
    <br/>
    <p>MENU_CHANNEL 조회</p>
    @Html.WOWCodeCombo(ComboType.Normal, "cboChannel", "MENU_CHANNEL", "CODE_NAME", "COMMON_CODE")
    <br/>
    <br/>
    <p>CODE_NAME 조회 및 전체 추가</p>
    @Html.WOWCodeCombo(ComboType.Normal, "cboNameType1", "PART", "CODE_NAME", "COMMON_CODE", new WOWComboItem {Value = "0000", Text = "전체"})


    <br/>
    <p>CODE_NAME 조회 및 전체,선택안함 추가</p>
    @Html.WOWCodeCombo(ComboType.Normal, "cboNameType2", "PART", "CODE_NAME", "COMMON_CODE", null, new WOWComboItem {Value = "0000", Text = "전체"}, new WOWComboItem {Value = "0011", Text = "선택안함"})*@
</div>
<input id="txtcode" type="text" class="form-control" name="txtcode" readonly="readonly">
<input id="txtcodename" type="text" class="form-control" name="txtcodename" readonly="readonly">
