@using Wow
@{ 
    Layout = null;
}

@if (Model != null && Model.Count > 0)
{
    <div id="@Model[0].ARTICLEID" class="hotNewsList">
        <strong>@Model[0].TITLE</strong>
        <p>@WowExtensionMethod.RemoveTag(WowExtensionMethod.RemoveTagAndReplace(Model[0].CONTENTS_CUT, 0, true))</p>
    </div>
    <ul>
        @for (var i = 1; i < Model.Count; i++)
        {
            <li id="@Model[i].ARTICLEID" class="hotNewsList">
                @WowExtensionMethod.NewsGugunIcon(Model[i].GUBUN_NAME)
                @Model[i].TITLE
            </li>
        }
    </ul>
}                 