@using Wow

@{ 
    Layout = null;
    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();
}

@section scripts{
    
}

<div class="contain-list-news">
    @if (Model.ListData != null && Model.ListData.Count > 0)
    {
        foreach (var item in Model.ListData)
        {
            <div class="article-news-list">
                <div class="contian-news photo-right">
                    <div class="photo-news">
                        <img src="@WowExtensionMethod.NewsThumbnailPath("11S", item.THUMBNAIL_FILENM, item.VOD_NUM, item.IMAGE_DIR, item.IMAGE_FILE, item.ARTDATE)" onerror="this.src='@WowExtensionMethod.NewsThumbnailOnError("11S")'" alt="">
                        @if (item.VOD_NUM != null && item.VOD_NUM > 0)
                        {
                            <span class="icon-play medium"></span>
                        }
                    </div>
                    <a href="javascript:NewsCommon.GoNewsRead('@item.ARTICLEID')">
                        <p class="title-text">@item.TITLE<span class="date">@item.ARTDATE.ToString("yyyy-MM-dd HH:mm")</span></p>
                        <p class="main-text">@WowExtensionMethod.RemoveTag(item.CONTENTS_CUT)</p>
                    </a>
                    <div class="footer-text">
                        <p class="category-text">뉴스 &gt; @item.SECTION_NAME</p>
                        <span class="division-bar"></span>
                        한국경제TV
                        <span class="division-bar"></span>
                        @if (!string.IsNullOrEmpty(item.TAG))
                        {
                            <div class="tags">
                                @MvcHtmlString.Create(WowExtensionMethod.NewsHashTag(item.TAG, 3, ""))
                            </div>
                            <span class="division-bar"></span>
                        }
                        <div class="reacts" id="artLikeit_@item.ARTICLEID"><script>ReporterDetail.GetArticelLikeit('@item.ARTICLEID')</script></div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="article-news-list">
            <div class="contian-news">
                <div class="contian-news" style="vertical-align:middle;text-align:center;">
                    최신기사가 없습니다.
                </div>
            </div>
        </div>
    }
</div>
<script>
    $('#totalDataCount').val("@(Model.ListData.Count == 0 ? 0 : Model.ListData[0].ROWCNT)");
</script>