@using System.Configuration
@using Wow
@using Wow.Tv.Middle.Model.Db49.Article
@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.FrontWebMobile.Areas.Component.Models
@using Wow.Tv.FrontWebMobile.Areas.NewsCenter.Models

@{
    //포토뉴스
    bool isPhotoNews = ViewBag.isPhotoNews;
    //기자 페이지 사용 유무
    bool isReporter = ViewBag.isReporter;
    //종목 정보 유무
    bool isStock = ViewBag.isStock;

    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();

    if(isPhotoNews)
    {
        AppState["BodyClass"] = "photo sub";
    }
    else
    {
        AppState["BodyClass"] = "news sub";
    }

    NUP_NEWS_READ_SELECT_Result newsRead = Model;

    List<String> cardNewsImageList = new List<string>();
    if (newsRead != null)
    {
        if (newsRead.CARDNEWS != null && newsRead.CARDNEWS.Equals("Y"))
        {
            cardNewsImageList = WowExtensionMethod.HtmlSourceToImgSrclist(newsRead.CONTENT);
        }
    }

    string titleReplace = string.Empty;
    if (newsRead != null)
    {
        titleReplace = HttpUtility.HtmlDecode(newsRead.TITLE);
        titleReplace = MvcHtmlString.Create(newsRead.TITLE).ToString().Replace("&#39;", "＇").Replace("&quot;", "＂").Replace("'", "＇").Replace("\"", "＂");
    }

    SnsLoginParameter snsLoginParameter = new SnsLoginParameter();
    snsLoginParameter.LoginActionType = SnsLoginActionType.AutoEasyLogin;
    snsLoginParameter.NaverReturnFunction = "GetAWordToReporter.SnsPopupResult";
    snsLoginParameter.KakaoReturnFunction = "GetAWordToReporter.SnsPopupResult";
    snsLoginParameter.FacebookReturnFunction = "GetAWordToReporter.SnsPopupResult";
    snsLoginParameter.KakaoJavascriptIncrude = false;
}
 
@section metas{

    @if (newsRead != null)
    {
        <meta name="title" content="@titleReplace" />
        <meta name="description" content="@WowExtensionMethod.RemoveTagAndReplace(MvcHtmlString.Create(newsRead.CONTENT).ToString(), 200, true)" />
        <meta property="og:locale" content="kor" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="@titleReplace" />
        <meta property="og:url" content="http://@ConfigurationManager.AppSettings["DomainUrlFront"]/NewsCenter/News/Read?articleId=@newsRead.ARTICLEID" />
        <meta property="og:image" content="@newsRead.IMGLINK" />
        <meta property="og:description" content="@WowExtensionMethod.RemoveTagAndReplace(MvcHtmlString.Create(newsRead.CONTENT).ToString(), 200, true)">
    }
}

@section scripts{
    <script type="text/javascript" src="@wowTvScript/NewsCenter/Common.js"></script>
    <script type="text/javascript" src="@wowTvScript/NewsCenter/News/Read.js"></script>
    <script type="text/javascript" src="@wowTvScript/NewsCenter/News/ArticleComment.js"></script>
    <script type="text/javascript" src="@wowTvScript/clipboard.min.js"></script>
    <script type="text/javascript" src="@wowTvScript/Popup/SharesPopup.js"></script>

    <script type="text/javascript" src="@wowTvScript/kakao.min.js"></script>
    <script type="text/javascript" src="@wowTvScript/Shares.js"></script>

    @* 당신에게 맞는 추천 뉴스(관리자 설정) 2018-01-29 검색엔진 부하문제로 임시 제거*@
    @if (ViewBag.viewPageRecomActive == "X")
    {
        <script src="@wowTvScript/NewsCenter/NewsReadSearchApi.js"></script>
    }
    
    @* VOD 관련 뉴스 *@
    @if (newsRead != null && newsRead.VOD_NUM != null && newsRead.VOD_NUM > 0)
    {
        <script src="@wowTvScript/NewsCenter/NewsReadMovieSearchApi.js"></script>
    }

}

@section modalDiv{
    <div id="divSubScriptPopup" class="modal fade" role="dialog"></div>
    <div id="divSharesPopup" class="modal fade" role="dialog"></div> 
}

@section googleAnalyticsScript{
@if (newsRead != null)
{
    /*
      ※ 기존 / 신규 페이지 - 모두 적용필요
      ※ 일부 제공사만 아닌 전체 제외처리 적용요

      * 파라미터명 (resource)  

      -- 카카오플러스친구(kakaopf)
      -- 트위터(twitter)
      -- 페이스북(facebook)
      -- 네이버포스트(post)
    */
    if (Request["resource"] == null || (Request["resource"] != "kakaopf" && Request["resource"] != "twitter" && Request["resource"] != "facebook" && Request["resource"] != "post"))
    {
        string writerDept = (newsRead.WRITER_DEPT == null ? "" : newsRead.WRITER_DEPT.ToUpper());
        string writerId = (newsRead.WRITER_ID == null ? "" : newsRead.WRITER_ID.ToUpper());

        //와우스타
        if (writerDept.Equals("D0130"))
        {
                @Html.Raw("        ga('create', 'UA-51494055-34', 'auto', 'newsOffer_D0130_Tracker');");
                @Html.Raw("        ga('newsOffer_D0130_Tracker.send', 'pageview'); ");
            }
            //와우스포츠
            else if (writerDept.Equals("D0131"))
            {
                @Html.Raw("        ga('create', 'UA-51494055-37', 'auto', 'newsOffer_D0131_Tracker');");
                @Html.Raw("        ga('newsOffer_D0131_Tracker.send', 'pageview'); ");
            }
            //맥심코리아
            else if (writerDept.Equals("D0135") || writerDept.Equals("D0137"))
            {
                @Html.Raw("        ga('create', 'UA-51494055-36', 'auto', 'newsOffer_D0135_Tracker');");
                @Html.Raw("        ga('newsOffer_D0135_Tracker.send', 'pageview'); ");
            }
            //디지털 머니
            else if (writerDept.Equals("D0141"))
            {
                @Html.Raw("        ga('create', 'UA-51494055-25', 'auto', 'newsOffer_D0141_Tracker');");
                @Html.Raw("        ga('newsOffer_D0141_Tracker.send', 'pageview'); ");
            }
            //디스타
            else if (writerDept.Equals("D0143"))
            {
                @Html.Raw("ga('create','UA-51494055-47','auto','newsOffer_D0143_Tracker');");
                @Html.Raw("ga('newsOffer_D0143_Tracker.send','pageview');");
            }
            //라이온봇-(Mobile)
            else if (writerDept.Equals("D0144"))
            {
                @Html.Raw("        ga('create', 'UA-51494055-50', 'auto', 'newsOffer_D0144_Tracker');");
                @Html.Raw("        ga('newsOffer_D0144_Tracker.send', 'pageview'); ");
            }


            //김주리
            if (writerId.Equals("F0616"))
            {
                @Html.Raw("        ga('create', 'UA-51494055-39', 'auto', 'newsFree_F0616_Tracker');");
                @Html.Raw("        ga('newsFree_F0616_Tracker.send', 'pageview'); ");
            }
            //김현경
            else if (writerId.Equals("E4409"))
            {
                @Html.Raw("        ga('create', 'UA-51494055-41', 'auto', 'newsFree_F0537_Tracker');");
                @Html.Raw("        ga('newsFree_F0537_Tracker.send', 'pageview'); ");
            }
            //이송이
            else if (writerId.Equals("F0721"))
            {
                @Html.Raw("        ga('create', 'UA-51494055-43', 'auto', 'newsFree_F0721_Tracker');");
                @Html.Raw("        ga('newsFree_F0721_Tracker.send', 'pageview'); ");
            }
            //이영호
            else if (writerId.Equals("F0617"))
            {
                @Html.Raw("        ga('create', 'UA-51494055-45', 'auto', 'newsFree_F0617_Tracker');");
                @Html.Raw("        ga('newsFree_F0617_Tracker.send', 'pageview'); ");
        }


        //TV10 + 모바일웹 버전 스크립트
        if (Request["subMenu"] != null && Request["subMenu"] == "tvtenplus")
        {
                @Html.Raw("        ga('create', 'UA-51494055-28', 'auto', 'newsFree_tvtenplus_Tracker');")
                @Html.Raw("        ga('newsFree_tvtenplus_Tracker.send', 'pageview'); ")
            }


    }
}
}

@section adTraceIDAddArea
{
    @if (newsRead != null)
    {
        if (Request["resource"] == null || (Request["resource"] != "kakaopf" && Request["resource"] != "twitter" && Request["resource"] != "facebook" && Request["resource"] != "post"))
        {
            string writerDept = (newsRead.WRITER_DEPT == null ? "" : newsRead.WRITER_DEPT.ToUpper());

            //와우스타
            if (writerDept.Equals("D0130"))
            {
                @Html.Raw("<iframe src='http://ad.wowtv.co.kr/NetInsight/html/wowtv/wowtv_newscenter/right@wowstar_inlink_ad' width='1' height='1' frameborder='0' scrolling='no' topmargin='0' leftmargin='0' marginwidth='0' marginheight='0'></iframe>");
            }
            //와우스포츠
            else if (writerDept.Equals("D0131"))
            {
                @Html.Raw("<iframe src='http://ad.wowtv.co.kr/NetInsight/html/wowtv/wowtv_newscenter/wowtv_n_newscenter@wowsports_inlink_ad' width='1' height='1' frameborder='0' scrolling='no' topmargin='0' leftmargin='0' marginwidth='0' marginheight='0'></iframe>");
            }
            //맥심코리아
            else if (writerDept.Equals("D0135") || writerDept.Equals("D0137"))
            {
                @Html.Raw("<iframe src='http://ad.wowtv.co.kr/NetInsight/html/wowtv/wowtv_newscenter/wowtv_n_newscenter@maxim_inlink' width='1' height='1' frameborder='0' scrolling='no' topmargin='0' leftmargin='0' marginwidth='0' marginheight='0'></iframe>");
            }
        }
    }
}


@section hardCodingAdArea{
    @if (ViewBag.HardCodingAdList != null)
    {
        foreach (var item in ViewBag.HardCodingAdList)
        {
            if (item.AD_GUBUN == "MOBILE" && !string.IsNullOrEmpty(item.AD_CONTENT))
            {
                @MvcHtmlString.Create(item.AD_CONTENT);
            }
        }
    }
}

@if (newsRead == null || newsRead.TITLE == null)
{
    <div class="section-area line">
        <div class="news-title">
            <p class="tiele" style="text-align:center;padding-top:10px">
                해당기사가 삭제되었거나 보유기간이 종료되었습니다.
            </p>
        </div>
        <div class="box-btn-area">
            <div class="btn-area inner-left news-util" style="padding-top:20px">
                <a href="javascript:NewsCommon.GoNewsMain();" class="btn type04"><span class="icon ico-list"></span>뉴스 홈</a>
            </div>
        </div>
    </div>
}
else
{
    @* 티비텐 플러스 배너 *@
    if (Request["subMenu"] == "tvtenplus")
    {
        <div class="banner-area type2">
            @*<img src="@wowTvStyle/images/news/banner_tv10_plus1.jpg" alt="티비텐 플러스 광고배너 이미지">*@
            <iframe width="100%" height="229" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no" bordercolor="#000000" src="http://nvapi.feeldmc.com/ad/p/in/v1_0/evnt?slotid=stw_koreawowtv_24" title="AD Tag"></iframe>
        </div>
        <div class="section-area">
            <div class="btn-area pd15">
                <a href="https://www.tv10.co.kr/default_typeA.asp" class="btn type04" target="_blank"><span class="icon-home"></span>티비텐플러스</a>
            </div>
        </div>

        <div class="banner-area type2 pb15">
            @*<img src="@wowTvStyle/images/news/banner_tv10_plus2.jpg" alt="티비텐 플러스 MCN, UCC 창작 공모전 광고배너 이미지">*@
            <iframe width="100%" height="100px;"  marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no" bordercolor="#000000" src="http://nvapi.feeldmc.com/ad/p/in/v1_0/evnt?slotid=stw_koreawowtv_26" title="AD Tag"></iframe>
        </div>
    }
    <input type="hidden" id="hidNewsReadMovieVodNum" value="@newsRead.VOD_NUM" />

    @* Ad Area *@
    @* ①buz 파라미터가 아래와 같은 경우 광고영역을 비노출시킴.(2개있음) *@
    if (Request["buz"] != "hkwowtv")
    {

        <div class="news-list-box">
            <div class="banner-area">
                <iframe src='http://ad.about.co.kr/mad/html/wowtvad1/main01/top_middle' scrolling='no' frameborder='0' width='100%' height='100px'></iframe>
            </div>
        </div>
    }

    <div class="section-area line">
        <div class="news-title @(isPhotoNews ? "mb10" : "")">
            <form id="frm" name="frm" method="post" onsubmit="return false;">
                <input type="hidden" name="menuSeq" id="menuSeq" value="@Request["menuSeq"]" />
                <input type="hidden" name="subMenu" id="subMenu" value="@Request["subMenu"]" />
                <input type="hidden" name="Class" id="Class" value="@Request["Class"]" />
                <input type="hidden" name="SearchWowCode" id="SearchWowCode" value="@Request["wowcode"]" />
                <input type="hidden" name="SearchSection" id="SearchSection" value="@Request["SearchSection"]" />
                <input type="hidden" name="StartDate" id="StartDate" value="@Request["StartDate"]" />
                <input type="hidden" name="EndDate" id="EndDate" value="@Request["EndDate"]" />
                <input type="hidden" name="SearchComp" id="SearchComp" value="@Request["SearchComp"]" />
                <input type="hidden" name="currentIndex" id="currentIndex" value="@Request["currentIndex"]" />
                <input type="hidden" name="Page" id="Page" value="@Request["Page"]" />
                <input type="hidden" name="articleId" id="articleId" value="@newsRead.ARTICLEID" />
                <input type="hidden" name="reporter_Id" id="reporter_Id" value="@newsRead.WRITER_ID" />
                <input type="hidden" name="tag" id="tag" value="@newsRead.TAG" />
            </form>

            @* 제목 *@
            <p class="tiele">
                @if (!String.IsNullOrEmpty(newsRead.GUBUN_NAME))
                {
                    @MvcHtmlString.Create(WowExtensionMethod.NewsMobileGubunIcon(newsRead.GUBUN_NAME))
                }
                @HttpUtility.HtmlDecode(newsRead.TITLE)
            </p>
            @*구글번역**@
            <div class="txt-r">
                <div id="google_translate_element"></div>
            </div> 
            @* 입력/수정, 페이스북 노출, +/- 버튼 *@
            <div class="repeat-area">
                @* 입력/수정 *@
                <div class="data-list">
                    <div class="row">
                        <div><span>입력</span> @newsRead.ARTDATE.Value.ToString("yyyy-MM-dd HH:mm")</div>
                        @if (newsRead.ARTUPDATE != null)
                        {
                            <div><span>수정</span> @newsRead.ARTUPDATE.Value.ToString("yyyy-MM-dd HH:mm")</div>
                        }
                    </div>
                    <div class="row" >
                        <div style="display:none"><span>페이스북 노출 </span><span id="faceBookNum">0</span></div>
                    </div>
                </div>
                @* 내용 글자 크기 변경 *@
                <ul class="repeat">
                    <li><a href="javascript:void(0)" onclick="ExpandFont('divNewsContent')"></a></li>
                    <li><a href="javascript:void(0)" onclick="ReduceFont('divNewsContent')"></a></li>
                </ul>
            </div>
            @* 아이콘 *@
            <div class="icon-box">
                @* 핀하기/ 공유 / 댓글 링크 *@
                <ul class="icon-list">
                    @* 뉴스핀 *@
                    @if (LoginHandler.IsLogin)
                    {
                        <li><a href="javascript:co.PopupScrap('News', '@titleReplace', '@newsRead.ARTICLEID','@Request["menuSeq"]', '@Request.Url.AbsoluteUri.ToString()');" class="icon"></a></li>
                    }
                    else
                    {
                        <li><a href="javascript:LoginConfirm();" class="icon"></a></li>
                    }
                    <li><a href="javascript:PopupSharesNCopyLink('','@titleReplace','');" class="icon type02"></a></li>
                    <li><a href="#divComment" class="icon type03"></a></li>
                </ul>
                @* 구독하기 / 목록 *@
                <div class="btn-area list">
                @if (isReporter)
                {
                    <a href="javascript:PopupSubScript('@newsRead.REPORTER_ID');" class="btn"><span class="icon check">1</span> 구독하기</a>
                }
                    <a href="javascript:NewsRead.GoNewsList();" class="list-btn"></a>
                </div>
            </div>
        </div>
    </div>

    @* AD Area *@
    <div class="banner-area"><div id="AD_LIVE_AREA_26684482" style="height:25px; position:relative; left:17px; top:0px; "><iframe src="http://adexview.new-star.co.kr/adtext_mobile.php?data=2668|4482" frameborder="0" width="100%" height="25" scrolling="no"></iframe></div></div>
    <div class="banner-area"><div id="AD_LIVE_AREA_26684483" style="height:25px; position:relative; left:17px; top:0px; "><iframe src="http://adexview.new-star.co.kr/adtext_mobile.php?data=2668|4483" frameborder="0" width="100%" height="25" scrolling="no"></iframe></div></div>
    <div class="banner-area"><div id="AD_LIVE_AREA_26684484" style="height:25px; position:relative; left:17px; top:0px; "><iframe src="http://adexview.new-star.co.kr/adtext_mobile.php?data=2668|4484" frameborder="0" width="100%" height="25" scrolling="no"></iframe></div></div>

@* 관련 종목 *@
if (isStock)
{
    <div class="list-gray">
        <div class="title-area">
            <h3>관련종목</h3>
            <span class="data">@DateTime.Now.ToString("yyyy-MM-dd HH:mm")</span>
        </div>
        <ul id="ulStockArea"></ul>
    </div>
}
    
    @* 기사 내용 *@
    <div class="section-area type02">
        @* 카드뉴스 *@
        @if (newsRead.CARDNEWS != null && newsRead.CARDNEWS.Equals("Y"))
        {
            <div class="txt-r">
                <a href="javascript:void(0);" class="change-btn on"><span class="change-icon"></span>한 페이지로 보기</a>
            </div>
            <div class="swiper-container ui-slider-view card-slider">
                <div class="swiper-wrapper">
                @if (cardNewsImageList.Count > 0)
                {
                    foreach (var item in cardNewsImageList)
                    {
                        <div class="swiper-slide"><img src="@item" alt="기사 이미지"></div>
                    }
                }
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        }

        <div class="section-area">
            @* 부제목 / 동영상 / 내용 *@
            <div class="news-view">
            @* 부제목 *@
            @if (!string.IsNullOrEmpty(newsRead.SUBTITLE))
            {
                <div class="news-view-title">@MvcHtmlString.Create(newsRead.SUBTITLE)</div>
            }

            @*동영상 VOD Area *@
            @if (newsRead.VOD_NUM != null && newsRead.VOD_NUM > 0)
            {
                <div @*class="movie-area" 동영상 영역 움직이지 않게.*@>
                    @{
                        TvPlayerModel tvPlayerParameter = new TvPlayerModel();
                        tvPlayerParameter.PlayType = TvPlayTypeModel.ByScript;
                        tvPlayerParameter.AutoSize = true;
                    }
                    @Html.Partial("~/Areas/Component/Views/TvPlayer/TvPlayer.cshtml", tvPlayerParameter)
                </div>
            }

            @** 내용 **@
            @if (newsRead.CARDNEWS == null || newsRead.CARDNEWS.Equals("N"))
            {                
                <div class="news-view">
                    <div class="content-box" id="divNewsContent">
                        @MvcHtmlString.Create(WowExtensionMethod.NewsContentMobileReplace(newsRead.CONTENT))
                    </div>
                </div>
            }
            </div>

            @* AD (기사본문 하단)*@
            <script type="text/javascript" src="http://js.hnscom.com/etc/hns/mobitree_wowtv.js"></script>

            @* 기사 태그 *@
            @if (!string.IsNullOrEmpty(newsRead.TAG))
            {
                <div class="box-news-tags">
                    @MvcHtmlString.Create(WowExtensionMethod.NewsHashTag(newsRead.TAG, 3, "READ"))
                </div>
            }
            else
            {
                <div class="pt15"></div>
            }

            @*동영상 관련뉴스 Area *@
            @if (newsRead.VOD_NUM != null && newsRead.VOD_NUM > 0)
            {
            <div class="box-photoView-img-slider bg-col01 type03">
                <div class="swiper-container ui-slider">
                    <div class="swiper-wrapper mb10" id="ulNewsReadMovieRefContent"></div>
                    <!-- bullet -->
                    <div class="swiper-pagination"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
            }

            @*베스트 포토*@
            @if (isPhotoNews)
            {
                <div class="box-photoView-img-slider bg-col01 type04" id="divBestPhoto"></div>
                <div class="pt15"></div>
            }

            @* 바이라인 비노출이 아닐경우 || 파트너  *@
            @if (newsRead.IS_BYLINE.ToUpper().Equals("TRUE") || isReporter)
            {
                @* 기자 바이라인 *@
                if (isReporter)
                {
                    <div id="reporterArea"></div>
                }
                else
                {
                    if (newsRead.COMPCODE != null && newsRead.COMPCODE.Equals("WO"))
                    {
                    <div class="reporter-profile-area type2">
                        @newsRead.COMP_NAME
                        &nbsp;@newsRead.BYLINE_DEPT
                        &nbsp;@newsRead.BYLINE_NAME
                        &nbsp;@newsRead.BYLINE_POSITION
                        &nbsp;@newsRead.BYLINE_EMAIL
                    </div>
                    }
                }
            }

            @* 이전, 다음 기사 *@
            <div class="news-btn-area"></div>

            @* TV10 PLUS 에서만 노출하는 AD Area *@
            @if (Request["subMenu"] == "tvtenplus")
            {
                <div class="list-dotted type02">
                    <iframe src='http://ad.wowtv.co.kr/NetInsight/html/m.wowtv/m.wowtv/m.tv10Plus@tv10Plus_M_bottom' width='100%' height='100' frameborder='0' scrolling='no' topmargin='0' leftmargin='0' marginwidth='0' marginheight='0'></iframe>
                </div>
            }

            @* AD Area *@
            <div class="list-dotted type02">
                <iframe width="100%" height="104" src="http://adgrp1.ad4989.co.kr/cgi-bin/PelicanC.dll?impr?pageid=00mE&out=iframe" allowTransparency="true" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no" style="width:320px;min-width:100%"></iframe>

                <!--<iframe width="100%" height="100" src="http://adgrp1.ad4989.co.kr/cgi-bin/PelicanC.dll?impr?pageid=00mE&out=iframe" allowTransparency="true" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no" style="width:320px;min-width:100%"></iframe>-->
            </div>

            @* 마이핀 / 페이스북 / 트위터 / 카카오톡 / 블로그 / 카카오 스토리 / 라인 / 링크 *@
            <div class="content-text-center mt10">
                <div class="icon-box">
                    <ul class="icon-list">
                        @* 마이핀 *@
                        @if (LoginHandler.IsLogin)
                        {
                            <li><a href="javascript:co.PopupScrap('News', '@titleReplace', '@newsRead.ARTICLEID','@Request["menuSeq"]', '@Request.Url.AbsoluteUri.ToString()');" class="icon"></a></li>
                        }
                        else
                        {
                            <li><a href="javascript:return LoginConfirm();" class="icon"></a></li>
                        }

                        @* 페이스북 *@
                        <li><a href="javascript:NewsFacebookShare('@newsRead.ARTICLEID');" class="icon type04"></a></li>
                        @* 트위터 *@
                        <li><a href="javascript:Share.Twitter(window.location.href, '@titleReplace');" class="icon type05"></a></li>
                        @* 카카오톡 *@
                        <li><a href="javascript:Share.kakaostory(window.location.href, '@titleReplace');" class="icon type06"></a></li>
                        @* 블로그 *@
                        <li><a href="javascript:Share.Naver(window.location.href, '@titleReplace');" class="icon type07"></a></li>
                        @* 카카오 스토리 *@
                        <li><a href="javascript:Share.KakaoTalk(window.location.href, '@titleReplace');" class="icon type08"></a></li>
                        @* 라인 *@
                        <li><a href="javascript:Share.Line(window.location.href, '@titleReplace');" class="icon type09"></a></li>

                        @* 링크 *@
                        <li><a href="javascript:PopupSharesNCopyLink(window.location,'@titleReplace');" class="icon type10"></a></li>
                    </ul>
                </div>
            </div>

            @* 좋아요 *@
            <div class="like-area" id="divLikeit">
                <div>
                    <p class="icon"></p><div class="text"><p class="like">좋아요</p><span class="num">0</span></div>
                </div>
                <div>
                    <p class="icon type02"></p><div class="text"><p class="like">싫어요</p><span class="num">0</span></div>
                </div>
                <div>
                    <p class="icon type03"></p><div class="text"><p class="like">후속기사 원해요</p><span class="num">0</span></div>
                </div>
            </div>

            @* 구독하기 / 목록으로 *@
            <div class="box-btn-area">
                <div class="btn-area inner-left news-util">
                @if (isReporter)
                {
                    <a href="javascript:PopupSubScript('@newsRead.REPORTER_ID');" class="btn type01"><span class="icon ico-subs"></span>구독하기</a>
                }
                    <a href="javascript:NewsRead.GoNewsList();" class="btn type04"><span class="icon ico-list"></span>목록으로</a>
                </div>
            </div>

            @*베너 링크 영역*@
            <div class="naver-main-area">
                <a href="javascripit:void(0);"><img src="@wowTvStyle/images/common/img_banner_naver_main2.png" alt="한국경제TV가 직접 편집한 뉴스 채널(Beta) 네이버 메인에서 한국경제TV 뉴스를 볼 수 있어요." /></a>
            </div>

            @* 관련뉴스 *@
            <div class="news-list-area">
                <h3>관련뉴스</h3>
                <sapn id="spanRelationNews"></sapn>
            </div>

            @* AD Area *@
            <div class="news-list-box type02 pd0">
<!--                <div class="banner-area"><iframe width="100%" height="120" src="http://ad.adinc.kr/cgi-bin/PelicanC.dll?impr?pageid=089m&out=iframe" allowTransparency="true" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no"></iframe></div>-->

                    <div class="banner-area">
                        <iframe width="100%" height="120" src="http://adgrp1.ad4989.co.kr/cgi-bin/PelicanC.dll?impr?pageid=00xn&out=iframe" allowTransparency="true" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no" style="width:320px;min-width:100%"></iframe>
                    </div>
                </div>

            @* AD Area *@
            <div class="news-list-box type02 pd0">
                <div class="banner-area"><iframe width="100%" height="100" src="http://adgrp1.ad4989.co.kr/cgi-bin/PelicanC.dll?impr?pageid=00op&lang=utf-8&out=iframe" allowTransparency="true" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no"></iframe></div>
            </div>

            <p class="news-copyright">ⓒ한국경제TV. ALL RIGHTS RESEVED. 무단전재 및 재배포 금지 </p>
        </div>
    </div>

    @* 댓글(관리자 사용여부 설정) *@
    if (ViewBag.commentActive == "Y")
    {
        <div class="news-list-box" id="divComment"></div>
    }

    @* 이 기사와 함께 많이 본 기사(노출여부 관리자 설정) *@
    if(ViewBag.viewPageSeeActive == "Y")
    {
        <div class="recommend-news-area type02" >
            <h3>이 기사와 함께 많이 본 뉴스</h3>
            <div class="article-photo" id="divReadManySeeNews"></div>
        </div>
    }

    @* AD area *@
    <div class="news-list-box type02">
        <div class="banner-area"><iframe width='100%' height='125' src='http://ad.adinc.kr/cgi-bin/PelicanC.dll?impr?pageid=00FJ&out=iframe' allowTransparency='true' marginwidth='0' marginheight='0' hspace='0' vspace='0' frameborder='0' scrolling='no'></iframe></div>
    </div>
    <div class="news-list-box type02">
        <div class="banner-area"><iframe width='100%' height='120' src='http://ad.adinc.kr/cgi-bin/PelicanC.dll?impr?pageid=00FV&out=iframe' allowTransparency='true' marginwidth='0' marginheight='0' hspace='0' vspace='0' frameborder='0' scrolling='no'></iframe></div>
    </div>
	<hr class="line01">
    @* 인기 갤러리(노출여부 관리자 설정) *@
    if (ViewBag.viewPageLikeActive == "Y")
    {

        @* ②buz 파라미터가 아래와 같은 경우 광고영역을 비노출시킴.(2개있음) *@
        if (Request["buz"] != "hkwowtv")
        {

            <div class="news-list-box">
                <div class="photo-view">
                    <h3>인기 갤러리</h3>
                    @*<div class="swiper-container ui-slider news-like-area" id="divReadPhotoNews"></div>*@
                    <div id="divReadPhotoNews"></div>
                </div>
            </div>
         }

    }
    @* 비트코인 *@
    <div class="section-area pd0">
        <h3 class="bitcoin-price">가상화폐 시세</h3>
        <div class="bitcoin-area">
            <div class="bitcoin-detail dis_view">
                <div class="bitcoin-list">
                    <div class="swiper-container bView-slider">
                        <div class="swiper-wrapper" id="divVirtualMoneyList">

                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
                <div class="btn-box">
                    <a href="javascript:GoVirtualCurrencyNews()"> 관련기사 보기 </a>
                    <span>정보제공 : 빗썸</span>
                </div>
            </div>
        </div>
    </div>
    <script language="javascript">

        document.title = $(".tiele").html();

        //가상화폐 리스트
        var virtualMoneyList = "";

        $.getJSON("http://www.wowtv.co.kr/html/VirtualMoney.txt", function (json) {

            $.each(json.VirtualMoneyList, function (index, entry) {
                var idx = (index + 1);
                var korName = entry["korName"];
                var TradePrice = entry["TradePrice"];
                var chgRate = entry["chgRate"];
                var stockCode = entry["stockCode"];
                var upDown = "";

                if (entry["chgType"] == "1" || entry["chgType"] == "2") {
                    upDown = "up";
                }
                else if (entry["chgType"] == "4" || entry["chgType"] == "5") {
                    upDown = "down";
                }

                virtualMoneyList += "";
                if (idx == 1) {
                    virtualMoneyList += '<div class="swiper-slide">';
                    virtualMoneyList += '    <ul>';
                }

                virtualMoneyList += '<li class="' + upDown + '"><strong class="tit"><span class="icon btc"></span>' + korName + '</strong> <p class="text"> <span>' + comma(TradePrice) + '</span><span>' + chgRate + '%</span></p></li>';

                if ((idx % 6) == 0 && idx < json.VirtualMoneyList.length) {
                    virtualMoneyList += '    </ul>';
                    virtualMoneyList += '</div>';
                    virtualMoneyList += '<div class="swiper-slide">';
                    virtualMoneyList += '    <ul>';
                }
                else if (idx == json.VirtualMoneyList.length) {
                    virtualMoneyList += '    </ul>';
                    virtualMoneyList += '</div>';
                }
            });

            $("#divVirtualMoneyList").html(virtualMoneyList);
        });
    </script>

    @* AD area *@
    <div class="news-list-box type02">
        <div class="banner-area"><iframe src='http://ad.wowtv.co.kr/NetInsight/html/m.wowtv/m.wowtv/m.wowtv@m_article_bottom_wowsl' width='100%' height='75' frameborder='0' scrolling='no' topmargin='0' leftmargin='0' marginwidth='0' marginheight='0'></iframe></div>
    </div>

    @* 당신에게 맞는 추천 뉴스(노출여부 관리자 설정). 2018-01-29 검색엔진 부하 문제로 임시노출 제외 *@
    if (ViewBag.viewPageRecomActive == "X")
    {
    <div class="box-photoView-img-slider type02 mb10" id="divRecomNews"></div>
    }

    @* AD area *@
    <div class="news-list-box">
        <div class="banner-area txt-c">
            <iframe src="http://adex.ednplus.com/xc/h/Fz56JCGe" width="320" height="270" frameborder="0" scrolling="no" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0"></iframe>
        </div>
    </div>

    @* SNS 홍보 DIV(노출여부 관리자 설정). *@
    if (ViewBag.viewPageSnsPrActive == "Y")
    {
    <div class="pop-sns-channel" style="display:none">
        <div class="cont-area">
            <a href="#none;" class="btn-sns-close" onclick="$('.pop-sns-channel').hide()">닫기</a>
            <strong class="tit">
                친구신청하기<span class="go">GO</span>
            </strong>
            <span class="sub-tit">‘실시간 이슈를 받아볼 수 있는 SNS 채널에 친구신청하세요!’</span>
            <div class="btn-sns-channel-area">
                <a href="https://www.facebook.com/HKWOWTV" class="btn-sns-channel facebook" target="_blank">페이스북</a>
                <a href="https://twitter.com/HKWOWTV" class="btn-sns-channel twitter" target="_blank">트위터</a>
                <a href="https://story.kakao.com/ch/hkwowtv" class="btn-sns-channel kakao" target="_blank">카카오</a>
                <a href="http://post.naver.com/my.nhn?memberNo=11761424" class="btn-sns-channel naver" target="_blank">네이버</a>
                <a href="https://www.youtube.com/user/hkwowtv" class="btn-sns-channel youtube" target="_blank">유투브</a>
            </div>
        </div>
        <div class="today-check-area">
            <input type="checkbox" id="c1" name="cc" onclick="NewsRead.SetPopSnsCookie();"/>
            <label for="c1" onclick="NewsRead.SetPopSnsCookie();">오늘하루 그만보기<span></span></label>
        </div>
    </div>
    }

	<div class="cont-bann-area">
		<div>
			<div class="bann-area"><iframe width="320" height="50" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no" bordercolor="#000000" src="http://nvapi.feeldmc.com/ad/p/in/v1_0/evnt?slotid=stw_koreawowtv_15" title="AD Tag"></iframe></div>
		</div>
	</div>

    @* 구글번역 *@
    <!-- google translate script Start -->
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement(
                {
                    pageLanguage: 'ko'
                    , includedLanguages: 'ko,en,zh-CN,zh-TW,ja,id,th,vi,tl'
                    , layout: google.translate.TranslateElement.InlineLayout.SIMPLE
                    , autoDisplay: false
                }
                , 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <!-- google translate script end -->

    <script type="text/javascript">
        $(document).ready(function () {

            document.title = '@titleReplace';

            @* 종목 정보 *@
            @if (isStock)
            {
                @:NewsRead.GetStockInfo($("#articleId").val());
            }

            @* 포토 기사 *@
/**/
            @if (isPhotoNews)
            {
                @:NewsRead.GetReadBestPhotoNews();
            }

            @* 기자정보 *@
/**/
            @if (isReporter)
            {
                @:NewsRead.GetReporterInfo($("#reporter_Id").val(), $("#tag").val());
            }

            @* 이기사와 많이본 기사(관리자 노출 여부 설정) *@
/**/
            @if (ViewBag.viewPageSeeActive == "Y")
            {
                @:NewsRead.GetReadManySeeNews();
            }

            @* 인기 갤러리(관리자 노출 여부 설정) *@
/**/
            @if (ViewBag.viewPageLikeActive == "Y")
            {
                @:NewsRead.GetReadPhotoNews();
            }

            @* 댓글(관리자 사용여부 설정) *@
/**/
            @if (ViewBag.commentActive == "Y")
            {
                @:NewsRead.GetArticleComment();
            }

            @* 당신에게 맞는 추천 뉴스(관리자 노출 여부 설정) 2018-01-29 검색엔진 부하문제로 임시비노출 *@
/**/
            @if (ViewBag.viewPageRecomActive == "Y")
            {
                @://NewsRead.GetRecomNews();
            }

            @* VOD Player *@
/**/
/**/
            @if (newsRead != null && newsRead.VOD_NUM != null && newsRead.VOD_NUM > 0)
            {
                @:TvPlayer.PlayVod(@newsRead.VOD_NUM);
            }

            @* SNS 홍보 DIV(노출여부 관리자 설정). *@
/**/
            @if (ViewBag.viewPageSnsPrActive == "Y")
            {
                @://NewsRead.GetPopSns();
            }

            @* description 기사본문 Ad Iframe 추가. *@
/**/
            @if (newsRead != null)
            {
                if (newsRead.CARDNEWS != null && newsRead.CARDNEWS.Equals("Y"))
                {
                }
                else
                {
                    if (newsRead.VOD_NUM != null && newsRead.VOD_NUM > 0)
                    {
                        @: var isPhotoAddition = "false";
                    }
                    else
                    {
                        @: var isPhotoAddition = "true";
                    }

                    @:NewsRead.SetContentBannerScript(isPhotoAddition);
                }
            }
        });
    </script>
}
@Html.Partial("~/Areas/Component/Views/SnsLogin/SnsLogin.cshtml", snsLoginParameter)