@using Wow
@using Wow.Tv.Middle.Model.Db49.Article

@model List<NUP_NEWS_MAIN_SECTION_SELECT_Result>

@{
    Layout = null;
    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();
}

@if (Model != null && Model.Count > 0)
{
    <div class="swiper-container ui-slider news-like-area">
        <div class="swiper-wrapper">
            @foreach (var item in Model)
            {
                int index = Model.IndexOf(item);

                if (index == 0)
                {
                    @Html.Raw("<div class=\"swiper-slide content-box\"><ul>\r");
                }
                else if (index != 0 && (index % 6) == 0)
                {
                    @Html.Raw("</ul></div><div class=\"swiper-slide content-box\"><ul>\r");
                }

                <li>
                    <a href="javascript:NewsCommon.GoNewsDetailView('photo','','','@item.ARTICLEID')">
                        <img src="@WowExtensionMethod.NewsThumbnailPath("34M", item.THUMBNAIL_FILENM, item.VOD_NUM, item.IMAGE_DIR, item.IMAGE_FILE, item.ARTDATE.Value)" onerror="this.src='@WowExtensionMethod.NewsThumbnailOnError("34M")'" alt="">
                        <span class="text">@item.TITLE</span>
                    </a>
                </li>

                if (index == (Model.Count) - 1)
                {
                    @Html.Raw("</ul></div>\r");
                }
            }
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <script type="text/javascript">
            $(document).ready(function () {
                visual_slider();
            });
    </script>
}
