@using Wow.Fx
@using Wow.Tv.Middle.Model.Db49.Article
@using Wow.Tv.FrontWebMobile.Areas.NewsCenter.Models

@model  NewsReadModel

@{
    Layout = null;
    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string uploadWebPath = AppState["UploadWebPath"].ToString();
    string uploadWebPathRoot = AppState["UploadWebPathRoot"].ToString();
}

@* 와우넷 파트터 *@
@if (ViewBag.ReporterId == "NET01" && ViewBag.Tag == "$")
{
    var item = Model.reporterPartnerInfo;

    <div class="reporter-profile-area">
        <div class="photo">
        @if (item.ProWowList.NEWphoto_service != null)
        {
            <img src="http://image.wownet.co.kr/@item.ProWowList.NEWphoto_service" onerror="this.src='@Wow.WowExtensionMethod.NoImageProfile("82")'" alt=""/>
        }
        else
        {
            <img src="@Wow.WowExtensionMethod.NoImageProfile("82")" alt="" />
        }
        </div>
        <div class="text-area">
            <p class="logo"></p>
            <p class="name">@BroadcastFunction.GetInvestClass(item.ProWowList.InvestKind) @item.ProWowList.NickName</p>
            <p class="info-desc">
                @item.BroadCastTime
                <br />
                @item.BroadState.BTITLE
            </p>
        </div>
        <div class="btn-area news-util">
            <a href="http://www.wownet.co.kr/pro/pro_main_new/sub_main.asp?proID=@item.ProWowList.Pro_id" target="_blank" class="btn-icon"><span class="icon ico-home">홈</span></a>
            <a href="javascript:NewsCommon.GoCafe('@item.ProWowList.NickName');" class="btn type04 small">카페가기</a>
            @if (ViewBag.broadState.STATE == 0)
            {
                <img src="@wowTvStyle/images/common/img_broad_off_air.gif" alt="방송예정 & 무료방송">
            }
            else
            {
                <img src="@wowTvStyle/images/common/img_broad_on_air.gif" alt="방송중 & 무료방송">
            }
        </div>
    </div>
}
@* 기자 *@
else
{
    if (Model.reporterInfo.Count > 0)
    {
        <div class="reporter-profile-area">
            <div class="photo">
            @if (!string.IsNullOrEmpty(Model.reporterInfo[0].IMAGE_URL))
            {
                <img src="@uploadWebPathRoot@(Model.reporterInfo[0].IMAGE_URL)" onerror="this.src='@Wow.WowExtensionMethod.NoImageProfile("82")'" alt=""/>
            }
            else
            {
                <img src="@Wow.WowExtensionMethod.NoImageProfile("82")" alt=""/>
            }
            </div>
            <div class="text-area">
                <p class="logo"></p>
                <p class="name">@Model.reporterInfo[0].DEPT_NM @Model.reporterInfo[0].USER_NM @Model.reporterInfo[0].POSITION</p>
                <p class="e-mail">@Model.reporterInfo[0].EMAIL</p>
                <ul>
                    <li><a href="/NewsCenter/Reporter/ReporterDetail?menuSeq=1436&searchId=@Model.reporterInfo[0].REPORTER_ID">최신기사 보기<span class="arrow"></span></a></li>
                    <li><a href="javascript:PopupSubScript('@Model.reporterInfo[0].REPORTER_ID');">구독하기<span class="arrow"></span></a></li>
                </ul>
            </div>
        </div>
    }
}

