
@using Wow.Tv.Middle.Model.Db22.stock
@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.FrontWebMobile.Areas.Finance.Helpers

@model ListModel<usp_GetStockPrice_Result>
@{
    Layout = null;
    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();
}

@if (Model.ListData.Count > 0)
{
    foreach (var item in Model.ListData)
    {
        <li>
            @item.stock_nickname (@item.arj_code.Replace("A", ""))
            <dl class="stock-box">
                <dt>현재가 </dt>
                <dd><span class="stock">@Html.PublishCurrencyFormat(item.curr_price.ToString())</span></dd>
                <dt>전일대비</dt>
                <dd>@Html.PublishChgPriceFormat(item.chg_type.ToString(), item.net_chg.ToString())</dd>
                <dd>@Html.DomesticStockDetailChgRateFormat(item.chg_type.ToString(), item.curr_price, item.net_chg)</dd>
            </dl>
        </li>
    }
}
