@using Wow.Tv.Middle.Model.Db49.Article

@model List<ArticleClass_Hanatour>

@{
    Layout = null;
    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();
}

  <ul class="news-list type02">
@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <li>
            <a href="javascript:LifeList.GoTravelView('@item.ArticleID')">
                 @if (!string.IsNullOrEmpty(item.thumbnail))
                 {
                <div class="photo life-culture">
                    <img src="@item.thumbnail" onerror="this.src='@Wow.WowExtensionMethod.NewsThumbnailOnError("11S")'" alt="">
                </div>
                }
                <div class="text-box">
                    <p class="text">@Html.Raw(item.Title)</p>
                    <ul class="path">
                        <li>@item.Writer</li>
                    </ul>
                </div>
            </a>
        </li>
    }
}
    </ul>

<script>
    $('#totalDataCount').val(@ViewBag.TotalDataCount);
</script>