@using System.Configuration
@using Wow
@using Wow.Tv.Middle.Model.Db49.Article
@using Wow.Tv.Middle.Model.Common

@{
    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();

    AppState["BodyClass"] = "news sub";

    ArticleClass_Hanatour newsRead = Model;

    string titleReplace = string.Empty;
    if (newsRead != null)
    {
        titleReplace = MvcHtmlString.Create(newsRead.Title).ToString().Replace("&#39;", "＇").Replace("&quot;", "＂").Replace("'", "＇").Replace("\"", "＂");
    }

}

@section scripts{
    <script type="text/javascript" src="@wowTvScript/NewsCenter/Common.js"></script>
    <script type="text/javascript" src="@wowTvScript/NewsCenter/News/TravelRead.js"></script>
    <script type="text/javascript" src="@wowTvScript/clipboard.min.js"></script>
    <script type="text/javascript" src="@wowTvScript/Popup/SharesPopup.js"></script>

    @* 당신에게 맞는 추천 뉴스(관리자 설정) *@
    @if (ViewBag.viewPageRecomActive == "Y")
    {
        <script src="@wowTvScript/NewsCenter/NewsReadSearchApi.js"></script>
    }
}

@section modalDiv{
    <div id="divSharesPopup" class="modal fade" role="dialog"></div> 
}

@section hardCodingAdArea{
    @if (ViewBag.HardCodingAdList != null)
    {
        foreach (var item in ViewBag.HardCodingAdList)
        {
            if (item.AD_GUBUN == "MOBILE" && !string.IsNullOrEmpty(item.AD_CONTENT))
            {
                @MvcHtmlString.Create(item.AD_CONTENT);
            }
        }
    }
}

@if (newsRead == null || newsRead.Title == null)
{
    <div class="section-area line">
        <div class="news-title">
            <p class="tiele" style="text-align:center;padding-top:10px">
                해당기사가 삭제되었거나 보유기간이 종료되었습니다.
            </p>
        </div>
        <div class="box-btn-area">
            <div class="btn-area inner-left news-util" style="padding-top:20px">
                <a href="/" class="btn type04"><span class="icon ico-list"></span>홈</a>
            </div>
        </div>
    </div>
}
else
{
    <div class="section-area line">
        <div class="news-title">
            <form id="frm" name="frm" method="post" onsubmit="return false;">
                <input type="hidden" name="menuSeq" id="menuSeq" value="@Request["menuSeq"]" />
                <input type="hidden" name="subMenu" id="subMenu" value="@Request["subMenu"]" />
                <input type="hidden" name="SearchGubun" id="SearchGubun" value="@Request["SearchGubun"]" />
                <input type="hidden" name="currentIndex" id="currentIndex" value="@Request["currentIndex"]" />
                <input type="hidden" name="articleId" id="articleId" value="@newsRead.ArticleID" />
            </form>

            @* 제목 *@
            <p class="tiele">
                @Html.Raw(newsRead.Title);
            </p>
            @*구글번역**@
            <div class="txt-r">
                <div id="google_translate_element"></div>
            </div> 
            @* 입력/수정, 페이스북 노출, +/- 버튼 *@
            <div class="repeat-area">
                @* 입력/수정 *@
                <div class="data-list">
                    <div class="row">
                        <div><span>입력</span> @newsRead.ArticleDate.Value.ToString("yyyy-MM-dd HH:mm")</div>
                    </div>
                </div>
                @* 내용 글자 크기 변경 *@
                <ul class="repeat">
                    <li><a href="javascript:void(0)" onclick="ExpandFont('divNewsContent')"></a></li>
                    <li><a href="javascript:void(0)" onclick="ReduceFont('divNewsContent')"></a></li>
                </ul>
            </div>
            @* 아이콘 *@
            <div class="icon-box">
                @* 공유 *@
                <ul class="icon-list">
                    <li><a href="javascript:PopupSharesNCopyLink('','@titleReplace','');" class="icon type02"></a></li>
                </ul>
                @* 목록 *@
                <div class="btn-area list">
                    <a href="javascript:TravelRead.GoList();" class="list-btn"></a>
                </div>
            </div>
        </div>
    </div>

    @* AD Area *@
    <div class="banner-area"><div id="AD_LIVE_AREA_26684482" style="height:25px; position:relative; left:17px; top:0px; "><iframe src="http://adexview.new-star.co.kr/adtext_mobile.php?data=2668|4482" frameborder="0" width="100%" height="25" scrolling="no"></iframe></div></div>
    <div class="banner-area"><div id="AD_LIVE_AREA_26684483" style="height:25px; position:relative; left:17px; top:0px; "><iframe src="http://adexview.new-star.co.kr/adtext_mobile.php?data=2668|4483" frameborder="0" width="100%" height="25" scrolling="no"></iframe></div></div>
    <div class="banner-area"><div id="AD_LIVE_AREA_26684484" style="height:25px; position:relative; left:17px; top:0px; "><iframe src="http://adexview.new-star.co.kr/adtext_mobile.php?data=2668|4484" frameborder="0" width="100%" height="25" scrolling="no"></iframe></div></div>


    @* 기사 내용 *@
    <div class="section-area type02">
        <div class="section-area">
            @* 내용 *@
            <div class="news-view">
                <div class="news-view">
                    <div class="content-box" id="divNewsContent">
                        @MvcHtmlString.Create(WowExtensionMethod.NewsContentMobileReplace(newsRead.Contents))
                    </div>
                </div>
            </div>
            <div class="reporter-profile-area type2"> @newsRead.Writer </div>
            @* 이전, 다음 기사 *@
            <div class="news-btn-area"></div>

            @* AD Area *@
            <div class="list-dotted type02">
                <iframe width="100%" height="100" src="http://adgrp1.ad4989.co.kr/cgi-bin/PelicanC.dll?impr?pageid=00mE&out=iframe" allowTransparency="true" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no" style="width:320px;min-width:100%"></iframe>
            </div>

            @* 페이스북 / 트위터 / 카카오톡 / 블로그 / 카카오 스토리 / 라인 / 링크 *@
            <div class="content-text-center mt10">
                <div class="icon-box">
                    <ul class="icon-list">
                        @* 페이스북 *@
                        <li><a href="javascript:NewsFacebookShare('@newsRead.ArticleID');" class="icon type04"></a></li>
                        @* 트위터 *@
                        <li><a href="javascript:Share.Twitter(window.location, '@titleReplace');" class="icon type05"></a></li>
                        @* 카카오톡 *@
                        <li><a href="javascript:Share.kakaostory(window.location, '@titleReplace');" class="icon type06"></a></li>
                        @* 블로그 *@
                        <li><a href="javascript:Share.Naver(window.location, '@titleReplace');" class="icon type07"></a></li>
                        @* 카카오 스토리 *@
                        <li><a href="javascript:alert(CommonMsg.PreparingMsg);" class="icon type08"></a></li>
                        @* 라인 *@
                        <li><a href="javascript:alert(CommonMsg.PreparingMsg);" class="icon type09"></a></li>

                        @* 링크 *@
                        <li><a href="javascript:PopupSharesNCopyLink(window.location,'@titleReplace','');" class="icon type10"></a></li>
                    </ul>
                </div>
            </div>

            @* 좋아요 *@
            <div class="like-area" id="divLikeit">
                <div>
                    <p class="icon"></p><div class="text"><p class="like">좋아요</p><span class="num">0</span></div>
                </div>
                <div>
                    <p class="icon type02"></p><div class="text"><p class="like">싫어요</p><span class="num">0</span></div>
                </div>
                <div>
                    <p class="icon type03"></p><div class="text"><p class="like">후속기사 원해요</p><span class="num">0</span></div>
                </div>
            </div>

            @* 목록으로 *@
            <div class="box-btn-area">
                <div class="btn-area inner-left news-util">
                    <a href="javascript:TravelRead.GoList();" class="btn type04"><span class="icon ico-list"></span>목록으로</a>
                </div>
            </div>

            @*베너 링크 영역*@
            <div class="naver-main-area">
                <a href="javascripit:alert(CommonMsg.PreparingMsg);"><img src="@wowTvStyle/images/common/img_banner_naver_main2.png" alt="한국경제TV가 직접 편집한 뉴스 채널(Beta) 네이버 메인에서 한국경제TV 뉴스를 볼 수 있어요." /></a>
            </div>

            @* 관련뉴스 *@
            <div class="news-list-area">
                <h3>관련뉴스</h3>
                <sapn id="spanRelationNews"></sapn>
            </div>

            @* AD Area *@
            <div class="news-list-box type02 pd0">
                <div class="banner-area"><iframe width="100%" height="120" src="http://ad.adinc.kr/cgi-bin/PelicanC.dll?impr?pageid=089m&out=iframe" allowTransparency="true" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no"></iframe></div>
            </div>

            @* AD Area *@
            <div class="news-list-box type02 pd0">
                <div class="banner-area"><iframe width='100%' height='100' src='http://jdaily.co.kr/frame/jad-bin.do?adPageCd=PC368' allowTransparency='true' marginwidth='0' marginheight='0' hspace='0' vspace='0' frameborder='0' scrolling='no'></iframe></div>
            </div>


            <p class="news-copyright">ⓒ한국경제TV. ALL RIGHTS RESEVED. 무단전재 및 재배포 금지 </p>
        </div>
    </div>

    @* 이 기사와 함께 많이 본 기사(노출여부 관리자 설정) *@
    if (ViewBag.viewPageSeeActive == "Y")
    {
    <div class="recommend-news-area type02">
        <h3>이 기사와 함께 많이 본 뉴스 </h3>
        <div class="article-photo" id="divReadManySeeNews"></div>
    </div>
    }

    @* 인기 갤러리(노출여부 관리자 설정) *@
    if (ViewBag.viewPageLikeActive == "Y")
    {
    <div class="news-list-box">
        <div class="photo-view">
            <h3>인기 갤러리</h3>
            <div id="divReadPhotoNews"></div>
        </div>
    </div>
    }

    @* 당신에게 맞는 추천 뉴스(노출여부 관리자 설정). *@
    if (ViewBag.viewPageRecomActive == "Y")
    {
    <div class="box-photoView-img-slider type02 mb10" id="divRecomNews"></div>
    }

    @* SNS 홍보 DIV(노출여부 관리자 설정). *@
    if (ViewBag.viewPageSnsPrActive == "Y")
    {
    <div class="pop-sns-channel" style="display:none">
        <div class="cont-area">
            <a href="#none;" class="btn-sns-close" onclick="$('.pop-sns-channel').hide()">닫기</a>
            <strong class="tit">
                친구신청하기<span class="go">GO</span>
            </strong>
            <span class="sub-tit">‘실시간 이슈를 받아볼 수 있는 SNS 채널에 친구신청하세요!’</span>
            <div class="btn-sns-channel-area">
                <a href="https://www.facebook.com/HKWOWTV" class="btn-sns-channel facebook" target="_blank">페이스북</a>
                <a href="https://twitter.com/HKWOWTV" class="btn-sns-channel twitter" target="_blank">트위터</a>
                <a href="https://story.kakao.com/ch/hkwowtv" class="btn-sns-channel kakao" target="_blank">카카오</a>
                <a href="http://post.naver.com/my.nhn?memberNo=11761424" class="btn-sns-channel naver" target="_blank">네이버</a>
                <a href="https://www.youtube.com/user/hkwowtv" class="btn-sns-channel youtube" target="_blank">유투브</a>
            </div>
        </div>
        <div class="today-check-area">
            <input type="checkbox" id="c1" name="cc" onclick="NewsRead.SetPopSnsCookie();"/>
            <label for="c1" onclick="NewsRead.SetPopSnsCookie();">오늘하루 그만보기<span></span></label>
        </div>
    </div>
    }

    @* 구글번역 *@
    <!-- google translate script Start -->
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement(
                {
                    pageLanguage: 'ko'
                    , includedLanguages: 'ko,en,zh-CN,zh-TW,ja,id,th,vi'
                    , layout: google.translate.TranslateElement.InlineLayout.SIMPLE
                    , autoDisplay: false
                }
                , 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <!-- google translate script end -->

    <script type="text/javascript">
        $(document).ready(function () {

            @* 이기사와 많이본 기사(관리자 노출 여부 설정) *@
            @if (ViewBag.viewPageSeeActive == "Y")
            {
                @:TravelRead.GetReadManySeeNews();
            }

            @* 인기 갤러리(관리자 노출 여부 설정) *@
            @if (ViewBag.viewPageLikeActive == "Y")
            {
                @:TravelRead.GetReadPhotoNews();
            }

            @* 당신에게 맞는 추천 뉴스(관리자 노출 여부 설정) *@
            @if (ViewBag.viewPageRecomActive == "Y")
            {
                @:TravelRead.GetRecomNews();
            }

            @* SNS 홍보 DIV(노출여부 관리자 설정). *@
            @if (ViewBag.viewPageSnsPrActive == "Y")
            {
                @://TravelRead.GetPopSns();
            }
        });
    </script>


}
