@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.Middle.Model.Db90.DNRS
@using Wow.Tv.Middle.Model.Db90.DNRS.NewsProgram

@model ListModel<T_NEWS_PRG>

@{
    Layout = null;

    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();

    NewsProgramCondition condition = ViewBag.Condition;
}


<input type="hidden" id="hidTotalCount" value="@Model.TotalDataCount" />

<!-- 결과리스트 start -->
<div class="section-area pb0">
    <!-- 자음 검색 버튼 -->
    <div class="list-word-item">
        <a href="#" onclick="return AllProgramIndex.ChangeName('ㄱ', 'ㄴ');" class="btn-word @(condition.ProgramNameTermStart == "ㄱ" ? "on" : "")">ㄱ</a>
        <a href="#" onclick="return AllProgramIndex.ChangeName('ㄴ', 'ㄷ');" class="btn-word @(condition.ProgramNameTermStart == "ㄴ" ? "on" : "")">ㄴ</a>
        <a href="#" onclick="return AllProgramIndex.ChangeName('ㄷ', 'ㄹ');" class="btn-word @(condition.ProgramNameTermStart == "ㄷ" ? "on" : "")">ㄷ</a>
        <a href="#" onclick="return AllProgramIndex.ChangeName('ㄹ', 'ㅁ');" class="btn-word @(condition.ProgramNameTermStart == "ㄹ" ? "on" : "")">ㄹ</a>
        <a href="#" onclick="return AllProgramIndex.ChangeName('ㅁ', 'ㅂ');" class="btn-word @(condition.ProgramNameTermStart == "ㅁ" ? "on" : "")">ㅁ</a>
        <a href="#" onclick="return AllProgramIndex.ChangeName('ㅂ', 'ㅅ');" class="btn-word @(condition.ProgramNameTermStart == "ㅂ" ? "on" : "")">ㅂ</a>
        <a href="#" onclick="return AllProgramIndex.ChangeName('ㅅ', 'ㅇ');" class="btn-word @(condition.ProgramNameTermStart == "ㅅ" ? "on" : "")">ㅅ</a>
        <a href="#" onclick="return AllProgramIndex.ChangeName('ㅇ', 'ㅈ');" class="btn-word @(condition.ProgramNameTermStart == "ㅇ" ? "on" : "")">ㅇ</a>
        <a href="#" onclick="return AllProgramIndex.ChangeName('ㅈ', 'ㅊ');" class="btn-word @(condition.ProgramNameTermStart == "ㅈ" ? "on" : "")">ㅈ</a>
        <a href="#" onclick="return AllProgramIndex.ChangeName('ㅊ', 'ㅋ');" class="btn-word @(condition.ProgramNameTermStart == "ㅊ" ? "on" : "")">ㅊ</a>
        <a href="#" onclick="return AllProgramIndex.ChangeName('ㅋ', 'ㅌ');" class="btn-word @(condition.ProgramNameTermStart == "ㅋ" ? "on" : "")">ㅋ</a>
        <a href="#" onclick="return AllProgramIndex.ChangeName('ㅌ', 'ㅍ');" class="btn-word @(condition.ProgramNameTermStart == "ㅌ" ? "on" : "")">ㅌ</a>
        <a href="#" onclick="return AllProgramIndex.ChangeName('ㅍ', 'ㅎ');" class="btn-word @(condition.ProgramNameTermStart == "ㅍ" ? "on" : "")">ㅍ</a>
        <a href="#" onclick="return AllProgramIndex.ChangeName('ㅎ', '힣');" class="btn-word @(condition.ProgramNameTermStart == "ㅎ" ? "on" : "")">ㅎ</a>
    </div>
    <!-- //자음 검색 버튼 -->
    <!-- list-all-media -->
    <div class="list-all-media">
        <ul>
            @foreach (var item in Model.ListData)
            {
            <li><a href="#" onclick="return AllProgramSearchList.GoProgram('@item.PRG_CD');">@item.PRG_NM</a></li>
            }
        </ul>
    </div>
    <!-- //list-all-media -->
</div>
<!--// 결과리스트 end -->
<!-- paging start -->
<div id="divPaging"></div>
<!--// paging end -->




<script src="@wowTvScript/Broad/AllProgram/SearchList.js?date=20171018170000"></script>
