@using Wow.Tv.FrontWebMobile.Areas.Finance.Helpers
@using Wow.Tv.Middle.Model.Db22.stock
@using Wow.Tv.Middle.Model.Common
@model ListModel<usp_web_usa_stock_group_Result>
@{
    string wowTvScript = AppState["WowTvScript"].ToString();
    Layout = null;
}
<script>
    var totalDataCount = "@Model.TotalDataCount";
</script>
<script src="@wowTvScript/Finance/finance_common.js"></script>
<script src="@wowTvScript/Finance/WorldStock/SiseEnrollmentDowJonesList.js"></script>

<div class="section-area">
    <!-- 테이블-->
    <div class="table-type1 type02 line">
        <table>
            <caption>관심종목 상세</caption>
            <colgroup>
                <col style="width:auto">
            </colgroup>
            <tbody>
                @if (Model.ListData.Count != 0)
                {
                    foreach (var item in Model.ListData)
                    {
                        <tr>
                            <td class="txt-l">@item.knam</td>
                            <td>@Html.PublishPriceFormat(item.ChgType, item.Price)</td>
                            <td>@Html.PublishChgPriceFormat(item.ChgType, item.ChgPrice)</td>
                            <td>@Html.PublishChgRateFormat(item.ChgType, item.ChgRate)</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4">
                            데이터가 없습니다.
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
<div class="box-paginate" id="divPaging_DowJones">

</div>

