@using Wow.Tv.FrontWebMobile.Areas.Finance.Helpers
@using Wow.Tv.FrontWebMobile.Areas.Finance.Models
@model USAADRNasdaqModel
@{
    ViewBag.Title = "USAADRNasdaq";
    Layout = null;
}

    <div class="section-area">
        <h3>나스닥 인터넷</h3>
        <div class="table-type1 type02 line">
            <table>
                <caption>관심종목 상세</caption>
                <colgroup>
                    <col style="width:auto">
                </colgroup>
                <tbody>
                    @if (Model.Internet.ListData.Count > 0)
                    {
                        foreach (var item in Model.Internet.ListData)
                        {
                            <tr>
                                <td class="txt-l">@item.PART_NAME</td>
                                <td>@Html.PublishPriceFormat(item.U_CHG_GUBUN, item.U_PRICE)</td>
                                <td>@Html.PublishChgPriceFormat(item.U_CHG_GUBUN, item.U_NET_CHG)</td>
                                <td>@Html.PublishChgRateFormat(item.U_CHG_GUBUN, item.U_NET_CHGP)</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="section-area">
        <h3>나스닥 네트웍크</h3>
        <div class="table-type1 type02 line">
            <table>
                <caption>관심종목 상세</caption>
                <colgroup>
                    <col style="width:auto">
                </colgroup>
                <tbody>
                    @if (Model.Network.ListData.Count > 0)
                    {
                        foreach (var item in Model.Network.ListData)
                        {
                            <tr>
                                <td class="txt-l">@item.PART_NAME</td>
                                <td>@Html.PublishPriceFormat(item.U_CHG_GUBUN, item.U_PRICE)</td>
                                <td>@Html.PublishChgPriceFormat(item.U_CHG_GUBUN, item.U_NET_CHG)</td>
                                <td>@Html.PublishChgRateFormat(item.U_CHG_GUBUN, item.U_NET_CHGP)</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="section-area">
        <h3>나스닥 통신</h3>
        <div class="table-type1 type02 line">
            <table>
                <caption>관심종목 상세</caption>
                <colgroup>
                    <col style="width:auto">
                </colgroup>
                <tbody>
                    @if (Model.Comunication.ListData.Count > 0)
                    {
                        foreach (var item in Model.Comunication.ListData)
                        {
                            <tr>
                                <td class="txt-l">@item.PART_NAME</td>
                                <td>@Html.PublishPriceFormat(item.U_CHG_GUBUN, item.U_PRICE)</td>
                                <td>@Html.PublishChgPriceFormat(item.U_CHG_GUBUN, item.U_NET_CHG)</td>
                                <td>@Html.PublishChgRateFormat(item.U_CHG_GUBUN, item.U_NET_CHGP)</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="section-area">
        <h3>나스닥 컴퓨터</h3>
        <div class="table-type1 type02 line">
            <table>
                <caption>관심종목 상세</caption>
                <colgroup>
                    <col style="width:auto">
                </colgroup>
                <tbody>
                    @if (Model.Computer.ListData.Count > 0)
                    {
                        foreach (var item in Model.Computer.ListData)
                        {
                            <tr>
                                <td class="txt-l">@item.PART_NAME</td>
                                <td>@Html.PublishPriceFormat(item.U_CHG_GUBUN, item.U_PRICE)</td>
                                <td>@Html.PublishChgPriceFormat(item.U_CHG_GUBUN, item.U_NET_CHG)</td>
                                <td>@Html.PublishChgRateFormat(item.U_CHG_GUBUN, item.U_NET_CHGP)</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="section-area">
        <h3>나스닥 반도체</h3>
        <div class="table-type1 type02 line">
            <table>
                <caption>관심종목 상세</caption>
                <colgroup>
                    <col style="width:auto">
                </colgroup>
                <tbody>
                    @if (Model.Semiconductor.ListData.Count > 0)
                    {
                        foreach (var item in Model.Semiconductor.ListData)
                        {
                            <tr>
                                <td class="txt-l">@item.PART_NAME</td>
                                <td>@Html.PublishPriceFormat(item.U_CHG_GUBUN, item.U_PRICE)</td>
                                <td>@Html.PublishChgPriceFormat(item.U_CHG_GUBUN, item.U_NET_CHG)</td>
                                <td>@Html.PublishChgRateFormat(item.U_CHG_GUBUN, item.U_NET_CHGP)</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="section-area">
        <h3>나스닥 바이오</h3>
        <div class="table-type1 type02 line">
            <table>
                <caption>관심종목 상세</caption>
                <colgroup>
                    <col style="width:auto">
                </colgroup>
                <tbody>
                    @if (Model.Bio.ListData.Count > 0)
                    {
                        foreach (var item in Model.Bio.ListData)
                        {
                            <tr>
                                <td class="txt-l">@item.PART_NAME</td>
                                <td>@Html.PublishPriceFormat(item.U_CHG_GUBUN, item.U_PRICE)</td>
                                <td>@Html.PublishChgPriceFormat(item.U_CHG_GUBUN, item.U_NET_CHG)</td>
                                <td>@Html.PublishChgRateFormat(item.U_CHG_GUBUN, item.U_NET_CHGP)</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>



