@using Wow.Tv.Middle.Model.Db49.Article.Finance
@using Wow.Tv.FrontWeb.Areas.Finance.Models
@using Wow.Tv.Middle.Model.Db49.Article
@using Wow
@using Wow.Tv.FrontWeb.Areas.Finance.Helpers
@using Wow.Tv.Middle.Model.Db22.stock
@model NewsViewModel
@{
    string wowTvScript = AppState["WowTvScript"].ToString();
    string wowTvStyle = AppState["WowTvStyle"].ToString();

    ViewBag.Title = "DomesticStockDetailStockNewsView";
    Layout = null;

    //ArticleStockCondition condition = ViewBag.Condition;
    List<ArticleStock> articleStockList = ViewBag.articleStockList;
}

@*@section scripts{*@
    <script src="@wowTvScript/NewsCenter/Common.js"></script>
    <script src="@wowTvScript/jquery.printThis.js"></script>
    <script>
        function printDiv() {
            $('#divPrintPopup').show();
        }

        function modalDivClose() {
            $('#divPrintPopup').hide();
        }
    </script>
@*}*@

@if (Model.NewsContent == null)
        {
    <div class="news-header-section">
        <div class="title-area">
            <p class="title-news">해당기사가 삭제되었거나 보유기간이 종료되었습니다.</p>
        </div>
    </div>
}
else
{
    <!-- 171031 html 추가 -->
    <!-- 뉴스 목록 상세 -->
    <div class="cont-news-detail">
        <div class="secton-header-news">
            @* 기사 제목 *@
            <p class="title-news">@Model.NewsContent.TITLE</p>
            @* 기자 정보 *@
            <p class="reporter-news">
                @if (Model.ReporterInfo != null)
                {
                    @Html.Raw(string.Format("{0} {1} {2}", Model.ReporterInfo.DEPT_NM, Model.ReporterInfo.USER_NM, Model.ReporterInfo.POSITION));

                    if (!string.IsNullOrEmpty(Model.ReporterInfo.EMAIL))
                    {
                        @Html.Raw(string.Format("<a href=\"mailto:{0}\">{0}</a>", Model.ReporterInfo.EMAIL));
                    }
                }

            </p>
            @* SNS Count *@
            @*<p class="sns-news">페이스북 노출 <span class="text-number">000,000</span><span class="division1"></span>트위터 확산 <span class="text-number">000,000</span></p>*@

            @* 버튼영역 *@
            <!-- 유틸 버튼들 -->
            <div class="box-util-button">
                @* 핀, 페이스북, 트위터, 카카오 스토리, 블로그, 링크복사 *@
                <!-- 171107 html수정(tooltip 추가) > 모정훈 -->
                <div class="box-icon-sharesns">
                    @if (LoginHandler.IsLogin == true)
                    {
                        <span class="btn-pin"><button onclick="co.PopupScrap('News', '@Model.NewsContent.TITLE', '@Model.NewsContent.ARTICLEID','@Request["menuSeq"]', '@Request.Url.AbsoluteUri.ToString()');">핀</button><span class="tooltip">핀하기</span></span>
                    }
                    else
                    {
                        <span class="btn-pin"><button onclick="LoginConfirm()">핀</button><span class="tooltip">핀하기</span></span>
                    }

                    @*<span class="btn-facebook">
                        <button onclick="Share.Test(); return false;">페이스북</button>
                        <span class="tooltip">페이스북</span>
                    </span>
                    <span class="btn-twitter">
                        <button onclick="Share.Twitter(window.location, '@Model.NewsContent.TITLE'); return false;">트위터</button>
                        <span class="tooltip">트위터</span>
                    </span>
                    <span class="btn-kakaostory">
                        <button onclick="Share.kakaostory(window.location, '@Model.NewsContent.TITLE')">카카오스토리</button>
                        <span class="tooltip">카카오스토리</span>
                    </span>
                    <span class="btn-blog">
                        <button onclick="Share.Naver(window.location, '@Model.NewsContent.TITLE')">블로그</button>
                        <span class="tooltip">블로그</span>
                    </span>
                    <span class="btn-copyurl">
                        <button onclick="PopupCopyLinkScript();">링크 복사</button>
                        <span class="tooltip">링크 복사</span>
                    </span>*@
                </div>
                <!-- //171107 html수정(tooltip 추가) > 모정훈 -->
                <!-- 171101 기획 수정 (목록으로 버튼 추가 및 html 변경) -->
                <!-- <div class="box-links-util">
                    <span class="btn-print"><button>인쇄하기</button></span>
                </div> -->
                <div class="box-util-links">
                    <span class="btn-subscribe on"><button onclick="PopupSubScript('@Model.NewsContent.REPORTER_ID'); return false;">구독하기</button></span>
                    <span class="btn-list-link"><a href="#" onclick="return DomesticStockDetailNewsNotices.NewsGoBackList(@Request["currentIndex"]);">목록으로</a></span>
                    <!-- 171107 html수정(tooltip 추가) > 모정훈 -->
                    <span class="btn-print">
                        <a href="#none" onclick="printDiv();">인쇄하기</a>
                        <span class="tooltip">인쇄</span>
                    </span>
                    <!-- 본문 글자 조절 -->
                    <div class="box-zoom">
                        <span class="btn-zoomin"><button onclick="javascript: ExpandFont('divNewsContent'); return false;">글자 크게</button></span>
                        <span class="btn-zoomout"><button onclick="javascript: ReduceFont('divNewsContent'); return false;">글자 작게</button></span>
                    </div>
                    <!-- //본문 글자 조절 -->
                    <!-- //171107 html수정(tooltip 추가) > 모정훈 -->
                </div>
                <!-- //171101 기획 수정 (목록으로 버튼 추가 및 html 변경) -->

            </div>
            <!-- //유틸 버튼들 -->
        </div>

        <!-- 171031 html수정 stock-text-area 추가 -->
       @* 해당 기사의 종목코드 정보 *@
    @if(articleStockList != null && articleStockList.Count > 0)
    {
    <div class="stock-text-area">

        @foreach (var item in (List<usp_GetStockPrice_Result>)ViewBag.relativeStockList)
        {
            <p class="stock-text">@item.stock_nickname (@item.arj_code.Replace("A", "")) 현재가<span class="emphasize">@String.Format("{0:#,##0}", item.curr_price)</span>&nbsp; &nbsp;전일대비 @Html.DomesticStockDetailChgPriceFormat(item.chg_type, item.net_chg) @Html.DomesticStockDetailChgRateFormat(item.chg_type, item.curr_price, item.net_chg)</p>
        }
        
    </div>
    }
        <!-- //171031 html수정 stock-text-area 추가 -->

        <div class="section-content news-detail">
            <!-- 171031 html수정 class="news-detail" 추가 -->
            @*<!-- 헤드라인 -->
            <div class="box-headline">
               
            </div>
            <!-- //헤드라인 -->*@
            <!-- 뉴스 본문 -->
            <div class="box-body-news" id="divNewsContent">



                @MvcHtmlString.Create(WowExtensionMethod.NewsContentReplace(Model.NewsContent.CONTENT, Model.NewsContent.COMPCODE))


            </div>
            <!-- //뉴스 본문 -->
            @*<!-- 관련 태그 -->
            @if (!string.IsNullOrEmpty(Model.NewsContent.TAG))
            {
                <div class="box-tags-news">
                    @MvcHtmlString.Create(WowExtensionMethod.NewsHashTag(Model.NewsContent.TAG, "READ"))
                </div>
            }
            
            <!-- //관련 태그 -->
            <!-- 기자정보 -->
            
                    <div class="box-photo-reporter" style="background:url(../../images/temp/temp_photo1.jpg) no-repeat 50%; background-size:110px auto;">
                <div class="frame-circle"></div>
            </div>
            <p class="reporter"><span class="part">경제산업부</span> 홍길동</p>
            <a class="link-mail" href="mailto:hong@wowtv.co.kr">hong@wowtv.co.kr</a>
            <a class="link-news" href="#">기자의 최신기사 보기</a>
            <!-- List -->
            <div class="list-type-news">
                <ul>
                    <li><a href="#none">베일 벗은'스타필드 고양 토이킹덤 디지털 스포츠 맛집에 쇼핑은...</a></li>
                    <li><a href="#none">베일 벗은'스타필드 고양 토이킹덤 디지털 스포츠 맛집에 쇼핑은...</a></li>
                    <li><a href="#none">베일 벗은'스타필드 고양 토이킹덤 디지털 스포츠 맛집에 쇼핑은...</a></li>
                </ul>
            </div>
            <!-- //List -->
        
            
            <!-- //기자정보 -->*@
        </div>
    </div>
    <!-- //뉴스 목록 상세 -->
    <!-- //171031 html 추가 -->
    @*<div id="divSubScriptPopup" class="modal fade" role="dialog"></div>*@

    @*인쇄*@
    <div id="divSubScriptPopup" class="modal fade" role="dialog"></div>
    <div class="modal fade" role="dialog">
        <div id="divPrintPopup" class="popup-type1 print" style="display:none;">
            <div class="inner">
                <h1 class="title" style="margin: 0">인쇄하기</h1>
                <a href="#none" onclick="modalDivClose();" class="pop-close-btn">닫기</a>
                <div class="content-box">
                    <div class="btn-area">
                        <div class="box-util-links">
                            <span class="btn-print">
                                <a href="javascript:$('#divPrintArea').printThis({ pageTitle: '한국경제TV', importCSS: true, importStyle: true });">인쇄하기</a>
                                <span class="tooltip">인쇄</span>
                            </span>
                        </div>
                    </div>
                    @*뉴스 영역*@
                    <div class="news-cont-area print" id="divPrintArea">
                        @*제목 & 일자*@
                        <div class="main-head">
                            <span class="date">
                                @if (Model.NewsContent.ARTUPDATE != null)
                                {
                                    @String.Format("{0} 수정 ", Model.NewsContent.ARTUPDATE.Value.ToString("yyyy-MM-dd HH:mm"));
                                }
                                else
                                {
                                    @Model.NewsContent.ARTDATE.Value.ToString("yyyy-MM-dd HH:mm");
                                }
                            </span>
                            <strong class="tit">@Model.NewsContent.TITLE</strong>
                        </div>
                        @* 부제목 *@
                        @if (!string.IsNullOrEmpty(Model.NewsContent.SUBTITLE))
                        {
                            <div class="sub-head">@Model.NewsContent.SUBTITLE</div>
                        }
                        @*뉴스 내용*@
                        <p class="cont">
                            @MvcHtmlString.Create(WowExtensionMethod.NewsContentReplace(Model.NewsContent.CONTENT, Model.NewsContent.COMPCODE))
                        </p>
                        @*기자 정보*@
                        @if (Model.NewsContent.IS_BYLINE.ToUpper().Equals("TRUE"))
                        {
                            <div class="info-reporter">한국경제TV @Model.NewsContent.BYLINE_DEPT @Model.NewsContent.BYLINE_NAME @Model.NewsContent.BYLINE_POSITION @Model.NewsContent.BYLINE_EMAIL</div>
                        }
                        @* Copyright *@
                        <div class="copyright">Copyrightⓒ한국경제TV. All Rights Reserved. 무단전재 및 재배포 금지</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


