@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.Middle.Model.Db49.editVOD
@using Wow.Tv.FrontWeb.Areas.Finance.Helpers
@model ListModel<usp_web_getInvestVodList_Result>
@{
    ViewBag.Title = "DomesticStockDetailInvestVodList";
    Layout = null;
    string wowTvScript = AppState["WowTvScript"].ToString();
    string wowTvStyle = AppState["WowTvStyle"].ToString();

}
<script>
    var totalDataCount_investVodList = "@Model.TotalDataCount";
</script>
<script src="@wowTvScript/Finance/DomesticStock/DomesticStockDetailInvestVodList.js"></script>
<div class="box-top-type1 date">
    <div class="inner-right" id="stockVodSearchVal">
        <input type="text" style="width:200px" class="form-control" id="title" placeholder="제목">
        <input type="submit" value="검색" class="btn-type3" id="btnSearch">
    </div>
</div>


@if (Model.ListData.Count > 0)
{
    <div class="list-type-thumnail">
        <ul>
            @foreach (var item in Model.ListData)
            {
                <li>
                    <a href="#none">
                        @*<img src="@wowTvStyle/images/temp/temp_news3.jpg" alt="" width="205" height="132" />*@
                        <img src="@Html.DomesticStockDetailRightConsultImgUrl(item.ArticleID, item.EditFolder, item.Image_S)" alt="@item.subject" width="205" height="132" onclick="PopupPlayVod('@item.vodNum')" onerror="this.src='@wowTvStyle/images/common/no_image_16m.jpg'" />
                        <span class="title" onclick="PopupPlayVod('@item.vodNum')">@item.subject</span>
                        <span class="date">@String.Format("{0:yyyy-MM-dd}", item.insdate)</span>
                    </a>
                </li>
            }
        </ul>
    </div>
}
else
{
    <div class="list-type-thumnail">
        <span>데이터가 없습니다.</span>
    </div>
}
        




   

    <!-- Paginate -->
    <div id="divPaging_investVodList" class="box-paginate"></div>
    <!-- //Paginate -->


