@using Wow.Tv.Middle.Model.Db22.stock.Finance
@{
    ViewBag.Title = "DomesticStockDetailSNoticeView";
    Layout = null;
    string wowTvScript = AppState["WowTvScript"].ToString();
    NoticeStockCondition noticeCondition = ViewBag.NoticeCondition;

    string fDataDate = noticeCondition.FDataDay.Substring(0, 4) + "." + noticeCondition.FDataDay.Substring(4, 2) + "." + noticeCondition.FDataDay.Substring(6, 2);
}
<script src="@wowTvScript/jquery.printThis.js"></script>
<script>
    function printDiv() {
        //alert("테스트");
        $('#newsContents').html($('#ifrm')[0].contentWindow.document.body.innerHTML);
        $('#divPrintPopup').show();
        $('#divPrintPopup').css('margin-top', '-500px');
        //alert("테스트");
    }

    function modalDivClose() {
        $('#divPrintPopup').hide();
    }

    function printPresentation() {
        $('#divPrintArea').printThis({ pageTitle: '한국경제TV', importCSS: true, importStyle: true });
    }
</script>
<!-- 뉴스 목록 상세 -->
<div class="cont-news-detail">
    <div class="secton-header-news">
        <p class="title-news">@noticeCondition.FContent</p>
        <!--  171124 내용 삭제 -->
        <!-- <p class="reporter-news">경제팀 홍길동 기자 <a href="mailto:hong@wowtv.co.kr">hong@wowtv.co.kr</a></p>
        <p class="sns-news">페이스북 노출 <span class="text-number">000,000</span><span class="division1"></span>트위터 확산 <span class="text-number">000,000</span></p> -->
        <!--  //171124 내용 삭제 -->
        <!-- 유틸 버튼들 -->
        <div class="box-util-button">
            <span class="date">@fDataDate</span>
            <!-- 171124 html삭제 -->
            <!-- <div class="box-icon-sharesns">
                <span class="btn-pin">
                    <button>핀</button>
                    <span class="tooltip">핀하기</span>
                </span>
                <span class="btn-facebook">
                    <button>페이스북</button>
                    <span class="tooltip">페이스북</span>
                </span>
                <span class="btn-twitter">
                    <button>트위터</button>
                    <span class="tooltip">트위터</span>
                </span>
                <span class="btn-kakaostory">
                    <button>카카오스토리</button>
                    <span class="tooltip">카카오스토리</span>
                </span>
                <span class="btn-blog">
                    <button>블로그</button>
                    <span class="tooltip">블로그</span>
                </span>
                <span class="btn-copyurl">
                    <button>링크 복사</button>
                    <span class="tooltip">링크 복사</span>
                </span>
            </div> -->
            <!-- //171124 html삭제 -->
            <!-- 171101 기획 수정 (목록으로 버튼 추가 및 html 변경) -->
            <!-- <div class="box-links-util">
                <span class="btn-print"><button>인쇄하기</button></span>
            </div> -->


            <div class="box-util-links">
                <span class="btn-list-link"><a href="#" onclick="return DomesticStockDetailNewsNotices.NoticeGoBackList(@Request["currentIndex"]);">목록으로</a></span>
                <!-- 171107 html수정(tooltip 추가) > 모정훈 -->
                <span class="btn-print">
                    <a href="#none" onclick="printDiv();">인쇄하기</a>
                    <span class="tooltip">인쇄</span>
                </span>
                <!-- //171107 html수정(tooltip 추가) > 모정훈 -->
            </div>
            <!-- //171101 기획 수정 (목록으로 버튼 추가 및 html 변경) -->

        </div>
        <!-- //유틸 버튼들 -->
    </div>

    <div class="section-content news-detail" style="margin-top: 100px;">
        <!-- 171031 html수정 class="news-detail" 추가 -->
        <!-- 본문 글자 조절 -->
        @*<div class="box-zoom">
            <span class="btn-zoomin"><button onclick="javascript: ExpandFont('divNewsContent'); return false;">글자 크게</button></span>
            <span class="btn-zoomout"><button onclick="javascript: ReduceFont('divNewsContent'); return false;">글자 작게</button></span>
        </div>*@
        <!-- //본문 글자 조절 -->
        <!-- 171124 html삭제 -->
        <!-- 헤드라인 -->
        <!-- <div class="box-headline">
            현대차 3인방이 파업 결의 소식에 약세다. 8일 오전 9시56분 현재 현대차는 전날보다 3000원(2.03%) 하락한 14만5000원에 거래중이다. 현대모비스와 기아차는 각각 1.18%, 3.1% 약세다. 현대차 노조가 6년 연속 파업을 결의, 모레부터 부분 파업에 들어간다는 소식이 주가를 끌어내리고 있다.
        </div> -->
        <!-- //헤드라인 -->
        <!-- //171124 html삭제 -->
        <!-- 뉴스 본문 -->
        <div class="box-body-news"  id="divNewsContent">


            @{ 
                string iframe_src = "/Finance/DomesticStock/NoticeIframeView?fSeq=" + noticeCondition.FSeq +"&fDataDay="+ noticeCondition.FDataDay +"&stockCode=" + noticeCondition.StockCode;
            }
            <iframe width="100%" height="1800" frameborder="0" marginheight="0" marginwidth="0" scrolling="auto" id="ifrm" src="@Html.Raw(iframe_src)"></iframe>


        </div>
        <!-- //뉴스 본문 -->
        <!-- 171124 html삭제 -->
        <!-- 관련 태그 -->
        <!-- <div class="box-tags-news">
            <span>한국경제</span>
            <span>한국경제</span>
            <span>한국경제</span>
        </div> -->
        <!-- //관련 태그 -->
        <!-- 기자정보 -->
        <!-- <div class="article-infor-repoter">
            <div class="box-photo-reporter" style="background:url(../../images/temp/temp_photo1.jpg) no-repeat 50%; background-size:110px auto;">
                <div class="frame-circle"></div>
            </div>
            <p class="reporter"><span class="part">경제산업부</span> 홍길동</p>
            <a class="link-mail" href="mailto:hong@wowtv.co.kr">hong@wowtv.co.kr</a>
            <a class="link-news" href="#">기자의 최신기사 보기</a>
            <div class="list-type-news">
                <ul>
                    <li><a href="#none">베일 벗은'스타필드 고양 토이킹덤 디지털 스포츠 맛집에 쇼핑은...</a></li>
                    <li><a href="#none">베일 벗은'스타필드 고양 토이킹덤 디지털 스포츠 맛집에 쇼핑은...</a></li>
                    <li><a href="#none">베일 벗은'스타필드 고양 토이킹덤 디지털 스포츠 맛집에 쇼핑은...</a></li>
                </ul>
            </div>
        </div> -->
        <!-- //기자정보 -->
        <!-- //171124 html삭제 -->

    </div>
</div>
<!-- //뉴스 목록 상세 -->


@*인쇄*@
<div id="divSubScriptPopup" class="modal fade" role="dialog"></div>
<div class="modal fade" role="dialog">
    <div id="divPrintPopup" class="popup-type1 print" style="display:none;">
        <div class="inner">
            <h1 class="title" style="margin: 0">인쇄하기</h1>
            <a href="#none" onclick="modalDivClose();" class="pop-close-btn">닫기</a>
            <div class="content-box">
                <div class="btn-area">
                    <div class="box-util-links">
                        <span class="btn-print">
                            <a href="#none" onclick="printPresentation();">인쇄하기</a>
                            <span class="tooltip">인쇄</span>
                        </span>
                    </div>
                </div>
                @*뉴스 영역*@
                <div class="news-cont-area print" id="divPrintArea">
                    @*제목 & 일자*@
                    <div class="main-head">
                        <span class="date">
                            @fDataDate
                        </span>
                        <strong class="tit">@noticeCondition.FContent</strong>
                    </div>
                    @*뉴스 내용*@
                    <p class="cont" id="newsContents">
                        
                    </p>
                    @* Copyright *@
                    <div class="copyright">Copyrightⓒ한국경제TV. All Rights Reserved. 무단전재 및 재배포 금지</div>
                </div>
            </div>
        </div>
    </div>
</div>
