@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.Middle.Model.Db22.stock
@using Wow.Tv.FrontWeb.Areas.Finance.Helpers
@model ListModel<usp_web_getTradeTrend_Result>
@{
    ViewBag.Title = "DomesticStockDetailForeignerSecurity";
    Layout = null;
}

<!-- 외국인&middot;기관 -->
<div class="section-content">
    <div class="box-top-type1">
        <div class="inner-left">
            <h2 class="title">외국인/기관매매동향</h2>
        </div>
        @*<!--기획 삭제요청 확인 : 20171129 -->
        <div class="inner-right">
            <p class="text-state-color">0000-00-00 오후 00:00:00 2013.03.22 오후 7:30:11</p>
        </div>
        *@
    </div>

    <div class="table-type1">
        <table>
            <caption></caption>
            <tr>
                <th rowspan="2">날짜</th>
                <th rowspan="2">종가</th>
                <th rowspan="2">대비</th>
                <th rowspan="2">등락률(%)</th>
                <th colspan="2">기관</th>
                <th colspan="2">외국인</th>
            </tr>
            <tr>
                <th>10일누적</th>
                <th>일별순매매</th>
                <th>일별순매매</th>
                <th>지분률</th>
            </tr>
            @if (Model.ListData.Count > 0)
            {
                foreach (var item in Model.ListData)
                {
                    <tr>
                        <td>@item.TRADEDATE</td>
                        <td><span class="data-normal">@item.PRICE</span></td>
                        <td>@Html.SinglePriceFormat(item.CHGTYPE, item.CHGPRICE)</td>
                        <td>@Html.SinglePriceFormat(item.CHGTYPE, item.CHGRATE)</td>
                        <td>@Html.DomesticForeignerSecurityFormat(item.ACCRUE10)</td>
                        <td>@Html.DomesticForeignerSecurityFormat(item.ORGSELL)</td>
                        <td>@Html.DomesticForeignerSecurityFormat(item.FOREINERSELL)</td>
                        <td><span class="data-normal">@item.SHARE</span></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="8">데이터가 없습니다.</td>
                </tr>
            }
        </table>
    </div>

</div>
<!-- //외국인&middot;기관 -->



