@using Wow.Tv.FrontWeb.Areas.Finance.Helpers
@{
    ViewBag.Title = "업종별";
    string wowTvScript = AppState["WowTvScript"].ToString();
    string currentMenuSeq = Request["menuSeq"];
}

@section styles{
    <style>
    .securityChart, .foreignerChart, .personalChart {
        width: 100%;
        height: 198.81px;
    }

    .red{
        background: red;
    }
</style>
}
@section scripts{
@Scripts.Render("~/bundles/raphael")
@Scripts.Render("~/bundles/webponentcommon")
@Scripts.Render("~/bundles/webponentvisual")
@Scripts.Render("~/bundles/chart")
@Scripts.Render("~/bundles/chartstyle")

    <script src="@wowTvScript/Finance/Charts/stockChart.js"></script>
    <script src="@wowTvScript/Finance/DomesticStock/IndustryPart.js"></script>
    <script>

        //차트에서 사용할 스크립트
        $(document).ready(function () {
            $(".tab-type1 a").on('click', function (e) {
                var currentAttrValue = $(this).attr('href');

                $(this).parent('li').addClass('on').siblings().removeClass('on');
                
            });
            
            //FinanceChartJs.IndustryPartSecurityChart($(".chart01"));
            //$('.WEBPONENT-TRIAL-UI').css('background', '');
        });
    </script>
}
<h1 class="title">업종별</h1>
<!-- Tab -->
<div class="tab-type1">
    <ul class="col2">
        <li class="on"><a href="#" class="btnMarket" id="T">코스피</a></li>
        <li><a href="#" class="btnMarket" id="K">코스닥</a></li>
    </ul>
</div>
<!-- //Tab -->

    <!-- Top Information box -->
    <div class="box-top-type1">
        <div class="inner-right">

            <!-- Search box Local -->
            <div class="search-local date">
                <input type="text" class="targetDt" value="@String.Format("{0:yyyy/MM/dd}", DateTime.Now)" />
                <span class="btn-calendar"><button>달력</button></span>
            </div>
            <input type="submit" value="검색" class="btn-type3">
            <!-- //Search box Local -->
        </div>
        <div class="inner-left">
            <p class="text-realtime-reload"><span class="title">실시간</span> @Html.MarketTimeStatus() <span class="division1"></span> 단위:코스피,코스닥(백만원) <span class="btn-type-reload"><a href="/Finance/DomesticStock/IndustryPart?MenuSeq=@currentMenuSeq">새로고침</a></span></p>
        </div>
    </div>
    <!-- Top Information box -->
<form id="frmIndustryPartSearch">
    <!-- Radio Select Box -->
    <div class="box-select-radio">
        <label class="radio checked"><input type="radio" checked="checked" class="viewMode" name="viewMode" value="true"> 비교하기</label>
        <label class="radio"><input type="radio" class="viewMode" name="viewMode"> 전체보기</label>
    </div>
    <!-- //Radio Select Box -->

    <div>
        <input type="hidden" id="targetDt" class="targetDt" name="targetDt" />
        <input type="hidden" id="market" name="market" value="T" />
        <input type="hidden" id="currentMenuSeq" value="@currentMenuSeq" />
    </div>
</form>

<form id="frmList_industryPart">
    
    <div id="divList">

    </div>
</form>

