@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.Middle.Model.Db22.stock
@using Wow.Tv.FrontWeb.Areas.Finance.Helpers
@using Wow.Tv.Middle.Model.Db22.stock.Finance
@model ListModel<usp_web_GetSiseStockPlus_Result>
@{
    ViewBag.Title = "IndustryPartUpperkospi";
    Layout = null;

    IndustryCondition condition = (IndustryCondition)ViewBag.IndustryCondition;
    condition.MenuSeq = Convert.ToInt32(Request["menuSeq"]);
}

<!--코스피-->
<div class="table-type1">
    <table>
        <colgroup>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
        </colgroup>
        <thead>
            <tr>
                <th>업종명</th>
                <th>지수</th>
                <th>전일대비</th>
                <th>등락률(%)</th>
                <th>거래량(전주)</th>
                <th>상승</th>
                <th>보합</th>
                <th>하락</th>
                <th>등락 그래프</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListData)
            {
                <tr>
                    <td class="text">@Html.ActionLink(item.korName, "IndustryPartDetail", "DomesticStock", new
                                {
                                    Market = condition.Market,
                                    OrderBy = condition.OrderBy,
                                    TargetDt = condition.TargetDT,
                                    PartCode = item.partCode,
                                    PartName = item.korName,
                                    MenuSeq = condition.MenuSeq
                                }, null)</td>
                    <td class="number">@Html.PublishPriceFormat(item.ChgType, item.LastPrice)</td>
                    <td>@Html.PublishChgPriceFormat(item.ChgType, item.ChgPrice)</td>
                    <td class="number">@Html.IndustryPartUpperRate(item.ChgType, item.PChange)</td>
                    <td class="number"><span class="data-normal">@Html.CommaFormat(item.TotalVol)</span></td>
                    <td class="number"><span class="data-normal">@item.UCount</span></td>
                    <td class="number"><span class="data-normal">@item.MCount</span></td>
                    <td class="number"><span class="data-normal">@item.DCount</span></td>
                    @Html.PublishGraphData(item.ChgType, item.UCount, item.MCount, item.DCount)
                </tr>

            }
           
        </tbody>
    </table>
</div>

