@using Wow.Tv.FrontWeb.Areas.Finance.Helpers
@using Wow.Tv.Middle.Model.Db22.stock
@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.Middle.Model.Db22.stock.Finance

@model ListModel<usp_web_getDomesticIndustryStock_Result>
@{
    string wowTvScript = AppState["WowTvScript"].ToString();
    string DomainUrlFront = AppState["DomainUrlFront"].ToString();
    //string wowTvScript = System.Configuration.ConfigurationManager.AppSettings["WowTvScript"].ToString();
    //IndustryCondition condition = ViewBag.IndustryCondition;
            Layout = null;

}

<script>
    var totalDataCount_industryStock = "@Model.TotalDataCount";
</script>

<script src="@wowTvScript/Finance/DomesticStock/IndustryStockList.js"></script>
<!-- Table -->
<div class="table-type1 row5">
    <table>
        <colgroup>
            <col width="">
            <col width="14%">
            <col width="14%">
            <col width="14%">
            <col width="14%">
            <col width="14%">  
            <col width="14%">
        </colgroup>
        <thead>
            <tr>
                <th>종목명</th>
                <th>현재가</th>
                <th>전일대비</th>
                <th>등락률</th>
                <th>거래량</th>
                <th>매도호가</th>
                <th>매수호가</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.ListData.Count > 0)
            {
                foreach (var item in Model.ListData)
                {

                    <tr>
                        @*<td>@Html.ActionLink(item.StockName, "DomesticStockDetail", "DomesticStock", new { searchStr = item.StockCode.Replace("A", "")}, null)</td> <!--종목명-->*@
                        <td><a href="#none" onclick="IndustryStockList.DomesticStockDetailGo('@DomainUrlFront','@item.StockCode.Replace("A", "")');">@item.StockName</a></td>
                        <td class="number">@Html.PublishPriceFormat(item.chg_type, item.curr_price)</td> <!--현재가-->
                        <td class="number">@Html.PublishChgPriceFormat(item.chg_type, item.net_chg.ToString())</td> <!--전일대비-->
                        <td class="number">@Html.PublishUpDownSymbolPChangeFormat(item.chg_type, String.Format("{0:F2}", item.NetChange))</td> <!--등락율-->
                        <td class="number"><span class="data-noraml">@Html.CommaFormat(item.net_vol)</span></td>
                        <td class="number"><span class="data-noraml">@item.sell</span></td>
                        <td class="number"><span class="data-noraml">@item.buy</span></td>

                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="7">데이터가 없습니다.</td>
                </tr>
            }
            
            
            
        </tbody>
    </table>
</div>
<!-- //Table -->
<!-- Paginate -->
<div id="divPaging_industryStock" class="box-paginate"></div>
<!-- //Paginate -->
