@using Wow.Tv.Middle.Model.Db22.stock.Finance
@using Wow.Tv.FrontWeb.Areas.Finance.Helpers

@model IndustryInfoModel
@{
    ViewBag.Title = "업종별";
    string wowTvScript = AppState["WowTvScript"].ToString();
    IndustryCondition condition = ViewBag.IndustryCondition;
    //ListModel<MarketResearchModel> marketResearchList = ViewBag.MarketResearchTop3List;
    int indexNum;
}
@section scripts{
@Scripts.Render("~/bundles/raphael")
@Scripts.Render("~/bundles/webponentcommon")
@Scripts.Render("~/bundles/webponentvisual")
@Scripts.Render("~/bundles/chart")
@Scripts.Render("~/bundles/chartstyle")
    <script src="@wowTvScript/Finance/DomesticStock/IndustryPartDetail.js"></script>    
}
<h1 class="title">@Html.MaketFormat(condition.Market)</h1>

<!-- Stock Detail -->
<div class="article-detail-stock1">
    @if (Model.StockInfo != null)
    {
        <div class="contain-detail">
            <h1 class="title">@condition.PartName</h1>
            <div class="box-detail-stock">
                <!-- // 2017-10-24 HTML 수정 -->
                @Html.PublishPriceFormat(Model.StockInfo.ChgType, Model.StockInfo.Price)<!-- 주가 -->
                <span class="box">
                    @Html.PublishChgPriceFormat(Model.StockInfo.ChgType, Model.StockInfo.ChgPrice)<!-- 등락 -->
                    @Html.PublishUpDownSymbolPChangeFormat(Model.StockInfo.ChgType, Model.StockInfo.ChgRate)<!-- 등락폭 -->
                </span>
                <!-- // 2017-10-24 HTML 수정 -->
            </div>
            <div class="box-detail-price1">
                <dl>
                    <dt>거래량<span>천주</span></dt>
                    <dd><span class="data-normal">@Html.CommaFormat(Model.StockInfo.PartVol)</span></dd><!-- 거래량 -->
                </dl>
                <dl>
                    <dt>거래금액<span>백만</span></dt>
                    <dd><span class="data-normal">@Html.CommaFormat(Model.StockInfo.PartTurn)</span></dd><!-- 거래 금액 -->
                </dl>
            </div>

            <h2 class="title">전일대비</h2>
            <div class="box-detail-price2 col3">
                <dl>
                    <dt>상승</dt>
                    <dd><span class="data-up">@Model.StockInfo.RiseCnt.ToString()</span></dd><!-- 상한가 -->
                </dl>
                <dl>
                    <dt>보합</dt>
                    <dd><span class="data-normal">@Model.StockInfo.SteadyCnt.ToString()</span></dd><!-- 상승 -->
                </dl>
                <dl>
                    <dt>하락</dt>
                    <dd><span class="data-down">@Model.StockInfo.FallCnt.ToString()</span></dd><!-- 하락 -->
                </dl>
            </div>
        </div>
    }
    else
    {
        <div class="contain-detail">
            <h1 class="title">@condition.PartName</h1>
            <div class="box-detail-stock">
                <!-- // 2017-10-24 HTML 수정 -->
                
                <!-- // 2017-10-24 HTML 수정 -->
            </div>
            <div class="box-detail-price1">
                <dl>
                    <dt>거래량<span>천주</span></dt>
                    <dd><span class="data-normal"></span></dd><!-- 거래량 -->
                </dl>
                <dl>
                    <dt>거래금액<span>백만</span></dt>
                    <dd><span class="data-normal"></span></dd><!-- 거래 금액 -->
                </dl>
            </div>

            <h2 class="title">전일대비</h2>
            <div class="box-detail-price2 col3">
                <dl>
                    <dt>상승</dt>
                    <dd><span class="data-up"></span></dd><!-- 상한가 -->
                </dl>
                <dl>
                    <dt>보합</dt>
                    <dd><span class="data-normal"></span></dd><!-- 상승 -->
                </dl>
                <dl>
                    <dt>하락</dt>
                    <dd><span class="data-down"></span></dd><!-- 하락 -->
                </dl>
            </div>
        </div>
    }

    <div class="contain-list-stock">
        <div class="list-type2">
            <ul class="col3">
               
                    @if (condition.Market == "T")
                    {
                        foreach (var item in Model.KospiIndustryPart)
                        {
                            <li class="@(item.F_part_name == condition.PartName ? "on" : "")">
                                
                                @Html.ActionLink(item.F_part_name, "IndustryPartDetail", "DomesticStock", new
                           {
                               Market = condition.Market,
                               OrderBy = condition.OrderBy,
                               TargetDt = condition.TargetDT,
                               PartName = item.F_part_name,
                               PartCode = item.f_part_code,
                               MenuSeq = condition.MenuSeq
                           }, null)
                             </li>
                        }
                    }
                    else
                    {
                        foreach (var item in Model.KosdaqIndustryPart)
                        {
                            <li class="@(item.k_part_name == condition.PartName ? "on" : "")">
                                
                                @Html.ActionLink(item.k_part_name, "IndustryPartDetail", "DomesticStock", new
                           {
                               Market = condition.Market,
                               OrderBy = condition.OrderBy,
                               TargetDt = condition.TargetDT,
                               PartName = item.k_part_name,
                               PartCode = item.k_part_code,
                               MenuSeq = condition.MenuSeq
                           }, null)
                            </li>
                        }
                    }
                
                @*@foreach (var item in Model.IndustryStateList.ListData.Select(m => new { m.PartName, m.PartCode }).ToList())
                {
                    <li class="@(item.PartName==condition.PartName?"on":"")">@item.PartCode  &nbsp;
                        @Html.ActionLink(item.PartName, "IndustryPartDetail", "DomesticStock", new
                                                                        {
                                                                            Market = condition.Market,
                                                                            OrderBy = condition.OrderBy,
                                                                            TargetDt = condition.TargetDT,
                                                                            PartName = item.PartName,
                                                                            PartCode = item.PartCode,
                                                                            MenuSeq = condition.MenuSeq
                                                                        }, null)
                    </li>
                }*@
            </ul>
        </div>
    </div>
</div>
<!-- //Stock Detail -->

<h2 class="title">업종별 투자 매매동향</h2>

<div class="table-type1">
    <table>
        <colgroup>
            <col>
            <col width="20%">
            <col width="20%">
            <col width="20%">
            <col width="20%">
        </colgroup>
        <thead>
            <tr>
                <th colspan="2">구분</th>
                <th>기관</th>
                <th>외국인</th>
                <th>개인</th>
            </tr>
        </thead>
        <tbody>
            @{ indexNum = 1; }
            @foreach (var item in Model.DetailList.ListData.ToList())
            {
                <tr>
                    @if (indexNum == 1)
                    {
                        <td rowspan="3">@item.PartName</td>
                    }

                    <td><span class="data-up">@item.Gubun</span></td>
                    <td class="number"><span class="data-down">@String.Format("{0:#,##0}", item.Security)</span></td>
                    <td class="number"><span class="data-up">@String.Format("{0:#,##0}", item.Foreigner)</span></td>
                    <td class="number"><span class="data-down">@String.Format("{0:#,##0}", item.Personal)</span></td>
                </tr>
                indexNum += 1;
            }
        </tbody>
    </table>
</div>

<hr class="division5 no-border">

<h2 class="title">증권사 산업/업종분석 <span class="btn-view-more"><a href="http://sise.wownet.co.kr/invest/marketResearch/industryanalysis.asp?bcode=N01060200&mseq=156&business=">더보기</a></span></h2>

<div class="table-type2">
    <table>
        <colgroup>
            <col width="">
            <col width="20%">
            <col width="20%">
        </colgroup>
        <thead>
            <tr>
                <th>제목</th>
                <th>업종명</th>
                <th>등록일</th>
            </tr>
        </thead>
        <tbody>
            @{ string hrefStr; }
            @foreach(var item in Model.MarketSearchTop3List.ListData)
            {

                hrefStr = "http://sise.wownet.co.kr/invest/marketResearch/industryanalysis_view.asp?seq=" + item.SEQ +"&pseq=148&bcode="+ item.BCODE +"&ref=" + item.REF;

                <tr>
                    <td class="text"><a href=@hrefStr>@item.TITLE</a></td>
                    <td>@item.MarketName</td>
                    <td>@String.Format("{0:yyyy-MM-dd}", item.REG_DATE)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<hr class="division5 no-border">

<h2 class="title">업종별 종목</h2>
<form id="frmList_industryStock">
    <input type="hidden" id="market" name="market" value="@condition.Market" />
    <input type="hidden" id="partCode" name="partCode" value="@condition.PartCode" />
    <input type="hidden" id="pageSize" name="pageSize" value="10" />
    <input type="hidden" id="currentIndex" name="currentIndex" />
    <div id="divList">

    </div>
</form>

