@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.Middle.Model.Db22.stock
@using Wow.Tv.FrontWeb.Areas.Finance.Helpers
@model ListModel<usp_GetInvestTotal_Result>
@{
    ViewBag.Title = "InvestMonth";
    Layout = null;
    int indexNum;

    var investKospiList = Model.ListData.Where(m => m.market == "코스피").ToList();
    var investKosdaqList = Model.ListData.Where(m => m.market == "코스닥").ToList();
}

<h2 class="title">1개월 누적매매동향</h2>

<div class="table-type1">
    <table>
        <colgroup>
            <col>
            <col>
            <col>
            <col>
            <col>
        </colgroup>
        <thead>
            <tr>
                <th colspan="2">구분</th>
                <th>기관</th>
                <th>외국인</th>
                <th>개인</th>
            </tr>
        </thead>
        <tbody>
            @{ indexNum = 1; }
            @foreach (var item in investKospiList)
            {
                <tr>
                    @if (indexNum == 1)
                    {
                        <td rowspan="3">@item.market</td>
                    }
                    @if (item.Trade == "매수")
                    {
                        <td><span class="data-up">@item.Trade</span></td>
                        <td class="number"><span class="data-up">@String.Format("{0:#,##0}", Math.Round(Convert.ToDecimal(item.Security) / 100, 1))</span></td>
                        <td class="number"><span class="data-up">@String.Format("{0:#,##0}", Math.Round(Convert.ToDecimal(item.Foreigner) / 100, 1))</span></td>
                        <td class="number"><span class="data-up">@String.Format("{0:#,##0}", Math.Round(Convert.ToDecimal(item.Personal) / 100, 1))</span></td>
                    }
                    else if (item.Trade == "매도")
                    {
                        <td><span class="data-down">@item.Trade</span></td>
                        <td class="number"><span class="data-down">@String.Format("{0:#,##0}", Math.Round(Convert.ToDecimal(item.Security) / 100, 1))</span></td>
                        <td class="number"><span class="data-down">@String.Format("{0:#,##0}", Math.Round(Convert.ToDecimal(item.Foreigner) / 100, 1))</span></td>
                        <td class="number"><span class="data-down">@String.Format("{0:#,##0}", Math.Round(Convert.ToDecimal(item.Personal) / 100, 1))</span></td>
                    }
                    else
                    {
                        <td><span class="data-up">@item.Trade</span></td>
                        <td class="number"><span class="data-up">@String.Format("{0:#,##0}", Math.Round(Convert.ToDecimal(item.Security) / 100, 1))</span></td>
                        <td class="number"><span class="data-up">@String.Format("{0:#,##0}", Math.Round(Convert.ToDecimal(item.Foreigner) / 100, 1))</span></td>
                        <td class="number"><span class="data-up">@String.Format("{0:#,##0}", Math.Round(Convert.ToDecimal(item.Personal) / 100, 1))</span></td>
                    }
                </tr>
                indexNum += 1;
            }
            @{ indexNum = 1; }
            @foreach (var item in investKosdaqList)
            {
                <tr>
                    @if (indexNum == 1)
                    {
                        <td rowspan="3">@item.market</td>
                    }
                    @if (item.Trade == "매수")
                    {
                        <td><span class="data-up">@item.Trade</span></td>
                        <td class="number"><span class="data-up">@String.Format("{0:#,##0}", Math.Round(Convert.ToDecimal(item.Security) / 100, 1))</span></td>
                        <td class="number"><span class="data-up">@String.Format("{0:#,##0}", Math.Round(Convert.ToDecimal(item.Foreigner) / 100, 1))</span></td>
                        <td class="number"><span class="data-up">@String.Format("{0:#,##0}", Math.Round(Convert.ToDecimal(item.Personal) / 100, 1))</span></td>
                    }
                    else if (item.Trade == "매도")
                    {
                        <td><span class="data-down">@item.Trade</span></td>
                        <td class="number"><span class="data-down">@String.Format("{0:#,##0}", Math.Round(Convert.ToDecimal(item.Security) / 100, 1))</span></td>
                        <td class="number"><span class="data-down">@String.Format("{0:#,##0}", Math.Round(Convert.ToDecimal(item.Foreigner) / 100, 1))</span></td>
                        <td class="number"><span class="data-down">@String.Format("{0:#,##0}", Math.Round(Convert.ToDecimal(item.Personal) / 100, 1))</span></td>
                    }
                    else
                    {
                        <td><span class="data-up">@item.Trade</span></td>
                        <td class="number"><span class="data-up">@String.Format("{0:#,##0}", Math.Round(Convert.ToDecimal(item.Security) / 100, 1))</span></td>
                        <td class="number"><span class="data-up">@String.Format("{0:#,##0}", Math.Round(Convert.ToDecimal(item.Foreigner) / 100, 1))</span></td>
                        <td class="number"><span class="data-up">@String.Format("{0:#,##0}", Math.Round(Convert.ToDecimal(item.Personal) / 100, 1))</span></td>
                    }
                </tr>
                indexNum += 1;
            }
        </tbody>
    </table>
</div>

@* *** 차트 데이터를 전달받는데로 아래 영역 진행 ****
    <hr class="division5 no-border">

    <h2 class="title">1개월 누적매매차트</h2>

    <div>
        <!-- Chart -->
    </div>

    <hr class="division2 no-border">

    <div>
        <!-- Chart -->
    </div>

    <hr class="division2 no-border">

    <div>
        <!-- Chart -->
    </div>*@


