@using Wow.Tv.FrontWeb.Areas.Finance.Helpers
@using Wow.Tv.Middle.Model.Db22.stock
@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.Middle.Model.Db22.stock.Finance

@model ListModel<usp_getSiseTimeKpi200_new_Result>
@{
    string wowTvScript = AppState["WowTvScript"].ToString();
    //string wowTvScript = System.Configuration.ConfigurationManager.AppSettings["WowTvScript"].ToString();
    Layout = null;
}

<script>
    var totalDataCount_timeKPI200 = "@Model.TotalDataCount";
</script>
<script src="@wowTvScript/Finance/DomesticStock/SiseTimeKPI200List.js"></script>
<!-- Table -->
<div class="table-type1 row5">
    <table>
        <caption>시간대별 체결</caption>
        <colgroup>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
        </colgroup>
        <thead>
            <tr>
                <th>날짜</th>
                <th>체결가</th>
                <th>전일대비</th>
                <th>변동량(천주)</th>
                <th>거래량(천주)</th>
                <th>거래대금(백만)</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.ListData.Count != 0)
            {
                foreach (var item in Model.ListData)
                {
                    <tr>
                        <td>@item.dt</td>
                        <td class="number">@item.price</td>
                        <td>@Html.PublishChgPriceFormat(item.chgtype, item.chgprice)</td>
                        <td>@Html.PublishUpDownFormat(item.prevolume, item.volume) </td>
                        <td>@Html.CommaFormat(item.volume)</td>
                        <td>@Html.CommaFormat(item.TradeMoney)</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6">데이터가 없습니다.</td>
                </tr>
            }
            
        </tbody>
    </table>
</div>
<!-- //Table -->
<!-- Paginate -->
<div id="divPaging_timeKPI200" class="box-paginate"></div>
<!-- //Paginate -->




