@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.Middle.Model.Db49.wowtv
@using Wow.Tv.Middle.Model.Db49.broadcast
@using Wow.Tv.Middle.Model.Db90.DNRS

@model T_NEWS_PRG

@{
    Layout = null;

    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();

    NTB_PROGRAM_INTRO programIntro = ViewBag.ProgramIntro;
    List<Wow.Tv.FrontWebMobile.CastService.ProgramCastModel> partnerList = ViewBag.CastList;
    List<USP_GetBroadcast1ByWellList_Result> proWowWellList = ViewBag.ProWowWellList;
    List<Pro_wowListStockKing> proStockKing3 = ViewBag.ProStockKing3;

    int currentNumber = 0;
}



<script src="@wowTvScript/Broad/ProgramMain/UnionPartial.js?date=20171018170000"></script>



<!-- 프로그램 소개 메인 -->
<div class="list-media-main type2">
    <div class="img-area">
        <a href="#none">
            @*<span class="notice-area">
                <span class="text-icon type07">최신</span>
            </span>*@
            <img src="@ViewBag.RectangleImg" alt="">
        </a>
    </div>
    <div class="cont-area">
        <p class="tit">@Model.PRG_NM</p>
        <div class="info-area">
            <p>
                @MvcHtmlString.Create(programIntro.REMARK)
            </p>
            <div class="info-list">
                <ul>
                    <li><strong class="txt-exer">방송시간</strong><span class="txt-exer">@(Model.DayOfWeekString == null ? "" : String.Join("·", Model.DayOfWeekString)) @Model.BRO_START ~ @Model.BRO_END</span></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- profile swipe -->
    <div class="profile-swipe-area00">
        <div class="swiper-container profile-slider">
            <div class="swiper-wrapper">
                @foreach (var item in partnerList)
                {
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <span class="photo-area">
                                <img src="@item.ImageUrl" alt="인물 사진">
                            </span>
                            <strong class="tit">@item.ProgramCast.CAST_NAME</strong>
                            <span class="day">@(item.ProgramCast.DayOfWeekString == null ? "" : String.Join("·", item.ProgramCast.DayOfWeekString))</span>
                        </a>
                    </div>
                }
                @*<div class="swiper-slide">
                    <a href="javascript:void(0)">
                        <span class="photo-area">
                            <img src="@wowTvStyle/Images/temp/temp_profile1.jpg" alt="임시 인물 사진">
                        </span>
                        <strong class="tit">[최승옥 대표]</strong>
                        <span class="day">월&middot;화&middot;수&middot;목</span>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="javascript:void(0)">
                        <span class="photo-area">
                            <img src="@wowTvStyle/Images/temp/temp_profile2.jpg" alt="임시 인물 사진">
                        </span>
                        <strong class="tit">[최승옥 대표]</strong>
                        <span class="day">월&middot;화&middot;수&middot;목</span>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="javascript:void(0)">
                        <span class="photo-area">
                            <img src="@wowTvStyle/Images/temp/temp_profile3.jpg" alt="임시 인물 사진">
                        </span>
                        <strong class="tit">[최승옥 대표]</strong>
                        <span class="day">월&middot;화&middot;수&middot;목</span>
                    </a>
                </div>*@
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
    <!-- //profile swipe -->
</div>
<!-- //프로그램 소개 메인 -->
<!-- 프로그램 목록 -->
<div class="section-area">
    <div class="list-program">
        <ul>
            @foreach (var item in proWowWellList)
            {
                <li>
                    <div class="program-area">
                        <div class="photo-area">
                            <img src="http://image.wownet.co.kr/@item.NEWPHOTO_SMALL" alt="사진">
                        </div>
                        <div class="info-area">
                            <strong class="tit">@item.BCONTENTS</strong>
                            <span class="txt-exer">방송일자 
                                <strong class="txt-exer-sub num">
                                    @if (String.IsNullOrEmpty(item.BRSTARTTIME) == true || item.BRSTARTTIME.Length < 8)
                                    {
                                    }
                                    else
                                    {
                                        @(item.BRSTARTTIME.Substring(0, 4) + "-" + item.BRSTARTTIME.Substring(4, 2) + "-" + item.BRSTARTTIME.Substring(6, 2))
                                    }
                                </strong>
                            </span>
                            <span class="txt-exer">방송시간 
                                <strong class="txt-exer-sub num">
                                    @if (String.IsNullOrEmpty(item.BRSTARTTIME) == true || item.BRSTARTTIME.Length < 12)
                                    {
                                    }
                                    else
                                    {
                                        @(item.BRSTARTTIME.Substring(8, 2) + ":" + item.BRSTARTTIME.Substring(10, 2))
                                    }
                                    @if (String.IsNullOrEmpty(item.BRENDTIME) == true || item.BRENDTIME.Length < 12)
                                    {
                                    }
                                    else
                                    {
                                        @("~" + item.BRENDTIME.Substring(8, 2) + ":" + item.BRENDTIME.Substring(10, 2))
                                    }
                                </strong>
                            </span>
                        </div>
                    </div>
                    <div class="box-grey-btn">
                        <a href="#" onclick="return ProgramMainUnionPartial.OpenPopup('http://wowpro.wownet.co.kr/pro/pro_main_new/pro_record_broadcast.asp?currPage=1&bcode=N04070000&proId=@item.Pro_ID&mseq=226&pro_search=@item.Pro_ID&skey=nickname');" target="_blank" ><span class="icon ico-record"></span>녹화방송</a>
                        <a href="#" onclick="return ProgramMainUnionPartial.OpenPopup('http://wowpro.wownet.co.kr/common/profileLink.asp?nickname=@(HttpUtility.UrlEncode(item.NICKNAME,System.Text.Encoding.GetEncoding("euc-kr")))&link=cafe');" target="_blank" ><span class="icon ico-cafe"></span>카페가기</a>
                        <a href="#" onclick="return ProgramMainUnionPartial.OpenPopup('http://wowpro.wownet.co.kr/pro/pro_main_new/profile.asp?proID=@item.Pro_ID&ptype=11');" target="_blank" class="font-color06"><span class="icon ico-join"></span>가입하기</a>
                    </div>
                </li>
            }

            @*<li>
                <div class="program-area">
                    <div class="photo-area">
                        <img src="@wowTvStyle/Images/temp/temp_program1.jpg" alt="임시 인물 사진">
                    </div>
                    <div class="info-area">
                        <strong class="tit">전투단 직장인 스마트밴드 특집 공개방송</strong>
                        <span class="txt-exer">방송일자 <strong class="txt-exer-sub num">2017-07-07(금)</strong></span>
                        <span class="txt-exer">방송시간 <strong class="txt-exer-sub num">21:00~21:50</strong></span>
                    </div>
                </div>
                <div class="box-grey-btn">
                    <a href="#none"><span class="icon ico-record"></span>녹화방송</a>
                    <a href="#none"><span class="icon ico-cafe"></span>카페가기</a>
                    <a href="#none" class="font-color06"><span class="icon ico-join"></span>가입하기</a>
                </div>
            </li>
            <li>
                <div class="program-area">
                    <div class="photo-area">
                        <img src="@wowTvStyle/Images/temp/temp_program1.jpg" alt="임시 인물 사진">
                    </div>
                    <div class="info-area">
                        <strong class="tit">전투단 직장인 스마트밴드 특집 공개방송</strong>
                        <span class="txt-exer">방송일자 <strong class="txt-exer-sub num">2017-07-07(금)</strong></span>
                        <span class="txt-exer">방송시간 <strong class="txt-exer-sub num">21:00~21:50</strong></span>
                    </div>
                </div>
                <div class="box-grey-btn">
                    <a href="#none"><span class="icon ico-record"></span>녹화방송</a>
                    <a href="#none"><span class="icon ico-cafe"></span>카페가기</a>
                    <a href="#none" class="font-color06"><span class="icon ico-join"></span>가입하기</a>
                </div>
            </li>*@
        </ul>
    </div>
</div>
<!-- //프로그램 목록 -->
<!-- 실전투자 WOW 스탁킹 Top 3 -->
<div class="section-area pt0">
    <div class="list-type03">
        <h3>실전투자 <strong class="font-color04">WOW</strong> 스탁킹 Top 3<a href="#" onclick="return ProgramMainUnionPartial.OpenPopup('http://wowpro.wownet.co.kr/nbbs/board/list.asp?bcode=N04501610&mseq=3052');" class="icon ico-more">더보기</a></h3>
        <!-- 테이블 시작 -->
        <div class="table-type1 type04">
            <table>
                <caption>실전투자 WOW 스탁킹 Top 3 상세 테이블</caption>
                <colgroup>
                    <col style="width:40px">
                    <col style="width:auto">
                    <col style="width:33%">
                    <col style="width:18%">
                </colgroup>
                <thead>
                    <tr>
                        <th>순위</th>
                        <th>파트너명</th>
                        <th>현재 수익률</th>
                        <th>바로가기</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in proStockKing3)
                    {
                        currentNumber++;

                        <tr>
                            <th><strong class="rank">@currentNumber</strong></th>
                            <td>@item.NickName</td>
                            <td><span class="font-color04 num">@item.Rate%</span></td>
                            <td><a href="#" onclick="return ProgramMainUnionPartial.OpenPopup('http://www.wownet.co.kr/pro/pro_main_new/sub_main.asp?proID=@item.Pro_id');" class="btn-icon"><span class="icon ico-home">홈</span></a></td>
                        </tr>
                    }
                    @*<tr>
                        <th><strong class="rank">1</strong></th>
                        <td>출동해결반</td>
                        <td><span class="font-color04 num">10%</span></td>
                        <td><a href="#none" class="btn-icon"><span class="icon ico-home">홈</span></a></td>
                    </tr>
                    <tr>
                        <th><strong class="rank">2</strong></th>
                        <td>반찬홍(베네핏)</td>
                        <td><span class="font-color04 num">6%</span></td>
                        <td><a href="#none" class="btn-icon"><span class="icon ico-home">홈</span></a></td>
                    </tr>
                    <tr>
                        <th><strong class="rank">3</strong></th>
                        <td>상산 권태민</td>
                        <td><span class="font-color04 num">2%</span></td>
                        <td><a href="#none" class="btn-icon"><span class="icon ico-home">홈</span></a></td>
                    </tr>*@
                </tbody>
            </table>
        </div>
        <!-- //테이블 끝 -->
    </div>
</div>
<!-- //실전투자 WOW 스탁킹 Top 3 -->


<div class="section-area pt5 pb40">
    <div class="banner-area type3">
        <img src="@wowTvStyle/images/temp/temp_tv_banner2.jpg" alt="배너이미지">
    </div>
    <p class="txt-notice mt15">본 프로그램에 소개되는 종목은 한국거래소 시장감시위원회에서 모니터링 중입니다.</p>
</div>